{% extends "layout.html" %}

{% block pageTitle %}
Setup menu
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your account information
      </h1>

    <ul class="app-task-list">



          <li>
            <h2 class="app-task-list__section">
             View your account details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/account/operator/account-information">Account details</a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/account/operator/organisation">Organisation details</a>
                </span>
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
            Change your notification settings
            </h2>
            <ul class="app-task-list__items">
         <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/conjunction-notification-settings" aria-describedby="event-thresholds">
                Conjunction event notification settings
              </a>
            </span>
          </li>     
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/conjunction-notification-threshold-settings-3" aria-describedby="event-thresholds">
                Conjunction conjunction event notification thresholds
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/notification-settings-view" aria-describedby="notification-settings">
                Conjunction event notification settings
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/neighbourhood-notification-threshold-settings" aria-describedby="event-thresholds">
                Neighbourhood notification settings
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/satellites-of-interest" aria-describedby="event-thresholds">
                Satellites of interest
              </a>
            </span>
          </li>



        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
      View terms and conditions and data privacy notice
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/ts-and-cs" aria-describedby="terms-of-service">
                Terms and Conditions
              </a>
            </span>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account/operator/data-privacy" aria-describedby="data-privacy">
                Data privacy notice
              </a>
            </span>

          </li>
        </ul>
      </li>

        </ul>

  </div>
</div>

{% endblock %}
