{% extends "layout.html" %}

<!-- Title -->
{% block pageTitle %}
Notification settings
{% endblock %}

<!-- Page content -->
{% block content %}

<style>
.govuk-table__header, .govuk-table__cell {vertical-align: middle;}
.govuk-table__cell {font-weight: normal;}
.threshold-style {
vertical-align: middle;
margin-top: -20px;
margin-left: 70px; 
margin-bottom: 5px;
width: calc(100% - 70px);
}
.threshold-style th{width: 550px;}
.inactive {opacity: 40%;}
.editSatBtn {color: #1d70b8;}
.no-border th, .no-border td{border: none;}
#default-label {margin-bottom: 10px;}
</style>

<!-- Breadcrumbs links-->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/operator/account">
Account
</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">
Conjunction event notification settings
</li>
</ol>
</div> <!-- class="govuk-breadcrumbs"-->
</div> <!-- class="govuk-width-container"-->

<!-- Page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- Page title -->
<h1 class="govuk-heading-xl">Conjunction event notification settings
</h1>

<!-- Page intro -->
<p class="govuk-body">
This page allows you to adjust your notification settings for conjunction events involving your satellites. 
</p>
<p class="govuk-body">
You can create universal settings which will apply to all satellites. 
</p>
<p class="govuk-body">
You can also create custom settings which will only apply to selected satellites. For those selected satellites, you custom settings will <strong>not</strong> cancel out your universal settings. You will receive both sets of notifications.
</p>
<p class="govuk-body">
We therefore recommend that your universal settings should be <strong>less</strong> inclusive than your custom settings.
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!-- Universal notifications -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Universal notification settings
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-1" class="govuk-accordion__section-content">
<h2 class="govuk-heading-l">Set universal thresholds
</h2>
<p class="govuk-body">
We will send you notifications when a conjunction event crosses <strong>all</strong> of the thresholds you have set. You do not have to specify thresholds for all criteria.
</p>
<p class="govuk-body">
You are responsible for the safe operation of your satellites and should choose settings which allow you to do this. The example thresholds may not be the most appropriate thresholds for your satellites.
</p>

<div class="govuk-hint">
Select all criteria that apply, then set your preferred thresholds for each.
</div>

<table class="govuk-table no-border" style="width:100%" id="universal-thresholds">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header" style="width:40%">Criteria</th>
<th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
</tr>
</thead>
</table>

<!-- Probability of collision threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-poc-check" name="universal-poc-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Probability of collision
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Probability of collision is above:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="universal-poc-value" name="universal-poc-value" type="text" spellcheck="false" value = "0.01">
<div class="govuk-input__suffix" aria-hidden="true">%
</div> <!-- class="govuk-input__suffix" aria-hidden="true">% -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- lass="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- total mean distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-tmd-check" name="universal-tmd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Total miss distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Total miss distance is above:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="universal-tmd-value" name="universal-tmd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- mean radial distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-mrd-check" name="universal-mrd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Mean radial distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Mean radial distance is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="universal-mrd-value" name="universal-mrd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- time to conjunction event threshold-->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-tce-check" name="universal-tce-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Time till conjunction event
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive govuk-!-margin-bottom-6"> <!-- keep 'govuk-!-margin-bottom-6' in the <table tag in the last question to add enough space between the table and the next element -->
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Time till conjunction event is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="universal-tce-value" name="universal-tce-value" type="text" spellcheck="false" value = "1">
<div class="govuk-input__suffix" aria-hidden="true">hour(s)
</div> <!-- class="govuk-input__suffix" aria-hidden="true">hour(s) -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- What type of notifications do you want to receive? -->
<div class="govuk-form-group" class="govuk-!-margin-top-6">
<fieldset class="govuk-fieldset" aria-describedby="universal-notification-type-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Select notification types
</h1>
</legend>
<div id="universal-notification-type-hint" class="govuk-hint">
Select all that apply.
</div>
<p>
Receive notifications when:
</p>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-new" name="universal-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-new">
A new conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-updated" name="universal-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-updated">
An updated conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-nspoc" name="universal-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-nspoc">
New NSpOC analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-manoeuvre" name="universal-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-manoeuvre">
New manoeuvre analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-end" name="universal-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-end">
An updated conjunction event no longer meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</fieldset>
</div> <!-- class="govuk-form-group" -->

<!-- How frequent should notifications be? -->
<div class="govuk-!-margin-top-6"> </div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="universal-frequency-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Set notification frequency
</h1>
</legend>
<div id="universal-frequency-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-asap" name="universal-frequency" type="radio" value="universal-frequency-asap">
<label class="govuk-label govuk-radios__label" for="universal-frequency-asap">
As soon as possible
</label>
<div id="universal-frequency-asap-hint" class="govuk-hint govuk-radios__hint">
You'll receive an email as soon as relevant notifications are released from MSH.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-2" name="universal-frequency" type="radio" value="universal-frequency-2">
<label class="govuk-label govuk-radios__label" for="universal-frequency-2">
Every 2 hours
</label>
<div id="universal-frequency-2-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 2 hours will be collated and sent in a single email.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-12" name="universal-frequency" type="radio" value="universal-frequency-12">
<label class="govuk-label govuk-radios__label" for="universal-frequency-12">
Every 12 hours
</label>
</label>
<div id="universal-frequency-12-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 12 hours will be collated and sent in a single email.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-24" name="universal-frequency" type="radio" value="universal-frequency-24">
<label class="govuk-label govuk-radios__label" for="universal-frequency-24">
Every 24 hours 
</label>
</label>
<div id="universal-frequency-24-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 24 hours will be collated and sent in a single email.
</div>
</div>
</div>
</fieldset>
</div>
</div> <!-- id="accordion-default-content-1" class="govuk-accordion__section-content" -->
</div> <!-- class="govuk-accordion__section" -->

<!-- Set custom notifications -->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-2">
Custom notification settings
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-2" class="govuk-accordion__section-content">
<h2 class="govuk-heading-l">Summary of custom notification settings
</h2>
<div class="govuk-hint"> 
This table summarises your existing custom notification settings for selected satellites. Edit existing settings using the links in the table, or add settings for new groups of satellites using the button below.
</div>

<!-- Custom settings summary table -->
<!-- GOV.UK-style accessible table with two header rows, grouped headers, and custom column widths -->
<div style="overflow-x:auto;">
<table class="govuk-table" style="width: 100%" aria-describedby="table-caption-custom-settings-summary">
<!-- Set different column widths -->
<colgroup>
<col style="width: 15%;" /> <!--name-->
<col style="width: 15%;" /> <!--notification type-->
<col style="width: 15%;" /> <!--notification frequency-->
<col style="width: 15%;" /> <!--do not notify for conjunctions with-->
<!-- delete to restore custom thresholds 
<col style="width: 5%;" />  
<col style="width: 5%;" />  
<col style="width: 5%;" />  
<col style="width: 5%;" />  
delete to restore custom thresholds -->
<col style="width: 5%;" /> <!-- edit -->
<col style="width: 5%;" /> <!-- delete -->

</colgroup>
<!-- delete this row to restore Header row 1: grouped headings spanning multiple columns 
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="colgroup" colspan="2" 
aria-hidden="true"> 
</th> 
<th class="govuk-table__header" scope="colgroup" colspan="2">
Notifications
</th>
</th> 
<th class="govuk-table__header" scope="colgroup" colspan="1"> 
Exceptions
</th> 
<th class="govuk-table__header" scope="colgroup" colspan="4"> 
Thresholds
</th> 
<th class="govuk-table__header" scope="colgroup" colspan="2"> 
Edit
</th>
</tr>
delete this row to restore Header row 1: grouped headings spanning multiple columns -->

<!-- Header row 2: actual column headers -->
<tr class="govuk-table__row">

<th class="govuk-table__header" scope="col">Name</th>
<th class="govuk-table__header" scope="col">Notification types received</th>
<th class="govuk-table__header" scope="col">Email frequency </th>
<th class="govuk-table__header" scope="col">Do not notify for conjunctions with:</th>
<!-- delete this row to restore custom thresholds --> <!--
<td class="govuk-table__cell">Probability of collision (%)</td>
<td class="govuk-table__cell">Total miss distance (m)</td>
<td class="govuk-table__cell">Mean radial miss distance (m)</td>
<td class="govuk-table__cell">Time till conjunction event (hrs)</td>
--> <!-- delete this row to restore custom thresholds -->
<th class="govuk-table__header" scope="col">Edit </th>
<th class="govuk-table__header" scope="col">Delete</th>
</tr>
</thead>

<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">LEO satellites</td>
<td class="govuk-table__cell">New events, Updated events, Updated closed events</td>
<td class="govuk-table__cell">Every 2 hours</td>
<td class="govuk-table__cell">Satellite A, Satellite B, Satellite C</td>
<!-- delete this row to restore custom thresholds --> <!--
<td class="govuk-table__cell">0.02</td>
<td class="govuk-table__cell">3000</td>
<td class="govuk-table__cell">1500</td>
<td class="govuk-table__cell">12</td>
--> <!-- delete this row to restore custom thresholds -->
<td class="govuk-table__cell"><a class="govuk-link" href="">Edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Delete</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">GEO satellites</td>
<td class="govuk-table__cell">NSpoC analysis, Manouevre analysis</td>
<td class="govuk-table__cell">Every 24 hours</td>
<td class="govuk-table__cell"></td><!-- delete this row to restore custom thresholds --> <!--
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell"></td>
--> <!-- delete this row to restore custom thresholds -->
<td class="govuk-table__cell"><a class="govuk-link" href="">Edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Delete</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Skynet 4C</td>
<!-- delete this row to restore custom thresholds --> <!--
<td class="govuk-table__cell">0.1</td>
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell">12</td>
--> <!-- delete this row to restore custom thresholds -->
<td class="govuk-table__cell">New events</td>
<td class="govuk-table__cell">As soon as possible</td>
<td class="govuk-table__cell"></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Delete</a></td>
</tr>

</tbody>
</table>
</div>

<!-- add custom thresholds button -->
<p class="govuk-body govuk-!-margin-top-6">
<a class="govuk-link" href="/account/operator/conjunction-notification-settings-add-custom">
Add custom notification settings
</a>
</p>
</div> <!-- id="accordion-default-content-2" class="govuk-accordion__section-content"> -->
</div> <!--class="govuk-accordion__section"> --> 
</div> <!-- class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" -->

<!-- Save preferences -->
<form method="post" action="conjunction-notification-settings-confirmation">
<button class="govuk-button" data-module="govuk-button">
Save notification settings
</button>
</form>
<!-- content above here -->


</div> <!-- class="govuk-grid-column-full" -->
</div> <!-- class="govuk-grid-row" -->
</main> 



<script>
/* Grey out unchecked boxes */
document.querySelectorAll('.govuk-checkboxes__input').forEach(checkbox => {
checkbox.addEventListener('change', (event) => {
const table = checkbox.closest('.govuk-checkboxes__item').nextElementSibling;
if (table && table.tagName === 'TABLE') {
table.classList.toggle('inactive', !checkbox.checked);
}
});
});
</script>

{% endblock %}