{% extends "layout.html" %}

{% block pageTitle %}
Settings
{% endblock %}

{% block content %}
<style>
  #custom-sat-notification-1 {
    display: none;
  }
  .govuk-table__header, .govuk-table__cell {
    vertical-align: middle;
  }
  .govuk-table__cell {
    font-weight: normal;
  }
  .satellite-setting {
    margin-top: -20px;
    margin-left: 70px; 
    margin-bottom: 5px;
  }
  .satellite-setting th{
    width: 550px;
  }
  .inactive {
    opacity: 40%;
  }
  .editSatBtn {
    color: #1d70b8;
  }
</style>

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/operator/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Event threshold settings</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form">

          <h1 class="govuk-heading-xl">Set your conjunction event notification thresholds</h1>

          <p>We will send you notifications when the probability of collision, total miss distance and mean radial miss distance meets threshold and the time to conjunction event is below the threshold you have set.</p>

          <p>You are responsible for the safe operation of your satellites and should choose settings which allow you to do this.</p>
            
          <p>The suggested settings are examples of thresholds, not recommendations.</p>

  

          <!--Default settings for all satellites-->
          <h1 class="govuk-heading-l">Default settings for all satellites</h1>

          <p>These thresholds will apply to all satellites that you have not configured special rules for</p>

         <table class="govuk-table" style="width:100%">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header" style="width:40%">Notification criteria</th>
               <th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
             </tr>
           </thead>
           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Probability of collision is above (percent):</th>
               <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "0.01">
                   <div class="govuk-input__suffix" aria-hidden="true">%</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Total miss distance is below (metres):</th>
               <td class="govuk-table__cell"> <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "1000">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Mean radial miss distance is below (metres):</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "1000">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Time to event is below (hours):</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "72">
                   <div class="govuk-input__suffix" aria-hidden="true">hours</div></td>
             </tr>
           </tbody>
         </table>
         <button class="govuk-button" data-module="govuk-button">
          Update default settings
          </button>


      <!-- Per satellite notifications-->
      <h2 class="govuk-heading-l">Individual satellite notifications</h2>

      <div class="govuk-button" id="addButton">
        New notification
      </div>

      <!--Create a notification setting-->
      <div id="custom-sat-notification-1">

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Satellite to create custom threshold for
          </label>
          <select class="govuk-select" name="sort" id="satSelect">
            <option value="published" selected>Select satellite</option>
            <option value="updated">Skynet 3A</option>
            <option value="views">Skynet 4C - edit</option>
            <option value="views">Skynet 5A - edit</option>
            <option value="comments">Skynet 5B - edit</option>
            <option value="comments">Skynet 6A</option>
            <option value="comments">Skynet 6D</option>
          </select>
        </div>
        
        <div id="custom-sat-notification-2">
          <p>You can adjust and enable specific notification thresholds for your selected satellite below. Uncheck boxes where you do not wish to receive notifications.</p>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="tick-all" type="checkbox" data-behaviour="exclusive" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label">All potential conjunction events</label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="tick" type="checkbox" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label">Conjunction events above probability of collision threshold</label>
            </div>
              <table class="govuk-table satellite-setting inactive" style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">   
                    <th scope="row" class="govuk-table__cell">Probability of collision is above (percent):</th>
                    <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "0.01">
                        <div class="govuk-input__suffix" aria-hidden="true">%</div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" type="checkbox" data-aria-controls="conditional-contact" checked>
                <label class="govuk-label govuk-checkboxes__label">Conjunction events below total miss distance threshold</label>
              </div>
              <table class="govuk-table satellite-setting" style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">   
                    <th scope="row" class="govuk-table__cell">Total miss distance is below (metres):</th>
                    <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "1000">
                        <div class="govuk-input__suffix" aria-hidden="true">m</div>
                    </td>
                  </tr>
                </tbody>
              </table>
      
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" type="checkbox" data-aria-controls="conditional-contact" >
              <label class="govuk-label govuk-checkboxes__label" >Conjunction events below mean radial distance threshold</label>
            </div>
            <table class="govuk-table satellite-setting inactive" style="width:100%">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">   
                  <th scope="row" class="govuk-table__cell">Mean radial miss distance is below (metres): </th>
                  <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "1000">
                      <div class="govuk-input__suffix" aria-hidden="true">m</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" type="checkbox"  data-aria-controls="conditional-contact" checked>
              <label class="govuk-label govuk-checkboxes__label">Time to conjunction event below threshold</label>
            </div>
            <table class="govuk-table satellite-setting" style="width:100%">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">   
                  <th scope="row" class="govuk-table__cell">Time to conjunction is below (hours): </th>
                  <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "72">
                      <div class="govuk-input__suffix" aria-hidden="true">hours</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" type="checkbox" data-behaviour="exclusive" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" >Disable all notifications for satellite</label>
            </div>
          </div>

          <br>
        </div>
        <div class="govuk-button" id="cancelButton">
          Cancel
        </div>
        <div class="govuk-button" id="saveButton">
          Save notification
        </div>    
      </div>

      <p>This table shows all satellites you have set custom notification settings for. You can edit your per-satellite notification settings here, or your default threshold settings above.</p>

    <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
        <col>
          <colgroup span="5"></colgroup>
          <colgroup span="4"></colgroup>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 20%";>Satellite</th>
            <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 66%";>Notification(s)</th>
            <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 7%";></th>
            <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 7%";></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">Skynet 4C</a></td>
            <td class="govuk-table__cell govuk-body-s">All potential conjunction events</td>
            <td class="govuk-table__cell govuk-body-s"><a class="editSatBtn">edit</a></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">delete</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">Skynet 5A</a></td>
            <td class="govuk-table__cell govuk-body-s">Notifications disabled</td>
            <td class="govuk-table__cell govuk-body-s"><a class="editSatBtn">edit</a></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">delete</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">Skynet 5B</a></td>
            <td class="govuk-table__cell govuk-body-s">Conjunction notifications below total miss distance threshold</td>
            <td class="govuk-table__cell govuk-body-s"><a class="editSatBtn">edit</a></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">delete</a></td>
          </tr>
        </tbody>
      </col>
    </table>

    </fieldset>
    </div>



  </form>
  </div>


</div>
  </main>
</div>

<script>
  function showAddSat (e) {
    custSatNotBig.style.display = "block";
    custSatNot.style.display = "none";
    addButton.style.display = "none";
    saveSat.style.display = "none";
    cancelSat.style.display = "inline-block";
  }

  function satSelected (e) {
    custSatNotBig.style.display = "block";
    custSatNot.style.display = "block";
    addButton.style.display = "none";
    saveSat.style.display = "inline-block";
    cancelSat.style.display = "inline-block";
  }
  function endSatEdit (e) {
    custSatNotBig.style.display = "none";
    addButton.style.display = "inline-block";

  }
  addButton = document.getElementById("addButton");
  custSatNotBig = document.getElementById("custom-sat-notification-1");
  custSatNot = document.getElementById("custom-sat-notification-2");
  saveSat = document.getElementById("saveButton");
  cancelSat = document.getElementById("cancelButton");
  satSelect = document.getElementById("satSelect");
  editBtns = document.getElementsByClassName("editSatBtn");

  addButton.addEventListener("click", showAddSat);
  satSelect.addEventListener("change", satSelected); 
  cancelSat.addEventListener("click", endSatEdit);
  saveSat.addEventListener("click", endSatEdit);

  for (i=0; i<3; i++){
    let j=i;
    editBtns[i].addEventListener("click", function(e){
      satSelect.selectedIndex = j+2;
      satSelected (e);
    });
  }

</script>


{% endblock %}
