{% extends "layout.html" %}

{% block pageTitle %}
Check your group settings
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<a href="/account/operator/conjunction-notification-settings-add-custom" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Check your group settings</h1>
<p class="govuk-body">Check these details before you create the group.</p>

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Group name</dt>
<dd class="govuk-summary-list__value">LEO satellites</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Satellites in group</dt>
<dd class="govuk-summary-list__value">Satellite A, Satellite B, Satellite C, Satellite D</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Thresholds</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
<li>Probability of collision above: 1%</li>
<li>Total miss distance below: 3000 m</li>
<li>Mean radial miss distance below: 1500 m</li>
<li>Time to conjunction below: 2 hours</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Notification types</dt>
<dd class="govuk-summary-list__value">
Relevant new conjunction events; Relevant updated conjunction events
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Notification frequency</dt>
<dd class="govuk-summary-list__value">
Every 2 hours
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Exceptions</dt>
<dd class="govuk-summary-list__value">
Do not send a notification if any satellite in this group is involved in a conjunction with Satellite E.
</dd>
</div>

</dl>

<form method="post" action="/account/operator/conjunction-notification-settings">
<button class="govuk-button" data-module="govuk-button">
Confirm and save
</button>
</form>

</div>
</div>
</main>
</div>

{% endblock %}

