{% extends "layout.html" %}

{% block pageTitle %}
Edit your threshold notification settings
{% endblock %}

{% block content %}

<style>
/* -->>Greyed-out questions for setting thresholds */
.govuk-table__header, .govuk-table__cell {
vertical-align: middle;
}
.govuk-table__cell {
font-weight: normal;
}
.threshold-style {
vertical-align: middle;
margin-top: -20px;
margin-left: 70px; 
margin-bottom: 5px;
width: calc(100% - 70px);
}
.threshold-style th{
width: 550px;
}
.inactive {
opacity: 40%;
}
.editSatBtn {
color: #1d70b8;
}
.no-border th, .no-border td{
border: none;
}
#default-label {
margin-bottom: 10px;
}

/* Make the columns behave predictably */
#satellite-table {
table-layout: fixed;
width: 100%;
}

/* Keep headers/cells tidy */
#satellite-table th,
#satellite-table td {
vertical-align: middle;
}

/* Only allow wrapping in the name column */
#satellite-table th:nth-child(1),
#satellite-table td:nth-child(1) {
overflow-wrap: anywhere;
}

/* Fix the “big gap” look: left-align NORAD instead of numeric/right-aligned */
#satellite-table th:nth-child(2),
#satellite-table td:nth-child(2) {
text-align: left !important;
white-space: nowrap;
}

/* Keep regime/licensing on one line */
#satellite-table th:nth-child(3),
#satellite-table td:nth-child(3),
#satellite-table th:nth-child(4),
#satellite-table td:nth-child(4) {
white-space: nowrap;
}

/* Select column: narrow + centered */
#satellite-table th:nth-child(5),
#satellite-table td:nth-child(5) {
text-align: center;
}

#satellite-table td:nth-child(5) .govuk-checkboxes {
margin-bottom: 0;
}

/* Keep table cells aligned */
#group-thresholds .govuk-table__header,
#group-thresholds .govuk-table__cell {
vertical-align: middle;
}
#group-thresholds .govuk-table__cell {
font-weight: normal;
}

/* Remove conditional left border + padding that causes wonky indent */
#group-thresholds .govuk-checkboxes__conditional {
border-left: 0;
padding-left: 0;
margin-left: 0;
}

/* Match the alignment from your other page */
#group-thresholds .satellite-setting {
margin-top: -20px;
margin-left: 70px;
margin-bottom: 5px;
width: calc(100% - 70px);
}

/* Fixed left column width so inputs line up */
#group-thresholds .satellite-setting th {
width: 550px;
}
#group-thresholds .satellite-setting td {
text-align: right;
}

/* Indent threshold checkboxes + their conditional blocks */
#custom-thresholds-conditional .govuk-checkboxes__item {
margin-left: 25px;
}
#custom-thresholds-conditional .govuk-checkboxes__conditional {
margin-left: 25px;
}
/* Tighten spacing between search and filters */
#satellite-filters.govuk-details {
margin-top: 0;
margin-bottom: 10px;
}
.sat-toolbar {
margin-bottom: 10px;
}
.sat-selection-bar {
display: flex;
gap: 15px;
align-items: baseline;
flex-wrap: wrap;
margin-bottom: 10px;
}

</style>

<!-- Breadcrumbs -->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/operator/account">Account</a>
</li>
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/operator/conjunction-notification-settings">Notification settings</a>
</li>
<li class="govuk-breadcrumbs__list-item">
<span class="govuk-breadcrumbs__link">Edit custom rule</span>
</li>
</ol>
</div>

<!-- page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- title -->
<h1 class="govuk-heading-xl">Edit custom rule</h1>

<!-- Turn page into a form (where submission leads to a 'check settings' page) -->
<form method="post" action="/account/operator/conjunction-notification-settings">

<!-- intro --> 
<p class="govuk-body">
You will receive separate emails for each rule. 
</p>
<p class="govuk-body">
Remember that if you create additional custom rules, this will not cancel out the rule applying to all satellites operated by your organisation. You should consider how many notifications you wish to receive.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!-- Custom thresholds name -->
<h2 class="govuk-heading-l">
Choose a name
</h2>

<div class="govuk-form-group">

<div id="custom-name-hint" class="govuk-hint">
Use a clear name for these custom settings that reflects the satellites included,
for example “LEO satellites” or “satellite A”.
</div> <!-- id="custom-name-hint" class="govuk-hint" -->

<input
class="govuk-input govuk-!-width-two-thirds"
id="custom-name"
name="custom-name"
type="text"
aria-describedby="group-name-hint">
</div> <!-- class="govuk-form-group" -->

<!-- Add satellites -->
<!-- Add Satellites -->
 <h2 class="govuk-heading-l">Add satellites to this group</h2>
<p>Search and filter all satellites operated by your organisation, then select satellites to add to this group.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form method="post" action="conjunction-notification-settings-add-custom" novalidate>
      <input type="hidden" name="hasRunSearch" value="true">

      <!-- Free-text search -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="q">Search by object name or NORAD ID</label>
        <input
          class="govuk-input"
          id="q"
          name="q"
          type="text"
          aria-describedby="q-hint"
          value="{{ data.q | default('') }}"
        >
      </div>

      <div class="govuk-grid-row">

        <!-- Filter 1: Licensing state (select) -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="filterState">Licensing state</label>
            <select class="govuk-select" id="filterState" name="filterState">
              <option value="" {% if not data.filterState %}selected{% endif %}>All</option>
              <option value="United Kingdom" {% if data.filterState == "United Kingdom" %}selected{% endif %}>United Kingdom</option>
              <option value="United States" {% if data.filterState == "United States" %}selected{% endif %}>France</option>
              <option value="France" {% if data.filterState == "France" %}selected{% endif %}>France</option>
            </select>
          </div>
        </div>

        <!-- Filter 3: Regime (checkboxes) -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="filterRegime-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">Regime</h2>
              </legend>
              <div id="filterRegime-hint" class="govuk-hint">Select all that apply</div>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="regime-all"
                    name="filterRegime"
                    type="checkbox"
                    value=""
                    {% if not data.filterRegime %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="regime-all">All</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="regime-leo"
                    name="filterRegime"
                    type="checkbox"
                    value="leo"
                    {% if data.filterRegime == "leo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-leo">LEO</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="Regime-meo"
                    name="filterRegime"
                    type="radio"
                    value="meo"
                    {% if data.filterRegime == "meo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-meo">MEO</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="Regime-geo"
                    name="filterRegime"
                    type="radio"
                    value="geo"
                    {% if data.filterRegime == "geo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-geo">GEO</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">
        Run search
      </button>
    </form>

    <!-- RESULTS (below the form) -->
    <div class="govuk-!-margin-top-6">
      {% if data.hasRunSearch %}

        <h2 class="govuk-heading-m">Results</h2>

<!-- Selection + results summary row -->
<div class="sat-selection-bar">
<p class="govuk-body govuk-!-margin-bottom-0">
<strong>Showing:</strong> <span id="results-count">0</span>
</p>

<p class="govuk-body govuk-!-margin-bottom-0">
<strong>Selected:</strong> <span id="selected-count">0</span>
</p>
</div> <!-- class="sat-selection-bar" -->

<div class="sat-selection-bar">
<div class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-all" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="select-all">
Select all results
</label>
</div> <!-- class="govuk-checkboxes__item">-->
</div> <!-- class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes" -->

<p class="govuk-body govuk-!-margin-bottom-0">
<a href="#" class="govuk-link" id="clear-selection">Clear selection</a>
</p>
</div> <!-- class="sat-selection-bar" -->

<table class="govuk-table" id="exceptions-table" data-module="moj-sortable-table">

<colgroup>
<col style="width: 20%;"> <!-- object name -->
<col style="width: 15%;">  <!-- NORAD -->
<col style="width: 15%;">  <!-- Regime -->
<col style="width: 15%;">  <!-- Licensing -->
<col style="width: 15%;"> <!-- Select -->
</colgroup>

<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending">Object name</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">NORAD ID</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Orbital regime</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Licensing state</th>
<th scope="col" class="govuk-table__header govuk-body-s">Select</th>
</tr>
</thead>

<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell govuk-body-s">Skynet 4C</td>
<td class="govuk-table__cell govuk-body-s">27838</td>
<td class="govuk-table__cell govuk-body-s">GEO</td>
<td class="govuk-table__cell govuk-body-s">United Kingdom</td>
<td class="govuk-table__cell">
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input satellite-checkbox" id="sat-1" name="satellites" type="checkbox" value="skynet-4c">
<label class="govuk-label govuk-checkboxes__label" for="sat-1">
<span class="govuk-visually-hidden">Select Skynet 4C</span>
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</td>
</tr>

</table>

      {% else %}

        <h2 class="govuk-heading-m">Results</h2>
        <p class="govuk-body">
          Enter a search term or choose filters, then select <strong>Run search</strong>.
        </p>

      {% endif %}
    </div>

  </div>
</div>


<!-- Thresholds -->
<h2 class="govuk-heading-l">Set thresholds for notification
</h2>
<p class="govuk-body">
We will send you notifications when a conjunction event involving any satellite selected above crosses <strong>all</strong> of the thresholds you have set. You do not have to specify thresholds for all criteria.
</p>
<p class="govuk-body">
You are responsible for the safe operation of your satellites and should choose settings which allow you to do this. The example thresholds may not be the most appropriate thresholds for your satellites.
</p>

<div class="govuk-hint">
Select all criteria that apply, then set your preferred thresholds for each.
</div>

<table class="govuk-table no-border" style="width:100%" id="custom-thresholds">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header" style="width:40%">Criteria</th>
<th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
</tr>
</thead>
</table>

<!-- Probability of collision threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="custom-poc-check" name="custom-poc-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Probability of collision
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Probability of collision is above:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="custom-poc-value" name="custom-poc-value" type="text" spellcheck="false" value = "0.01">
<div class="govuk-input__suffix" aria-hidden="true">%
</div> <!-- class="govuk-input__suffix" aria-hidden="true">% -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- lass="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- total mean distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="custom-tmd-check" name="custom-tmd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Total miss distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Total miss distance is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="custom-tmd-value" name="custom-tmd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- mean radial distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="custom-mrd-check" name="custom-mrd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Mean radial distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Mean radial distance is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="custom-mrd-value" name="custom-mrd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- time to conjunction event threshold-->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="custom-tce-check" name="custom-tce-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Time till conjunction event
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive govuk-!-margin-bottom-6"> <!-- keep 'govuk-!-margin-bottom-6' in the <table tag in the last question to add enough space between the table and the next element -->
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Time till conjunction event is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="custom-tce-value" name="custom-tce-value" type="text" spellcheck="false" value = "1">
<div class="govuk-input__suffix" aria-hidden="true">hour(s)
</div> <!-- class="govuk-input__suffix" aria-hidden="true">hour(s) -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->


<!-- Select notification types -->
<div class="govuk-form-group" class="govuk-!-margin-top-6">
<fieldset class="govuk-fieldset" aria-describedby="custom-notification-type-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Select notification types
</h1>
</legend>
<div id="custom-notification-type-hint" class="govuk-hint">
Select all that apply.
</div>
<p>
Receive notifications when:
</p>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-new" name="custom-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-new">
A new conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-updated" name="custom-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-updated">
An updated conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-nspoc" name="custom-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-nspoc">
New NSpOC analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-manoeuvre" name="custom-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-manoeuvre">
New manoeuvre analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-end" name="custom-notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-end">
An updated conjunction event no longer meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</fieldset>
</div> <!-- class="govuk-form-group" -->

<!-- set email frequency -->
<div class="govuk-!-margin-top-6">
</div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="frequency-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Set email frequency
</h1>
</legend>
<div id="frequency-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<!-- asap option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-asap" name="frequency" type="radio" value="asap">
<label class="govuk-label govuk-radios__label" for="frequency-asap">
As soon as possible
</label>
<div id="frequency-asap-hint" class="govuk-hint govuk-radios__hint">
Each relevant notification will be sent as soon as the data is processed by MSH. Each email will contain only one notification.
</div>
</div>
<!-- every 2h option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-2h" name="frequency" type="radio" value="2h">
<label class="govuk-label govuk-radios__label" for="frequency-2h">
Every 2 hours 
</label>
<div id="frequency-2h-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 2 hours will be collated and sent in a single email every two hours (sent 24/7, starting at midnight UTC*).
</div>
</div>
<!-- daily option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-daily" name="frequency" type="radio" value="daily">
<label class="govuk-label govuk-radios__label" for="frequency-daily">
Every day
</label>
<div id="frequency-daily-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past day (24 hours) will be collated and sent in a single email at 12pm UTC* every day.
</div>
</div>
<!-- selected days option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-selected-days" name="frequency" type="radio" value="selected-days" data-aria-controls="conditional-frequency-selected-days">
<label class="govuk-label govuk-radios__label" for="frequency-selected-days">
Selected days
</label>
<div id="frequency-selected-days-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications since the last email will be collated and sent in a single email at 12pm UTC* every day selected.
</div>
</div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-frequency-selected-days">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="days-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Select days
</legend>
<!-- checkboxes below -->
<div class="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-monday" name="days" type="checkbox" value="monday">
<label class="govuk-label govuk-checkboxes__label" for="days-monday">
Monday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-tuesday" name="days" type="checkbox" value="tuesday">
<label class="govuk-label govuk-checkboxes__label" for="days-tuesday">
Tuesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-wednesday" name="days" type="checkbox" value="wednesday">
<label class="govuk-label govuk-checkboxes__label" for="days-wednesday">
Wednesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-thursday" name="days" type="checkbox" value="thursday">
<label class="govuk-label govuk-checkboxes__label" for="days-thursday">
Thursday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-friday" name="days" type="checkbox" value="friday">
<label class="govuk-label govuk-checkboxes__label" for="days-friday">
Friday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-saturday" name="days" type="checkbox" value="saturday">
<label class="govuk-label govuk-checkboxes__label" for="days-saturday">
Saturday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-sunday" name="days" type="checkbox" value="sunday">
<label class="govuk-label govuk-checkboxes__label" for="days-sunday">
Sunday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!--class="govuk-checkboxes"-->
<!-- checkboxes above -->
</fieldset>
</div> <!--class="govuk-form-group"-->
</div> <!-- class="govuk-radios__conditional govuk-radios__conditional--hidden"-->
<p id="UTC-paragraph" class="govuk-hint">
* Coordinated Universal Time (UTC) is 1 hour behind British Summer Time (BST) and the same as Greenwich Mean Time (GMT).
</p>
</fieldset>
</div>

<!-- Exceptions -->
<!-- Exceptions -->
<h2 class="govuk-heading-l">Add exceptions (optional)</h2>
<p>If any satellite selected above is in a conjunction event with any 'exception' satellite, you will <strong>not</strong> receive notifications according to the custom settings above. Instead, you will only receive notifications about the conjunction event according to your universal settings.</p>
<p>Search and filter the full satellite catalogue, then select satellites as exceptions.</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form method="post" action="conjunction-notification-settings-add-custom" novalidate>
      <input type="hidden" name="hasRunSearch" value="true">

      <!-- Free-text search -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="q">Search by object name or NORAD ID</label>
        <input
          class="govuk-input"
          id="q"
          name="q"
          type="text"
          aria-describedby="q-hint"
          value="{{ data.q | default('') }}"
        >
      </div>

      <div class="govuk-grid-row">

        <!-- Filter 1: Licensing state (select) -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="filterState">Licensing state</label>
            <select class="govuk-select" id="filterState" name="filterState">
              <option value="" {% if not data.filterState %}selected{% endif %}>All</option>
              <option value="United Kingdom" {% if data.filterState == "United Kingdom" %}selected{% endif %}>United Kingdom</option>
              <option value="United States" {% if data.filterState == "United States" %}selected{% endif %}>France</option>
              <option value="France" {% if data.filterState == "France" %}selected{% endif %}>France</option>
            </select>
          </div>
        </div>

        <!-- Filter 2: Operator (select) -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="filterOperator">Operator</label>
            <select class="govuk-select" id="filterOperator" name="filterOperator">
              <option value="" {% if not data.filterType %}selected{% endif %}>All</option>
              <option value="Airbus" {% if data.filterType == "Airbus" %}selected{% endif %}>Airbus</option>
              <option value="Clydespace" {% if data.filterType == "Clydespace" %}selected{% endif %}>Clydespace</option>
              <option value="OneWeb" {% if data.filterType == "OneWeb" %}selected{% endif %}>OneWeb</option>
            </select>
          </div>
        </div>

        <!-- Filter 3: Regime (checkboxes) -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="filterRegime-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">Regime</h2>
              </legend>
              <div id="filterRegime-hint" class="govuk-hint">Select all that apply</div>

              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="regime-all"
                    name="filterRegime"
                    type="checkbox"
                    value=""
                    {% if not data.filterRegime %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="regime-all">All</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="regime-leo"
                    name="filterRegime"
                    type="checkbox"
                    value="leo"
                    {% if data.filterRegime == "leo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-leo">LEO</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="Regime-meo"
                    name="filterRegime"
                    type="radio"
                    value="meo"
                    {% if data.filterRegime == "meo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-meo">MEO</label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="Regime-geo"
                    name="filterRegime"
                    type="radio"
                    value="geo"
                    {% if data.filterRegime == "geo" %}checked{% endif %}
                  >
                  <label class="govuk-label govuk-checkboxes__label" for="Regime-geo">GEO</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">
        Run search
      </button>
    </form>

    <!-- RESULTS (below the form) -->
    <div class="govuk-!-margin-top-6">
      {% if data.hasRunSearch %}

        <h2 class="govuk-heading-m">Results</h2>

<!-- Selection + results summary row -->
<div class="sat-selection-bar">
<p class="govuk-body govuk-!-margin-bottom-0">
<strong>Showing:</strong> <span id="results-count">0</span>
</p>

<p class="govuk-body govuk-!-margin-bottom-0">
<strong>Selected:</strong> <span id="selected-count">0</span>
</p>
</div> <!-- class="sat-selection-bar" -->

<div class="sat-selection-bar">
<div class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-all" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="select-all">
Select all results
</label>
</div> <!-- class="govuk-checkboxes__item">-->
</div> <!-- class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes" -->

<p class="govuk-body govuk-!-margin-bottom-0">
<a href="#" class="govuk-link" id="clear-selection">Clear selection</a>
</p>
</div> <!-- class="sat-selection-bar" -->

<table class="govuk-table" id="exceptions-table" data-module="moj-sortable-table">

<colgroup>
<col style="width: 20%;"> <!-- object name -->
<col style="width: 15%;">  <!-- NORAD -->
<col style="width: 15%;">  <!-- Regime -->
<col style="width: 15%;">  <!-- Licensing -->
<col style="width: 20%;">  <!-- Operator -->
<col style="width: 15%;"> <!-- Select -->
</colgroup>

<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending">Object name</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">NORAD ID</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Orbital regime</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Licensing state</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Operator</th>
<th scope="col" class="govuk-table__header govuk-body-s">Select</th>
</tr>
</thead>

<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell govuk-body-s">Skynet 4C</td>
<td class="govuk-table__cell govuk-body-s">27838</td>
<td class="govuk-table__cell govuk-body-s">GEO</td>
<td class="govuk-table__cell govuk-body-s">United Kingdom</td>
<td class="govuk-table__cell govuk-body-s">Airbus</td>
<td class="govuk-table__cell">
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input satellite-checkbox" id="sat-1" name="satellites" type="checkbox" value="skynet-4c">
<label class="govuk-label govuk-checkboxes__label" for="sat-1">
<span class="govuk-visually-hidden">Select Skynet 4C</span>
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</td>
</tr>

</table>

      {% else %}

        <h2 class="govuk-heading-m">Results</h2>
        <p class="govuk-body">
          Enter a search term or choose filters, then select <strong>Run search</strong>.
        </p>

      {% endif %}
    </div>

  </div>
</div>

<!-- save edits -->
<div class="govuk-!-margin-top-4">
<a class="govuk-button govuk-!-margin-bottom-3"
data-module="govuk-button"
href="/account/regulator/notification-settings">
Save edits
</a>
</div>

<button
type="button"
class="govuk-button govuk-button--warning"
data-module="govuk-button"
id="delete-button"
>
Delete custom rule {{ itemName }}
</button>



<!-- are you sure you want to delete? -->
<div id="delete-confirm" class="govuk-!-margin-top-3" hidden>
<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-visually-hidden">Warning</span>
Are you sure you want to delete{{ itemName }}?
</strong>
</div>

<p class="govuk-body">
This will delete this custom rule from your settings and you will no longer receive notifications under this rule. {{ itemName }} You will not be able to undo this action.
</p>

<form method="post" action="/delete-item">
<input type="hidden" name="itemName" value="{{ itemName }}">

<div class="govuk-button-group">
<button class="govuk-button govuk-button--warning" data-module="govuk-button">
Yes, delete {{ itemName }}
</button>

<button
type="button"
class="govuk-button govuk-button--secondary govuk-!-margin-left-4"
data-module="govuk-button"
id="cancel-delete"
>
Cancel
</button>
</div>

</form>
</div>


</div>
</div> <!-- class="govuk-grid-column-full"> -->
</div> <!-- class="govuk-grid-row"> -->
</main>
</div>
<script>


/* Grey out unchecked boxes */
document.querySelectorAll('.govuk-checkboxes__input').forEach(checkbox => {
checkbox.addEventListener('change', (event) => {
const table = checkbox.closest('.govuk-checkboxes__item').nextElementSibling;
if (table && table.tagName === 'TABLE') {
table.classList.toggle('inactive', !checkbox.checked);
}
});
});

// ask are you sure you want to delete?
  const deleteBtn = document.getElementById('delete-button')
  const confirmBox = document.getElementById('delete-confirm')
  const cancelLink = document.getElementById('cancel-delete')

  if (deleteBtn && confirmBox) {
    deleteBtn.addEventListener('click', function (e) {
      e.preventDefault()
      confirmBox.hidden = false
      confirmBox.scrollIntoView({ behavior: 'smooth', block: 'center' })
    })
  }

  if (cancelLink && confirmBox) {
    cancelLink.addEventListener('click', function (e) {
      e.preventDefault()
      confirmBox.hidden = true
    })
  }

</script>

{% endblock %}