{% extends "layout.html" %}

<!-- Title -->
{% block pageTitle %}
Notification settings
{% endblock %}

<!-- Page content -->
{% block content %}

<style>
.govuk-table__header, .govuk-table__cell {vertical-align: middle;}
.govuk-table__cell {font-weight: normal;}
.threshold-style {
vertical-align: middle;
margin-top: -20px;
margin-left: 70px; 
margin-bottom: 5px;
width: calc(100% - 70px);
}
.threshold-style th{width: 550px;}
.inactive {opacity: 40%;}
.editSatBtn {color: #1d70b8;}
.no-border th, .no-border td{border: none;}
#default-label {margin-bottom: 10px;}
</style>


<!-- Breadcrumbs links-->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/operator/account">
Account
</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">
Conjunction event notification settings
</li>
</ol>
</div> <!-- class="govuk-breadcrumbs"-->
</div> <!-- class="govuk-width-container"-->

<!-- Page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- Page title -->
<h1 class="govuk-heading-xl">Conjunction event notification settings
</h1>

<!-- Page intro -->
<p class="govuk-body">
This page allows you to adjust your notification settings for satellite activity. 
</p>
<p class="govuk-body">
You can create a notification rule which applies to all satellites operated by your organisation. You can also create additional custom rules which will only apply to selected satellites.
</p>
<p class="govuk-body">
You will receive separate emails for each rule.
</p>
<p class="govuk-body">
If you create additional custom rules, this will not cancel out the rule applying to all satellites operated by your organisation. You should consider how many notifications you wish to receive.
</p>

<!-- Universal notifications -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
All your satellites
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-1" class="govuk-accordion__section-content">
<p>
This rule will generate notifications for all satellites operated by your organisation, so you should consider how many notifications you wish to receive.
</p>
<h2 class="govuk-heading-l">Set thresholds for notification
</h2>
<p class="govuk-body">
We will send you notifications when a conjunction event crosses <strong>all</strong> of the thresholds you have set. You do not have to specify thresholds for all criteria.
</p>
<p class="govuk-body">
You are responsible for the safe operation of your satellites and should choose settings which allow you to do this. The example thresholds may not be the most appropriate thresholds for your satellites.
</p>

<div class="govuk-hint">
Select all criteria that apply, then set your preferred thresholds for each.
</div>

<table class="govuk-table no-border" style="width:100%" id="thresholds">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header" style="width:40%">Criteria</th>
<th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
</tr>
</thead>
</table>

<!-- probability of collision threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="poc-check" name="poc-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Probability of collision</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table govuk-table--no-row-borders threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row" >   
<th scope="row" class="govuk-table__cell govuk-!-padding-top-4 govuk-hint"">Input a value using <strong>either</strong> percentage or scientific notation. 
</th>
<td class="govuk-table__cell">  
</td>
</tr>
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Probability of collision (%) is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="poc-value-percent" name="poc-value" type="text" spellcheck="false" value = "0.01">
<div class="govuk-input__suffix" aria-hidden="true">%
</div> <!-- class="govuk-input__suffix" aria-hidden="true">% -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Probability of collision (scientific notation) is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="poc-value-percent" name="poc-value" type="text" spellcheck="false" value = "10^-6">
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- total mean distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="tmd-check" name="tmd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Total miss distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Total miss distance is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="tmd-value" name="tmd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- mean radial distance threshold -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="mrd-check" name="mrd-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Mean radial distance</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Mean radial distance is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="mrd-value" name="mrd-value" type="text" spellcheck="false" value = "1000">
<div class="govuk-input__suffix" aria-hidden="true">metres
</div> <!-- class="govuk-input__suffix" aria-hidden="true">metres -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- time to conjunction event threshold-->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="tce-check" name="tce-check" type="checkbox">
<label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold">Time till conjunction event
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<table class="govuk-table threshold-style inactive govuk-!-margin-bottom-6"> <!-- keep 'govuk-!-margin-bottom-6' in the <table tag in the last question to add enough space between the table and the next element -->
<tbody class="govuk-table__body">
<tr class="govuk-table__row">   
<th scope="row" class="govuk-table__cell">Time till conjunction event is below:
</th>
<td class="govuk-table__cell">  
<div class="govuk-input__wrapper"> 
<input class="govuk-input govuk-input--width-5" id="tce-value" name="tce-value" type="text" spellcheck="false" value = "1">
<div class="govuk-input__suffix" aria-hidden="true">hour(s)
</div> <!-- class="govuk-input__suffix" aria-hidden="true">hour(s) -->
</div> <!-- class="govuk-input__wrapper" -->
</td>
</tr>
</tbody>
</table>
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->

<!-- What type of notifications do you want to receive? -->
<div class="govuk-form-group" class="govuk-!-margin-top-6">
<fieldset class="govuk-fieldset" aria-describedby="notification-type-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Select notification types
</h1>
</legend>
<div id="notification-type-hint" class="govuk-hint">
Select all that apply.
</div>
<p>
Receive notifications when:
</p>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-new" name="notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-new">
A new conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-updated" name="notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-updated">
An updated conjunction event meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-nspoc" name="notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-nspoc">
New NSpOC analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-manoeuvre" name="notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-manoeuvre">
New manoeuvre analysis is uploaded for a conjunction event meeting your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="event-end" name="notification-type" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="event-end">
An updated conjunction event no longer meets your thresholds
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</fieldset>
</div> <!-- class="govuk-form-group" -->

<!-- How frequent should notifications be? -->
<div class="govuk-!-margin-top-6"> </div>

<!-- set email frequency -->
<div class="govuk-!-margin-top-6">
</div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="frequency-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Set email frequency
</h1>
</legend>
<div id="frequency-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<!-- asap option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-asap" name="frequency" type="radio" value="asap">
<label class="govuk-label govuk-radios__label" for="frequency-asap">
As soon as possible
</label>
<div id="frequency-asap-hint" class="govuk-hint govuk-radios__hint">
Each relevant notification will be sent as soon as the data is processed by MSH. Each email will contain only one notification.
</div>
<!-- every 2h option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-2h" name="frequency" type="radio" value="2h">
<label class="govuk-label govuk-radios__label" for="frequency-2h">
Every 2 hours 
</label>
<div id="frequency-2h-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 2 hours will be collated and sent in a single email every two hours (sent 24/7, starting at midnight UTC*).
</div>
</div>
<!-- daily option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-daily" name="frequency" type="radio" value="daily">
<label class="govuk-label govuk-radios__label" for="frequency-daily">
Every day
</label>
<div id="frequency-daily-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past day (24 hours) will be collated and sent in a single email at 12pm UTC* every day.
</div>
</div>
<!-- selected days option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-selected-days" name="frequency" type="radio" value="selected-days" data-aria-controls="conditional-frequency-selected-days">
<label class="govuk-label govuk-radios__label" for="frequency-selected-days">
Selected days
</label>
<div id="frequency-selected-days-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications since the last email will be collated and sent in a single email at 12pm UTC* every day selected.
</div>
</div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-frequency-selected-days">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="days-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Select days
</legend>
<!-- checkboxes below -->
<div class="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-monday" name="days" type="checkbox" value="monday">
<label class="govuk-label govuk-checkboxes__label" for="days-monday">
Monday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-tuesday" name="days" type="checkbox" value="tuesday">
<label class="govuk-label govuk-checkboxes__label" for="days-tuesday">
Tuesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-wednesday" name="days" type="checkbox" value="wednesday">
<label class="govuk-label govuk-checkboxes__label" for="days-wednesday">
Wednesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-thursday" name="days" type="checkbox" value="thursday">
<label class="govuk-label govuk-checkboxes__label" for="days-thursday">
Thursday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-friday" name="days" type="checkbox" value="friday">
<label class="govuk-label govuk-checkboxes__label" for="days-friday">
Friday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-saturday" name="days" type="checkbox" value="saturday">
<label class="govuk-label govuk-checkboxes__label" for="days-saturday">
Saturday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-sunday" name="days" type="checkbox" value="sunday">
<label class="govuk-label govuk-checkboxes__label" for="days-sunday">
Sunday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!--class="govuk-checkboxes"-->
<!-- checkboxes above -->
</fieldset>
</div> <!--class="govuk-form-group"-->
</div> <!-- class="govuk-radios__conditional govuk-radios__conditional--hidden"-->
<p id="UTC-paragraph" class="govuk-hint">
* Coordinated Universal Time (UTC) is 1 hour behind British Summer Time (BST) and the same as Greenwich Mean Time (GMT).
</p>
</fieldset>
</div>



</div> <!-- id="accordion-default-content-1" class="govuk-accordion__section-content" -->
</div> <!-- class="govuk-accordion__section" -->

<!-- Set custom notifications -->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-2">
Custom rules
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-2" class="govuk-accordion__section-content">
<h2 class="govuk-heading-l">Summary of custom rules
</h2>
<div class="govuk-hint"> 
This table summarises your existing custom rules for selected satellites. Create new custom rules using the button below the table. You can also duplicate and edit existing rules using the links in the table.
</div>

<!-- Custom rules summary table -->
<!-- GOV.UK-style accessible table with two header rows, grouped headers, and custom column widths -->
<div style="overflow-x:auto;">
<table class="govuk-table" style="width: 100%" aria-describedby="table-caption-custom-settings-summary">
<!-- Set different column widths -->
<colgroup>
<col style="width: 20%;" /> <!--name-->
<col style="width: 30%;" /> <!--Reasons for notifications-->
<col style="width: 20%;" /> <!--notification frequency-->
<col style="width: 20%;" /> <!-- edit -->
<col style="width: 10%;" /> <!-- delete -->
</colgroup>
<!-- Header row 1: grouped headings spanning multiple columns -->
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col">Rule name</th>
<th class="govuk-table__header" scope="col">Notification types received</th>
<th class="govuk-table__header" scope="col">Email frequency </th>
<th class="govuk-table__header" scope="col">View and edit </th>
<th class="govuk-table__header" scope="col">Duplicate</th>
</tr>
</thead>

<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">LEO Satellites</td>
<td class="govuk-table__cell">New events</td>
<td class="govuk-table__cell">As soon as possible</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Satellite A</td>
<td class="govuk-table__cell">Updated events</td>
<td class="govuk-table__cell">Every 2 hours</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Satellite B</td>
<td class="govuk-table__cell">Updated closed events</td>
<td class="govuk-table__cell">Every day</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">GEO Satellites</td>
<td class="govuk-table__cell">NSpOC analysis</td>
<td class="govuk-table__cell">Every Monday</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Remainder satellites</td>
<td class="govuk-table__cell">Manoeuvre analysis</td>
<td class="govuk-table__cell">Every Monday; Every Tuesday</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Satellites E</td>
<td class="govuk-table__cell">New events; Updated events; Updated closed events; NSpOC analysis; Manoeuvre analysis</td>
<td class="govuk-table__cell">Every Monday; Every Tuesday</td>
<td class="govuk-table__cell"><a class="govuk-link" href="conjunction-notification-settings-edit-custom">View and edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Duplicate</a></td>
</tr>
</tbody>
</table>
</div>

<!-- add custom thresholds button -->
<p class="govuk-body govuk-!-margin-top-6">
<a class="govuk-link" href="/account/operator/conjunction-notification-settings-add-custom">
Add custom rule 
</a>
</p>
</div> <!-- id="accordion-default-content-2" class="govuk-accordion__section-content"> -->
</div> <!--class="govuk-accordion__section"> --> 
</div> <!-- class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" -->

<!-- Save preferences -->
<form method="post" action="conjunction-notification-settings-confirmation">
<button class="govuk-button" data-module="govuk-button">
Save notification settings
</button>
</form>
<!-- content above here -->


</div> <!-- class="govuk-grid-column-full" -->
</div> <!-- class="govuk-grid-row" -->
</main> 



<script>
/* Grey out unchecked boxes */
document.querySelectorAll('.govuk-checkboxes__input').forEach(checkbox => {
checkbox.addEventListener('change', (event) => {
const table = checkbox.closest('.govuk-checkboxes__item').nextElementSibling;
if (table && table.tagName === 'TABLE') {
table.classList.toggle('inactive', !checkbox.checked);
}
});
});
</script>

{% endblock %}