{% extends "layout.html" %}

{% block pageTitle %}
Send alerts for re-entry event re-asghj-kifdy
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/reentry/approver/homepage">Upcoming re-entry events</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/reentry/approver/event-summary">Re-entry event re-asghj-kifdy: Alert</a>
        </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/reentry/approver/send-notifications">Send alerts</a>
          </li>
      </ol>
      <br>
      <h1 class="govuk-heading-xl">Send alert to additional recipients</h1>
    </div>
  
    <p>This page shows you the current distribution status of the re-entry alert and allows you to manually distribute the alert to additional recipients.</p>
    <p>If it is not already, you can choose to make the alert a priority re-entry alert. You are also able to manually select individual emails to send the alert to.</p>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Report Status</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Distribution list</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">All re-entry alerts</th>
            <td class="govuk-table__cell"><strong class="govuk-tag">
                Sent to distribution list
              </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Priority re-entry alerts only</th>
            <td class="govuk-table__cell">        <strong class="govuk-tag govuk-tag--grey">
                Not sent to distribution list
              </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Individually selected recipients</th>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not sent to any individually selected recipients
              </strong></td>
          </tr>
        </tbody>
      </table>

      
    <details class="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Distribution lists and re-entry alert critera
          </span>
        </summary>
        <div class="govuk-details__text">
            <a class="govuk__link" href="/account/approver/distribution-lists">see distribution lists</a>
          <p>Priority re-entry alerts are those with:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Debris likely to survive to the ground</li>
            <li>AND one of the following:</li>
            <ul class="govuk-list govuk-list--bullet">
              <li>More than 0.1% chance of impact in the UK (and overseas territories on case by case basis)</li>
              <li>OR UK-licensed object</li>
              <li>OR significant press interest</li></ul>
          </ul>
        </div>
      
      </details>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Edit report status
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
            Select whether you would like to send this alert to additional recipients
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="contact">
                All re-entry alerts
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                This alert has already been sent to this list and the box has automatically been ticked
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                Priority re-entry alerts only
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                Individually selected recipients
              </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                If you wish to send the alert to individual recipients not currently recieving alerts, you can do so here.
              </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                    Provide individual email addresses to receive alerts about this event in the box below. Separate each email address with a semi-colon.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    <a href="/reentry/approver/review-notifications" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Review selection</a>
        <a href="/reentry/approver/event-summary" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to previous page</a>
        <div id="waste-hint" class="govuk-hint"></div>
  </form>
</div>
</div>
</main>
</div>

  
  {% endblock %}