{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 communication history
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="warning-1">Account</a>
      </li>

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-comms-history">Communication history</a>
      </li>
      </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Communications history</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Event</th>
          <th scope="col" class="govuk-table__header">Additonal email addresses</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">05/02/2021</td>
          <td class="govuk-table__cell">adhfjd-fdsjakf-dajfd</td>
          <td class="govuk-table__cell">example1.email@operator.gov.uk, example2.email@operator.gov.uk</td>
          <td class="govuk-table__cell">Sent</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">07/02/2021</td>
          <td class="govuk-table__cell">fdhfjd-fdsjakf-dajfd</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Sent</td>
        </tr>
      </tbody>
    </table>
    <a href="warning-1" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Return to homepage</a>
    </div>

  </main>
{% endblock %}
