{% extends "layout.html" %}

{% block pageTitle %}
Inviting a new member
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Account information</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Inviting a new member</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Inviting a new user</h1>
    <p class="govuk-body-m">Invite a new user to join your organisation by entering the details below.</p>
    <p class="govuk-body-m">Your organisaton: <b>[insert their organisaton name]</b></p>

    <form class="form" action="/operator-homepage" method="post">
    <div class="govuk-form-group">
      <label class="govuk-heading-l" for="email">
        Enter new user email address:
      </label>
      <div id="email-hint" class="govuk-hint">
        Insert the member email address with your organisation's domain
      </div>
      <input class="govuk-input " id="email" name="email" type="email" spellcheck="false" value="" autocomplete="email">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-heading-l" for="email">
        Enter new user phone number:
      </label>
      <div id="email-hint" class="govuk-hint">
      </div>
      <input class="govuk-input " id="email" name="email" type="email" spellcheck="false" value="" autocomplete="email">
    </div>


    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Type of user account:
            </h1>
          </legend>
          <div id="nationality-hint" class="govuk-hint">
            What type of access will this user require in the <b>[insert organisation name]</b>?
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
              <label class="govuk-label govuk-checkboxes__label" for="nationality">
                Admin
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                with the ability to add/remove users and view user activity
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
              <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                Member
              </label>
            </div>
          </div>

        </fieldset>
      </div>

    <button class="govuk-button" data-module="govuk-button">
      Submit
    </button>
    </form>
    </div>

  </main>
{% endblock %}
