{% extends "layout.html" %}

{% block pageTitle %}
Monitoring flag 42814-001
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/compliance/satellite-list">UK-licensed satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/compliance/satellite-hylas1">HELLAS-SAT 3</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/compliance/37237-001">Monitoring flag 42814-001</a>
      </li>
    </ol>
  </div>
    <h1 class="govuk-heading-xl">Monitoring flag 42814-001</h1>
  </div>


  <div class="govuk-grid-row">

      </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
        <a href="#event summary">Summary</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-default-heading-1">Reason for flag</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-default-heading-2">Evolution of satellite position</a>
      </li>
        <li class="moj-side-navigation__item">
          <a href="#accordion-default-heading-4">Operator contact information</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-default-heading-4">Object data</a>
      </li>
      </li>
      </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l" id="event summary">Summary</h2>
    <p>UKSA's orbital analysis team have monitored Inmarsat HS3-IS as it has completed a manoeuvre. </p> 
    <p> This manoeuvre was <b>planned</b> and was reported by the operator to the CAA or UKSA. The manoeuvre has been completed in the manner reported by the operator to the CAA.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Object information</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Flagged object</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/satellites/compliance/satellite-hylas1">HELLAS-SAT 3</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">NORAD ID</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">42814</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">International designator</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">	2017-040A</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Operator</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/satellites/compliance/operatorview">Inmarsat</a></td>
        </tr>
      </tbody>
    </table></p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Flag information</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reason for flag</th>
          <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">manoeuvre as planned</strong></td></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre start date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">24/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre end date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">26/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Flag issued date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">24/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">TLE count (in the month prior to flag)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">31</td>
        </tr>
      </tbody>
    </table></p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with this summary
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>This flag has been uploaded by UKSA's orbital analysis team as they have verified an object change that exceeds tolerance thresholds for one or more of UKSA's flagging criteria.</p>
      </div>
    </details>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Contact a UKSA orbital analyst
    </button>
    <br>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Reason for flag
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"> 
          <p>This flag was raised because Inmarsat reported a manoeuvre for HELLAS-SAT 3. This manoeuvre was monitored by UKSA and has been completed as planned.</p> 
          <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Manoeuvre information reported by operator</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Manoeuvre information reported by UKSA</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Manoeuvre start date</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">24/01/24</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">24/01/24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Manoeuvre completion date</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">26/02/24</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">26/02/24</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Inclination after manoeuvre</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.1</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.1</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Apogee after manoeuvre</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35798</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35797</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Perigee after manoeuvre</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35776</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35776</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Longitude after manoeuvre</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">39 E</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">39 E</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Longitude drift rate</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">- 4.5 per day</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">- 4.3 per day</td>
            </tr>
          </tbody>
        </table></p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this table
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>This table shows the manoeuvre information that was reported to the CAA by the satellite operator, compared against the information from UKSA's monitoring of the manoeuvre. </p>
          </div>
        </details>
      </div>
    </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Evolution of satellite position
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <h1 class="govuk-heading-s">Position information</h1>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Inc(°)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Apogee(km)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Perigee(km)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Longitude(°)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Position prior to movement</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35650</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35630</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">51.9 E</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Position after movement</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35797</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35776</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">39 E</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Change in position</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">+ 148</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">+ 146</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">+ 12.9 W</td>
                </tr>
              </tbody>
            </table></p>
            <br>
              <p>This chart show the positions of HELLAS-SAT 3 during this flagged position change.</p>
              <img src="/public/images/HYLAS-1.PNG" alt="HYLAS 1" width="100%">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with this chart
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>Altitude or longitude can be turned on or off by selecting the series in the legend below the chart.</p>
                  <p>You can reveal more details about a specific data point by moving your mouse over it or tapping on the data point on touch-enabled screens.</p>
                </div>
              </details>

            <br>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Operator contact information
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Licensee
                </dt>
                <dd class="govuk-summary-list__value">
                  Inmarsat
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Primary contact
                </dt>
                <dd class="govuk-summary-list__value">
                  Satellite Control Centre
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  +44(0)7912277788
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email contacts
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">scc.controllers@inmarsat.com</p>
                </dd>
              </div>
            </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Object data
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">
                <p>Space-Track is the main source of object data.</p>
                <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                    <td class="govuk-table__cell">HELLAS-SAT 3</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">NORAD ID</th>
                    <td class="govuk-table__cell">42814</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">International designator</th>
                    <td class="govuk-table__cell">2017-040A</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Object type</th>
                    <td class="govuk-table__cell">PAYLOAD</td>
              </tbody>
            </table>
    
            <h2 class="govuk-heading-s">License information</h2>   
    
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Country</th>
                  <td class="govuk-table__cell">ESA</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launching site</th>
                  <td class="govuk-table__cell">FRGUI</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launch date</th>
                  <td class="govuk-table__cell">2017</td>
            </tbody>
          </table>
    
          <h2 class="govuk-heading-s">Additional object data</h2> 
          <p>ESA DISCOS provides additional object data where available. Contact ESA DISCOS if your satellite data is incorrect.</p>
          <p>ESA DISCOS data was last updated on: 07/02/2024 02:48:48 UTC</p>
    
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Shape</th>
                <td class="govuk-table__cell">Box + 2 Pan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">5780</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Average cross section (m²)</th>
                <td class="govuk-table__cell">31.79</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Maximum cross section (m²)</th>
                <td class="govuk-table__cell">72.06</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Minimum cross section (m²)</th>
                <td class="govuk-table__cell">4</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Height (m)</th>
                <td class="govuk-table__cell">5.5</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Width (m)</th>
                <td class="govuk-table__cell">2</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Depth (m)</th>
                <td class="govuk-table__cell">2</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Span</th>
                <td class="govuk-table__cell">37</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Diameter</th>
                <td class="govuk-table__cell"></td>
          </tbody>
        </table></p>
            </div>
          </div>
          </div>
          </div>  
        
          <a href="/satellites/compliance/satellite-hylas1" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Return to HELLAS-SAT 3 satellite page</a>

        </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}