{% extends "layout.html" %}

{% block pageTitle %}
UK-licensed satellites
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-xl">UK-licensed satellites</h2>

        <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a satellite:
          </label>

          <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by common name or NORAD ID" aria-describedby="search-hint">
        </div>

        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>
        <br>


        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Apply filters to this table
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">
                    <label class="govuk-label" for="sort">
                    <b>Select one or more operators:</b>
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="airbus">Airbus</option>
                    <option value="avantu">Avanti</option>
                    <option value="clydespace">ClydeSpace</option>
                    <option value="inmarsat">Inmarsat</option>
                    <option value="oneweb" selected>OneWeb</option>
                  </select>
                </td>
                  <td class="govuk-table__cell govuk-body-s">
                    <label class="govuk-label" for="sort">
                      <b>Select one or more orbits:</b>
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="leo">LEO</option>
                      <option value="meo">MEO</option>
                      <option value="geo">GEO</option>
                      <option value="other">Other</option>
                    </select>
                  </td>
                  <td class="govuk-table__cell govuk-body-s">
                    <label class="govuk-label" for="sort">
                      <b>Select one or more statuses:</b>
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="flag-raised">Flag raised in past 30 days</option>
                      <option value="no-flag">No flag raised in past 30 days</option>
                    </select>
                  </td>
              </tbody>
            </table>
          </div>
        </details>

        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="4"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
      
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Satellite information</b></td>
                <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="5"><b>Monitoring flags</b></td>
              </tr>
      
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Common name</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>NORAD ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Operator</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Orbit</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Most recent flag ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Reason for most recent flag</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Date of most recent flag</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Flag status</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Flags in past 30 days</th>
    
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="#">OWLID00466</a></td>
              <td class="govuk-table__cell govuk-body-s">54643</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">OneWeb</a></td>
              <td class="govuk-table__cell govuk-body-s">LEO</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">54643-001</a></td>
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--purple">Manoeuvre not as expected</strong></td>
              <td class="govuk-table__cell govuk-body-s">03/02/24</td>
              <td class="govuk-table__cell govuk-body-s">Ongoing</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/satellite-hylas1">HYLAS 1</a></td>
              <td class="govuk-table__cell govuk-body-s">37237</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/operatorview">Avanti</a></td>
              <td class="govuk-table__cell govuk-body-s">GEO</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/37237-001">37237-004</a></td>
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Unexpected position change</strong></td>
              <td class="govuk-table__cell govuk-body-s">27/01/24</td>
              <td class="govuk-table__cell govuk-body-s">Completed on 28/01/24</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#">Inmarsat HS3-IS</a></td>
                <td class="govuk-table__cell govuk-body-s">42814</td>
                <td class="govuk-table__cell govuk-body-s"><a href="#">Inmarsat</a></td>
                <td class="govuk-table__cell govuk-body-s">GEO</td>
                <td class="govuk-table__cell govuk-body-s"><a href="#">42814-001</a></td>                
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">Expected manoeuvre</strong></td>
                <td class="govuk-table__cell govuk-body-s">24/01/24</td>
                <td class="govuk-table__cell govuk-body-s">Completed on 26/01/24</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s"><a href="#">OWLID00007</a></td>
                  <td class="govuk-table__cell govuk-body-s">45131</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="#">OneWeb</a></td>
                  <td class="govuk-table__cell govuk-body-s">LEO</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/45131-003">45131-003</a></td>
                  <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--turquoise">no recent data</strong></td>
                  <td class="govuk-table__cell govuk-body-s">18/01/24</td>
                  <td class="govuk-table__cell govuk-body-s">Completed on 23/01/24</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-body-s"><a href="#">SKYNET 4E</a></td>
                    <td class="govuk-table__cell govuk-body-s">25639</td>
                    <td class="govuk-table__cell govuk-body-s"><a href="#">Airbus</a></td>
                    <td class="govuk-table__cell govuk-body-s">GEO</td>
                    <td class="govuk-table__cell govuk-body-s"><a href="#">25639-001</a></td>
                    <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">Expected manoeuvre</strong></td>
                    <td class="govuk-table__cell govuk-body-s">03/01/24</td>
                    <td class="govuk-table__cell govuk-body-s">Completed on 04/01/24</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s"><a href="#">Inmarsat 5-F4</a></td>
                      <td class="govuk-table__cell govuk-body-s">42698</td>
                      <td class="govuk-table__cell govuk-body-s"><a href="#">Inmarsat</a></td>
                      <td class="govuk-table__cell govuk-body-s">GEO</td>
                      <td class="govuk-table__cell govuk-body-s"><a href="#">42698-004</a></td>
                      <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">Expected manoeuvre</strong></td>
                      <td class="govuk-table__cell govuk-body-s">27/12/23</td>
                      <td class="govuk-table__cell govuk-body-s">Completed on 30/12/23</td>
                      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a href="#">NAAL SL0012</a></td>
                        <td class="govuk-table__cell govuk-body-s">44057</td>
                        <td class="govuk-table__cell govuk-body-s"><a href="#">OneWeb</a></td>
                        <td class="govuk-table__cell govuk-body-s">LEO</td>
                        <td class="govuk-table__cell govuk-body-s"><a href="#">44057-001</a></td>
                        <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Unexpected position change</strong></td>
                        <td class="govuk-table__cell govuk-body-s">23/12/23</td>
                        <td class="govuk-table__cell govuk-body-s">Completed on 25/12/23</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s"><a href="#">NSL-2</a></td>
                          <td class="govuk-table__cell govuk-body-s">55067</td>
                          <td class="govuk-table__cell govuk-body-s"><a href="#">ClydeSpace</a></td>
                          <td class="govuk-table__cell govuk-body-s">LEO</td>
                          <td class="govuk-table__cell govuk-body-s"><a href="#">55067-003</a></td>
                          <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">Expected manoeuvre</strong></td>
                          <td class="govuk-table__cell govuk-body-s">15/12/23</td>
                          <td class="govuk-table__cell govuk-body-s">Completed on 18/12/23</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
              </tr>
          </tbody>
          </col>
        </table>

        <p>Download summary table of UK-licensed satellites [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this table
            </span>
          </summary>
          <div class="govuk-details__text">             
            <ul class="govuk-list govuk-list--bullet">
              <li>Select the <b>satellite common name</b> for more information about the satellite in question.</li>
              <li>Select the <b>operator name</b> for an overview of all that operator's satellites.</li>
              <li>Select the <b>most recent flag ID</b> for more information on the satellite's most recent monitoring flag.</li>
              <li>Sort the satellites according to criteria by clicking on the relevant <b>headings</b>.</li> 
              <li>Filter the list of satellites by clicking <b>Apply filters to this table</b> below the search bar.</li>
            </ul>
            <p>This table includes most recent satellite monitoring flags as of 12/02/24 12:35:23.</p>
          </div>
        </details>


          <br>
          <br>
          <br>
          
 
{% endblock %}
