{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="test-operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="test-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-map-analysis">Predicted location of potential conjunction</a>
    </li>
      </ol>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
              <h1 class="govuk-heading-xl">AAA0001: Predicted location of potential conjunction</h1>
        <img src="/public/images/test-map-1.png" alt="Conjunction Data message">

      </div>

</main>
</div>


{% endblock %}
