{% extends "layout.html" %}

{% block pageTitle %}
All organisations
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/analyst/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/analyst/account-info">All organisations' details</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">All registered organisations</h1>

        <p class="govuk-body-m">There are currently <b>3</b> active organisations registered with Monitor my Satellites</p>



          <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 10%">Organisaton name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 20%">Email domain</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 20%">Date account added</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 20%">Last active</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 20%">Number of accounts</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 20%">Number of admins</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">CAA</a></td>
                <td class="govuk-table__cell">@cca.co.uk</td>
                <td class="govuk-table__cell">10/05/2021</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell">10</td>
                <td class="govuk-table__cell">1</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Space X</a></td>
                <td class="govuk-table__cell">@spacex.com</td>
                <td class="govuk-table__cell">10/05/2021</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell">10</td>
                <td class="govuk-table__cell">1</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">UKSA</a></td>
                <td class="govuk-table__cell">@uksa.co.uk</td>
                <td class="govuk-table__cell">10/05/2021</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell">10</td>
                <td class="govuk-table__cell">1</td>

              </tr>
            </tbody>
          </table>


          <p>   </p>
      </div>
      </div>
  </main>
</div>


{% endblock %}
