// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.gem-c-cards__heading {
    margin: 0 0 30px 0
}
.gem-c-cards__list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr
}
@media (min-width: 40.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr
    }
}
@media (min-width: 48.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr 1fr;
        width: 50%
    }
    @supports (display: grid) {
        .gem-c-cards__list {
            width:initial
        }
    }
}
@media (min-width: 48.0625em) {
    .gem-c-cards__list--two-column-desktop {
        grid-template-columns:1fr 1fr
    }
}
.gem-c-cards__list-item {
    border-top: 1px solid #B1B4B6;
    margin: 0 15px;
    padding: 5px 0 20px 0
}
.gem-c-cards__list-item-wrapper {
    padding: 10px 30px 10px 0;
    position: relative
}
.gem-c-cards__sub-heading {
    margin-bottom: 10px
}
.gem-c-cards__link::after {
    bottom: 0;
    content: “”;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}
.gem-c-cards__link::before {
    border-right: 3px solid #1D70B8;
    border-top: 3px solid #1D70B8;
    content: “”;
    height: 7px;
    position: absolute;
    right: 5px;
    top: 15px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px
}
.gem-c-cards__link:hover::before {
    border-color: #003078
}
.gem-c-cards__link:focus::before {
    border-color: #0B0C0C
}
.gem-c-cards__description {
    margin: 0 -30px 0 0
}
@media print {
    .gem-c-cards__list {
        display: block
    }
    .gem-c-cards__list-item {
        padding-bottom: 0
    }
    .gem-c-cards__sub-heading {
        margin-top: 20px;
        margin-bottom: 5px
    }
    .gem-c-cards__link::before {
        display: none
    }
}
/// Added for homepage banner

.gem-c-lead-paragraph {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin-top: 0;
    margin-bottom: 15px;
    max-width: 30em
}

@media print {
    .gem-c-lead-paragraph {
        color: #000
    }
}

@media print {
    .gem-c-lead-paragraph {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-lead-paragraph {
        font-size:24px;
        font-size: 1.5rem;
        line-height: 1.25
    }
}

@media print {
    .gem-c-lead-paragraph {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .gem-c-lead-paragraph {
        margin-bottom:40px
    }
}

