{% extends "layout.html" %}

{% block pageTitle %}
Track fragmentation events
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">Track fragmentation events</h2>
            <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">All fragmentation events</th>
              <td class="govuk-table__cell">7</td>
            </tr>
          </tbody>
        </table>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this table
            </span>
          </summary>
          <div class="govuk-details__text">
            This service tracks all fragmentation events worldwide, including those which pose a risk to UK satellites.
          </div>
        </details>
        <h2 class="govuk-heading-m">All fragmentation events</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="moj-search">
            <form action="#" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Find a fragmentation event:
              </label>
      
              <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by event ID or object ID" aria-describedby="search-hint">
            </div>
      
            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>
            </form>
            </div>
        <br>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Apply filters to this table
              </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                      Filter by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>All</option>
                      <option value="published">Upcoming</option>
                      <option value="updated">Past</option>
                    </select>
                </div>
            </div>
          </details>
        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="5"></colgroup>
            <colgroup span="4"></colgroup>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="5"><b>Event details</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="3"><b>Object details</b></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 8%";>Risk</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Time of fragmentation (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Affected regime</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Number of known fragments</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Object type</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Launching state</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Medium
                </strong>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/fragmentation/approver/event-summary-2" class="govuk-link--no-visited-state">fr-aheb-angkem</a></b></td>
              <td class="govuk-table__cell govuk-body-s">15/09/2024 06:54:17</td>
              <td class="govuk-table__cell govuk-body-s">GEO</td>
              <td class="govuk-table__cell govuk-body-s"> <100 </td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">RESURS P1</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Payload</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">JPN</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      Low
                    </strong>
                <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/fragmentation/approver/event-summary-2" class="govuk-link--no-visited-state">fr-akndkne-dnknie</a></b></td>
                <td class="govuk-table__cell govuk-body-s">13/09/2024 08:14:40</td>
                <td class="govuk-table__cell govuk-body-s">LEO</td>
                <td class="govuk-table__cell govuk-body-s">~30</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">H-2A DEB</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Debris</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">US</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Low
                  </strong>
                <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/fragmentation/approver/event-summary-2" class="govuk-link--no-visited-state">fr-amnkgl-aknla</a> </b></td>
                <td class="govuk-table__cell govuk-body-s">13/09/2024 09:46:19</td>
                <td class="govuk-table__cell govuk-body-s">LEO</td>
                <td class="govuk-table__cell govuk-body-s">~50</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">COSMOS 2261</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Payload</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">CIS</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                          High
                        </strong>
                    <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/fragmentation/approver/event-summary-2" class="govuk-link--no-visited-state">fr-aknke-angle</a></b></td>
                    <td class="govuk-table__cell govuk-body-s">13/09/2024 10:17:39</td>
                    <td class="govuk-table__cell govuk-body-s">MEO</td>
                    <td class="govuk-table__cell govuk-body-s">>100</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">FALCON 9 R/B</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Rocket body</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">US</td>
                  </tr>
                  
          </tbody>
        </col>
      </table>

      <p>Download all fragmenation events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <div class="govuk-inset-text">All known fragmentation events as of 18/09/2024 11:09:36.</div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>This table shows all previous tracked fragmenation events that have been identified by Space-Track and ingested into Monitor space hazards, including events which pose a risk to UK satellites and Human Spaceflight missions. Higher risk events contain additional analysis by UKSA's Orbital Analysts at the National Space Operations Centre.</p>
          <p>Select the <b>event ID</b> to view more information</p>
          <p>Each Event ID or row represents <b>one fragmenation event</b> including all related NSpOC analysis</p>
          <p>Sort the alerts according to criteria by clicking on the relevant <b>headings</b></p>
        </div>
      </details>



      <br>

      <a href="/homepage" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to previous page</a>

  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}