{% extends "layout.html" %}

{% block pageTitle %}
Send alerts for fragmentation event fr-aheb-angkem
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/fragmentation/approver/homepage">Fragmentation events</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/fragmentation/approver/event-summary">Fragmentation event fr-aheb-angkem</a>
        </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/fragmentation/approver/send-notifications">Send alerts</a>
          </li>
      </ol>
      <br>
      <h1 class="govuk-heading-xl">Send alert to additional recipients</h1>
    </div>
    <p>This page shows you the current distribution status of the fragmentation event and allows you to manually distribute the alert to additional recipients.</p>
    <p>If it is not already, you can choose to make the event a priority fragmentation event. You are also able to manually select individual emails to send the alert to.</p>
    <h2 class="govuk-heading-m">Current alert distribution</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Using distribution lists</th>
            <th scope="col" class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">All fragmentation events</th>
            <td class="govuk-table__cell"><strong class="govuk-tag">
                Sent to distribution list
              </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Priority fragmentation events only</th>
            <td class="govuk-table__cell">        <strong class="govuk-tag govuk-tag--grey">
                Not sent to  distribution list
              </strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Using individual emails</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Individually selected recipients</th>
            <td class="govuk-table__cell"> primeminister@no10.org.uk; firstminister@holyrood.org.uk</td>
          </tr>
        </tbody>
      </table>

      
    <details class="govuk-details">

        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Distribution lists and fragmentation alert critera
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>Distribution lists:</b>
          <br>
           You are able to what distribution list users are currently on in the account section (<a class="govuk__link" href="/account/approver/distribution-lists">View distribution lists</a>)
           <br>
           <br>
           <b>Priority fragmentation alert criteria for automatic distribution:</b>
           <br>
          <ul class="govuk-list govuk-list--bullet">
            <li>More than 5% increase in potential collisions with UK satellites and/or Human Spaceflight missions</li>
            <li>OR significant press interest</li>
          </ul>
        <p>You can use this page to make an event 'priority' before it meets the automatic distribution criteria.</p>
      </div>
      </details>
      <br>
      <h2 class="govuk-heading-m">Change event distribution</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
<p>Select whether you would like to send this event to additional recipients.</p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                Priority fragmentation events only
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                Individually selected recipients
              </label>
            <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                If you wish to send the alert to individual recipients not currently recieving fragmentation events, you can do so here
              </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                    Provide individual email addresses to receive alerts about this event in the box below. Separate each email address with a semi-colon.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    <a href="/fragmentation/approver/review-notifications" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Review selection</a>
        <a href="/fragmentation/approver/event-summary" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to previous page</a>
        <div id="waste-hint" class="govuk-hint"></div>
  </form>
</div>
</div>
</main>
</div>

  
  {% endblock %}