{% extends "layout.html" %}

{% block pageTitle %}
Contact details
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Contact information</h1>

    </div>

    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-s">Contents</h3>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="#main-point-of-contact">Main point of contact</a>
        </li>
        <li class="moj-side-navigation__item">
          <a href="#alternative-contacts">Alternative contacts</a>
        </li>
        </ul>
      </div>

    </div>

      <div class="govuk-grid-column-three-quarters">


  <h2 class="govuk-heading-l" id="main-point-of-contact">Main point of contact</h2>

<p class="govuk-body"> The main point of contact for Monitor Space Hazards and reported incidents can be found below: </p>
<table class="govuk-table"style="width:100%">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-body-s" style="width: 70%">Name</th>
      <td class="govuk-table__cell govuk-body-s" style="width: 30%">Athene Gadsby</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-body-s"style="width: 70%">Position</th>
      <td class="govuk-table__cell govuk-body-s" style="width: 30%">Deputy Head NSpOC</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-body-s"style="width: 70%">Email</th>
      <td class="govuk-table__cell govuk-body-s" style="width: 30%">athene.gadsby@ukspaceagency.gov.uk</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-body-s"style="width: 70%">Telephone</th>
      <td class="govuk-table__cell govuk-body-s" style="width: 30%">07795 367 783</td>
    </tr>
  </tbody>
</table>

 
<h2 class="govuk-heading-l" id="alternative-contacts">Alternative contacts</h2>
<p class="govuk-body"> Alternative contacts are (please note this is a standard list and staff may not be immediately contactable):  </p>
<table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
  <col>
    <colgroup span="5"></colgroup>
    <colgroup span="4"></colgroup>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Name</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Position</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Email</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Telephone</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">Group Mailbox</td>
      <td class="govuk-table__cell govuk-body-s">UKSA Orbital Analysts</td>
      <td class="govuk-table__cell govuk-body-s">orbitalanalysts@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">07766 800 171</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">Angus Stewart</td>
      <td class="govuk-table__cell govuk-body-s">Joint Head NSpOC</td>
      <td class="govuk-table__cell govuk-body-s">angus.stewart@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">07732 826 334</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">Al East</td>
      <td class="govuk-table__cell govuk-body-s">Deputy Head NSpOC</td>
      <td class="govuk-table__cell govuk-body-s">alastair.east@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">07788 334 847</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">Krishan Khanderia</td>
      <td class="govuk-table__cell govuk-body-s">NSpOC Civil Capabilities</td>
      <td class="govuk-table__cell govuk-body-s">krishan.khanderia2@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">07827 840 572</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">Edward Baker</td>
      <td class="govuk-table__cell govuk-body-s">NSpOC Civil Capabilities</td>
      <td class="govuk-table__cell govuk-body-s">edward.baker@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">To be added</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">David Sulley</td>
      <td class="govuk-table__cell govuk-body-s">NSpOC Civil Capabilities</td>
      <td class="govuk-table__cell govuk-body-s">david.sulley2@ukspaceagency.gov.uk</td>
      <td class="govuk-table__cell govuk-body-s">0207 215 1473</td>
    </tr>
  </tbody>
</col>
</table>
</div>

<div class="govuk-grid-row">

</div>

  </main>
</div>


{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#1">
              Cookies
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#2">
              Data privacy notice
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Accessibility statement
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Support and guidance
            </a>
          </li>
        </ul>

        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
