
{% extends "layout.html" %}

{% block pageTitle %}
Upcoming conjunction events
{% endblock %}

{% block content %}

    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


          <h1 class="govuk-heading-xl">Performance monitoring and statistics</h1>
          <p> This page shows both perfomance data for the Monitor your satellites service and more detailed information about the object and event data processed by the service. This data is broken down by organisation and by satellite.</p>
          <br>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h3 class="govuk-heading-s">Performance monitoring</h3>
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="#accordian-heading-1">CDM ingests</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-1">Object data ingests</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-2">UKSA analysis</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-3">Notifications sent</a>
                </li>
                </ul>
                <h3 class="govuk-heading-s">Event and organisation data</h3>
                <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-4">Number of events</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-5">Events by organisation</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-6">Events by Satellite</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#accordion-heading-6">Objects tracked</a>
                </li>
                </ul>
                <h2 class="govuk-heading-m">Performance monitoring</h2>

              <h2 class="govuk-heading-m">CDM ingests</h2>
                <div style="background-color:#f3f2f1">
                <p class="govuk-body-s">Latest ingest: 2022-06-22 15:17:30</p>
                  <div class="chartMenu">
                      </div>
                      <div class="chartCard">
                        <button onclick="timeFrame(this)" value="week">7 days</button>
                        <button onclick="timeFrame(this)" value="month">1 month</button>
                        <button onclick="timeFrame(this)" value="year">All time</button>
                        <div class="chartBox">
                          <canvas id="myChart1" width="400" height="100"></canvas>
                        </div>
                      </div>
                      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
                      <script>

                            const ctx1 = document.getElementById('myChart1');
                            const myChart1 = new Chart(ctx1, {
                            type: 'line',
                            options: {
                                scales: {
                                  x: {
                                      grid: {display: false
                                      },
                                      ticks: {},
                                  },
                                    y: {
                                        beginAtZero: true,
                                        grid: {display: false
                                        }
                                    }
                                }
                            },
                            data: {
                              labels: ['16/06/22', '17/06/22', '18/06/22', '19/06/22', '20/06/22', '21/06/22'],
                              datasets: [{
                                label: 'Space-Track',
                                data: [7950, 7316, 9175, 8201, 9180, 7260],
                                backgroundColor: '#003078',
                                borderColor: '#003078',
                                borderWidth: 1,
                                pointRadius: 1
                              },
                            ]
                            },
                          });
                      </script>
                    </div>
                    <table class="govuk-table" style="width:100%">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Type of source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Ingestion start</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Ingestion stop</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Number of items fetched</b></th>
                        </tr>
                        </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s" >Space-Track</td>
                          <td class="govuk-table__cell govuk-body-s">CDM</td>
                          <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                          <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                          <td class="govuk-table__cell govuk-body-s">1204</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s" >Space-Track</td>
                          <td class="govuk-table__cell govuk-body-s">CDM</td>
                          <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                          <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                          <td class="govuk-table__cell govuk-body-s">8039</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s" >Space-Track</td>
                          <td class="govuk-table__cell govuk-body-s">CDM</td>
                          <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                          <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                          <td class="govuk-table__cell govuk-body-s">5384</td>
                        </tr>
                      </tbody>
                      </table>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Help with this table
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          This table shows performance monitoring information for the external sources of CDMs that Monitor your satellites ingests.
                          <p> </p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Ingestion start and stop show the time the last data ingest started and finished</li>
                            <li>Number of items fetched shows how many items were retrieved</li>
                          </ul>
                        </div>
                    </details>

                  <h2 class="govuk-heading-m">Object data ingests</h2>
                    <div style="background-color:#f3f2f1">
                    <p class="govuk-body-s">Latest ingest: 2022-06-22 15:17:30</p>
                    <div>
                      <button onclick="timeFrame(this)" value="week2">7 days</button>
                      <button onclick="timeFrame(this)" value="month2">1 month</button>
                      <button onclick="timeFrame(this)" value="year2">All time</button>
                      <canvas id="myChart2" width="400" height="100"></canvas>
                      <script>
                        const ctx2 = document.getElementById('myChart2');
                        const myChart2 = new Chart(ctx2, {
                        type: 'line',
                        options: {
                            scales: {
                              x: {
                                  grid: {display: false
                                  },
                                  ticks: {},
                              },
                                y: {
                                    beginAtZero: true,
                                    grid: {display: false
                                    }
                                }
                            }
                        },
                        data: {
                          labels: ['16/06/22', '17/06/22', '18/06/22', '19/06/22', '20/06/22', '21/06/22'],
                          datasets: [{
                            label: 'Space-Track',
                            data: [12359, 11900, 12000, 11900, 11900, 12359],
                            backgroundColor: '#003078',
                            borderColor: '#003078',
                            borderWidth: 1,
                            pointRadius: 1
                          },
                          {
                            label: 'ESA-DISCOS',
                            data: [10359, 9900, 11000, 10900, 9900, 11359],
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 1,
                            pointRadius: 1

                          }
                          ]
                        },
                      });
                      </script>
                      </div>
                    </div>
                  <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Type of source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Ingestion start</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Ingestion stop</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Number of items fetched</b></th>
                      </tr>
                      </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Space-Track</td>
                        <td class="govuk-table__cell govuk-body-s">Satellite</td>
                        <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                        <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                        <td class="govuk-table__cell govuk-body-s">1204</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Space-Track</td>
                        <td class="govuk-table__cell govuk-body-s">Satellite</td>
                        <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                        <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                        <td class="govuk-table__cell govuk-body-s">8039</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >ESA-Discos</td>
                        <td class="govuk-table__cell govuk-body-s">Satellite</td>
                        <td class="govuk-table__cell govuk-body-s" >2022-06-22 15:17:30.560793</td>
                        <td class="govuk-table__cell govuk-body-s">2022-06-22 15:17:34.425801</td>
                        <td class="govuk-table__cell govuk-body-s">5384</td>
                      </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with this table
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This table shows performance monitoring information for the external data sources of satellite information that Monitor your satlelites ingests.
                    <p> </p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Ingestion start and stop show the time the last data ingest started and finished</li>
                      <li>Number of items fetched shows how many items were retrieved</li>
                    </ul>
                  </div>
                  </details>
                  <h2 class="govuk-heading-m">UKSA analysis</h2>
                  <p> Events that have additional UKSA analysis from orbital analysts and events with additional analysis for each organisation that feature one of their satellites. </p>
                  <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                Choose organisation
                </label>
                <select class="govuk-select" id="sort" name="sort">
                <option value="published">AAC Clyde Space</option>
                <option value="updated" selected>Airbus</option>
                <option value="views">Astroscale</option>
                <option value="comments">Avanti</option>
                <option value="comments">Inmarsat</option>
                <option value="comments">OneWeb</option>
                <option value="comments">Open Cosmos</option>
                <option value="comments">SSTL</option>
                <option value="comments">Sky and Space Global</option>
                <option value="comments">Space Forge</option>
                <option value="comments">Viasat</option>
                </select>
                </div>
                  <img src="/public/images/uksa-analysis-superadmin-and-analyst.png">
                  <table class="govuk-table" style="width:100%">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Type of source</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Start of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>End of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Number of analyses</b></th>
                      </tr>
                      </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >UKSA</td>
                        <td class="govuk-table__cell govuk-body-s">Orbital analysis</td>
                        <td class="govuk-table__cell govuk-body-s" >22/12/2022</td>
                        <td class="govuk-table__cell govuk-body-s">21/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s">23</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >UKSA</td>
                        <td class="govuk-table__cell govuk-body-s">Orbital analysis</td>
                        <td class="govuk-table__cell govuk-body-s" >22/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s">21/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s">47</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >UKSA</td>
                        <td class="govuk-table__cell govuk-body-s">Orbital analysis</td>
                        <td class="govuk-table__cell govuk-body-s" >22/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s">24/03/2023</td>
                        <td class="govuk-table__cell govuk-body-s">34</td>
                      </tr>
                    </tbody>
                    </table>
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with this table
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        This table shows the amount of analysis provided by UKSA orbital analysts about conjunction events.
                      </div>
                    </details>
                  <h2 class="govuk-heading-m"> Notfications sent</h2>
                  <p> Number of total, sms and email notifications sent by Monitor your satellites to each organisation.</p>
                  <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Choose organisation
                </label>
                <select class="govuk-select" id="sort" name="sort">
                <option value="published">AAC Clyde Space</option>
                <option value="updated" selected>Airbus</option>
                <option value="views">Astroscale</option>
                <option value="comments">Avanti</option>
                <option value="comments">Inmarsat</option>
                <option value="comments">OneWeb</option>
                <option value="comments">Open Cosmos</option>
                <option value="comments">SSTL</option>
                <option value="comments">Sky and Space Global</option>
                <option value="comments">Space Forge</option>
                <option value="comments">Viasat</option>
                </select>
                </div>
                <img src="/public/images/notifications-superadmin-and-analyst.png">
                <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Start of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>End of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total notifications sent</b></th>
                    </tr>
                    </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Mys</td>
                      <td class="govuk-table__cell govuk-body-s">22/12/2022</td>
                      <td class="govuk-table__cell govuk-body-s" >21/01/2023</td>
                      <td class="govuk-table__cell govuk-body-s">732</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Mys</td>
                      <td class="govuk-table__cell govuk-body-s">22/01/2023</td>
                      <td class="govuk-table__cell govuk-body-s" >21/02/2023</td>
                      <td class="govuk-table__cell govuk-body-s">687</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Mys</td>
                      <td class="govuk-table__cell govuk-body-s">22/02/2023</td>
                      <td class="govuk-table__cell govuk-body-s" >24/03/2023</td>
                      <td class="govuk-table__cell govuk-body-s">714</td>
                    </tr>
                  </tbody>
                </table>
                <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with this table
                  </span>
                </summary>
                <div class="govuk-details__text">
                  This table shows the total number of notifications sent to all users by Mys every 30 days.
                </div>
                </details>
                <h2 class="govuk-heading-m">Event and organisation data</h2>
                  <h2 class="govuk-heading-m">Number of events</h2>
                  <p> Total number of conjunction events monitored and a breakdown of their type. </p>
                  <img src="/public/images/event-type-all.png">
                  <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Start of 30 days</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>End of 30 days</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total events</b></th>
                      </tr>
                      </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/12/2022</td>
                        <td class="govuk-table__cell govuk-body-s" >21/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s">2345</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s" >21/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s">3721</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s" >24/03/2023</td>
                        <td class="govuk-table__cell govuk-body-s">2889</td>
                      </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with this table
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This table shows the total number of conjunction events monitored over 30 day periods.
                  </div>
                  </details>
                  <h2 class="govuk-heading-m">Events by organisation</h2>
                  <p> Conjunction events and their probability of collision for all events and for organisation specific events.</p>
                  <img src="/public/images/event-by-organisation-superadmin-and-analyst.png">
                  <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Start of 30 days</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>End of 30 days</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total events</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total events >10-3</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total events >10-5</b></th>
                      </tr>
                      </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/12/2022</td>
                        <td class="govuk-table__cell govuk-body-s" >21/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s">1032</td>
                        <td class="govuk-table__cell govuk-body-s">250</td>
                        <td class="govuk-table__cell govuk-body-s">23</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/01/2023</td>
                        <td class="govuk-table__cell govuk-body-s" >21/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s">1572</td>
                        <td class="govuk-table__cell govuk-body-s">472</td>
                        <td class="govuk-table__cell govuk-body-s">98</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">22/02/2023</td>
                        <td class="govuk-table__cell govuk-body-s" >24/03/2023</td>
                        <td class="govuk-table__cell govuk-body-s">1309</td>
                        <td class="govuk-table__cell govuk-body-s">341</td>
                        <td class="govuk-table__cell govuk-body-s">101</td>
                      </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with this table
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This table shows the total number and probability of events registered by Mys.
                  </div>
                  </details>
                  <h2 class="govuk-heading-m"> Events by satellite</h2>
                  <p> This graph shows the registered satellites for each organisation and the number of events each has been involved in, highlighting higher probability events.</p>
                  <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Choose organisation
                </label>
                <select class="govuk-select" id="sort" name="sort">
                <option value="published">AAC Clyde Space</option>
                <option value="updated" selected>Airbus</option>
                <option value="views">Astroscale</option>
                <option value="comments">Avanti</option>
                <option value="comments">Inmarsat</option>
                <option value="comments">OneWeb</option>
                <option value="comments">Open Cosmos</option>
                <option value="comments">SSTL</option>
                <option value="comments">Sky and Space Global</option>
                <option value="comments">Space Forge</option>
                <option value="comments">Viasat</option>
                </select>
                </div>
                <img src="/public/images/event-by-satellite-superadmin-and-analyst.png">
                <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Start of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>End of 30 days</b></th>
                        <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total events for organisation</b></th>
                    </tr>
                    </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                      <td class="govuk-table__cell govuk-body-s">22/12/2022</td>
                      <td class="govuk-table__cell govuk-body-s" >21/01/2023</td>
                      <td class="govuk-table__cell govuk-body-s">72</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                      <td class="govuk-table__cell govuk-body-s">22/01/2023</td>
                      <td class="govuk-table__cell govuk-body-s" >21/02/2023</td>
                      <td class="govuk-table__cell govuk-body-s">53</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                      <td class="govuk-table__cell govuk-body-s">22/02/2023</td>
                      <td class="govuk-table__cell govuk-body-s" >24/03/2023</td>
                      <td class="govuk-table__cell govuk-body-s">62</td>
                    </tr>
                  </tbody>
                </table>
                <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with this table
                  </span>
                </summary>
                <div class="govuk-details__text">
                  This table shows the total number of events for the whole organisation in 30 day periods.
                </div>
                </details>
                  <h2 class="govuk-heading-m">Objects tracked</h2>
                  <p> Number of objects tracked and their type (satellite, debris or other).</p>
                  <img src="/public/images/objects-tracked-all.png">
                  <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Source</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total objects tracked</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Satellites tracked</b></th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Debris tracked</th>
                          <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Other tracked</th>
                      </tr>
                      </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">1542</td>
                        <td class="govuk-table__cell govuk-body-s" >1000</td>
                        <td class="govuk-table__cell govuk-body-s">500</td>
                        <td class="govuk-table__cell govuk-body-s">42</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">2000</td>
                        <td class="govuk-table__cell govuk-body-s" >1100</td>
                        <td class="govuk-table__cell govuk-body-s">700</td>
                        <td class="govuk-table__cell govuk-body-s">200</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s" >Spacetrack</td>
                        <td class="govuk-table__cell govuk-body-s">2500</td>
                        <td class="govuk-table__cell govuk-body-s" >1200</td>
                        <td class="govuk-table__cell govuk-body-s">1000</td>
                        <td class="govuk-table__cell govuk-body-s">300</td>
                      </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help with this table
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    This table shows the current number of objects tracked by Mys and their breakdown by type.
                  </div>
                  </details>
                  <br>
                  <br>

  </main>
  </div>

<script src="<sst-alpha>/<application>.js"></script>

<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
