{% extends "layout.html" %}

{% block pageTitle %}
Previous conjunction events
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">

</div>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Previous conjunction events</h1>

        <h2 class="govuk-heading-l">Conjunction alerts</h2>

        <p class="govuk-body">This table shows all conjunction events which meet the UK Space Agency's thresholds for alerting UK government since this service was created in November 2023. For further detail on how risk and alert thresholds are defined, see 'Alert and risk thresholds' below.</p>

            <br>


            <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
              <col>
                <colgroup span="3"></colgroup>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
    
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="3"><b>Event information</b></td>
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Objects</b></td>
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b>Probability of collision (%)</b></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Risk to the UK</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Event ID</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Primary</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 13%";>UKSA (refined)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> <strong class="govuk-tag govuk-tag--green">Low</strong></td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/conjunctions/gov-user/event-passed" class="govuk-link--no-visited-state">asdf-asdas-asdf (Alert)</a></b></td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/admin/satellite-1">OneWeb-0601 (UK-licensed payload)</a></td>
                  <td class="govuk-table__cell govuk-body-s"><a href="#">Transit 5B-7 (US-licensed payload)</a></td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="12643">0.13</td>
                </tr>
              </tbody>
              </col>
            </table>

            <p>Download summary table for previous alerts [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

            <p>Download all available data for previous alerts [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>
    
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with this table
                </span>
              </summary>
              <div class="govuk-details__text">
                <b>This table shows previous conjunction events involving UK satellites which meet the UK Space Agency's thresholds for alerting UK government.</b>
                <p> </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Select the <b>Event ID</b> to view more information.</li>
                  <li>Each event ID or row represents <b>one conjunction event</b> including all related CDMs and UKSA analysis.</li>
                  <li>Sort the alerts according to criteria by clicking on the relevant <b>headings</b>.</li>
      
                </ul>
              </div>
            </details>
    
            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Alert and risk thresholds
              </span>
            </summary>
            <div class="govuk-details__text">
  
              <h3 class="govuk-heading-s">Alert thresholds</h3>
  
              <p class="govuk-body">Alerts about conjunction events are produced if:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Less than 5 days until Time of Closest Approach</li>
                  <li>AND for UK-licensed objects:</li>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>More than 0.1% probability of collision</li> 
                      <li>OR press interest</li></ul>
                  <li>AND for non-UK objects:</li> 
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Low risk or higher </li>
                    <li>AND no manoeuvre expected</li></ul>
                  <li>OR nominated for escalation by the UK Space Operations Centre</li>
              </ul>
  
              <h3 class="govuk-heading-s">Risk thresholds</h3>
  
              <p>Risk thresholds are calculated accounting for the probability of the collision between the two objects (as calculated by the US), and the average number of additional conjunction events that the collision would create for UK satellites.</p>
  <h2 class="govuk-section-break"></h2>
  <p>Any event with an expected maneouvre is automatically categorised as "Low risk".</p>
                    <table class="govuk-table"style="width:100%">
                      <col>
                        <colgroup span="5"></colgroup>
                        <colgroup span="5"></colgroup>
            
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"></td>
                          <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="3"><b>Probability of collision</b></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 40%";>Average UK fragment tally</th>
                          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>1% - 5%</th>
                          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>5% - 10%</th>
                          <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>More than 10%</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Less than 5</td>
                            <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--turquoise">Very low</strong></th>
                            <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--green">Low</strong></th>
                            <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></th>
                          </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">5 - 50</td>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--green">Low</strong></th>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></th>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--red">High</strong></th>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">More than 50</td>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></th>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--red">High</strong></th>
                          <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--red">High</strong></th>
                        </tr>
                      </tbody>
                      </table> 
                    </ul>
            </div>
          </details>

<br>

        <h2 class="govuk-heading-l">All conjunction events</h2>

        <p class="govuk-body">This table shows all conjunction events monitored by the UKSA since the service began in November 2023. </p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            The table below contains conjunction reports limited to data drawn directly from Space Track. The table above contains more detail about events meeting the UK Space Agency's thresholds for performing additional analysis and alerting UK government.
          </strong>
        </div>

        <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a conjunction event:
          </label>

          <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by event or object ID" aria-describedby="search-hint">
        </div>

        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>

<br>
        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Event information</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Objects</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Miss distance (m)</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Probability of collision</b></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Primary</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 8%";>Mean radial</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 8%";>Total</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 13%";>Space-Track CDM</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 13%";>UKSA</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/conjunctions/gov-user/escalated-event-summary-5" class="govuk-link--no-visited-state">asdf-asdas-asdf</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">04/02/21 11:51</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/satellites/admin/satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Discoverer 5</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">230</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">37</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="12643">1.2643e-4</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="12643">4.4987e-6</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0003"> <b><a href="#" class="govuk-link--no-visited-state">asdf-gtdas-zdgt</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">12/02/21 19:00</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Starlink-1862</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Oneweb-64</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">560</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">152</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543">1.543e-6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0004"><b><a href="#" class="govuk-link--no-visited-state">ptyr-bxtte-asdf</a></b></td>
              <td class="govuk-table__cell govuk-body-s">14/02/21 03:49</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Starlink-1317</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Oneweb-50</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">750</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">852</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="2543">2.543e-7</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0021"><b><a href="#" class="govuk-link--no-visited-state">asre-bnyyq-asdf</a></b></td>
              <td class="govuk-table__cell govuk-body-s">10/02/21 04:19</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Spacebee-52</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Debris</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">260</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">382</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="765">6.543e-8</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0033"><b><a href="#" class="govuk-link--no-visited-state">asdf-asdas-afki</a></b></td>
              <td class="govuk-table__cell govuk-body-s">12/02/21 19:00</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Oneweb-0064</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Hyla-6</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">400</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">211</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="143">4.32e-7</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0034"><b><a href="#" class="govuk-link--no-visited-state">asdf-opkll-bcgt</a></b></td>
              <td class="govuk-table__cell govuk-body-s">14/02/21 01:05</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Oneweb-0050</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Debris</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">805</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">103</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="987">1.723e-4</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1543">4.3676e-5</td>
            </tr>
          </tbody>
          </col>
        </table>

        <p>Download summary table for all previous events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

        <p>Download all available data for all previous events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>This table shows all previous conjunction events involving UK satellites.</b>
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>event ID</b> to view more information.</li>
            <li>Each event ID or row represents <b>one conjunction event</b> including all related CDMs and UKSA analysis.</li>
            <li>Sort the events according to criteria by clicking on the relevant <b>headings</b>.</li>
          </ul>
        </div>
      </details>

      <a href="/conjunctions/gov-user/homepage" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
        View upcoming conjunction events</a>

  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}

