{% macro mysConjunctionSearchForm() %}
<div class="search_container__2TDLh">
    <form class="search_form__Za8jQ" style="align-items: flex-end; display: flex;">
    <div class="search_group__H5hPE" style="display: inline-block; flex-grow: 1; flex-shrink: 1;">
        <label class="govuk-body govuk-!-font-weight-bold">Find a conjunction event:
        <div class="govuk-form-group">
            <input class="govuk-input" name="search" data-cy="search-input" placeholder="Search by event or object ID" type="text" value="">
        </div>
        </label>
    </div>
    <button type="submit" data-cy="search-button" data-module="govuk-button" class="govuk-button search_button__3_ZpZ " style="display: inline-block; position: relative; margin-left: 10px">Search</button>
    </form>
</div>
{% endmacro %}