{% extends "layout.html" %}

{% block pageTitle %}
Message sent
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-event-summary-5">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Contact an UKSA orbital analyst</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Message sent</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
            Your message has been sent to an UKSA orbital analyst.
            </h3>
            <div> <p class="govuk-body">Your message will be triaged and an analyst will get back to you as soon as possible.</p></div>
            <div class="govuk-button-group">

              <form class="form" action="/operator-event-summary-5" method="post">
                    <button class="govuk-button" data-module="govuk-button">
                          Return to Event AAA0001
                      </button>
                        </form>

            <form class="form" action="/operator-homepage" method="post">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Upcoming conjunction events page
            </button>

            </div>
          </div>
        </div>

          <dl class="govuk-summary-list">
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 Event ID
               </dt>
               <dd class="govuk-summary-list__value">
                dsafd-dfdks-adjsf
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your email address
              </dt>
              <dd class="govuk-summary-list__value">
               example.email@operator.gov.uk
             </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your message
              </dt>
              <dd class="govuk-summary-list__value" >
              I'd like to understand why your probability of collision calculation is so much lower than Space-Track.
             </dd>
            </div>
          </dl>

</div>
</div>
  </main>
  </div>
{% endblock %}
