{% extends "layout.html" %}

{% block pageTitle %}
Event AAA0001
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/events/admin/homepage">Events</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/events/admin/event-summary-5">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/events/admin/conjunction-analysis">Conjunction analysis process</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Conjunction event analysis</h1>

    </div>
        <div class="govuk-grid-column-one-quarter">

          <h3 class="govuk-heading-s">Contents</h3>

            <ul class="moj-side-navigation__list">

              <li class="moj-side-navigation__item">
                <a href="#objects">UKSA method</a>
              </li>


              <li class="moj-side-navigation__item">
                <a href="#missdistance">Space-Track method</a>
              </li>






        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">


              <h1 class="govuk-heading-l" id="objects">UKSA method</h1>

<p>Additional conjunction event analysis will be provided by UKSA orbital analysts only on events with a probability of collision ≥ 10^3.</p>
<p>UKSA orbital analysts use several data sources to perform their conjunction analysis.</p>
<p>These include:</p>
<p>
  <ul class="govuk-list govuk-list--bullet">
<li>Satellite operator-uploaded ephemeris data</li>
<li>SpaceTrack SATCAT and CDMs</li>
<li>ESA-DISCOS</li></ul>
</p>
<p>For more information or to contact an analyst about specific UKSA analysis, email orbitalanalysts@ukspaceagency.gov.uk</p>

                <h1 class="govuk-heading-l" id="missdistance">Space-Track method</h1>

              <p>


              </div>
            <div class="govuk-grid-row">

            </div>

  </main>
</div>


{% endblock %}
