{% extends "layout.html" %}

{% block pageTitle %}
Check your group settings
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<a href="/account/regulator/notification-settings-add-custom" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Check your custom settings</h1>
<p class="govuk-body">Check these details before you create these custom settings.</p>

<dl class="govuk-summary-list">

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Group name</dt>
<dd class="govuk-summary-list__value">LEO satellites</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Satellites in group</dt>
<dd class="govuk-summary-list__value">Satellite A, Satellite B, Satellite C, Satellite D</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Reasons for notification</dt>
<dd class="govuk-summary-list__value">
Maneouvre not as planned; Unexpected position change
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">Notification frequency</dt>
<dd class="govuk-summary-list__value">
Every 2 hours
</dd>
</div>

</dl>

<form method="post" action="/account/regulator/notification-settings-v2">
<button class="govuk-button" data-module="govuk-button">
Confirm and save
</button>
</form>

</div>
</div>
</main>
</div>

{% endblock %}

