{% extends "layout.html" %}

{% block pageTitle %}
Add custom rule
{% endblock %}

{% block content %}

<style>
.govuk-table__header, .govuk-table__cell {
vertical-align: middle;
}
.govuk-table__cell {
font-weight: normal;
}
.threshold-style {
vertical-align: middle;
margin-top: -20px;
margin-left: 70px; 
margin-bottom: 5px;
width: calc(100% - 70px);
}
.threshold-style th{
width: 550px;
}
.inactive {
opacity: 40%;
}
.editSatBtn {
color: #1d70b8;
}
.no-border th, .no-border td{
border: none;
}
#default-label {
margin-bottom: 10px;
}

/* Make the columns behave predictably */
#satellite-table {
table-layout: fixed;
width: 100%;
}

/* Keep headers/cells tidy */
#satellite-table th,
#satellite-table td {
vertical-align: middle;
}

/* Only allow wrapping in the name column */
#satellite-table th:nth-child(1),
#satellite-table td:nth-child(1) {
overflow-wrap: anywhere;
}

/* Fix the “big gap” look: left-align NORAD instead of numeric/right-aligned */
#satellite-table th:nth-child(2),
#satellite-table td:nth-child(2) {
text-align: left !important;
white-space: nowrap;
}

/* Keep regime/licensing on one line */
#satellite-table th:nth-child(3),
#satellite-table td:nth-child(3),
#satellite-table th:nth-child(4),
#satellite-table td:nth-child(4) {
white-space: nowrap;
}

/* Select column: narrow + centered */
#satellite-table th:nth-child(5),
#satellite-table td:nth-child(5) {
text-align: center;
}

#satellite-table td:nth-child(5) .govuk-checkboxes {
margin-bottom: 0;
}

/* Keep table cells aligned */
#group-thresholds .govuk-table__header,
#group-thresholds .govuk-table__cell {
vertical-align: middle;
}
#group-thresholds .govuk-table__cell {
font-weight: normal;
}

/* Remove conditional left border + padding that causes wonky indent */
#group-thresholds .govuk-checkboxes__conditional {
border-left: 0;
padding-left: 0;
margin-left: 0;
}

/* Match the alignment from your other page */
#group-thresholds .satellite-setting {
margin-top: -20px;
margin-left: 70px;
margin-bottom: 5px;
width: calc(100% - 70px);
}

/* Fixed left column width so inputs line up */
#group-thresholds .satellite-setting th {
width: 550px;
}
#group-thresholds .satellite-setting td {
text-align: right;
}

/* Indent threshold checkboxes + their conditional blocks */
#custom-thresholds-conditional .govuk-checkboxes__item {
margin-left: 25px;
}
#custom-thresholds-conditional .govuk-checkboxes__conditional {
margin-left: 25px;
}
/* Tighten spacing between search and filters */
#satellite-filters.govuk-details {
margin-top: 0;
margin-bottom: 10px;
}
.sat-toolbar {
margin-bottom: 10px;
}
.sat-selection-bar {
display: flex;
gap: 15px;
align-items: baseline;
flex-wrap: wrap;
margin-bottom: 10spx;
}

</style>

<!-- Breadcrumbs -->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/regulator/account">Account</a>
</li>
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/regulator/notification-settings">Satellite activity notification settings</a>
</li>
<li class="govuk-breadcrumbs__list-item">
<span class="govuk-breadcrumbs__link">Add custom rule</span>
</li>
</ol>
</div>

<!-- page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- title -->
<h1 class="govuk-heading-xl">Add custom rule</h1>

<!-- Turn page into a form (where submission leads to a 'check settings' page) -->
<form method="post" action="/account/regulator/notification-settings">

<!-- intro --> 
<p class="govuk-body">
You will receive separate emails for each rule. 
</p>
<p class="govuk-body">
Remember that if you create additional custom rules, this will not cancel out the rule applying to all UK-licensed satellites. You should consider how many notifications you wish to receive.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<!-- Custom thresholds name -->
<h2 class="govuk-heading-l">
Choose a name
</h2>

<div class="govuk-form-group">

<div id="custom-name-hint" class="govuk-hint">
Use a clear name for this rule that reflects the satellites included,
for example “LEO satellites” or “satellite A”.
</div> <!-- id="custom-name-hint" class="govuk-hint" -->

<input
class="govuk-input govuk-!-width-two-thirds"
id="custom-name"
name="custom-name"
type="text"
aria-describedby="group-name-hint">
</div> <!-- class="govuk-form-group" -->

<!-- Add Satellites -->
<h2 class="govuk-heading-l">Add satellites to this group</h2>
<p>Search and filter all UK-licensed satellites, then select satellites to add to this group.</p>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<form method="post" action="notification-settings-add-custom" novalidate>
<input type="hidden" name="hasRunSearch" value="true">

<!-- Free-text search -->
<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="q">Search by object name or NORAD ID</label>
<input
class="govuk-input"
id="q"
name="q"
type="text"
aria-describedby="q-hint"
value="{{ data.q | default('') }}"
>
</div>

<div class="govuk-grid-row">

<!-- Filter 1: Licensing state (select) -->
<div class="govuk-grid-column-one-half">
<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="filterState">Licensing state</label>
<select class="govuk-select" id="filterState" name="filterState">
<option value="" {% if not data.filterState %}selected{% endif %}>All</option>
<option value="United Kingdom" {% if data.filterState == "United Kingdom" %}selected{% endif %}>United Kingdom</option>
<option value="United States" {% if data.filterState == "United States" %}selected{% endif %}>France</option>
<option value="France" {% if data.filterState == "France" %}selected{% endif %}>France</option>
</select>
</div>


<!-- Filter 1: Operator (select) -->
<div class="govuk-form-group">
<label class="govuk-label govuk-label--s" for="filterOperator">Operator</label>
<select class="govuk-select" id="filterState" name="filterOperator">
<option value="" {% if not data.filterState %}selected{% endif %}>All</option>
<option value="Airbus" {% if data.filterState == "Airbus" %}selected{% endif %}>Airbus</option>
<option value=Clydespace" {% if data.filterState == "Clydespace" %}selected{% endif %}>Clydespace</option>
<option value="OneWeb" {% if data.filterState == "OneWeb" %}selected{% endif %}>OneWeb</option>
</select>
</div>
</div>

<!-- orbital regime filter -->
 <div class="govuk-grid-column-one-half">
<div class="govuk-form-group govuk-!-margin-bottom-2">
<fieldset class="govuk-fieldset" aria-describedby="orbital-regime-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Orbital regime/altitude range
</legend>
<div id="orbital-regime-hint" class="govuk-hint">
Select all that apply. Each regime/altitude range selected will also show satellites within a 50km buffer above and below the regime/altitude range.
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<!-- LEO option -->
<div class="govuk-checkboxes__item">
<input
class="govuk-checkboxes__input"
id="regime-leo"
name="regime"
type="checkbox"
value="LEO"
aria-describedby="regime-leo-hint"
data-aria-controls="conditional-regime-leo"
>
<label class="govuk-label govuk-checkboxes__label" for="regime-leo">
Low Earth Orbit (LEO)
</label>
<div id="regime-leo-hint" class="govuk-hint govuk-checkboxes__hint">
LEO satellites orbit at altitudes of less than 2,000km.
</div>
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-regime-leo">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="leo-conditional-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Select altitude range within LEO
</legend>
<div class="govuk-checkboxes govuk-checkboxes--small">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input leo-child" id="leo-opt-1" name="leoOptions" type="checkbox" value="opt1">
<label class="govuk-label govuk-checkboxes__label" for="leo-opt-1">200km - 500km</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input leo-child" id="leo-opt-2" name="leoOptions" type="checkbox" value="opt2">
<label class="govuk-label govuk-checkboxes__label" for="leo-opt-2">500km - 1,000km</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input leo-child" id="leo-opt-3" name="leoOptions" type="checkbox" value="opt3">
<label class="govuk-label govuk-checkboxes__label" for="leo-opt-3">1,000km - 1,500km</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input leo-child" id="leo-opt-4" name="leoOptions" type="checkbox" value="opt4">
<label class="govuk-label govuk-checkboxes__label" for="leo-opt-4">1,500 - 2,000km</label>
</div>
</div>
</fieldset>
</div>
</div>
</div>
<!-- MEO option -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="regime-meo" name="regime" type="checkbox" value="MEO" aria-describedby="regime-meo-hint">
<label class="govuk-label govuk-checkboxes__label" for="regime-meo">
Medium Earth Orbit (MEO)
</label>
<div id="regime-meo-hint" class="govuk-hint govuk-checkboxes__hint">
MEO satellites orbit at altitudes of 2,000km to 35,786km.
</div>
</div>
<!-- GEO option -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="regime-geo" name="regime" type="checkbox" value="GEO" aria-describedby="regime-geo-hint">
<label class="govuk-label govuk-checkboxes__label" for="regime-geo">
Geostationary Earth Orbit (GEO)
</label>
<div id="regime-geo-hint" class="govuk-hint govuk-checkboxes__hint">
GEO satellites orbit at altitude of exactly 35,786 km.
</div>
</div>

<!-- end checkboxes -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes"> -->
</fieldset> <!-- orbital regime -->
</div> <!-- govuk-form-group govuk-!-margin-bottom-2" -->
</div> <!-- class="govuk-grid-column-one-half" for orbital regime-->


</div>

<button class="govuk-button" data-module="govuk-button" type="submit">
Run search
</button>
</form>

<!-- RESULTS (below the form) -->
<div class="govuk-!-margin-top-6">
{% if data.hasRunSearch %}

<h2 class="govuk-heading-m">Results</h2>

<!-- Selection + results summary row -->
<div class="sat-selection-bar">
<p class="govuk-body govuk-!-margin-bottom-3">
<strong>Showing:</strong> <span id="results-count">0</span>
</p>

<p class="govuk-body govuk-!-margin-bottom-3">
<strong>Selected:</strong> <span id="selected-count">0</span>
</p>
</div> <!-- class="sat-selection-bar" -->

<div class="sat-selection-bar">
<div class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="select-all" type="checkbox">
<label class="govuk-label govuk-checkboxes__label" for="select-all">
Select all results
</label>
</div> <!-- class="govuk-checkboxes__item">-->
</div> <!-- class="govuk-checkboxes govuk-!-margin-bottom-0" data-module="govuk-checkboxes" -->

<p class="govuk-body govuk-!-margin-bottom-0">
<a href="#" class="govuk-link" id="clear-selection">Clear selection</a>
</p>
</div> <!-- class="sat-selection-bar" -->

<table class="govuk-table" id="exceptions-table" data-module="moj-sortable-table">

<colgroup>
<col style="width: 20%;"> <!-- object name -->
<col style="width: 15%;">  <!-- NORAD -->
<col style="width: 15%;">  <!-- Regime -->
<col style="width: 15%;">  <!-- Licensing -->
<col style="width: 15%;"> <!-- Select -->
</colgroup>

<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending">Object name</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">NORAD ID</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Orbital regime</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none">Licensing state</th>
<th scope="col" class="govuk-table__header govuk-body-s">Select</th>
</tr>
</thead>

<tbody class="govuk-table__body">

<tr class="govuk-table__row">
<td class="govuk-table__cell govuk-body-s">Skynet 4C</td>
<td class="govuk-table__cell govuk-body-s">27838</td>
<td class="govuk-table__cell govuk-body-s">GEO</td>
<td class="govuk-table__cell govuk-body-s">United Kingdom</td>
<td class="govuk-table__cell">
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input satellite-checkbox" id="sat-1" name="satellites" type="checkbox" value="skynet-4c">
<label class="govuk-label govuk-checkboxes__label" for="sat-1">
<span class="govuk-visually-hidden">Select Skynet 4C</span>
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!-- class="govuk-checkboxes" data-module="govuk-checkboxes" -->
</td>
</tr>

</table>

{% else %}

<h2 class="govuk-heading-m">Results</h2>
<p class="govuk-body">
Enter a search term or choose filters, then select <strong>Run search</strong>.
</p>

{% endif %}
</div>

</div>
</div>


<!-- select reasons for notifications -->
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="reasons-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
Select reasons for notifications
</legend>
<p>We will send you notifications when any activity involving these satellites is flagged for the reasons you have selected.
</p>
<div id="reasons-hint" class="govuk-hint">
Select all that apply.
</div>


<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<!-- select reasons for notifications: missing data -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="reasons-md" name="reasons" type="checkbox" value="reasons-md">
<label class="govuk-label govuk-checkboxes__label" for="reasons-md">
Missing data
</label>
</div>

<!-- select reasons for notifications: unexpected position change -->
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input
class="govuk-checkboxes__input"
id="reasons-upc"
name="reasons"
type="checkbox"
value="upc"
aria-describedby="reasons-upc-hint"
data-aria-controls="conditional-reasons-upc"
>
<label class="govuk-label govuk-checkboxes__label" for="reasons-upc">
Unexpected position change
</label>
</div>

<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-reasons-upc">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="upc-conditional-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Select which unexpected position change notifications to receive
</legend>
<div id="upc-conditional-hint" class="govuk-hint">
To keep the default settings and receive all unexpected position change notifications, leave all boxes ticked. 
If you wish to only receive unexpected position change notifications triggered based on certain criteria, tick only the criteria you wish to apply.
</div>
<div class="govuk-checkboxes govuk-checkboxes--small">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-fsma" name="upc-variables" type="checkbox" value="upc-fsma">
<label class="govuk-label govuk-checkboxes__label" for="upc-fsma">Fixed semi-major axis</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-smac" name="upc-variables" type="checkbox" value="upc-smac">
<label class="govuk-label govuk-checkboxes__label" for="upc-smac">Semi-major axis change</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-smacr" name="upc-variables" type="checkbox" value="upc-smacr">
<label class="govuk-label govuk-checkboxes__label" for="upc-smacr">Semi-major axis change rate</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-fi" name="upc-variables" type="checkbox" value="upc-fi">
<label class="govuk-label govuk-checkboxes__label" for="upc-fi">Fixed inclination</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-ic" name="upc-variables" type="checkbox" value="upc-ic">
<label class="govuk-label govuk-checkboxes__label" for="upc-ic">Inclination change</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-fl" name="upc-variables" type="checkbox" value="upc-fl">
<label class="govuk-label govuk-checkboxes__label" for="upc-fl">Fixed longitude</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input upc-child" id="upc-ldr" name="upc-variables" type="checkbox" value="upc-ldr">
<label class="govuk-label govuk-checkboxes__label" for="upc-ldr">Longitude drift rate</label>
</div>
</fieldset>
</div>
</div>
</div> 
</div>
</fieldset>
</div>

<!-- set email frequency -->
<div class="govuk-!-margin-top-6">
</div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="frequency-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Set email frequency
</h1>
</legend>
<div id="frequency-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<!-- asap option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-asap" name="frequency" type="radio" value="asap">
<label class="govuk-label govuk-radios__label" for="frequency-asap">
As soon as possible
</label>
<div id="frequency-asap-hint" class="govuk-hint govuk-radios__hint">
Each relevant notification will be sent as soon as the data is processed by MSH.
</div>
</div>
<!-- every 2h option -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="frequency-2h" name="frequency" type="radio" value="2h">
<label class="govuk-label govuk-radios__label" for="frequency-2h">
Every 2 hours 
</label>
<div id="frequency-2h-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 2 hours will be collated and sent in a single email every two hours (sent 24/7, starting at midnight UTC*).
</div>
</div>
<!-- daily option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-daily" name="frequency" type="radio" value="daily">
<label class="govuk-label govuk-radios__label" for="frequency-daily">
Every day
</label>
<div id="frequency-daily-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past day (24 hours) will be collated and sent in a single email at 12pm UTC* every day.
</div>
</div>
<!-- selected days option -->
<div class="govuk-radios__item"> 
<input class="govuk-radios__input" id="frequency-selected-days" name="frequency" type="radio" value="selected-days" data-aria-controls="conditional-frequency-selected-days">
<label class="govuk-label govuk-radios__label" for="frequency-selected-days">
Selected days
</label>
<div id="frequency-selected-days-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications since the last email will be collated and sent in a single email at 12pm UTC* every day selected.
</div>
</div>
<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-frequency-selected-days">
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="days-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
Select days
</legend>
<!-- checkboxes below -->
<div class="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-monday" name="days" type="checkbox" value="monday">
<label class="govuk-label govuk-checkboxes__label" for="days-monday">
Monday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-tuesday" name="days" type="checkbox" value="tuesday">
<label class="govuk-label govuk-checkboxes__label" for="days-tuesday">
Tuesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-wednesday" name="days" type="checkbox" value="wednesday">
<label class="govuk-label govuk-checkboxes__label" for="days-wednesday">
Wednesday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-thursday" name="days" type="checkbox" value="thursday">
<label class="govuk-label govuk-checkboxes__label" for="days-thursday">
Thursday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-friday" name="days" type="checkbox" value="friday">
<label class="govuk-label govuk-checkboxes__label" for="days-friday">
Friday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-saturday" name="days" type="checkbox" value="saturday">
<label class="govuk-label govuk-checkboxes__label" for="days-saturday">
Saturday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="days-sunday" name="days" type="checkbox" value="sunday">
<label class="govuk-label govuk-checkboxes__label" for="days-sunday">
Sunday
</label>
</div> <!-- class="govuk-checkboxes__item" -->
</div> <!--class="govuk-checkboxes"-->
<!-- checkboxes above -->
</fieldset>
</div> <!--class="govuk-form-group"-->
</div> <!-- class="govuk-radios__conditional govuk-radios__conditional--hidden"-->
<p id="UTC-paragraph" class="govuk-hint">
* Coordinated Universal Time (UTC) is 1 hour behind British Summer Time (BST) and the same as Greenwich Mean Time (GMT).
</p>
</fieldset>
</div>



</div> <!-- id="accordion-default-content-1" class="govuk-accordion__section-content" -->
</div> <!-- class="govuk-accordion__section" -->


<a class="govuk-button govuk-!-margin-top-4"
data-module="govuk-button"
href="/account/regulator/notification-settings">
Create rule
</a>

</div>
</div>
</main>
</div>
<script>
/* Grey out unchecked boxes */
document.querySelectorAll('.govuk-checkboxes__input').forEach(checkbox => {
checkbox.addEventListener('change', (event) => {
const table = checkbox.closest('.govuk-checkboxes__item').nextElementSibling;
if (table && table.tagName === 'TABLE') {
table.classList.toggle('inactive', !checkbox.checked);
}
});
});

// automatically check altitude checkboxes when position change checked
(function () {
const parent = document.getElementById('reasons-upc');
const conditionalId = parent?.getAttribute('data-aria-controls');
const conditional = conditionalId ? document.getElementById(conditionalId) : null;

if (!parent || !conditional) return;

const childCheckboxes = conditional.querySelectorAll('input[type="checkbox"]');

function syncConditional() {
if (parent.checked) {
// when opening, auto-check all conditional checkboxes
childCheckboxes.forEach(cb => { cb.checked = true; });
} else {
// optional: when closing, uncheck them again
childCheckboxes.forEach(cb => { cb.checked = false; });
}
}

// Run on load in case the parent is pre-checked (e.g. returning to the page)
syncConditional();

// Run when user changes parent checkbox
parent.addEventListener('change', syncConditional);
})();


// automatically check altitude checkboxes when LEO checked
(function () {
const parent = document.getElementById('regime-leo');
const conditionalId = parent?.getAttribute('data-aria-controls');
const conditional = conditionalId ? document.getElementById(conditionalId) : null;

if (!parent || !conditional) return;

const childCheckboxes = conditional.querySelectorAll('input[type="checkbox"]');

function syncConditional() {
if (parent.checked) {
// when opening, auto-check all conditional checkboxes
childCheckboxes.forEach(cb => { cb.checked = true; });
} else {
// optional: when closing, uncheck them again
childCheckboxes.forEach(cb => { cb.checked = false; });
}
}

// Run on load in case the parent is pre-checked (e.g. returning to the page)
syncConditional();

// Run when user changes parent checkbox
parent.addEventListener('change', syncConditional);
})();
</script>

{% endblock %}