{% extends "layouts/main.html" %}

{% block pageTitle %}
  Notification settings saved
{% endblock %}

{% block beforeContent %}
  {# Typically omit the back link on confirmation pages #}
{% endblock %}

{% block content %}
  {{ govukPanel({
    titleText: "Changes saved",
    html: "Your notification settings have been saved."
  }) }}

  <p class="govuk-body">
    You can change your notification settings at any time.
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="/account/regulator/notification-settings-v2">Change settings</a>
  </p>
{% endblock %}
