{% extends "layout.html" %}

<!-- Title -->
{% block pageTitle %}
Notification settings
{% endblock %}

<!-- Page content -->
{% block content %}

<style>
.govuk-table__header, .govuk-table__cell {vertical-align: middle;}
.govuk-table__cell {font-weight: normal;}
.threshold-style {
vertical-align: middle;
margin-top: -20px;
margin-left: 70px; 
margin-bottom: 5px;
width: calc(100% - 70px);
}
.threshold-style th{width: 550px;}
.inactive {opacity: 40%;}
.editSatBtn {color: #1d70b8;}
.no-border th, .no-border td{border: none;}
#default-label {margin-bottom: 10px;}
</style>

<!-- Breadcrumbs links-->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/regulator/account">
Account
</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">
Satellite activity notification settings
</li>
</ol>
</div> <!-- class="govuk-breadcrumbs"-->
</div> <!-- class="govuk-width-container"-->

<!-- Page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- Page title -->
<h1 class="govuk-heading-xl">Satellite activity notification settings
</h1>

<!-- Page intro -->
<p class="govuk-body">
This page allows you to adjust your notification settings for satellite activity. 
</p>
<p class="govuk-body">
You can create universal settings, which will apply to all UK-licensed satellites. You can also create custom settings which will only apply to selected satellites.  
</p>
<p class="govuk-body">
You will receive separate emails for each notification setting.
</p>
<p class="govuk-body">
If you create custom settings, this will not cancel out your universal settings and you will continue to receive universal notification emails too. We therefore recommend that your universal settings should be <strong>less</strong> inclusive than your custom settings to avoid receiving unnecessary emails.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!-- Universal notifications -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Universal notification settings 
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-1" class="govuk-accordion__section-content">
<p>
Your universal notification settings will apply to all UK-licensed satellites. Each email will be labelled 'universal'.
</p>
<!-- reason for notifications -->
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="universal-reasons-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
Select reasons for notifications
</legend>
<p>We will send you notifications when any UK-licensed satellite activity is flagged for the reasons you have selected.
</p>
<div id="universal-reasons-hint" class="govuk-hint">
Select all that apply.
</div>


<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<!-- select reasons for notifications: planned manoeuvres -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-pm" name="universal-reasons" type="checkbox" value="universal-reasons-pm"
data-aria-controls="conditional-universal-reasons-pm">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-pm">
Planned manoeuvre
</label>
</div>
<!-- planned manoeuvre options - only opens if planned manoeuvre selected -->
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-universal-reasons-pm" >
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
Advanced: select which planned manoeuvre notifications to receive
</legend>
<div id="universal-reasons-pm-hint" class="govuk-hint">
To keep the default settings and receive all planned manoeuvre notifications, leave all boxes ticked. 
If you wish to only receive certain planned manoeuvre notifications, tick only the notifications you wish to receive.
</div>
<div class="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-pm-yes" name="universal-reasons-pm" type="checkbox" value="universal-reasons-pm-yes" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-pm-yes">Manoeuvre executed as planned</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-pm-no" name="universal-reasons-pm" type="checkbox" value="universal-reasons-pm-no" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-pm-no">Actual manoeuvre differed from plan</label>
</div>
</fieldset>
</div>
</div>

<!-- select reasons for notifications: missing data -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-md" name="universal-reasons" type="checkbox" value="universal-reasons-md">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-md">
Missing data
</label>
</div>

<!-- select reasons for notifications: unexpected position change -->
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc" name="universal-reasons" type="checkbox" value="universal-reasons-upc"
data-aria-controls="conditional-universal-reasons-upc">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc">
Unexpected position change
</label>
</div>
<!-- unexpected position change criteria - only opens if unexpected position change selected -->
<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-universal-reasons-upc" >
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
Advanced: select what position changes should trigger a notification
</legend>
<div id="universal-reasons-upc-hint" class="govuk-hint">
A position change triggers a notification if it breaches NSpOC thresholds for <strong>any</strong> of the variables below. To keep the default settings and receive all position change notifications, leave all boxes ticked. If you wish to only receive certain position change notifications, tick only the variables which should apply.
</div>
<div class="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-fsma" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-fsma" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-fsma">Fixed semi-major axis (SMA)</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-smac" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-smac" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-smac">Semi-major axis (SMA) change</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-smacr" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-smacr" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-smacr">Semi-major axis (SMA) change rate</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-fi" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-fi" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-fi">Fixed inclination</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-ic" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-ic" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-ic">Inclination change</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-fl" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-fl" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-fl">Inclination fixed longitude</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="universal-reasons-upc-ldr" name="universal-reasons-upc" type="checkbox" value="universal-reasons-upc-ldr" checked="true">
<label class="govuk-label govuk-checkboxes__label" for="universal-reasons-upc-ldr">Longitude drift rate</label>
</div>
</div>
</fieldset>
</div>
</div>

</div>
</fieldset>
</div>


<!-- set email frequency -->
<div class="govuk-!-margin-top-6">
</div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="universal-frequency-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Set email frequency
</h1>
</legend>
<div id="universal-frequency-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-asap" name="universal-frequency" type="radio" value="universal-frequency-asap">
<label class="govuk-label govuk-radios__label" for="universal-frequency-asap">
As soon as possible
</label>
<div id="universal-frequency-asap-hint" class="govuk-hint govuk-radios__hint">
Each relevant notification will be sent as soon as the data is processed by MSH.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-2" name="universal-frequency" type="radio" value="universal-frequency-2">
<label class="govuk-label govuk-radios__label" for="universal-frequency-2">
Every 2 hours 
</label>
<div id="universal-frequency-2-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past 2 hours will be collated and sent in a single email every two hours (sent 24/7, starting at midnight).
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-daily" name="universal-frequency" type="radio" value="universal-frequency-daily">
<label class="govuk-label govuk-radios__label" for="universal-frequency-daily">
Daily
</label>
<div id="universal-frequency-2-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past day (24 hours) will be collated and sent in a single email at 12pm every day.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-weekly" name="universal-frequency" type="radio" value="universal-frequency-weekly">
<label class="govuk-label govuk-radios__label" for="universal-frequency-weekly">
Weekly (Monday)
</label>
<div id="universal-frequency-weekly-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past week will be collated and sent in a single email at 12pm every Monday.
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="universal-frequency-weekly" name="universal-frequency" type="radio" value="universal-frequency-weekly">
<label class="govuk-label govuk-radios__label" for="universal-frequency-weekly">
Weekly (Friday)
</label>
<div id="universal-frequency-weekly-hint" class="govuk-hint govuk-radios__hint">
Relevant notifications from the past week will be collated and sent in a single email at 12pm every Friday.
</div>
</div>
</fieldset>
</div>
</div> <!-- id="accordion-default-content-1" class="govuk-accordion__section-content" -->
</div> <!-- class="govuk-accordion__section" -->

<!-- Set custom notifications -->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-2">
Custom notification settings
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<div id="accordion-default-content-2" class="govuk-accordion__section-content">
<h2 class="govuk-heading-l">Summary of custom notification settings
</h2>
<div class="govuk-hint"> 
This table summarises your existing custom notification settings for selected satellites. Edit existing settings using the links in the table, or add settings for new groups of satellites using the button below.
</div>
<!-- Custom settings summary table -->
<!-- GOV.UK-style accessible table with two header rows, grouped headers, and custom column widths -->
<div style="overflow-x:auto;">
<table class="govuk-table" style="width: 100%" aria-describedby="table-caption-custom-settings-summary">
<!-- Set different column widths -->
<colgroup>
<col style="width: 20%;" /> <!--satellites-->
<col style="width: 30%;" /> <!--Reasons for notifications-->
<col style="width: 20%;" /> <!--notification frequency-->
<col style="width: 10%;" /> <!-- edit -->
<col style="width: 10%;" /> <!-- delete -->
</colgroup>
<!-- Header row 1: grouped headings spanning multiple columns -->
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th class="govuk-table__header" scope="col">Satellites</th>
<th class="govuk-table__header" scope="col">Reasons for notifications</th>
<th class="govuk-table__header" scope="col">Email frequency </th>
<th class="govuk-table__header" scope="col">Edit </th>
<th class="govuk-table__header" scope="col">Delete</th>
</tr>
</thead>

<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell">LEO Satellites</td>
<td class="govuk-table__cell">Missing data, Unexpected position change</td>
<td class="govuk-table__cell">As soon as possible</td>
<td class="govuk-table__cell"><a class="govuk-link" href="notification-settings-edit-custom">Edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Delete</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Airbus Satellites</td>
<td class="govuk-table__cell">Missing data</td>
<td class="govuk-table__cell">Daily</td>
<td class="govuk-table__cell"><a class="govuk-link" href="notification-settings-edit-custom">Edit</a></td>
<td class="govuk-table__cell"><a class="govuk-link" href="">Delete</a></td>
</tr>


</tbody>
</table>
</div>

<!-- add custom thresholds button -->
<p class="govuk-body govuk-!-margin-top-6">
<a class="govuk-link" href="/account/regulator/notification-settings-add-custom">
Add custom settings
</a>
</p>
</div> <!-- id="accordion-default-content-2" class="govuk-accordion__section-content"> -->
</div> <!--class="govuk-accordion__section"> --> 

</div> <!-- class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" -->

<!-- Save preferences -->
<form method="post" action="notification-settings-confirmation">
<button class="govuk-button" data-module="govuk-button">
Save notification settings
</button>
</form>
<!-- content above here -->

</div> <!-- class="govuk-grid-column-full" -->
</div> <!-- class="govuk-grid-row" -->
</main> 



<script>
/* Grey out unchecked boxes */
document.querySelectorAll('.govuk-checkboxes__input').forEach(checkbox => {
checkbox.addEventListener('change', (event) => {
const table = checkbox.closest('.govuk-checkboxes__item').nextElementSibling;
if (table && table.tagName === 'TABLE') {
table.classList.toggle('inactive', !checkbox.checked);
}
});
});
</script>

{% endblock %}