{% extends "layout.html" %}

{% block pageTitle %}
Edit your notification settings
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/regulator/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/regulator/threshold-settings">Edit your notification thresholds</a>
      </li>
        </ol>
        </div>

          <h1 class="govuk-heading-xl">Edit your notification and viewing settings</h1>

          <p>We will send you notifications according to the settings selected on this page.</p>
          </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="which-conjunction-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        For which satellite operators would you like to receive notifications regarding a satellite manoeuvre?
      </h1>
    </legend>
    <div id="how-conjunction-hint" class="govuk-hint">
        Select all that apply
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="how-conjunction-1" name="how-conjunction" type="checkbox" value="email" checked=checked>
          <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-1">
            OneWeb
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
          <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
            Airbus
        </label>
     </div>
      <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
      <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
        Inmarsat
    </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    SES (GIB)
</label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    Avanti
</label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    EchoStar
</label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    Viasat
</label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    Eutelsat
</label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message" checked=checked>
  <label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
    All of the above
          </label>
        </div>
      </div>
    </fieldset>
  </div>
              <a href="/account/regulator/account" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Save and continue</a>
                  </form>
    </div>
  
  
  </div>
    </main>
  </div>
  
  
  {% endblock %}