{% extends "layout.html" %}

{% block pageTitle %}
Remove incident banner
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/superadmin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage incident banner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Remove incident banner</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Are you sure you want to remove the incident banner type?
        </h2>
        <p class="govuk-body"> The banner will no longer be visible to Monitor your satellites users.</p>
        <div class="govuk-button-group">
      <form class="form" action="/incident/superadmin-incident-banner-removed" method="post">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Remove incident banner
        </button>
        </form>

      <form class="form" action="/incident/manage-incident-banner" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
      </form>
      </div>
      </div>

      <h1 class="govuk-heading-xl">Manage incident banner</h1>

      <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
  <span class="govuk-warning-text__assistive">Warning</span>
  The following incident banner is currently displayed on the site
</strong>
</div>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
Important
</h2>
</div>
<div class="govuk-notification-banner__content" >
<h3 class="govuk-notification-banner__heading">
  [Message dependent on incident banner selected]
</h3>
</div>
</div>

      <p class="gem-c-lead-paragraph"><b>Details of the banner currently displayed on Monitor your satellites:</p>

        <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Incident type
      </dt>
      <dd class="govuk-summary-list__value">
        [Dependent on incident banner selected]
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Scheduled time
      </dt>
      <dd class="govuk-summary-list__value">
        [start time entered][Start date entered] to [End time entered][End date entered]<br><b>OR</b> Indefintiely, pending manual removal [If activate now was selected]
      </dd>
    </div>
  </dl>

                <form class="form" action="#" method="post">
                  <button class="govuk-button govuk-button--warning" data-module="govuk-button">
  Remove incident banner
</button>
                          </form>
  </main>
  </div>
{% endblock %}
