{% extends "layout.html" %}

{% block pageTitle %}
Change end date
{% endblock %}

{% block content %}
<div class="govuk-width-container">

<a href="/incident/superadmin-change-incident-banner-displayed" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Are you sure you want to change the end date?
        </h2>
        <p class="govuk-body"> The banner will no longer be visible to Monitor your satellites users after this date..</p>
        <div class="govuk-button-group">
      <form class="form" action="/incident/superadmin-end-date-changed" method="post">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Change end date
        </button>
        </form>

      <form class="form" action="/incident/superadmin-change-end-date-2" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
      </form>
      </div>
      </div>

        <h1 class="govuk-heading-xl">Change end date</h1>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      <b>Enter end date</b>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 12 11 2007
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend">
  <b>Enter end time</b>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 16:10
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Hours
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Minutes
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

<div class="govuk-button-group">

  <form class="form" action="#" method="post">
    <button class="govuk-button" data-module="govuk-button">
  Change end date
  </button>
            </form>

<form class="form" action="#" method="post">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Return to incident banner summary
</button>

</div>
  </main>
  </div>
{% endblock %}
