{% extends "layout.html" %}

{% block pageTitle %}
Change incident banner type
{% endblock %}

{% block content %}
<div class="govuk-width-container">

<a href="/incident/superadmin-change-incident-banner-displayed" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Change incident banner type</h1>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner" name="select-incident-banner" type="radio" value="major-incident">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner">
                      Major incident
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to an ongoing incident, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-2" name="select-incident-banner" type="radio" value="technical-issue-ingesting-cdm">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-2">
                      Technical issue ingesting conjunction data messages
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting conjunction data messages, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br> Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-3" name="select-incident-banner" type="radio" value="technical-issue-ingesting-object-data">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-3">
                      Technical issue ingesting object data
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting object data, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br>Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-4" name="select-incident-banner" type="radio" value="technical-issue-ingesting-orbital-analyses">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-4">
                      Technical issue ingesting orbital analyses
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting ingesting orbital analyses, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br>Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>


              <div class="govuk-button-group">

                <form class="form" action="/incident/are-you-sure-change-incident-type" method="post">
                  <button class="govuk-button" data-module="govuk-button">
                Change incident type
                </button>
                          </form>

              <form class="form" action="/incident/superadmin-change-incident-banner-displayed" method="post">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Return to incident banner summary
              </button>

              </div>
  </main>
  </div>
{% endblock %}
