{% extends "layout.html" %}

{% block pageTitle %}
Review new incident banner
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/superadmin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/incident/superadmin-display-incident-banner">Manage incident banners</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Schedule new incident banner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Review new incident banner</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        The incident banner for [Name of incident banner] has been scheduled.
      </h3>
      <p class="govuk-body"> The banner will be visible to all users of the service between [start time][Start date] and [End time][End date]<b>OR</b> Until removed.</p>
<div class="govuk-button-group">
      <form class="form" action="/operator-homepage-incident" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Upcoming conjunction events page
        </button>
        </form>
        <form class="form" action="/incident/manage-incident-banner" method="post">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Manage incident banners
          </button>
          </form>
</div>
    </div>
  </div>

  <h1 class="govuk-heading-xl">Review new incident banner</h1>

  <dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Incident type
</dt>
<dd class="govuk-summary-list__value">
  [Dependent on incident banner selected]
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Active time period
</dt>
<dd class="govuk-summary-list__value">
  [start time entered][Start date entered] to [End time entered][End date entered]<br><b>OR</b> Until removed [If activate now was selected]
</dd>
</div>
</dl>

          <div class="govuk-button-group">

            <form class="form" action="#" method="post">
              <button class="govuk-button" data-module="govuk-button">
            Schedule incident banner
            </button>
                      </form>

          <form class="form" action="#" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to incident banner options
          </button>

          </div>

  </main>
  </div>
{% endblock %}
