{% extends "layout.html" %}

{% block pageTitle %}
Confirm incident banner settings
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/superadmin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage incident banner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Confirm incident banner settings</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Are you sure you want to display the incident banner for [Name of incident banner]?
        </h2>
        <p class="govuk-body"> The banner will be visible to all users of the service until you manually remove it.</p>
        <div class="govuk-button-group">
      <form class="form" action="/incident/superadmin-incident-banner-displayed" method="post">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Display incident banner
        </button>
        </form>

      <form class="form" action="/incident/superadmin-summary-of-incident-banner-choices" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
      </form>
      </div>
      </div>

      <h1 class="govuk-heading-xl">Confirm incident banner settings</h1>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Incident type
    </dt>
    <dd class="govuk-summary-list__value">
      [Dependent on incident banner selected]
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Scheduled time
    </dt>
    <dd class="govuk-summary-list__value">
      [start time entered][Start date entered] to [End time entered][End date entered]<br><b>OR</b> Indefintiely, pending manual removal [If activate now was selected]
    </dd>
  </div>
</dl>

              <div class="govuk-button-group">

                <form class="form" action="#" method="post">
                  <button class="govuk-button" data-module="govuk-button">
                Display incident banner
                </button>
                          </form>

              <form class="form" action="#" method="post">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Return to incident banner options
              </button>

              </div>
  </main>
  </div>
{% endblock %}
