{% extends "layout.html" %}

{% block pageTitle %}
Incident banner removed
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/superadmin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage incident banner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Incident banner removed</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Incident banner has been removed from Monitor your satellites</h1>
        </div>

          <p class="govuk-body">To display another incident banner on the site, go to the <a class="govuk-link" href="/incident/superadmin-display-incident-banner">manage incident banner</a> page.</p>

</div>
</div>
  </main>
  </div>
{% endblock %}
