{% extends "layout.html" %}

{% block pageTitle %}
Account settings
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-xl">Confirm your account details</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Organisation</dt>
            <dd class="govuk-summary-list__value">Satellite company</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">User type</dt>
            <dd class="govuk-summary-list__value">Standard user</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">example.operator@satellite-company.co.uk</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Phone number</dt>
            <dd class="govuk-summary-list__value">07123 456789</dd>
          </div>
        </dl>

      <p class="govuk-body-m">If any of your account details are incorrect or you would like to change your details, contact your organisation administrator.</p>

      <div class="govuk-button-group">

      <form class="form" action="//setup/operator/initial-setup" method="post">
      <button class="govuk-button govuk-button" data-module="govuk-button">
        Confirm account details
      </button>

      </div>


  </div>


  </div>
  </main>
  </div>


  {% endblock %}
