{% extends "layout.html" %}

{% block pageTitle %}
Registered satellites
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your UK-licensed satellites</h1>
      <p>Monitor space hazards is current tracking 3 satellites registered with your organisation.</p>

      <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a satellite:
          </label>

          <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by common name, NORAD ID or international designator" aria-describedby="search-hint">
        </div>
        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>
        <br>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Apply filters to this table
            </span>
          </summary>
          <div class="govuk-details__text">

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changedName">
                      LEO regime
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                      MEO regime
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                      GEO regime
                    </label>
                  </div>
                </div>
              </fieldset>
             
                </div>
          </div>

        </div>

<table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
  <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s"></td>
      <td class="govuk-table__cell govuk-body-s"></td>
      <td class="govuk-table__cell govuk-body-s"></td>
      <td class="govuk-table__cell govuk-body-s" colspan="2"><b></td>
      <td class="govuk-table__cell govuk-body-s" colspan="3"><b></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Common name</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>NORAD ID</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>International designator</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 9%";>Country of origin</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Launch site</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Launch date</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Regime</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Upcoming known conjunction events</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-2">HYLAS 1</a></td>
        <td class="govuk-table__cell govuk-body-s">37237</td>
        <td class="govuk-table__cell govuk-body-s">2010-065A</td>
        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">UK</td>
        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">FRGUI</td>
        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2010</td>
        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">GEO</td>
        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
      </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">HYLAS 2</td>
      <td class="govuk-table__cell govuk-body-s">38741</td>
      <td class="govuk-table__cell govuk-body-s">2012-043B</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">UK</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">FRGUI</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2012</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">LEO</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">3</td>
    </tr>
        <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s">HYLAS 4</td>
      <td class="govuk-table__cell govuk-body-s">43272</td>
      <td class="govuk-table__cell govuk-body-s">2018-033B</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">UK</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">FRGUI</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2018</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">GEO</td>
      <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
    </tr>
      </tbody>
</table>
<p>Download Your UK-licensed satellites [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>
    </div>
    </div>
</main>
</div>


{% endblock %}