{% extends "layout.html" %}

{% block pageTitle %}
Account settings
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin-account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/admin-account-information">Your account details</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Edit your account details</h1>

        <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label" for="full-name">
              Full name
            </label>
            <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name"></div>
            <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Email address
  </label>
  <div id="email-hint" class="govuk-hint">
  This must be an organisational email address
  </div>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
    UK telephone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel"></div>
  <form class="form" action="/admin-account-information" method="post">


            <button class="govuk-button" data-module="govuk-button">
                  Save and continue
              </button>
                </form>

  </div>


</div>
  </main>
</div>


{% endblock %}
