{% extends "layout.html" %}

{% block pageTitle %}
Set up new incident banner
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/account/superadmin/account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/account/superadmin/incident/display-incident-banner">Manage incident banners</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Set up new incident banner</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl">Set up new incident banner</h1>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Select the incident banner you would like to display
            </h2>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner" name="select-incident-banner" type="radio" value="major-incident">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner">
                      Major incident
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to an ongoing incident, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-2" name="select-incident-banner" type="radio" value="technical-issue-ingesting-cdm">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-2">
                      Technical issue ingesting conjunction data messages
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting conjunction data messages, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br> Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-3" name="select-incident-banner" type="radio" value="technical-issue-ingesting-object-data">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-3">
                      Technical issue ingesting object data
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting object data, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br>Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="select-incident-banner-4" name="select-incident-banner" type="radio" value="technical-issue-ingesting-orbital-analyses">
                    <label class="govuk-label govuk-radios__label" for="select-incident-banner-4">
                      Technical issue ingesting orbital analyses
                    </label>
                    <p></p>
                    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Important
                    </h2>
                    </div>
                    <div class="govuk-notification-banner__content" >
                      <h3 class="govuk-notification-banner__heading">
                        Due to a technical issue ingesting ingesting orbital analyses, Monitor your satellites may display inaccurate information at this time.
                      </h3>
                        <p class="govuk-body">You can visit the <a class="govuk-notification-banner__link" href="monitoring">external data sources performance page</a> to see when the last fetch of data was. <br>Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>
          </li>

          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span>Choose when to display banner
            </h2>
            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Activate incident banner now
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <p class="gem-c-lead-paragraph">The banner will be visible on the site until you remove it.</p>
        </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          Choose custom time period to display banner for
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <legend class="govuk-fieldset__legend">
          <b>Enter start date</b>
        </legend>
        <div id="conditional-contact-2" class="govuk-hint">
          For example, 12 11 2007
        </div>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      <b>Enter start time</b>
    </legend>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 08:10
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Hours
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Minutes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend">
  <b>Enter end date</b>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 12 11 2007
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
<legend class="govuk-fieldset__legend">
  <b>Enter end time</b>
</legend>
<div id="passport-issued-hint" class="govuk-hint">
  For example, 16:10
</div>
<div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Hours
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Minutes
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
    </div>
  </div>
</div>

</fieldset>
</div>

      </div>


</fieldset>
</div>

<div class="govuk-button-group">

  <form class="form" action="/account/superadmin/incident/incident-banner-summary" method="post">
    <button class="govuk-button" data-module="govuk-button">
  Set up incident banner
  </button>
            </form>

<form class="form" action="/account/superadmin/incident/display-incident-banner" method="post">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Return to manage incident banners
</button>

</div>


</div>

      </div>
      </main>
    </div>

{% endblock %}
