{% extends "layout.html" %}

{% block pageTitle %}
Incident banner removed
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/account/superadmin/account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage incident banners</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Remove incident banner</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Incident banner removed</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Incident banner for [incident banner selected] has been removed.
    </h3>
    <p class="govuk-body">This banner will no longer be displayed on the site. </p>
    <form class="form" action="/operator-homepage" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        View upcoming conjunction events page
      </button>
      </form>
  </div>
</div>

<h1 class="govuk-heading-xl">Manage incident banners</h1>

<p class="gem-c-lead-paragraph">In the case of an incident, the Monitor space hazards service will remain live, but it is important to notify all Monitor space hazards users.</p>
<p class="gem-c-lead-paragraph">Superadmins are able to display banners that will be visible at the top of each page, warning users that the information presented on Monitor space hazards may not be accurate.</p>

<h2 class="govuk-heading-l">Scheduled incident banners</h2>

  <table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" style="width: 30%" class="govuk-!-text-align-left"> Incident type</th>
<th scope="col" style="width: 65%" class="govuk-!-text-align-left">Active time period </th>
<th scope="col" style="width: 5%" class="govuk-!-text-align-left"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell"> Technical issue ingesting conjuntion data messages</td>
<td class="govuk-table__cell">[start time][Start date] to [End time][End date]<b>OR</b> Until removed</td>
<td class="govuk-table__cell"><form class="form" action="/account/superadmin/incident/are-you-sure-remove-incident-banner" method="post">
<button class="govuk-button govuk-button--warning" data-module="govuk-button">
Remove
</button>
        </form></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Major incident</td>
<td class="govuk-table__cell">[start time][Start date] to [End time][End date]<b>OR</b> Until removed</td>
<td class="govuk-table__cell"><form class="form" action="/account/superadmin/incident/are-you-sure-remove-incident-banner" method="post">
<button class="govuk-button govuk-button--warning" data-module="govuk-button">
Remove
</button>
        </form></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell">Technical issue ingesting object data</td>
<td class="govuk-table__cell">[start time][Start date] to [End time][End date]<b>OR</b> Until removed</td>
<td class="govuk-table__cell"><form class="form" action="/account/superadmin/incident/are-you-sure-remove-incident-banner" method="post">
<button class="govuk-button govuk-button--warning" data-module="govuk-button">
Remove
</button>
        </form></td>
</tr>
</tbody>
</table>


<div class="govuk-button-group">

  <form class="form" action="/account/superadmin/incident/display-incident-banner-2" method="post">
    <button class="govuk-button" data-module="govuk-button">
  Set up new incident banner
  </button>
            </form>

<form class="form" action="/account/superadmin/account" method="post">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Return to account page
</button>

</div>
</div>
  </main>
  </div>
{% endblock %}
