{% extends "layout.html" %}

{% block pageTitle %}
Change user's email address
{% endblock %}

{% block content %}

<a href="/account/admin/edit-existing-user" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Change user's email address</h1>

    <p class="govuk-body">User's current email address is <span class="govuk-!-font-weight-bold">alex.wates@thepsc.co.uk</span></p>

      <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      <b>Enter new email address here:</b>
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

  <form class="form" action="/account/admin/user-email-changed" method="post">
<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
  Save
</button>
</form>

</div>

  </main>
{% endblock %}
