{% extends "layout.html" %}

{% block pageTitle %}
Email address changed
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Email address changed
      </h1>
      <div class="govuk-panel__body">
        This user's email address has been changed to [new email address]
      </div>
    </div>

<form class="form" action="/account/admin/edit-existing-user" method="post">
    <button class="govuk-button" data-module="govuk-button">
      Return to user account details
    </button>
    </form>

    </div>
    </div>

  </main>
  </div>
{% endblock %}
