 {% extends "layout.html" %}

 <!-- Title -->
{% block pageTitle %}
Notification settings
{% endblock %}

<!-- Page content -->
{% block content %}

<!-- Breadcrumbs links-->
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/gov-user/account">
Account
</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">
Notification settings
</li>
</ol>
</div> <!-- class="govuk-breadcrumbs"-->
</div> <!-- class="govuk-width-container"-->

<!-- Page layout -->
<main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

<!-- Page title -->
<h1 class="govuk-heading-xl">Alert settings
</h1>

<!-- Page intro -->
<p class="govuk-body">
This page allows you to choose which alerts you receive.
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!-- Set up accordions -->
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

<!-- Conjunction events -->
<!-- header-->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
Conjunction events
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->

<!-- content -->
<div id="accordion-default-content-1" class="govuk-accordion__section-content">
<!-- CONTENT HERE -->
</div> <!-- id="accordion-default-content-1" class="govuk-accordion__section-content" -->
</div> <!-- class="govuk-accordion__section" -->

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- Re-entry events  -->
<!-- header -->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h1 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-2">
Re-entry events
</span>
</h1>
</div> <!-- class="govuk-accordion__section-header" -->
<!-- content -->
<div id="accordion-default-content-2" class="govuk-accordion__section-content">
<!-- CONTENT HERE-->

<!-- Which re-entry alerts would you like to receive? -->
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="which-alerts-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<h1 class="govuk-fieldset__heading">
Which re-entry alerts would you like to receive? 
</h1>
</legend>
<div id="which-alerts-hint" class="govuk-hint">
Select one option.
</div> <!--  id="which-alerts-hint" class="govuk-hint -->
<!-- all radios  -->
<div class="govuk-radios" data-module="govuk-radios"> 
<!-- Do not receive re-entry alerts -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="no-alerts" name="which-alerts" type="radio" value="no-alerts" aria-describedby="no-alerts-item-hint">
<label class="govuk-label govuk-radios__label" for="no-alerts">
Do not receive re-entry alerts
</label>
</div> <!-- class="govuk-radios__item" for Do not receive re-entry alerts -->
<!-- All re-entry alerts for UK-licensed satellites -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="all-UK-licensed" name="which-alerts" type="radio" value="all-UK-licensed" aria-describedby="all-UK-licensed-item-hint">
<label class="govuk-label govuk-radios__label" for="all-UK-licensed">
All re-entry alerts for UK-licensed satellites
</label>
<div id="all-UK-licensed-hint" class="govuk-hint govuk-radios__hint">
Recommended for Foreign, Commonwealth and Development Office (FCDO) and Department of Business, Energy and Industrial Strategy (BEIS) teams concerned with UK liability
</div>
</div> <!-- class="govuk-radios__item" for All re-entry alerts for UK-licensed satellites -->
<!-- All re-entry alerts for your areas of interest -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="all-areas-of-interest" name="which-alerts" type="radio" value="all-areas-of-interest" aria-describedby="all-areas-of-interest-item-hint">
<label class="govuk-label govuk-radios__label" for="all-areas-of-interest">
All re-entry alerts for your areas of interest
</label>
<div id="all-areas-of-interest-hint" class="govuk-hint govuk-radios__hint">
Recommended for National Space Operations Centre, Civil Aviation Authority, Ministry of Defence and international partners
</div>
</div> <!-- class="govuk-radios__item" for All re-entry alerts for your areas of interest -->
<!-- Only priority re-entry alerts for your areas of interst -->
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="priority-areas-of-interest" name="which-alerts" type="radio" value="priority-areas-of-interest" aria-describedby="priority-areas-of-interest-item-hint">
<label class="govuk-label govuk-radios__label" for="priority-areas-of-interest">
Only priority re-entry alerts for your areas of interest
</label>
<div id="priority-areas-of-interest-hint" class="govuk-hint govuk-radios__hint">
Recommended for all other government departments
</div>
</div> <!-- class="govuk-radios__item" for Only priority re-entry alerts for your areas of interest -->
</div> <!-- class="govuk-radios" data-module="govuk-radios for all radios -->
</fieldset> <!-- which re-entry alerts would you like to receive? -->
</div> <!-- class="govuk-form-group for which re-entry alerts would you like to receive?-->

<!-- Select areas of interest -->
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="areas-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<h1 class="govuk-fieldset__heading">
Select areas of interest
</h1>
</legend>
<div id="areas-hint" class="govuk-hint">
<p> These settings will only apply if you selected all/priority alerts for your areas of interest above. </p>
<p> Select each category to view and select individual areas. </p>
</div> <!--  id="areas-hint" class="govuk-hint -->
<!-- all checkboxes  -->

</fieldset> <!-- select areas of interest -->
</div> <!-- class="govuk-form-group for select areas of interest-->

</div> <!-- id="accordion-default-content-2" class="govuk-accordion__section-content"> -->
</div> <!--class="govuk-accordion__section"> --> 

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!-- fragmentation events --> 
 <!-- Header -->
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
<h2 class="govuk-accordion__section-heading">
<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
Fragmentation events
</span>
</h2>
</div> <!-- class="govuk-accordion__section-header" -->

<!-- content -->
<div id="accordion-default-content-3" class="govuk-accordion__section-content">
<!-- CONTENT HERE -->
</div> <!-- id="accordion-default-content-3" class="govuk-accordion__section-content" -->
</div> <!--class="govuk-accordion__section" --> 

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- Save preferences -->
<form method="post" action="conjunction-notification-settings-confirmation">
<button class="govuk-button" data-module="govuk-button">
Save notification settings
</button>
</form>

</div> <!-- class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" -->
</div> <!-- class="govuk-grid-column-full" -->
</div> <!-- class="govuk-grid-row" -->
</main> 

{% endblock %}