{% extends "layout.html" %}

{% block pageTitle %}
Edit your alert settings
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/account/gov-user/threshold-settings-edit">Edit your alert settings</a>
</li>
</ol>
</div>

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<form class="form" action="/account/operator/account" method="post">

<h1 class="govuk-heading-xl">Edit your alert settings</h1>

<p>We will send you notifications according to the settings selected on this page.</p>
<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-visually-hidden">Warning</span>
Changing these settings is only recommended if advised by the UK Space Agency.
</strong>
</div>


<br>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="which-conjunction-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Conjunction alerts
</h1>
</legend>
<p><b>Which conjunction alerts would you like to receive?</b></p>
<div id="which-conjunction-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-conjunction-1" name="which-conjunction" type="radio" value="phone" data-aria-controls="conditional-which-conjunction-1">
<label class="govuk-label govuk-radios__label" for="which-conjunction-1">
Do not receive conjunction alerts
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-conjunction-2" name="which-conjunction" type="radio" value="phone" data-aria-controls="conditional-which-conjunction-2">
<label class="govuk-label govuk-radios__label" for="which-conjunction-2">
Receive all conjunction alerts 
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for UK Space Agency, Civil Aviation Authority and Ministry of Defence
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-conjunction-3" name="which-conjunction" type="radio" value="text" data-aria-controls="conditional-which-conjunction-3">
<label class="govuk-label govuk-radios__label" for="which-conjunction-3">
Receive only priority conjunction alerts 
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for all other government departments
</div>
</div>
</div>
<br>
<details class="govuk-details">

<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Criteria for priority conjunction alerts
</span>
</summary>

<div class="govuk-details__text">
<p>Priority conjunction alerts are those with:</p>
<ul class="govuk-list govuk-list--bullet">
<li>More than 5% Probability of Collision</li>
<li>OR significant press interest</li>
<li>OR for UK-licensed objects:</li> 
<ul class="govuk-list govuk-list--bullet">
<li>More than 1% probability of collision</li> 
<li>AND no manoeuvre expected</li></ul>
<li>OR for non-UK objects:</li> 
<ul class="govuk-list govuk-list--bullet">
<li>Medium risk or higher</li> 
<li>AND no manoeuvre expected</li></ul>
</ul>
</div>

</details>

<p><b>How would you like to receive conjunction alerts?</b></p>
<div id="how-conjunction-hint" class="govuk-hint">
Select all that apply.
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-conjunction-1" name="how-conjunction" type="checkbox" value="email" checked=checked>
<label class="govuk-label govuk-checkboxes__label" for="how-conjunction-1">
Email
</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message">
<label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
Text message
</label>
</div>
</div>
</fieldset>
</div>

<br>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="reentry-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Re-entry alerts
</h1>
</legend>
<p><b>Which re-entry alerts would you like to receive?</b></p>
<div id="reentry-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-reentry-1" name="which-reentry" type="radio" value="phone" data-aria-controls="conditional-which-reentry-1">
<label class="govuk-label govuk-radios__label" for="which-reentry-1">
Do not receive re-entry alerts
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="reentry-3" name="reentry" type="radio" value="text" data-aria-controls="conditional-reentry-3">
<label class="govuk-label govuk-radios__label" for="reentry-3">
Receive all re-entry alerts for UK-licensed satellites
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for Foreign, Commonwealth and Development Office (FCDO) and Department of Business, Energy and Industrial Strategy (BEIS) teams concerned with UK liability
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-reentry-2" name="which-reentry" type="radio" value="phone" data-aria-controls="conditional-which-reentry-2">
<label class="govuk-label govuk-radios__label" for="which-reentry-2">
Receive all re-entry alerts for your areas of interest
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for UK Space Agency, Civil Aviation Authority, Ministry of Defence and international partners
</div>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="reentry-3" name="reentry" type="radio" value="text" data-aria-controls="conditional-reentry-3">
<label class="govuk-label govuk-radios__label" for="reentry-3">
Receive only priority re-entry alerts for your areas of interest
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for all other government departments
</div>
</div>
</div>
</fieldset>
</div>

<details class="govuk-details">

<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Criteria for priority re-entry alerts
</span>
</summary>

<div class="govuk-details__text">
<p>Priority re-entry alerts are those with:</p>
<ul class="govuk-list govuk-list--bullet">
<li>Debris likely to survive to the ground</li>
<li>AND one of the following:</li>
<ul class="govuk-list govuk-list--bullet">
<li>More than 0.1% chance of impact in the UK (and overseas territories on case by case basis)</li>
<li>OR UK-licensed object</li>
<li>OR significant press interest</li></ul>
</ul>
</div>

</details>

<p><b>Select your areas of interest:
</b></p>

<p>Re-entries over any region other than a UK nation will only trigger an alert if the re-entering object is a UK-licensed satellite.
</p>

<p><b>How would you like to receive re-entry notifications?</b></p>
<div id="how-reentry-hint" class="govuk-hint">
Select all that apply.
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-reentry-1" name="how-reentry" type="checkbox" value="email" checked=checked>
<label class="govuk-label govuk-checkboxes__label" for="how-reentry-1">
Email
</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-reentry-2" name="how-reentry" type="checkbox" value="text-message">
<label class="govuk-label govuk-checkboxes__label" for="how-reentry-2">
Text message
</label>
</div>
</div>
<br>
<br>
</fieldset>


<div class="govuk-form-group" style="margin-bottom:40px;margin-top:10px;">
<fieldset class="govuk-fieldset" aria-describedby="which-conjunction-hint">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
Fragmentation alerts
</h1>
</legend>
<p><b>Which fragmentation alerts would you like to receive?</b></p>
<div id="which-fragmentation-hint" class="govuk-hint">
Select one option.
</div>
<div class="govuk-radios" data-module="govuk-radios">
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-fragmentation-1" name="which-frag" type="radio" value="phone" data-aria-controls="conditional-which-conjunction-1">
<label class="govuk-label govuk-radios__label" for="which-frag">
Do not receive fragmentation alerts
</label>
</div>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="which-conjunction-2" name="which-frag" type="radio" value="phone" data-aria-controls="conditional-which-conjunction-2" checked>
<label class="govuk-label govuk-radios__label" for="which-frag">
Receive all fragmentation alerts 
</label>
<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
Recommended for all users
</div>
</div>
</div>
<br>

<p><b>How would you like to receive fragmentation alerts?</b></p>
<div id="how-conjunction-hint" class="govuk-hint">
Select all that apply.
</div>
<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-conjunction-1" name="how-conjunction" type="checkbox" value="email" checked=checked>
<label class="govuk-label govuk-checkboxes__label" for="how-conjunction-1">
Email
</label>
</div>
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="how-conjunction-2" name="how-conjunction" type="checkbox" value="text-message">
<label class="govuk-label govuk-checkboxes__label" for="how-conjunction-2">
Text message
</label>
</div>
</div>
</fieldset>
</div>


<a href="/account/gov-user/account" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
Save and continue</a>
</form>

</div>

</div>


</div>
</main>
</div>


{% endblock %}