{% extends "layout.html" %}

{% block pageTitle %}
Settings
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/gov-user/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/gov-user/threshold-settings-edit">Edit event threshold settings</a>
      </li>
        </ol>
        </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/account/gov-user/account" method="post">

          <h1 class="govuk-heading-xl">Edit your event notification threshold settings</h1>

          <p>All users are responsible for their own notification thresholds.</p>

          <h1 class="govuk-heading-l">Conjunction events</h1>

         <table class="govuk-table" style="width:100%">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header" style="width:40%">Notification criteria</th>
               <th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
             </tr>
           </thead>
           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Probability of collision is above:</th>
               <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "0.1">
                   <div class="govuk-input__suffix" aria-hidden="true">%</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Total miss distance is below:</th>
               <td class="govuk-table__cell"> <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Mean radial miss distance is below:</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Time to event is below:</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "72">
                   <div class="govuk-input__suffix" aria-hidden="true">hours</div></td>
             </tr>
           </tbody>
         </table>

         <h1 class="govuk-heading-l">Re-entry events</h1>

        <p><b> Notify me if a re-entry might impact:</b></p>

        <table class="govuk-table" style="width:100%">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th scope="col" class="govuk-table__header" style="width:50%"></th>
             <th scope="col" class="govuk-table__header" style="width:10%"></th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">

           <tr class="govuk-table__row">
             <td scope="row" class="govuk-table__cell">Anywhere in the United Kingdom and British Overseas Territories</td>
             <td class="govuk-table__cell">
               <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                   <label class="govuk-label govuk-checkboxes__label" for="contact">
                   </label>
                 </div>
               </tr>
               <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><b>Devolved nations</b></td>
                <td class="govuk-table__cell">
                    </div>
                  </tr>
               <tr class="govuk-table__row">
                 <td scope="row" class="govuk-table__cell"style="text-indent: 40px">England</td>
                 <td class="govuk-table__cell">
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                       <label class="govuk-label govuk-checkboxes__label" for="contact">
                       </label>
                     </div>
                   </div>
                 </td>
               </tr>
               <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Northern Ireland</td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Scotland</td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Wales</td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><b>British Overseas Territories</b></td>
                <td class="govuk-table__cell"></td>
                    </div>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Anguilla</td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                      </label>
                    </div>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Bermuda</td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                          <label class="govuk-label govuk-checkboxes__label" for="contact">
                          </label>
                        </div>
                  </tr>
                      <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell"style="text-indent: 40px">British Antarctic Territory</td>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                              <label class="govuk-label govuk-checkboxes__label" for="contact">
                              </label>
                            </div>
                          </tr>
                          <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell"style="text-indent: 40px">British Indian Ocean Territory</td>
                            <td class="govuk-table__cell">
                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                                  </label>
                                </div>
                              </tr>
                              <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">British Virgin Islands</td>
                                <td class="govuk-table__cell">
                                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                                      <label class="govuk-label govuk-checkboxes__label" for="contact">
                                      </label>
                                    </div>
                                  </tr>
                                  <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Cayman Islands</td>
                                    <td class="govuk-table__cell">
                                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                                          <label class="govuk-label govuk-checkboxes__label" for="contact">
                                          </label>
                                        </div>
                                      </tr>
                                      <tr class="govuk-table__row">
                                        <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Falkland Islands</td>
                                        <td class="govuk-table__cell">
                                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                                              <label class="govuk-label govuk-checkboxes__label" for="contact">
                                              </label>
                                            </div>
                                          </tr>
                                          <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Gibraltar</td>
                                            <td class="govuk-table__cell">
                                              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item">
                                                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                                                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                                                  </label>
                                                </div>
                                              </tr>
                 <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Montserrat</td>
                      <td class="govuk-table__cell">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                             <label class="govuk-label govuk-checkboxes__label" for="contact">
                             </label>
                             </div>
                 </tr>
                 <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Pitcairn Islands</td>
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                           <label class="govuk-label govuk-checkboxes__label" for="contact">
                           </label>
                           </div>
               </tr>
               <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Saint Helena, Ascension and Tristan da Cunha</td>
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                         <label class="govuk-label govuk-checkboxes__label" for="contact">
                         </label>
                         </div>
             </tr>
             <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"style="text-indent: 40px">South Georgia and the South Sandwich Islands</td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                       <label class="govuk-label govuk-checkboxes__label" for="contact">
                       </label>
                       </div>
           </tr>
           <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Akrotiri and Dhekelia</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                     <label class="govuk-label govuk-checkboxes__label" for="contact">
                     </label>
                     </div>
         </tr>
         <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"style="text-indent: 40px">Turks and Caicos Islands</td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                   <label class="govuk-label govuk-checkboxes__label" for="contact">
                   </label>
                   </div>
       </tr>
                     </div>
                   </td>
                 </tr>
             </tbody>
       </table>


      </fieldset>
      </div>
        <p></p>
        <p></p>


            <button class="govuk-button" data-module="govuk-button">
                  Save and continue
              </button>
                </form>
  </div>


</div>
  </main>
</div>


{% endblock %}
