{% extends "layout.html" %}

{% block pageTitle %}
Settings
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/gov-user/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/gov-user/threshold-settings-edit">Edit event threshold settings</a>
      </li>
        </ol>
        </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/account/gov-user/account" method="post">

          <h1 class="govuk-heading-xl">Edit your event notification threshold settings</h1>

          <p>All users are responsible for their own notification thresholds.</p>

          <h1 class="govuk-heading-l">Conjunction events</h1>

          <p>There are currently no user-configured thresholds for conjunction alerts for government users.</p>

         <h1 class="govuk-heading-l">Re-entry events</h1>

        <p>Send alerts if the re-entry event might impact:</p>

        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Anywhere in the United Kingdom
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  England
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Northern Ireland
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Scotland
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Wales
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  British Overseas Territories
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      </fieldset>
      </div>
        <p></p>
        <p></p>


            <button class="govuk-button" data-module="govuk-button">
                  Save and continue
              </button>
                </form>
  </div>


</div>
  </main>
</div>


{% endblock %}
