{% extends "layout.html" %}

{% block pageTitle %}
Previous re-entry events
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">

</div>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Track re-entry events</h1>

        <h2 class="govuk-heading-l">Previous re-entry alerts</h2>

        <p class="govuk-body">This table shows all re-entry events which meet the UK Space Agency's thresholds for alerting UK government since this service was created in November 2023. For further detail on how risk and alert thresholds are defined, see 'Alert and risk thresholds' below.</p>

<br>
        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="5"></colgroup>
            <colgroup span="4"></colgroup>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b></b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Event details</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="3"><b>Object details</b></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 8%";>Risk to the UK</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of re-entry over the UK (%)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 25%";>Re-entry time window worldwide (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>UK overflight time(s) (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Expected survivability to the ground</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Licensing country</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Low
                </strong>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-passed" class="govuk-link--no-visited-state">re-asghj-kifdy (Alert)</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">0.04</td>
              <td class="govuk-table__cell govuk-body-s">03/11/2023, 11:35 to 03/11/2023, 21:05</td>
              <td class="govuk-table__cell govuk-body-s">03/11/2023, 16:26</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">CZ-2C R/B (Rocket body)</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">People's Republic of China</td>
            </tr>
          </tbody>
        </col>
      </table>

      <p>Download summary table for previous alerts [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <p>Download all available data for previous alerts [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>This table shows previous re-entry events which meet the UK Space Agency's thresholds for alerting UK government.</b>
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>Event ID</b> to view more information.</li>
            <li>Each Event ID or row represents <b>one re-entry event</b> including all related alert updates.</li>
            <li>Sort the alerts according to criteria by clicking on the relevant <b>headings</b>.</li>

          </ul>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Alert and risk thresholds
          </span>
        </summary>
        <div class="govuk-details__text">
          <h3 class="govuk-heading-s">Alert thresholds</h3>
          <p class="govuk-body">Alerts about re-entry events are produced if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Less than 36 hours until re-entry</li>
              <li>AND one of the following:</li>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Any “large” object in US SATCAT (except designed for demise) with overflights of the UK mainland</li>
                  <li>OR any “large” object in US SATCAT (except designed for demise) with more than 0.1% chance of impact in overseas territories</li>
                  <li>OR any UK-licensed object (except designed for demise)</li>
                  <li>OR (anticipated) press interest</li>
                </ul>   
              <li>OR nominated for escalation by the UK Space Operations Centre</li>
          </ul>

           <h3 class="govuk-heading-s">Risk thresholds</h3>

          <p>Risk thresholds are calculated according to the probability of the object re-entering over the UK.</p>

          <table class="govuk-table"style="width:100%">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 50%";>Risk level</th>
                    <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 50%";>Probability of re-entry over the UK (%)</th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--green">Low</strong></th>
                <td class="govuk-table__cell govuk-body-s">Less than 1%</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></th>
                <td class="govuk-table__cell govuk-body-s">1% - 5%</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--red">High</strong></th>
                <td class="govuk-table__cell govuk-body-s">More than 5%</td>
              </tr>
            </tbody>
          </table> 
    
                </ul>
        </div>
      </details>

<br>



      <h2 class="govuk-heading-l">All previous re-entry events</h2>

      <p class="govuk-body">This table shows all re-entry events monitored by the UKSA since the service began in November 2023. 

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The table below contains re-entry reports limited to data drawn directly from Space Track. The table above contains more detail about events meeting the UK Space Agency's thresholds for performing additional analysis and alerting UK government.
        </strong>
      </div>

      <div class="moj-search">
      <form action="#" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
          Find a re-entry event:
        </label>

        <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by event or object ID" aria-describedby="search-hint">
      </div>

      <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
        Search
      </button>
      </form>
      </div>

<br>
<table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
  <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Event information</b></td>
      <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Object information</b></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>Event ID</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>Re-entry time window worldwide (UTC)</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>Object</th>
      <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 20%";>Licensing country</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/tip-summary-1" class="govuk-link--no-visited-state">re-kdhyw-lposc</a></b></td>
      <td class="govuk-table__cell govuk-body-s">27/01/2024, 14:45 to 27/01/2024, 21:12 to</td>
      <td class="govuk-table__cell govuk-body-s">CZ-7 R/B (Rocket body)</td>
      <td class="govuk-table__cell govuk-body-s">People's Republic of China</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/tip-summary-2" class="govuk-link--no-visited-state">re-asghj-kifdy</a></b></td>
      <td class="govuk-table__cell govuk-body-s">03/11/2023, 11:35 to 03/11/2023, 21:05</td>
      <td class="govuk-table__cell govuk-body-s">CZ-2C R/B (Rocket body)</td>
      <td class="govuk-table__cell govuk-body-s">People's Republic of China</td>
    </tr>
  </tbody>
  </col>
</table>

      <p>Download summary table for all previous events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <p>Download all available data for all previous events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with this table
        </span>
      </summary>
      <div class="govuk-details__text">
        <b>This table shows all previous re-entry events worldwide.</b>
        <p> </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Select the <b>event ID</b> to view more information.</li>
          <li>Each event ID or row represents <b>one re-entry event</b> including all related TIPs.</li>
          <li>Sort the events according to criteria by clicking on the relevant <b>headings</b>.</li>
        </ul>
      </div>
    </details>

    <a href="/reentry/gov-user/homepage" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
      View upcoming re-entry events</a>

  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}