{% extends "layout.html" %}

{% block pageTitle %}
Track re-entry events
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">Track re-entry events</h2>
            <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Upcoming re-entry alerts</th>
              <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Upcoming re-entry events worldwide</th>
              <td class="govuk-table__cell">5</td>
            </tr>
          </tbody>
        </table>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this table
            </span>
          </summary>
          <div class="govuk-details__text">
            This service tracks all upcoming re-entry events worldwide, including those which pose a risk to the UK and British Overseas Territories and Crown Dependencies. The service reports on two types of re-entry event.
            <br>
            <br>
            <ul class="govuk-list govuk-list--bullet">
              <li><b>Upcoming re-entry alerts</b>: all upcoming re-entry events which meet the UK Space Agency's thresholds for alerting UK government
              <li><b>Upcoming re-entry events worldwide</b>: all upcoming re-entry events worldwide, including those which have not met alerting thresholds</li>
            </ul>
          </div>
        </details>
        <h2 class="govuk-heading-m">All re-entry events (upcoming and past)</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">This table contains all tracked re-entry events, including re-entry events that meet the UK Space Agency's thresholds for alerting UK government. For further detail on how risk and alert thresholds are defined, see 'Help with this table' below.</p>
  
        <div class="moj-search">
            <form action="#" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Find a re-entry event:
              </label>
      
              <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by event ID, object ID or object name" aria-describedby="search-hint">
            </div>
      
            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>
            </form>
            </div>
        <br>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Apply filters to this table
              </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        View all re-entry events and alerts
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        Only view re-entry alerts
                      </label>
                    </div>
                  </div>
                </fieldset>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                      Filter by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>All</option>
                      <option value="published">Upcoming</option>
                      <option value="updated">Past</option>
                    </select>
                  </div>
            </div>
          </details>
<table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Highest risk</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Event ID</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Object</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">NORAD ID</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Location at  most risk</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Debris impact in location (%)</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Date</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Time (UTC)</th>
<th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" style="width: 11%" span="1">Window (mins)</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Low</strong></td>
<td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-summary" class="govuk-link--no-visited-state">RE26-014</a></b></td>
<td class="govuk-table__cell govuk-body-s">CZ-2C R/B (ROCKET BODY)</td>
<td class="govuk-table__cell govuk-body-s">295820</td>
<td class="govuk-table__cell govuk-body-s">South Georgia and the South Sandwich Islands</td>
<td class="govuk-table__cell govuk-body-s">0.25</td>
<td class="govuk-table__cell govuk-body-s">30/06/2026</td>
<td class="govuk-table__cell govuk-body-s">23:33:01</td>
<td class="govuk-table__cell govuk-body-s">+/- 240</td>
</tr>
</tbody>
</col>
</table>


      <p>Download all re-entry events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <div class="govuk-inset-text">Upcoming and previous known re-entry events as of 04/04/2024 07:09:36.</div>


  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}