{% extends "layout.html" %}

{% block pageTitle %}
Upcoming re-entry events
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">

</div>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Upcoming re-entry events</h1>

        <p class="govuk-body">There is currently <b>1</B> re-entry event expected worldwide in the next <b>3</b> days.</p>

        <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a re-entry event:
          </label>

          <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by international designator or object common name" aria-describedby="search-hint">
        </div>

        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>

<br>
        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="5"></colgroup>
            <colgroup span="4"></colgroup>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b></b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="5"><b>Object details</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Event details</b></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Risk</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Object common name</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Object type</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Mass (kg)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>UK-licensed object?</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Predicted time of re-entry</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Uncertainty window (mins)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Expected survivability to the ground</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of re-entry over UK (%)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Low
                </strong>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-summary-mvp-2" class="govuk-link--no-visited-state">RE-2023-08 (MVP)</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">CZ-2C R/B</td>
              <td class="govuk-table__cell govuk-body-s">Rocket body</td>
              <td class="govuk-table__cell govuk-body-s">4006</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">No</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">03/11/23 16:20</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">+/- 284.9</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0.04</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Low
                </strong>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-summary-additional" class="govuk-link--no-visited-state">RE-2023-08 (Additional)</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">CZ-2C R/B</td>
              <td class="govuk-table__cell govuk-body-s">Rocket body</td>
              <td class="govuk-table__cell govuk-body-s">4006</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">No</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">03/11/23 16:20</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">+/- 284.9</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0.04</td>
            </tr>
          </tbody>
        </col>
      </table>
<a href="/eventhistory" class="govuk-link" download="">Download "Upcoming events" as a CSV</a><p></p>

<a href="/eventhistory" class="govuk-link" download="">Download "Upcoming events" as a JSON</a><p></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>This table shows upcoming conjunction events involving UK satellites.</b>
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>event ID</b> to view more information.</li>
            <li>Each event ID or row represents <b>one conjunction event</b> including all related CDMs and UKSA analysis.</li>

          </ul>
        </div>
      </details>

      <h1 class="govuk-heading-xl">Previous re-entry events</h1>
      <p class="govuk-body">The table below shows all re-entry events monitored by the UKSA since the service began in November 2023.
        <div class="moj-search">
          <form action="#" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
              Find a previous re-entry event:
            </label>

            <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by international designator or object common name" aria-describedby="search-hint">
          </div>

          <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
            Search
          </button>
          </form>
          </div>
          <br>
  
  
          <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
            <col>
              <colgroup span="5"></colgroup>
              <colgroup span="4"></colgroup>
  
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b></b></td>
                <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="5"><b>Object details</b></td>
                <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Event details</b></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Risk</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Event ID</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Object common name</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Object type</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Mass (kg)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>UK-licensed object?</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Predicted time of re-entry</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Uncertainty window (mins)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Expected survivability to the ground</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of re-entry over UK (%)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Low
                  </strong>
                <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-summary-mvp" class="govuk-link--no-visited-state">RE-2023-08</a> </b></td>
                <td class="govuk-table__cell govuk-body-s">CZ-2C R/B</td>
                <td class="govuk-table__cell govuk-body-s">Rocket body</td>
                <td class="govuk-table__cell govuk-body-s">4006</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">No</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">03/11/23 16:20</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">+/- 284.9</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0.04</td>
              </tr>
            </tbody>
          </col>
        </table>
  
<a href="/eventhistory" class="govuk-link" download="">Download "Previous events" as a CSV</a><p></p>

<a href="/eventhistory" class="govuk-link" download="">Download "Previous events" as a JSON</a><p></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with this table
    </span>
  </summary>
  <div class="govuk-details__text">
    <b>This table shows all upcoming re-entry events that the UKSA is monitoring.</b>
    <p> </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Select the <b>event ID</b> to view more information.</li>
      <li>Each event ID or row represents <b>one re-entry event</b> including all related TIPs and UKSA analysis.</li>

  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}