{% extends "layout.html" %}

{% block pageTitle %}
Track re-entry events
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-xl">Track re-entry events</h2>
            <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">First 6 weeks</th>
              <td class="govuk-table__cell">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Next 33 weeks</th>
              <td class="govuk-table__cell">£109.80 per week</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total estimated pay</th>
              <td class="govuk-table__cell">£4,282.20</td>
            </tr>
          </tbody>
        </table>
        <h2 class="govuk-heading-m">All re-entry events (upcoming and past)</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">This table contains all tracked re-entry events, including re-entry events that meet the UK Space Agency's thresholds for alerting UK government. For further detail on how risk and alert thresholds are defined, see 'Help with this table' below.</p>
  
        <div class="moj-search">
            <form action="#" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                Find a re-entry event:
              </label>
      
              <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by event or object ID" aria-describedby="search-hint">
            </div>
      
            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>
            </form>
            </div>
        <br>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Apply filters to this table
              </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        View all re-entry events and alerts
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        Only view re-entry alerts
                      </label>
                    </div>
                  </div>
                </fieldset>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                      Filter by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>All</option>
                      <option value="published">Upcoming</option>
                      <option value="updated">Past</option>
                    </select>
                  </div>
            </div>
          </details>
          <br>
        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
          <col>
            <colgroup span="5"></colgroup>
            <colgroup span="4"></colgroup>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b></b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Event details</b></td>
              <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="3"><b>Object details</b></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 8%";>Risk to the UK</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of re-entry over the UK (%)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 25%";>Re-entry time window worldwide (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>UK overflight time(s) (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Expected survivability to the ground</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Licensing country</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Low
                </strong>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/event-summary" class="govuk-link--no-visited-state">re-asghj-kifdy (Alert)</a></b></td>
              <td class="govuk-table__cell govuk-body-s">0.04</td>
              <td class="govuk-table__cell govuk-body-s">15/04/2024, 14:45 to 15/04/2024, 21:12</td>
              <td class="govuk-table__cell govuk-body-s">03/11/2023, 16:26</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">CZ-2C R/B (Rocket body)</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">People's Republic of China</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--grey">
                      N/A
                    </strong>
                <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="#" class="govuk-link--no-visited-state">re-jtdgt-jytgy</a></b></td>
                <td class="govuk-table__cell govuk-body-s">0</td>
                <td class="govuk-table__cell govuk-body-s">10/04/2024, 09:26 to 10/04/2024, 21:05</td>
                <td class="govuk-table__cell govuk-body-s">N/A</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">SL-14 R/B (Rocket body)</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Unlikely</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Russia</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Medium
                  </strong>
                <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="#" class="govuk-link--no-visited-state">re-averb-ntrwa (Alert)</a> </b></td>
                <td class="govuk-table__cell govuk-body-s">3.4</td>
                <td class="govuk-table__cell govuk-body-s">06/04/2024, 17:43 to 07/04/2024, 12:32</td>
                <td class="govuk-table__cell govuk-body-s">06/04/2024, 23:24</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">METEOR 3-1 DEB (Debris)</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
                <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Russia</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                          N/A
                        </strong>
                    <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="/reentry/gov-user/tip-summary-1" class="govuk-link--no-visited-state">re-kdhyw-lposc</a></b></td>
                    <td class="govuk-table__cell govuk-body-s">0</td>
                    <td class="govuk-table__cell govuk-body-s">03/11/2023, 11:35 to 03/11/2023, 21:05</td>
                    <td class="govuk-table__cell govuk-body-s">N/A</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">CZ-7 R/B (Rocket body)</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Unknown</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">People's Republic of China</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                          N/A
                        </strong>
                    <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="#" class="govuk-link--no-visited-state">re-wever-rythr</a></b></td>
                    <td class="govuk-table__cell govuk-body-s">0</td>
                    <td class="govuk-table__cell govuk-body-s">03/11/2023, 11:35 to 03/11/2023, 21:05</td>
                    <td class="govuk-table__cell govuk-body-s">N/A</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">OPS 4682 (Debris)</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Likely</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">United States</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">
                          N/A
                        </strong>
                    <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="#" class="govuk-link--no-visited-state">re-ebreg-auqwg</a></b></td>
                    <td class="govuk-table__cell govuk-body-s">0</td>
                    <td class="govuk-table__cell govuk-body-s">29/10/2023, 23:35 to 30/10/2023, 03:05</td>
                    <td class="govuk-table__cell govuk-body-s">N/A</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">CZ-2C R/B (Rocket body)</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">Unknown</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">People's Republic of China</td>
                  </tr>
          </tbody>
        </col>
      </table>

      <p>Download all re-entry events [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

      <div class="govuk-inset-text">Upcoming and previous known re-entry events as of 04/04/2024 07:09:36.</div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>This table shows all upcoming and previous re-entry events that have been identified by Space-Track and ingested into Monitor space hazards, including events which pose a risk to the UK. Higher risk events contain additional analysis by UKSA's Orbital Analysts at the National Space Operations Centre.</b>
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>Event ID</b> to view more information</li>
            <li>Each Event ID or row represents <b>one re-entry event</b> including all related alert updates</li>
            <li>Sort the alerts according to criteria by clicking on the relevant <b>headings</b></li>

          </ul>
          <h3 class="govuk-heading-s">Alert thresholds</h3>
          <p class="govuk-body">Alerts about re-entry events are produced if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Less than 36 hours until re-entry</li>
              <li>AND one of the following:</li>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Any “large” object in US SATCAT (except designed for demise) with overflights of the UK mainland</li>
                  <li>OR any “large” object in US SATCAT (except designed for demise) with more than 0.1% chance of impact in overseas territories</li>
                  <li>OR any UK-licensed object (except designed for demise)</li>
                  <li>OR (anticipated) press interest</li>
                </ul>   
              <li>OR nominated for escalation by the National Space Operations Centre</li>
          </ul>

           <h3 class="govuk-heading-s">Risk thresholds</h3>

          <p>Risk thresholds are calculated according to the probability of the object re-entering over the UK.</p>

          <table class="govuk-table"style="width:100%">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 50%";>Risk level</th>
                    <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 50%";>Probability of re-entry over the UK (%)</th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--green">Low</strong></th>
                <td class="govuk-table__cell govuk-body-s">Less than 1%</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></th>
                <td class="govuk-table__cell govuk-body-s">1% - 5%</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-body-s"><strong class="govuk-tag govuk-tag--red">High</strong></th>
                <td class="govuk-table__cell govuk-body-s">More than 5%</td>
              </tr>
            </tbody>
          </table> 
    
                </ul>
        </div>
      </details>



      <br>

      <a href="/homepage" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to previous page</a>

  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}