{% extends "layout.html" %}

{% block pageTitle %}
Login
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}
<p></p>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/login">Log in</a>
    </li>

    </ol>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Email sent</h1>
</div>
</div>
      <div class="govuk-inset-text">
    Check your email for instructions.  If you do not receive an email, check the instructions you received inviting you to the system.
    </div>
  </div>



{% endblock %}
