{% extends "layout.html" %}

{% block pageTitle %}
Login
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}
<p></p>
<div class="govuk-width-container">
<a href="/login" class="govuk-back-link">Back</a>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Email not sent</h1>

<p>Your email address was not recognised. <b><a href ="/login">Try again</a></b>.</p>


</div>
</div>






    </div>
  </div>



{% endblock %}
