
{% extends "layout.html" %}

{% block pageTitle %}
  Email sent successfully
{% endblock %}

{% block content %}
<div class="govuk-width-container">



</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Email sent successfully to name@example.com</h1>

      </div>

      <p>Check your email and follow the instructions to confirm your email address and sign in to this service.</p>
      <p>If our email doesn't arrive within 5 minutes, check your spam and trash folder, or <b><a href="/login">try entering your email again</a></b>.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <a href="/magic-link-clicked" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Continue
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>

        </div>
        </div>

        </div>
        </div>
    </div>

{% endblock %}
