{% extends "noheader-layout.html" %}

{% block pageTitle %}
Sorry, the service is unavailable - Monitor my satellites - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-width-container">

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>

          <p class="govuk-body-l">The service is currently unavailable whilst we release an update. This is to ensure the continuous improvement of the service. This typically take less than 10 minutes, when the service will resume with the improvements included. In the future we plan to do this with zero downtime.</p>

          <p class="govuk-body-l">Contact the UKSA at <b>monitorspacehazards@ukspaceagency.gov.uk</b> with any urgent requests.</p>

    </div>

</main>
{% endblock %}
