{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="PoC-evolution">Evolution of conjunction probability</a>
    </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AA00-0001: Evolution of conjunction probability</h1>
            <p></p>
            <p> This graph shows the changing probability of a conjunction event occuring over time.
            Data from both the US and UKSA is shown. </p>
              <img src="/public/images/chart-2.png" alt="User icon">
            </div>
          </main>
</div>


{% endblock %}
