{% extends "layout.html" %}

{% block pageTitle %}
password
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="login">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Log in to Monitor my Satellites</h1>

    <form class="form" action="/operator-homepage" method="post">

        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                  Enter the 8-digit code we have sent to your email
                </label>
            </h1>
              <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
          </div>
        </div>

      <p><a href="#">Did not receive an email?</a></p>

  </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
{% extends "layout.html" %}
