{% extends "layout.html" %}

{% block pageTitle %}
Registered satellites
{% endblock %}

{% block content %}


  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Accessibility statement for UKSA’s Monitor my satellites service</h1>
        <p>This accessibility statement applies to the ‘Monitor my satellites’ website (www.monitor-my-satellites.space).</p>
        <p>This website is run by the UK Space Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:
          <ul class = "govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 400% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>
          <p>
          <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.</p>
        <p>We’ve also made the website text as simple as possible to understand.</p>
  <h2 class="govuk-heading-l">How accessible this website is</h2>
  <p>We know some parts of this website are not fully accessible. These include:
    <ul class = "govuk-list govuk-list--bullet">
    <li>The text will not reflow in a single column when you change the size of the browser window to 400% on a mobile device</li>
    <li>You cannot modify the line height or spacing of text</li>
    <li>Graphs do not have a text alternative</li>
    <li>PDF documents for the Terms and Conditions of the site are not fully accessible to screen reader software</li>
    <li>You cannot skip to the main content when using a screen reader</li>
    </ul>
    </p>
  <h3 class="govuk-heading-m">Feedback and contact information</h3>
  <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
    <ul class = "govuk-list govuk-list--bullet">
    <li>email monitormysatellites@ukspaceagency.gov.uk</li>
    </ul>
    <p>We’ll consider your request and get back to you soon as possible.</p>

  <h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>
    <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact us via:
  <ul class = "govuk-list govuk-list--bullet">
    <li>The
      <a href="https://www.monitor-my-satellites.space/feedback" class="govuk-link" rel="noreferrer noopener" target="_blank">feedback form</a>
 via the beta banner</li>
    <li>Email monitormysatellites@ukspaceagency.gov.uk</li>
    </ul>
    </p>

    <h3 class="govuk-heading-m"> Enforcement procedure</</h3>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

  <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
  <p>The UK Space Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-m">Compliance status</h3>
    <p>This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed below.</p>
      <h2 class="govuk-heading-m">Non-accessible content</h2>
      <p>The content listed below is non-accessible for the following reasons.</p>
      <ul class = "govuk-list govuk-list--bullet">
        <li>PDF documents for the Terms and Conditions of the site are not fully accessible to screen reader software</li>
        <li>Graphs do not have a text alternative</li>
        </ul>
    <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
    <p>Some of our PDFs are essential to providing our services. We have PDFs with information on the site’s Terms and Conditions.
      We plan to either fix these or replace them with accessible HTML pages.
      Any new PDFs or Word documents we publish will meet accessibility standards.
      </p>

    <h3 class="govuk-heading-m">Disproportionate burden</h3>
    <p>Graphs do not have a text alternative, so people using a screen reader cannot access the information. This fails WCAG 2.1 success criterion 1.1.1 (non-text content).
      However, all the data displayed in the graphs is also included in the event information tables, and the event history table. Screen readers will be able to access this information.  The graphs also change as events are updated and are unique to events so it is not possible to provide a tailored description of each graph for screen readers. </p>

  <h4 class="govuk-heading-s">Navigation and accessing information</h4>
  <p>There’s no way to skip the repeated content in the page header (for example, a ‘skip to main content’ option).</p>

  <h4 class="govuk-heading-s">Interactive tools and transactions</h4>
    <p>It is not possible to navigate the graphs with a keyboard, to display interactive labels for lines on the graph. This is because the graphs were taken from a pre-existing graph library, as no approved GDS components exist, and ‘skinned’ to look like our website.</p>
  <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
    <p>We are developing a roadmap to fix content which fails to meet the Web Content Accessibility Guidelines version 2.1 AA standard. We will update this page when issues are fixed.</p>
  <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
    <p>This statement was prepared on 25 April 2022. It was last reviewed on 25 April 2022.</p>
      <p>This website was last tested on 25 April 2022 . The test was carried out by the internal team. We will update this statement following external accessibility testing in May.</p>

      </div>
      </div>
  </main>
</div>



{% endblock %}
