{% extends "layout.html" %}

{% block pageTitle %}
Invite a new user
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-admin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-admin-user-accounts">Organisation user accounts</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Invite a new user</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">Invite a new user</h1>

    <p class="gem-c-lead-paragraph">Invite a new user to join your organisation by entering the details below.</p>

    <form class="form" action="/operator-admin-homepage" method="post">
      <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      <b>Email address<b>
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      <b>Select an account type<b>
    </legend>
    <div id="sign-in-hint" class="govuk-hint">
      What type of access will this user require in the UK Space Agency organisation?
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Organisation administrator
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Has the ability to add/remove users and view user activity
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Operator
        </label>
      </div>
    </div>

  </fieldset>
</div>


    <button class="govuk-button" data-module="govuk-button">
      Send invite
    </button>
    </form>
    </div>

  </main>
{% endblock %}
