{% extends "layout.html" %}

{% block pageTitle %}
Edit an existing user
{% endblock %}

{% block content %}
<a href="admin-edit-existing-user" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/admin-edit-existing-user" method="post">

    <h1 class="govuk-heading-xl">Change user's account type</h1>



  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <div id="sign-in-hint" class="govuk-hint">
      What type of access will this user require in the <b>UK Space Agency<b> organisation?
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Organisation administrator
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          with the ability to add/remove users and view user activity
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Standard user
        </label>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
  Save
</button>
</form>

</div>

  </main>
{% endblock %}
