{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="admin-homepage">Home</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="admin-account">Account</a>
          </li>


        </ul>

      </nav>

    </div>
  </div>

</div>



    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Account settings</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/admin-account-information" class="govuk-link--no-visited-state">User information</a></li>
        <li><a href="/admin-satellite-list" class="govuk-link--no-visited-state">Your satellites</a></li>
        <li><a href="/admin-notification-settings-view" class="govuk-link--no-visited-state">Notification settings</a></li>

        <li><a href="/admin-threshold-settings-view" class="govuk-link--no-visited-state">Threshold settings</a></li>

        <li><a href="/admin-notation-settings-view" class="govuk-link--no-visited-state">Notation settings</a></li>

      </ul>



        <p></p>
      </div>
      </div>
  </main>
</div>

<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
