{% extends "layout.html" %}

{% block pageTitle %}
Account settings
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/admin-initial-notification-settings" method="post">

        <h1 class="govuk-heading-xl">Your account</h1>

        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

        </legend>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation</dt>
                <dd class="govuk-summary-list__value">UKSA</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">User type</dt>
                <dd class="govuk-summary-list__value">Standard user</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email address</dt>
                <dd class="govuk-summary-list__value">example.admin@UKSA.co.uk</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone number</dt>
                <dd class="govuk-summary-list__value">07123 456789</dd>
              </div>
            </dl>

            <p class="govuk-body-m">Contact your organisation administrator if any of these details are incorrect.</p>

            <button class="govuk-button" data-module="govuk-button">
                  Save and continue
              </button>
                </form>
          </fieldset>


  </div>


</div>
  </main>
</div>


{% endblock %}
