{% extends "layout.html" %}

{% block pageTitle %}
Edit an existing user
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-admin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-admin-user-accounts">Organisation user accounts</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Edit user account</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
<form class="form" action="/operator-admin-user-accounts" method="post">

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        The account [email address] has now been deleted from your organisation.
      </h3>
      <p class="govuk-body"> This use will no longer have access to the Monitor your satellites service </p>
    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">
  Return to user accounts
</button>
</form>

</div>

  </main>
{% endblock %}
