{% extends "layout.html" %}

{% block pageTitle %}
Account settings
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/analyst-initial-threshold-settings" method="post">


        <h1 class="govuk-heading-xl">Choose your notification settings</h1>

        <p>New event notifications will be collated and sent in one email and/or text every eight hours.</p>
        <p>Choose which notifications you wish to receive. Uncheck boxes where you do not wish to receive notifications.<p>

<p>You must recieve notifications for when new epehmeris data is uploaded.</p>

<p>You will set your notification thresholds on the next page.

</p>




<table class="govuk-table" style="width:100%">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width:50%"></th>
        <th scope="col" class="govuk-table__header" style="width:25%">Email</th>
        <th scope="col" class="govuk-table__header" style="width:25%">Text</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">New conjunction event crosses your thresholds</td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>

        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">Updated event crosses your thresholds</td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>

        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">Updated  event no longer crosses your thresholds</td>
        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>

        <td class="govuk-table__cell">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
              <label class="govuk-label govuk-checkboxes__label" for="contact">
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">New ephemeris data uploaded</td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" checked=unchecked>
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                </label>
              </div>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                <label class="govuk-label govuk-checkboxes__label" for="contact">
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">New UKSA event analysis uploaded</td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" checked=unchecked>
                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                  </label>
                </div>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="text" data-aria-controls="conditional-contact" checked=unchecked>
                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                  </label>
                </div>
              </div>
            </td>
          </tr>
                </div>
              </td>
            </tr>
        </tbody>
  </table>
</fieldset>
</div>
  <p></p>
  <p></p>


        <button class="govuk-button" data-module="govuk-button">
              Save and continue
          </button>
            </form>
                </form>
  </div>


</div>
  </main>
</div>


{% endblock %}
