{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Upload ephemeris data
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="analyst-homepage">Events</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="analyst-warning-1">Event AAA001</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="analyst-upload-ephemeris">Upload</a>
      </li>
        </ol>
        </div>
<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
    Upload your ephemeris data
    </h1>
    <form class="form" action="/analyst-warning-1" method="post">

    <p> If you would like updated UKSA analysis on this event using your ephemeris data, attach a file below. This data will not be shared outside of the UKSA.</p>
    <p> </p>
    <p> Upload a CCSDS .oem file. The file must not exceed 20MB.
    <div class="govuk-form-group">
      <label class="govuk-label" for="file-upload-1">
        <b>Upload .oem file:</b>
      </label>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Upload
    </button>

    </div>

  </main>
{% endblock %}
