{% extends "layout.html" %}

{% block pageTitle %}
Upload UKSA analysis
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="analyst-homepage">Event</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="analyst-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/analysis-upload">Upload your analysis</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
    Upload UKSA analysis for event AAA0001
    </h1>
    <form class="form" action="#" method="post">


    <p> Upload a JSON file. The file must be smaller than 12 MB and should meet the defined UKSA schema for JSON files.</p>

</p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="file-upload-1">
        <b>Upload your analysis:</b>
      </label>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Upload analysis
    </button>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with uploading your analysis
        </span>
      </summary>
      <div class="govuk-details__text">
      The file must have the following to be accepted:
        <p> </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The file must have a JSON extension.</li>
          <li>The file must not exceed 12 MB. </li>
           <li>The file must match the defined schema for analysis. </li>
        </ul>

    <p><b>The data schema for JSON files is as follows:</b><p>
      <p>{</p>
        <p>"event_id": " ",</p>
  <p>"cdm_id": " ",</p>
  <p>"collision_probability": ,</p>
  <p>"tca": " ",</p>
  <p>"miss_distance":</p>
  <p>{</p>
      <p>"total_value":,</p>
        <p>"total_uncertainty":,</p>
        <p>"mean_radial_value":,</p>
        <p>"mean_radial_uncertainty":,</p>
        <p>"in_track_value":,</p>
        <p>"in_track_uncertainty": ,</p>
        <p>"cross_track_value": ,</p>
        <p>"cross_track_uncertainty": </p>
    <p>},</p>
    <p>"update_time": " ",</p>
    <p>"altitude": ,</p>
  <p>"latitude":,</p>
    <p>"longitude":,</p>
    <p>"relative_velocity": ,</p>
    <p>"estimated_combined_mass": ,</p>
    <p>"estimated_fragments": ,</p>
    <p>"primary_object":</p>
    <p>{</p>
      <p>"norad_id": " ",</p>
      <p>"data_received": " ",</p>
      <p>"data_source": "  ",</p>
      <p>"HBR": ,</p>
      <p>"observations_number": ,</p>
      <p>"observations_available": ,</p>
      <p>"observations_timespan": ,</p>
      <p>"OD_Quality":  </p>
    <p>},</p>
    <p>"secondary_object":</p>
    <p>{</p>
      <p>"norad_id": " ",</p>
      <p>"data_received": " ",</p>
      <p>"data_source": " ",</p>
      <p>"HBR": ,</p>
      <p>"observations_number": ,</p>
      <p>"observations_available": ,</p>
      <p>"observations_timespan": ,</p>
      <p>"OD_Quality": </p>
    <p>},  <p>
    <p>"collision_probability_method": " "  <p>
  <p>}  <p>

  </div>
</details>
    </div>

  </main>
{% endblock %}
