{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/analyst-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/analyst-satellite-list">Satellite Catalogue</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/analyst-satellite-8">ONEWEB-0050</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">ONEWEB-0050</h1>

  <h2 class="govuk-heading-l">Upcoming conjunction events</h2>
  <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 6%">Event ID</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 13%">Time of event (UTC)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">Total miss distance (m)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">Radial miss distance (m)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">USA Probability of collision (%)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">UKSA Probability of collision (%)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 12%">Last updated (UTC)</th>
      </tr>
    </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">

        <a href="/analyst-warning-34" class="govuk-link--no-visited-state">AAA0034</a>
      </td>
      <td class="govuk-table__cell">12/02/21 19:00</td>
      <td class="govuk-table__cell">37 m</td>
      <td class="govuk-table__cell">45 m</td>
      <td class="govuk-table__cell">11%</td>
      <td class="govuk-table__cell">9%</td>
      <td class="govuk-table__cell">06/02/21 03:59</td>
    </tr>
    </tbody>
    </table>
<a href="/public/downloads/space_data.xlsx" download >Download alert history for ONEWEB-0050</a>
<p></p>
        <h2 class="govuk-heading-l">Satellite Information</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                <td class="govuk-table__cell">ONEWEB-0050</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">NORAD ID</th>
                <td class="govuk-table__cell">45453</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">International designator</th>
                <td class="govuk-table__cell">2020-020AF</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Object type</th>
                <td class="govuk-table__cell">Payload</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Active / inactive</th>
                <td class="govuk-table__cell">Active</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">250</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">UK licensed</th>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Launching state</th>
                <td class="govuk-table__cell">UK</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Launch year</th>
                <td class="govuk-table__cell">2020</td>
              </tr>
            </tbody>
          </table>
          <p> </p>
          <h2 class="govuk-heading-l">Location data</h2>
              <p>This table shows the most recent location data for ONEWEB-0050.</p>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">TIME</th>
                    <th scope="col" class="govuk-table__header">DATE</th>
                    <th scope="col" class="govuk-table__header">ORBIT</th>
                    <th scope="col" class="govuk-table__header">INCLINATION</th>
                    <th scope="col" class="govuk-table__header">APOGEE</th>
                    <th scope="col" class="govuk-table__header">PERIGEE</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:14</td>
                    <td scope="row" class="govuk-table__cell">11/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">111.11</td>
                    <td scope="row" class="govuk-table__cell">1459</td>
                    <td scope="row" class="govuk-table__cell">1096</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:17</td>
                    <td scope="row" class="govuk-table__cell">10/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">111.81</td>
                    <td scope="row" class="govuk-table__cell">1463</td>
                    <td scope="row" class="govuk-table__cell">1101</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:20</td>
                    <td scope="row" class="govuk-table__cell">09/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">112.01</td>
                    <td scope="row" class="govuk-table__cell">1455</td>
                    <td scope="row" class="govuk-table__cell">1099</td>
                  </tr>
                </tbody>
              </table>
                <a href="/public/downloads/space_data.xlsx" download >Download location data for ONEWEB-0050</a>
                <p> </p>
  </main>
  </div>


{% endblock %}
