{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Upload ephemeris data
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="analyst-homepage">Event</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="analyst-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/analysis-upload">Upload your analysis</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
    Upload your analysis for event AAA0001
    </h1>
    <form class="form" action="#" method="post">

    <p> Upload UKSA conjunction analysis for this event.</p>
    <p> Upload a JSON file with the agreed format.</p>

    <div class="govuk-form-group govuk-form-group--error">
      <label class="govuk-label" for="file-upload-1">
        <b>Upload your analysis:</b>
      </label>
      <p id="file-upload-1-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> The JSON file must be smaller than [x]MB and have the correct format
      </p>
      <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-error">
    </div>

    <p>You will receive confirmation when the file has been successfully uploaded.</p>

    <button class="govuk-button" data-module="govuk-button">
      Upload analysis
    </button>

    </div>

  </main>
{% endblock %}
