{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-communication-warning-1">Contact analyst</a>
    </li>
    </ol>
</div>
  <form class="form" action="/warning-1" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"> Event AAA0001 next steps </h1>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Message sent</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>AAA0001-01</strong>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div class="govuk-button-group">
            <a href="warning-1" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              Return to event summary</a>
              <a href="operator-send-ephemeris" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Submit ephemeris data</a>
          </div>
        </div>
        </div>

        </div>
        </div>
      </form>
    </div>

{% endblock %}
