{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AA00-0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Data explanation</a>
    </li>
    </ol>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Data explanation</h1>
            <p></p>
            <p> UKSA receives detailed analysis from Orbital Analysts at NORSS.
              The graphs and analysis shown have been calculated using their sophisticated software
              and demonstrate our best knowledge in relation to forecast conjunction events.
        </div>
  </main>
</div>


{% endblock %}
