{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="login.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upcoming conjunction risks</h1>
        <p class="govuk-body">All conjunction alerts involving UK-licensed satellites listed in the table below:</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            There is 1 urgent alert
          </strong>
        </div>
      </div>
        <div class="govuk-grid-column-one-third">

          <h2 class="govuk-heading-m">Notification settings</h2>

          <a href="/ert-notifications" class="govuk-link--no-visited-state">Change your notification settings</a>
          <p>
            </p>

        </div>
      <div class="govuk-grid-row">
        <p>
        </p>
        <p>
        </p>

        <div>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Alert ID</th>
              <th scope="col" class="govuk-table__header app-custom-class">Time of conjunction event</th>
              <th scope="col" class="govuk-table__header app-custom-class">Primary object</th>
              <th scope="col" class="govuk-table__header app-custom-class">Probability of collision (USA)</th>
              <th scope="col" class="govuk-table__header app-custom-class">Probability of collision (UKSA)</th>
              <th scope="col" class="govuk-table__header app-custom-class">Mass involved</th>
              <th scope="col" class="govuk-table__header app-custom-class">Data last updated</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">
                <a href="warning-1.html" class="govuk-link--no-visited-state">AA00-0001</a>
              </th>
              <th class="govuk-table__cell">4th Feb 2021 at 11:51 UTC</th>
              <th class="govuk-table__cell"><a href="/satellite-1">2020-088AD</a></th>
              <th class="govuk-table__cell">52%</th>
              <th class="govuk-table__cell">38%</th>
              <th class="govuk-table__cell">890 kg</th>
              <th class="govuk-table__cell">4th Feb 2021 at 08:19 UTC</th>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-2.html" class="govuk-link--no-visited-state">AA00-0002</a>
              </td>
              <td class="govuk-table__cell">10th Feb 2021 at 04:19 UTC </td>
              <td class="govuk-table__cell"><a href="/satellite-1">2020-088AD</a></td>
              <td class="govuk-table__cell">8%</td>
              <td class="govuk-table__cell">5%</td>
              <td class="govuk-table__cell">921 kg </td>
              <td class="govuk-table__cell">3th Feb 2021 at 14:30 UTC</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-3.html" class="govuk-link--no-visited-state">AA00-0003</a>
              </td>
              <td class="govuk-table__cell">12th Feb 2021 at 19:00 UTC</td>
              <td class="govuk-table__cell"><a href="/satellite-1">2020-088AD</a></td>
              <td class="govuk-table__cell">6%</td>
              <td class="govuk-table__cell">7%</td>
              <td class="govuk-table__cell">1489 kg</td>
              <td class="govuk-table__cell">4th Feb 2021 at 12:02 UTC</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-4.html" class="govuk-link--no-visited-state">AA00-0004</a>
              </td>
              <td class="govuk-table__cell">14th Feb 2021 at 03:49 UTC</td>
              <td class="govuk-table__cell"><a href="/satellite-2">2020-019F</a></td>
              <td class="govuk-table__cell">2%</td>
              <td class="govuk-table__cell">1%</td>
              <td class="govuk-table__cell">3800 kg</td>
              <td class="govuk-table__cell">3th Feb 2021 at 07:16 UTC</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/ert-warning-2" class="govuk-link--no-visited-state">AA00-0021</a>
              </td>
              <td class="govuk-table__cell">10th Feb 2021 at 04:19 UTC</td>
              <td class="govuk-table__cell">2021-006N</td>
              <td class="govuk-table__cell">7%</td>
              <td class="govuk-table__cell">5%</td>
              <td class="govuk-table__cell">600 kg</td>
              <td class="govuk-table__cell">5th Feb 2021 at 16:55 UTC</td>

            </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/ert-warning-3" class="govuk-link--no-visited-state">AA00-0033</a>
            </td>
            <td class="govuk-table__cell">12th Feb 2021 at 19:00 UTC</td>
            <td class="govuk-table__cell">2020-020K</td>
            <td class="govuk-table__cell">11%</td>
            <td class="govuk-table__cell">9%</td>
            <td class="govuk-table__cell">1100 kg</td>
            <td class="govuk-table__cell">6th Feb 2021 at 03:59 UTC</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/ert-warning-4" class="govuk-link--no-visited-state">AA00-0034</a>
            </td>
            <td class="govuk-table__cell">14th Feb 2021 at 01:05 UTC</td>
            <td class="govuk-table__cell">2020-020AF</td>
            <td class="govuk-table__cell">16%</td>
            <td class="govuk-table__cell">7%</td>
            <td class="govuk-table__cell">760 kg</td>
            <td class="govuk-table__cell">2nd Feb 2021 at 01:05 UTC</td>

          </tr>
          </tbody>
      </table>
      </div>
      </div>


  </main>
</div>


{% endblock %}
