{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/ert-homepage">Home</a>
    </li>
  </ol>
</div>
    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Upcoming conjunction events</h1>
        <p class="govuk-body">Forecast conjunction events affecting UK satellites:</p>
        <! main table for conjunction warnings>
        <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 12%";>ERF level</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 10%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 15%";>Time of closest approach (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Primary object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of collision (%)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Total miss distance</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Impact</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="3"><strong class="govuk-tag govuk-tag--red">Level 3</strong></td>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0001"> <b><a href="ert-warning-1.html" class="govuk-link--no-visited-state">AAA0001</a></b></td>
              <td class="govuk-table__cell govuk-body-s">04/02/21 11:51</td>
              <td class="govuk-table__cell govuk-body-s">Starlink-1862</td>
              <td class="govuk-table__cell govuk-body-s">Discoverer 5</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="10.86">10.86</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="78">78 m</td>
              <td class="govuk-table__cell govuk-body-s">Medium</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="3"><strong class="govuk-tag govuk-tag--red">Level 3</strong></td>
              <td class="govuk-table__cell govuk-body-s" data-sort-value="0002"><b><a href="#" class="govuk-link--no-visited-state">AAA0002</a> </b></td>
              <td class="govuk-table__cell govuk-body-s">10/02/21 04:19</td>
              <td class="govuk-table__cell govuk-body-s">Starlink-1917</td>
              <td class="govuk-table__cell govuk-body-s">Debris</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">7.65</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">109 m</td>
              <td class="govuk-table__cell govuk-body-s">High</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="2">
              <strong class="govuk-tag govuk-tag--yellow">
                Level 2
              </strong>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-sort-value="0003"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0003</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">12/02/21 19:00</td>
              <td class="govuk-table__cell govuk-body-s">Spacebee-52</td>
              <td class="govuk-table__cell govuk-body-s">Oneweb-0050</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">3.45</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">411 m</td>
              <td class="govuk-table__cell govuk-body-s">Medium</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="3">
              <strong class="govuk-tag govuk-tag--red">
                Level 3
              </strong>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-sort-value="0004"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0004</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">14/02/21 03:49</td>
              <td class="govuk-table__cell govuk-body-s">Starlink-1861</td>
              <td class="govuk-table__cell govuk-body-s">Debris</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">5.71</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">264 m</td>
              <td class="govuk-table__cell govuk-body-s">High</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="2">
              <strong class="govuk-tag govuk-tag--yellow">
                Level 2
              </strong>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-sort-value="0021"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0021</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">10/02/21 04:19</td>
              <td class="govuk-table__cell govuk-body-s">Oneweb-132</td>
              <td class="govuk-table__cell govuk-body-s">Debris</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">6.24</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">324 m</td>
              <td class="govuk-table__cell govuk-body-s">Medium</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="1">
              <strong class="govuk-tag govuk-tag--blue">
                Level 1
              </strong>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-sort-value="0033"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0033</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">12/02/21 19:00</td>
              <td class="govuk-table__cell govuk-body-s">Exy-1543</td>
              <td class="govuk-table__cell govuk-body-s">Debris</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2.43</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">765 m</td>
              <td class="govuk-table__cell govuk-body-s">Low</td>
            </tr>
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="1">
              <strong class="govuk-tag govuk-tag--blue">
                Level 1
              </strong>
            </td>
            <td class="govuk-table__cell govuk-body-s" data-sort-value="0034"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0034</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">04/02/21 11:51</td>
              <td class="govuk-table__cell govuk-body-s">Starlink-1234</td>
              <td class="govuk-table__cell govuk-body-s">Spacebee-786</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1.42</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">562 m</td>
              <td class="govuk-table__cell govuk-body-s">Low</td>
            </tr>
          </tbody>
      </table>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>This table shows upcoming conjunction events involving UK satellites.</b>
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>event ID</b> to view more information.</li>
            <li>The UK satellite will always be listed as the <b>primary object</b>.</li>
            <li><b>ERF level</b>, emergency response framework level, is defined by the SST team and the CNI team.</li>
            <li><b>Potential impact</b> is defined by a member of the UKSA SST team based on potential impact to UK assets and services.</li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Settings</h2>
        <p>View or change your <a href="ert-notifications.html" class="govuk-link--no-visited-state">notification settings</a></p>
        <p>View or change your <a href="#" class="govuk-link--no-visited-state">homepage settings</a></p>
        <p></p>
      </div>
      </div>
  </main>
</div>

<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
