{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ert-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ert-warning-1">Event AAA0001</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AAA0001</h1>
        </div>
    <div class="govuk-grid-row">
      <p> <strong class="govuk-tag govuk-tag--yellow">EVENT LEVEL 2</strong> </p>
      <table class="govuk-table"style="width:100%">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 40%">Probability of collision</th>
            <td class="govuk-table__cell" style="width: 80%"><strong class="govuk-tag govuk-tag--red">High</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 40%">Risk to UK assets</th>
            <td class="govuk-table__cell" style="width: 80%"><strong class="govuk-tag govuk-tag--yellow">Medium</strong></td>
          </tr>
        </tbody>
      </table>

      <p> Place holder for text that summarises the event and recommends further actions to be taken by the team. Place holder for text that summarises the event and recommends further actions to be taken by the team. Place holder for text that summarises the event and recommends further actions to be taken by the team. Place holder for text that summarises the event and recommends further actions to be taken by the team.</p>
      <p> </p>
      <h2 class="govuk-heading-l">Event Summary</h2>
        <h3 class="govuk-heading-m">1. What</h3>
        <table class="govuk-table"style="width:100%">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Probability of collision</th>
              <td class="govuk-table__cell" style="width: 50%">13%</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Total miss distance</th>
              <td class="govuk-table__cell" style="width: 50%">78 m</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Altitude</th>
              <td class="govuk-table__cell" style="width: 50%">1456 m</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Fragments created if collision occurs</th>
              <td class="govuk-table__cell" style="width: 50%">10,000</td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">2. Who</h3>
        <table class="govuk-table"style="width:100%">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%">Object 1</th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Activity</th>
              <td class="govuk-table__cell" style="width: 50%">Inactive</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%"> </th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Type</th>
              <td class="govuk-table__cell" style="width: 50%">Payload</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%"> </th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Operator</th>
              <td class="govuk-table__cell" style="width: 50%">Russia</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%">Object 2</th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Activity</th>
              <td class="govuk-table__cell" style="width: 50%">Inactive</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%"> </th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Type</th>
              <td class="govuk-table__cell" style="width: 50%">Payload</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 15%"> </th>
              <th scope="row" class="govuk-table__header" style="width: 35%">Operator</th>
              <td class="govuk-table__cell" style="width: 50%">Russia</td>
            </tr>
          </tbody>
        </table>
        <h3 class="govuk-heading-m">3. When</h3>
        <table class="govuk-table"style="width:100%">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Time of closest approach</th>
              <td class="govuk-table__cell" style="width: 50%">02/03/2021 12:30</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width: 50%">Time of last update</th>
              <td class="govuk-table__cell" style="width: 50%">01/03/2021 14:30</td>
            </tr>
          </tbody>
        </table>
        <p></p>

        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              View further analysis
            </a>

            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Contact analyst at UKSpOC
            </a>

            <a href="ert-add-interpretation" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button">
              Add/edit data interpretation
            </a>

      </div>
      </div>
      <p> </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Additional information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <table class="govuk-table"style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%">Press and communication</th>
                    <td class="govuk-table__cell" style="width: 50%">[insert text here]</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%">Other contacts</th>
                    <td class="govuk-table__cell" style="width: 50%">[insert text here]</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%">Next update</th>
                    <td class="govuk-table__cell" style="width: 50%">[insert text here]</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  What this information means
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <ul class="govuk-list govuk-list--bullet">
                <li><b>ERF levels</b>, Emergency Response Framework levels, are explained <a href="#">here</a>. To summarise,... </li>
                <p> </p>
                <li><b>Probaility of collision</b> above x% is usually a cause for concern and the event should be monitored. For any probability over x%, the UKSA recommends escalating the event and prompting an avoidance manoeuvre, if possible. </li>
                <p> </p>
                <li><b>Risk to UK assets</b> reflects whether there is an immediate risk to UK spacecraft if this collision occurs.</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Data sources and reliability
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <ul class="govuk-list govuk-list--bullet">
                <li>Data is originally sourced from the US database, <b>Spacetrack</b>. We have generated a more realistic probability of collision using our own more refined estimating technique. This means that our data outputs are usually more realistic than those generated by Spacetrack.</li>
                <p> </p>
                <li>Data is received from Spacetrack every 8 hours or so, therefore, you can expect updates <b>once or twice per day</b>.</li>
                <p> </p>
                <li>Where possible, we may also task <b>UK radars and sensors</b> to give us rapid tracking data on the objects involved.</li>

              </ul>
            </div>
          </div>
        </div>

            </div>
        </main>
</div>


{% endblock %}
