{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ert-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ert-satellite-list">Satellite Catalogue</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ert-satellite-3">Starlink-1929</a>
      </li>
    </ol>
  </div>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Starlink-1929</h1>

  <h2 class="govuk-heading-l">Upcoming conjunction events</h2>
  <p>Starlink-1929 does not currently have any active conjunction events.</p>
    <a href="/public/downloads/space_data.xlsx" download >Download event history for Starlink-1929</a>
    <p></p>
        <h2 class="govuk-heading-l">Satellite Information</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Common name</th>
              <td class="govuk-table__cell">Starlink-1929</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">NORAD ID</th>
              <td class="govuk-table__cell">46788</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">International designator</th>
              <td class="govuk-table__cell">2020-074BB</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Object type</th>
              <td class="govuk-table__cell">Payload</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Active / inactive</th>
              <td class="govuk-table__cell">Active</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mass (kg)</th>
              <td class="govuk-table__cell">250</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">UK licensed</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launching state</th>
              <td class="govuk-table__cell">UK</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launch year</th>
              <td class="govuk-table__cell">2020</td>
            </tr>
          </tbody>
        </table>
          <p> </p>
          <h2 class="govuk-heading-l">Location data</h2>
          <p> This table shows the most recent location data for Starlink-1929.</p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">TIME</th>
                <th scope="col" class="govuk-table__header">DATE</th>
                <th scope="col" class="govuk-table__header">ORBIT</th>
                <th scope="col" class="govuk-table__header">INCLINATION</th>
                <th scope="col" class="govuk-table__header">APOGEE</th>
                <th scope="col" class="govuk-table__header">PERIGEE</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">09:14</td>
                <td scope="row" class="govuk-table__cell">11/01/2021</td>
                <td scope="row" class="govuk-table__cell">LEO</td>
                <td scope="row" class="govuk-table__cell">90.69</td>
                <td scope="row" class="govuk-table__cell">348</td>
                <td scope="row" class="govuk-table__cell">290</td>
            </tr>
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:17</td>
                    <td scope="row" class="govuk-table__cell">10/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">95.01</td>
                    <td scope="row" class="govuk-table__cell">531</td>
                    <td scope="row" class="govuk-table__cell">527</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:20</td>
                    <td scope="row" class="govuk-table__cell">09/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">94.82</td>
                    <td scope="row" class="govuk-table__cell">481</td>
                    <td scope="row" class="govuk-table__cell">429</td>
                  </tr>
                </tbody>
              </table>
                <a href="/public/downloads/space_data.xlsx" download >Download location data for Starlink-1929</a>
                <p> </p>
            </div>
  </main>
</div>


{% endblock %}
