
{% extends "layout.html" %}

{% block pageTitle %}
  File uploaded
{% endblock %}

{% block content %}
<div class="govuk-width-container">



</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You have successfully submiited your feedback form.</h1>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <a href= "/admin-satellite-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                            Return to event page</a>


        </div>
        </div>

        </div>
        </div>
    </div>

{% endblock %}
