{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="/analyst-homepage" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Alert AA00-0034</h1>
          <div class="govuk-warning-text">
            <p></p>
            <p> This page contains the latest data released by UKSA for this conjunction event.
              For an explanation of how this data was calculated, and what it means,  see our <a class="govuk-link" href="data-explanation.html">data explanation.</a> </p>
          </div>
                  </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Overview of current alerts</h2>

          <a href="analyst-homepage" class="govuk-link--no-visited-state">View all current alerts for UK satellites</a>
          <p>
            </p>

          <h2 class="govuk-heading-m">Search all satellites</h2>
          <a href="/analyst-satellite-list" class="govuk-link--no-visited-state">View details of another UK-licensed satellite</a>
          <p>
            </p>

          <h2 class="govuk-heading-m">Contact an operator, analyst or regulator</h2>
          <a href="/analyst-communication" class="govuk-link--no-visited-state">View your conversations with other Meridian users</a>
          <p>
            </p>
          <h2 class="govuk-heading-m">Notification settings</h2>
          <a href="/analyst-notifications" class="govuk-link--no-visited-state">Change your notification settings</a>
  </div>
          </div>
          <div class="govuk-grid-row">
            <p> </p>
            <h2 class="govuk-heading-l">Event Summary</h2>
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Probability of Collision (USA)</th>
                  <td class="govuk-table__cell">52%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Probability of collision (UKSA)</th>
                  <td class="govuk-table__cell">38%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Estimated time of conjunction event</th>
                  <td class="govuk-table__cell">4th Feb 2021 at 11:51 UTC</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Miss distance</th>
                  <td class="govuk-table__cell">37 m</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Close approach point</th>
                  <td class="govuk-table__cell">352 km</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Impact velocity</th>
                  <td class="govuk-table__cell">27 km/s</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Mass of objects</th>
                  <td class="govuk-table__cell">890 kg</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Estimated number of fragments</th>
                  <td class="govuk-table__cell">10,000</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Data last updated</th>
                  <td class="govuk-table__cell">4th Feb 2021 at 08:19 UTC</td>
                </tr>
              </tbody>
            </table>

              <h2 class="govuk-heading-l">Object Data</h2>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Object</th>
                        <th scope="row" class="govuk-table__header">Primary Object</th>
                        <th scope="row" class="govuk-table__header">Secondary Object</th>
                      </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Common Name</th>
                      <td class="govuk-table__cell">Starlink-1862</td>
                      <td class="govuk-table__cell">DISCOVERER 5</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">NORAD ID</th>
                      <td class="govuk-table__cell">47149</td>
                      <td class="govuk-table__cell">18</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">International designator</th>
                      <td class="govuk-table__cell">2020-088AD</td>
                      <td class="govuk-table__cell">1959-005A</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Object type</th>
                      <td class="govuk-table__cell">Payload</td>
                      <td class="govuk-table__cell">Payload</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Active/ Inactive</th>
                      <td class="govuk-table__cell">Active</td>
                      <td class="govuk-table__cell">Inactive</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Mass (kg)</th>
                      <td class="govuk-table__cell">250</td>
                        <td class="govuk-table__cell">640</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">UK licensed</th>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">No</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Launching State</th>
                      <td class="govuk-table__cell">UK</td>
                      <td class="govuk-table__cell">USA</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Launch year</th>
                      <td class="govuk-table__cell">2020</td>
                      <td class="govuk-table__cell">1959</td>
                    </tr>
                  </tbody>
                </table>
                <h2 class="govuk-heading-l">Further Analysis</h2>
                <p> Further analysis can provide you with more detailed information on the predicted conjunction event. Select the analysis you would like to view.
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="graph-analysis.html">View graphical analysis</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="map-analysis.html">View maps data</a>
                  </li>
                </ul>
                <h2 class="govuk-heading-l">Event history</h2>
                <p> This page shows the latest data. To view previous updates on this conjunction event, see the event history.
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="event-history.html">View event history</a>
              </div>
  </main>
</div>


{% endblock %}
