{% extends "layout.html" %}

{% block pageTitle %}
Get started
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Get started
    </h1>

    <p class="govuk-body"> To get started using Monitor your satellites, read through the information provided on how to get started using Monitor your satellites.</p>
    <p class="govuk-body"> Information will be available on the support section of the site:</p>

<ol class="app-task-list">

  <li class="task-list__item">
<h2 class="app-task-list__section">
<span class="app-task-list__section-number">1.</span>Set up your monitor your satellites account
</h2>
<div class="app-task-list__details"> <p class="govuk-body"> When you first log in to the site, you will be asked to complete a number of tasks to finish setting up your account. These will include:</p></div>
</li>

<li class="task-list__item">
<h2 class="app-task-list__section">
<span class="app-task-list__section-number">2.</span>Start using the site
</h2>
<div class="app-task-list__details"> <p class="govuk-body"> Monitor your satellites aims to provide clear, actionable data to help it's users make informed decisions regarding potential collisions. In order to do this, it is important to understand how to use the service.</p>
<p class="govuk-body">We have provided a brief <a href="https://www.youtube.com/watch?v=ba0cGB2JVWM">video</a> [5 minutes] that will introduce you to the main features of Monitor your satellites, including: </p>
<ul class="list__list-bullet">
<li class="govuk-body"> An overview of the main pages on the site</li>
<li class="govuk-body">Determining what events are of high interest to you by setting your own event notification thresholds </li>
<li class="govuk-body">Choosing how you would like to interact with the service, by choosing your own notification settings </li>
</ul>

<p class="govuk-body">There is also additional material provided on our technical documentation site, on:</p>

<ul class="list__list-bullet">
<li class="govuk-body"> <a href="#">How to create and amend user details</a></li>
<li class="govuk-body"><a href="#">How to upload and manage ephemeris data</a></li>
<li class="govuk-body"><a href="#">How to use the API</a> </li>
</ul></li>

<li class="task-list__item">
<h2 class="app-task-list__section">
<span class="app-task-list__section-number">3.</span>Add users to your organisation
</h2>
<div class="app-task-list__details"> <p class="govuk-body"></p></div>
</li>

</ol>


  </div>
</div>



{% endblock %}
