{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="warning-1.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Alert AA00-0001</h1>
            <p></p>
            <p> This page contains the latest data released by UKSA for this conjunction event.
              For an explanation of how this data was calculated, and what it means, please see our <a class="govuk-link" href="data-explanation.html">data explanation.</a> </p>
          </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">All alerts</h2>

          <a href="operator-homepage" class="govuk-link--no-visited-state">View Alert Homepage</a>
          <p>
            </p>
            <h2 class="govuk-heading-m">Notification settings</h2>
            <a href="notifications" class="govuk-link--no-visited-state">Change your notification settings</a>
            <p>
            </p>
            <h2 class="govuk-heading-m">Contact an Analyst</h2>
            <a href="communication" class="govuk-link--no-visited-state">View your communications history</a>
  </div>
          </div>
          <div class="govuk-grid-row">
            <p> </p>
            <h2 class="govuk-heading-l">Graphical Analysis</h2>
            <h2 class="govuk-heading-m">Conjunction Data Message</h2>
            <p> Each error ellipsoid shows the uncertainity of an objects position in time.
                <img src="/public/images/chart-1.png" alt="Conjunction Data message">
            <h2 class="govuk-heading-m">Probability of Conjunction Evolution</h2>
            <p> This graph shows the changing probability of a conjunction event occuring over time.
              Data from both the USA and UKSA is shown. </p>
                <img src="/public/images/chart-2.png" alt="User icon">
              </div>
  </main>
</div>


{% endblock %}
