{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="warning-1.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Alert AA00-0001</h1>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This is an urgent alert
            </strong>
          </div>
                  </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">All alerts</h2>

          <a href="regulator_homepage" class="govuk-link--no-visited-state">View Alert Homepage</a>
          <p>
            </p>
            <h2 class="govuk-heading-m">Notification settings</h2>
            <a href="notifications" class="govuk-link--no-visited-state">Change your notification settings</a>
            <p>
            </p>
            <h2 class="govuk-heading-m">Contact an Analyst</h2>
            <a href="communication" class="govuk-link--no-visited-state">View your communications history</a>
  </div>
          </div>
          <div class="govuk-grid-row">
            <p> </p>
            <h2 class="govuk-heading-l">Graphical Analysis</h2>
            <h2 class="govuk-heading-m">Conjunction Data Message</h2>
                <img src="/public/images/chart-1.png" alt="Conjunction Data message">
            <h2 class="govuk-heading-m">Probability of Conjunction Evolution</h2>
                <img src="/public/images/chart-2.png" alt="User icon">
              </div>
  </main>
</div>


{% endblock %}
