{% extends "layout.html" %}

{% block pageTitle %}
Monitor space hazards
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            
     
            <h2 class="govuk-heading-m">
              Monitor space hazards with...
            </h2>

            <h1 class="govuk-heading-xl">
        National Space Operations Centre Warning and Protection Services
      </h1>
    
      <h3 class="govuk-heading-m">National Space Operations Centre (NSpOC) warning and protection services support UK and international partners to manage space related threats, risks and hazards.</h3>
          </div>
        </div>
      </div>
    </div>

      <div class="gem-c-cards">
        <ul class="gem-c-cards__list">
          <!-- Card 1 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="conjunctions/gov-user/homepage.html">In-Space Collision Avoidance System</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Track all conjunction events involving UK satellites, access further detail on specific events, view probability of collision, miss distances and other key metrics, and extract raw data.</p>
            </div>
          </li>

          <!-- Card 2 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="reentry/gov-user/homepage.html">Uncontrolled Re-Entry Early Warning System</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Track all re-entry events over the UK and British Overseas Territories, access further detail on specific events, assess risk to life and property on the ground, and extract raw data.</p>
            </div>
          </li>

     <!-- Card 3 -->
     <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h2 class="gem-c-cards__sub-heading govuk-heading-s">
          <a class="govuk-link gem-c-cards__link" href="satellites.html">UK Satellite Tracking Service</a>
        </h2>
        <p class="govuk-body gem-c-cards__description">Track the positions and movements of all UK-licensed satellites, access further details about position changes through monitoring flags, and extract raw data.</p>
      </div>
    </li>

         <!-- Card 4 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="https://www.metoffice.gov.uk/weather/specialist-forecasts/space-weather">Space Weather Alerts from the Met Office</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">View space weather alerts from the Met Office Space Weather Operations Centre (MOSWOC).</p>
          </div>
        </li>

          <!-- Card 5 -->
          <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="footer/monitoring-operator.html">Explore key statistics</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">View and explore key statistics related to the data ingested by the Monitor space hazards service, including data broken down by organisation and satellite.</p>
          </div>
        </li>

         <!-- Card 6 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="account.html">Change account settings</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Change notification settings by adapting your alert thresholds, select your areas of interest for re-entry events, choose your preferred method for receiving alerts, view T&Cs and see account details.</p>
          </div>
        </li>

         <!-- Card 7 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance">Access support and guidance</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Access support for using the service, uploading and managing ephermeris data and using the API, including a demonstration video.</p>
          </div>
        </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>

{% endblock %}
