{% extends "layout.html" %}

{% block pageTitle %}
Login
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  
  </div>
  <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
  
          <h1 class="govuk-heading-xl">Monitor your satellites</h1>
        </div>
      </div>


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="gem-c-cards">
        <ul class="gem-c-cards__list">
          <!-- Card 1 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/browse/benefits/manage-your-benefit">Manage an existing benefit, payment or claim</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Sign in to your account, report changes, find out about overpayments, or appeal a decision. Includes existing Universal Credit and tax credits claims.</p>
            </div>
          </li>

          <!-- Card 2 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="/browse/benefits/looking-for-work">Benefits and financial support if you're looking for work</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Help if you're looking for a new job, are out of work or affected by redundancy. Includes Universal Credit and Jobseeker’s Allowance (JSA).</p>
            </div>
          </li>

          <!-- Repeat similar structure for other cards -->
        </ul>
      </div>

    </div>
  </div>
</div>




{% endblock %}
