{% extends "layout.html" %}

{% block pageTitle %}
Monitor space hazards
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            
     
            <h1 class="govuk-heading-xl">Monitor Space Hazards</h1>
          </div>
          </div>
          </div>
          
              <h2 class="govuk-heading-m">National Space Operations Centre Warning and Protection Services</h2>
          
              <p>National Space Operations Centre (NSpOC) Warning and Protection Services support UK and international partners managing space related risks and hazards. </p>
              <br>


              <h2 class= govuk-heading-s>
                <a href="conjunctions/gov-user/homepage.html">Track conjunction events <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg></a>
              </h2>
              <p class="govuk-body">Track all conjunction events involving UK satellites with NSpOC's In-Space Collision Avoidance System. Access further detail on specific events, view probability of collision, miss-distances and other key metrics, and extract raw data.</p>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h2 class="govuk-heading-s">
                <a href="reentry/gov-user/homepage.html">Track re-entry events <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg></a>
              </h2>
              <p class="govuk-body">Track all re-entry events over the UK and British Overseas Territories with NSpOC's Uncontrolled Re-Entry Early Warning System. Access further detail on specific events, assess risk to life and property on the ground, and extract raw data.</p>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class=" govuk-heading-s">
          <a href="monitoring/satellite-list">Monitor UK satellite positions <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
        </h2>
        <p class="govuk-body">Monitor the positions and status of all UK-licensed satellites with NSpOC's UK Satellite Activity Monitoring Service. Access further details about position changes through monitoring flags, and extract raw data.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">    
        <h2 class="govuk-heading-s">
              <a href="/organisations">View all UK organisations <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">View and explore key statistics and information related to UK-licensed organisations, including information on number of conjunction events, re-entry events, and satellite position.</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-s">
              <a href="satellites.html">View all UK licensed satellites <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">View information on UK licensed satellites, including operator, position, launch information, and upcoming events.</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class= govuk-heading-s>
              <a href="footer/monitoring-operator.html">Explore key statistics <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">View and explore key statistics related to the data ingested by the Monitor Space Hazards service, including data broken down by organisation and satellite.</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class= govuk-heading-s>
              <a href="https://www.metoffice.gov.uk/weather/specialist-forecasts/space-weather">Check space weather <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">View space weather alerts from the Met Office Space Weather Operations Centre (MOSWOC).</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-s">
              <a href="https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance">Access support and guidance <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">Access support for using the service, uploading and managing ephermeris data and using the API, including a demonstration video.</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            
            <h2 class= govuk-heading-s>
              <a href="account.html">Change account settings <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg></a>
            </h2>
            <p class="govuk-body">Change notification settings by adapting your alert thresholds, select your areas of interest for re-entry events, choose your preferred method for receiving alerts, view T&Cs and see account details.</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>

    </div>
  </div>
</div>
</div>

{% endblock %}
