{% extends "layout.html" %}

{% block pageTitle %}
Monitor Space Hazards
{% endblock %}



{% block content %}

<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Monitor Space Hazards</h1>
  </div>
  </div>
  </div>
  </div>
    <h2 class="govuk-heading-m">National Space Operations Centre Warning and Protection Services</h2>

    <p>National Space Operations Centre (NSpOC) Warning and Protection Services support UK and international partners managing space related risks and hazards. </p>
    <br>
        <div class="govuk-width-container">
          <div class="govuk-footer__navigation">
            <div class="govuk-footer__section govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                    <p> <a href="conjunctions.html"> <b>Track conjunction events<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> </b></a></p>
                    </a>
                  </li>
                <li class="govuk-footer__list-item">
                  <p>Track all conjunction events involving UK satellites.</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-footer__section govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                    <p> <a href="reentry.html"> <b>Track re-entry events<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> </b></a></p>
                    </a>
                  </li>
                <li class="govuk-footer__list-item">
                  <p>Track all re-entry events over the UK and British Overseas Territories.</p>
                  </a>
                </li>
              </ul>
            </div>
        <div class="govuk-footer__section govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                    <p> <a href="satellites.html"> <b>View all satellites <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> </b></a></p>
                    </a>
                  </li>
              <li class="govuk-footer__list-item">
                <p>View information on UK satellites, including object details, dimensions and events.</p>
                </a>
              </li>
            </ul>
          </div>
<div class="govuk-width-container">
    <div class="govuk-footer__navigation">
  <div class="govuk-footer__section govuk-grid-column-one-third">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-footer__list">
        <li class="govuk-footer__list-item">
            <p> <a href="footer/monitoring-operator.html"> <b>Explore key statistics <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg> </b></a></p>
            </a>
          </li>
      <li class="govuk-footer__list-item">
        <p>View and explore key statistics related to the data ingested by the Monitor Space Hazards service. </p>
        </a>
      </li>
    </ul>
  </div>
          <div class="govuk-footer__section govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                    <p> <a href="https://www.metoffice.gov.uk/weather/specialist-forecasts/space-weather"> <b>Current space weather activity <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> </b></a></p>
                    </a>
                  </li>
              <li class="govuk-footer__list-item">
                <p>View space weather forecast and notifications from the Met Office Space Weather Operations Centre (MOSWOC).</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-footer__section govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                    <p> <a href="https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance"> <b>Access support and guidance <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> </b></a></p>
                    </a>
                  </li>
              <li class="govuk-footer__list-item">
                <p>Access support for using the service, uploading and managing ephermeris data and using the API.</p>
                </a>
              </li>
            </ul>
          </div>
          </div>
          <div class="govuk-width-container">
            <div class="govuk-footer__navigation">
          <div class="govuk-footer__section govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <ul class="govuk-footer__list">
              <li class="govuk-footer__list-item">
                <p> <a href="account.html"> <b>Change account settings <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="12.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg> </b></a></p>
                </a>
              </li>
              <li class="govuk-footer__list-item">
                <p>Change notification settings, view T&Cs and see account details. </p>
                </a>
              </li>
            </ul>
          </div>
          <br>
              </div>
        </div>

</div>
</div>
</div>
{% endblock %}