{% extends "layout.html" %}

{% block pageTitle %}
Monitor space hazards
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            
    <h1 class="govuk-heading-xl">Monitor space hazards</h1>

    <h2 class="govuk-heading-m">National Space Operations Centre Warning and Protection Services</h2>

    <p>National Space Operations Centre (NSpOC) warning and protection services support UK and international partners to manage space related threats, risks and hazards. </p>
    <br>
        <div class="govuk-width-container">
          <div class="govuk-footer__navigation">
            <div class="govuk-footer__section govuk-grid-column-one-third">
              <h2 class="govuk-footer__heading govuk-heading-s"><a href="satellites.html">View all UK licensed satellites</a></h2>
              <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                  <p>View information on UK licensed satellites, including operator, position, launch information, and upcoming events.</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="govuk-footer__section govuk-grid-column-one-third">
                <h2 class="govuk-footer__heading govuk-heading-s"><a href="conjunctions/gov-user/homepage.html">Track conjunction events</a></h2>
                <ul class="govuk-footer__list">
                  <li class="govuk-footer__list-item">
                    <p>Track all conjunction events involving UK satellites with NSpOC's In-Space Collision Avoidance System. Access further detail on specific events, view probability of collision, miss-distances and other key metrics, and extract raw data.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-footer__section govuk-grid-column-one-third">
                <h2 class="govuk-footer__heading govuk-heading-s"><a href="reentry/gov-user/homepage.html">Track re-entry events</a></h2>
                <ul class="govuk-footer__list">
                  <li class="govuk-footer__list-item">
                    <p>Track all re-entry events over the UK and British Overseas Territories with NSpOC's Uncontrolled Re-Entry Early Warning System. Access further detail on specific events, assess risk to life and property on the ground, and extract raw data.</p>
                    </a>
                  </li>
                </ul>
              </div>
          </div>
<br> 
<div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-s"><a href="positionmonitoring/satellite-list.html">Track UK satellite positions</a></h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <p>Track the positions and movements of all UK-licensed satellites with NSpOC's UK Satellite Tracking Service. Access further details about position changes through monitoring flags, and extract raw data.</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__section govuk-grid-column-one-third">
          <h2 class="govuk-footer__heading govuk-heading-s"><a href="https://www.metoffice.gov.uk/weather/specialist-forecasts/space-weather">Check space weather</a></h2>
          <ul class="govuk-footer__list">
            <li class="govuk-footer__list-item">
              <p>View space weather alerts from the Met Office Space Weather Operations Centre (MOSWOC).</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="govuk-footer__section govuk-grid-column-one-third">
          <h2 class="govuk-footer__heading govuk-heading-s"><a href="footer/monitoring-operator.html">Explore key statistics</a></h2>
          <ul class="govuk-footer__list">
            <li class="govuk-footer__list-item">
              <p>View and explore key statistics related to the data ingested by the Monitor space hazards service, including data broken down by organisation and satellite. </p>
              </a>
            </li>
          </ul>
        </div>
    </div>
    <br>
    <div class="govuk-width-container">
        <div class="govuk-footer__navigation">
          <div class="govuk-footer__section govuk-grid-column-one-third">
            <h2 class="govuk-footer__heading govuk-heading-s"><a href="account.html">Change account settings</a></h2>
            <ul class="govuk-footer__list">
              <li class="govuk-footer__list-item">
                <p>Change notification settings by adapting your alert thresholds, select your areas of interest for re-entry events, choose your preferred method for receiving alerts, view T&Cs and see account details.</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-footer__section govuk-grid-column-one-third">
              <h2 class="govuk-footer__heading govuk-heading-s"><a href="https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance">Access support and guidance</a></h2>
              <ul class="govuk-footer__list">
                <li class="govuk-footer__list-item">
                  <p>Access support for using the service, uploading and managing ephermeris data and using the API, including a demonstration video.</p>
                  </a>
                </li>
              </ul>
            </div>
        </div>
</div>
</div>
{% endblock %}