{% extends "layout.html" %}

{% block pageTitle %}
Monitor your satellites
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            
      <h1 class="govuk-heading-xl">
        Monitor your satellites
      </h1>
        <p class="gem-c-lead-paragraph">Includes conjunction events, re-entry events and UK satellite data</p>
    
    
          </div>
        </div>
      </div>
    </div>

      <div class="gem-c-cards">
        <ul class="gem-c-cards__list">
          <!-- Card 1 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="events/gov-user/homepage.html">Browse upcoming conjunction events</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Browse all conjunction events involving UK satellites, access further detail on specific events, view probability of collision, miss-distances and other key metrics, and extract raw data.</p>
            </div>
          </li>

          <!-- Card 2 -->
          <li class="gem-c-cards__list-item">
            <div class="gem-c-cards__list-item-wrapper">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s">
                <a class="govuk-link gem-c-cards__link" href="reentry/gov-user/homepage.html">Browse upcoming and previous re-entry events</a>
              </h2>
              <p class="govuk-body gem-c-cards__description">Browse all re-entry events over the UK and British Overseas Territories, access further detail on specific events, assess risk to life and property on the ground, and extract raw data.</p>
            </div>
          </li>

     <!-- Card 3 -->
     <li class="gem-c-cards__list-item">
      <div class="gem-c-cards__list-item-wrapper">
        <h2 class="gem-c-cards__sub-heading govuk-heading-s">
          <a class="govuk-link gem-c-cards__link" href="satellites.html">View list of UK satellites</a>
        </h2>
        <p class="govuk-body gem-c-cards__description">View full list of UK-licensed satellites and any upcoming known conjunction events, access further detail on each satellite including object data and previous conjunction events, and extract raw data.</p>
      </div>
    </li>

         <!-- Card 4 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="account.html">Change account settings</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Change notification settings by adapting your alert thresholds, select your areas of interest for re-entry events, choose your preferred method for receiving alerts, view T&Cs and see account details.</p>
          </div>
        </li>

         <!-- Card 5 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="footer/monitoring-operator.html">Performance monitoring</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">View and explore key statistics related to the data ingested by the Monitor your satellites service, including data broken down by organisation and satellite.</p>
          </div>
        </li>

         <!-- Card 6 -->
         <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link" href="https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance">Support and guidance</a>
            </h2>
            <p class="govuk-body gem-c-cards__description">Access support for using the service, uploading and managing ephermeris data and using the API, including a demonstration video.</p>
          </div>
        </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>

{% endblock %}
