{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="login.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
<h1 class="govuk-heading-xl">Impending alerts</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Your impending alerts are listed in the table below:</p>

        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You have 1 urgent alert
  </strong>
</div>

      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">My satellites</h2>
        <p class="govuk-body">Satellites attached to your registration number:</p>
        <ul class="govuk-list">
          <li>
          <a href="satellite-1.html" class="govuk-link--no-visited-state">Satellite 1</a>
          </li>
        <li>
          <a href="satellite-2.html" class="govuk-link govuk-link--no-visited-state">Satellite 2</a>
          </li>
        <li>
        <a href="satellite-3.HTML" class="govuk-link govuk-link--no-visited-state">Satellite 3</a>
          </li>
          <li>
        <a href="satellite-4.html" class="govuk-link govuk-link--no-visited-state">Satellite 4</a>
        </li>
        <li>
        <a href="satellite-5.html" class="govuk-link govuk-link--no-visited-state">Satellite 5</a>
        </li>
      </div>

</div>

    <div>
            <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">SATELLITE</th>
      <th scope="col" class="govuk-table__header app-custom-class">TIME TO COLLISION</th>
      <th scope="col" class="govuk-table__header app-custom-class">INTERNATIONAL DESIGNATOR</th>
      <th scope="col" class="govuk-table__header app-custom-class">TYPE</th>
      <th scope="col" class="govuk-table__header app-custom-class">RADAR CROSS-SECTION</th>
      <th scope="col" class="govuk-table__header app-custom-class">LIKELIHOOD</th>
      <th scope="col" class="govuk-table__header app-custom-class">ERROR</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Satellite 1 </td>
      <td class="govuk-table__cell">
        <div class="govuk-warning-text">
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            2 h
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          </strong>
        </div>
      </td>
      <td class="govuk-table__cell">1957-001A</td>
      <td class="govuk-table__cell">ROCKET BODY</td>
      <td class="govuk-table__cell">LARGE</td>
      <td class="govuk-table__cell">3%</td>
      <td class="govuk-table__cell">34%</td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell">Satellite 5</td>
    <td class="govuk-table__cell">72 h</td>
    <td class="govuk-table__cell">1987-026F</td>
    <td class="govuk-table__cell">PAYLOAD</td>
    <td class="govuk-table__cell">LARGE</td>
    <td class="govuk-table__cell">1%</td>
    <td class="govuk-table__cell">350%</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Satellite 1</td>
      <td class="govuk-table__cell">1 week</td>
      <td class="govuk-table__cell">1994-085Z</td>
      <td class="govuk-table__cell">DEBRIS</td>
      <td class="govuk-table__cell">SMALL</td>
      <td class="govuk-table__cell">1%</td>
      <td class="govuk-table__cell">284%</td>
    </tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">Satellite 2</td>
    <td class="govuk-table__cell">2 weeks</td>
    <td class="govuk-table__cell">1960-003C</td>
    <td class="govuk-table__cell">DEBRIS</td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell">2%</td>
    <td class="govuk-table__cell">300%</td>
    </tr>

          </tbody>
      </table>
      </div>

  </main>
</div>


{% endblock %}
