{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukHeader({

    serviceName: "Monitor my satellites",
    serviceUrl: "#",
    navigation: [
    {
      href: "/events",
      text: "Events",
      active: true
    },
    {
      href: "/satellites",
      text: "Satellites"
    },
    {
      href: "/account",
      text: "Account"
    },
    {
      href: "/events",
      text: "Sign out"
    }]




  }) }}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<div class="govuk-width-container">

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
  }) }}
  </div>
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper") %}

{% if useAutoStoreData %}
  {% block footer %}

  {% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
navigation: [
  {
    title: "About",
    width: "one-third",
    columns: 1,
    items: [
    {
      href: "https://www.monitor-your-satellites.service.gov.uk/page/conjunction-analysis-information",
      text: "Conjunction event analysis information"
    },
    {
      href: "https://dev.monitor-your-satellites.service.gov.uk/page/definitions",
      text: "Definitions"
    },
    {
      href: "https://www.youtube.com/watch?v=7xgaBjXGGNM",
      text: "Demonstration video"
    },
      {
        href: "/footer/monitoring-operator",
        text: "Performance monitoring"
      }
      ]
    },
  {
    title: "How to use",
    width: "one-third",
    columns: 1,
    items: [
      {
        href: "https://www.monitor-your-satellites.service.gov.uk/page/support-and-guidance",
        text: "Support and guidance"
      },
      {
        href: "https://sst-tech-docs.london.cloudapps.digital/ways-of-working/use-the-api/use-the-api.html",
        text: "How to use the API"
      },
      {
        href: "https://api.monitor-your-satellites.service.gov.uk/docs",
        text: "API documentation (swagger)"
      },
      {
        href: "https://sst-tech-docs.london.cloudapps.digital/ways-of-working/manage-ephemeris/manage-ephemeris.html",
        text: "How to manage ephemeris"
      }
    ]
  },
  {
    title: "Legal terms",
    width: "one-third",
    columns: 1,
    items: [
      {
        href: "/setup/ts-and-cs",
        text: "Terms and conditions"
      },
      {
        href: "/setup/data-privacy",
        text: "Data privacy notice"
      },
      {
        href: "https://www.monitor-your-satellites.service.gov.uk/page/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "https://www.monitor-your-satellites.service.gov.uk/cookies",
        text: "Cookies"
      }
    ]
  }
],
meta: {
  html: 'Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>'
}
}) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
