{% extends "layout.html" %}

{% block pageTitle %}
Login
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/login-email-answer" method="post">
    <form class="form" action="/email-sent" method="post">

        <div class="govuk-form-group">

              </div>
              <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                  Email address
                </label>
              </h1>
              <div id="account-number-hint" class="govuk-hint">
                Please enter your organisation email address
              </div>
              <input class="govuk-input govuk-input--width-three-quarters" id="email-address" name="email-address" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>

            {% from "govuk/components/input/macro.njk" import govukInput %}

            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                What is your email? <address class="">

                </address>
              </label>
            </h1>
{{ govukInput({
  label: {
    text: "Please enter your organisation email address"
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  spellcheck: false
}) }}


        </div>


{% endblock %}
