{% extends "layout.html" %}

{% block pageTitle %}
Login
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl">Log in to Monitor my Satellites</h1>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/password" method="post">

        <div class="govuk-form-group">

          <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                  What is your account number?
                </label>
              </h1>
              <div id="account-number-hint" class="govuk-hint">
                Must be between 6 and 8 digits long
              </div>
              <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                  Email address
                </label>
              </h1>
              <div id="account-number-hint" class="govuk-hint">
                Please enter your organisation email address
              </div>
              <input class="govuk-input govuk-input--width-three-quarters" id="email-address" name="email-address" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
            </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
