{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="warning-1.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">AA00-0001: Predicted location of potential conjunction</h1>
        <img src="/public/images/map-1.png" alt="Conjunction Data message">

      </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">All alerts</h2>

          <a href="operator-homepage" class="govuk-link--no-visited-state">View alert homepage</a>
          <p>
            </p>

            <h2 class="govuk-heading-m">Contact an Analyst</h2>
            <a href="communication" class="govuk-link--no-visited-state">View your communications history</a>
          </div>
</main>
</div>


{% endblock %}
