{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="analyst-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ephemeris-download">Ephemeris data download</a>
    </li>

    </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


    {{ govukCheckboxes({
      idPrefix: "download",
      name: "downloadreason",
      fieldset: {
        legend: {
          text: "Why did you not download ephemeris data and perform analysis?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "insufficient",
          text: "Insufficient risk of collision"
        },
        {
          value: "time",
          text: "Insuffucient time to perform analysis"
        },
        {
          value: "priority",
          text: "Higher priority analysis to complete first"
        },
        {
          value: "other",
          text: "Other elaborated on below:"
        }
      ]
    }) }}

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--2" for="event-name">
          Other:
        </label>
      </h1>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>

    <a href ="ephemeris-download" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
    Submit</a>

    <a href ="ephemeris-download" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
    Back</a>

{% endblock %}
