{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="/impending-alerts" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your notification settings</h1>
        <p>
        </p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Show me alerts from:
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  UKSPoCK
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Spacetrack
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <a href="/public/downloads/space_data.xlsx" download >Download this data as an xml feed</a>

              </div>
            </div>

          </fieldset>
        </div>
        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You have 1 urgent alert
  </strong>
</div>

      </div>
      <p>
        </p>
        <p>
          </p>
          <p>
            </p>


        <h2 class="govuk-heading-m">My satellites</h2>
        <p class="govuk-body">Satellites attached to your registration number:</p>
        <ul class="govuk-list">
          <li>
          <a href="satellite-1.html" class="govuk-link--no-visited-state">2020-088AD</a>
          </li>
        <li>
          <a href="satellite-2.html" class="govuk-link govuk-link--no-visited-state">2020-019F</a>
          </li>
        <li>
        <a href="satellite-3.HTML" class="govuk-link govuk-link--no-visited-state">2020-074BB</a>
          </li>
          <li>
        <a href="satellite-4.html" class="govuk-link govuk-link--no-visited-state">2020-074BL</a>
        </li>
        <li>
        <a href="satellite-5.html" class="govuk-link govuk-link--no-visited-state">2020-088AC</a>
        </li>
      </div>

</div>

    <div>

      </div>

  </main>
</div>


{% endblock %}
