{% extends "layout.html" %}

{% block pageTitle %}
View your notification settings configuration
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/account/operator/account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <span class="govuk-breadcrumbs__link">Notification settings</span>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
          Your notification settings
        </h1>

        <p class="govuk-body">
          This page allows you to adjust your notification settings for conjunction events. 
        </p>

        <p class="govuk-body">
          You can  choose which notifications you receive, how you recieve them and how often. 
        </p>

        <p class="govuk-body">
          You also have the ability to set custom thresholds for conjunction events and choose which satellites they apply to. 
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <!-- Communication preferences -->
<h2 class="govuk-heading-l">
  Communication preferences
</h2>

<p class="govuk-body">
  Tell us what kind of updates you want to receive, and how you want to get them. 
</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="communication-preferences">

  <!-- 1. Send me notifications for events -->
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button">
          What you want to be notified about
        </span>
      </h3>
    </div>

    <div class="govuk-accordion__section-content">
      <p class="govuk-body">
        Receive notifications when a:
      </p>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="event-new" name="event-new" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="event-new">
            New conjunction event meets your thresholds
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="event-updated" name="event-updated" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="event-updated">
            Updated conjunction event meets your thresholds
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="event-nspoc" name="event-nspoc" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="event-nspoc">
            New NSpOC analysis is uploaded
          </label>
        </div>

      </div>
    </div>
  </div>


  <!-- 2. Group notifications together -->
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button">
          How often do you want to receive notifications?
        </span>
      </h3>
    </div>

    <div class="govuk-accordion__section-content">

      <p class="govuk-body">
        We'll group together notifications into one email or SMS. 
      </p>

      <div class="govuk-form-group">
        <select class="govuk-select govuk-!-width-one-half" id="delivery-frequency" name="delivery-frequency">
          <option value="12-hours" selected>Every 2 hours (default)</option>
          <option value="6-hours">Every 12 hours</option>
          <option value="3-hours">Once a day</option>
        </select>
      </div>

    </div>
  </div>


  <!-- 3. Delivery method -->
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h3 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button">
          How would you like to be notified? 
        </span>
      </h3>
    </div>

    <div class="govuk-accordion__section-content">

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="delivery-email" name="delivery-email" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="delivery-email">
            Email
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="delivery-sms" name="delivery-sms" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="delivery-sms">
            SMS
          </label>
        </div>

      </div>

    </div>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <!-- Satellite groups + thresholds table -->
        <h2 class="govuk-heading-l">
          Customise your notification settings for conjunction events
        </h2>

        <p class="govuk-body">
          This table allows you to control when you receive notifications for a conjunction event.
          By setting thresholds, you can choose which thresholds are most important to you and which satellites matter most.
        </p>

        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b></b></td>
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="4"><b>Thresholds</b></td>
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b>Exception</b></td> 
                  <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Configure</b></td>            
                </tr>
    
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Satellites</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Notification setting</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Probability of Collision (%)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Mean radial miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Time to conjunction event (hrs)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Do not notify for conjunctions with</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 7%";></th>
                  <th scope="col" class="govuk-table__header govuk-body-s" span="1" style="width: 7%";></th>  
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">Skynet 4C</a></td>
                  <td class="govuk-table__cell govuk-body-s">Custom thresholds set</td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"><a href="">edit</a></td>
                  <td class="govuk-table__cell govuk-body-s" ><a href="">delete</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">LEO satellites</a></td>
                  <td class="govuk-table__cell govuk-body-s">Notifications disabled</td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"><a href="">edit</a></td>
                  <td class="govuk-table__cell govuk-body-s"><a href="">delete</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1" class="govuk-link--no-visited-state">All satellites</a></td>
                  <td class="govuk-table__cell govuk-body-s">Custom thresholds set</td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s">2000</td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s">72</td>
                  <td class="govuk-table__cell govuk-body-s">Satellite C</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="">edit</a></td>
                  <td class="govuk-table__cell govuk-body-s"><a href="">delete</a></td>
                </tr>
              </tbody>
            </col>
          </table>
        </div>

        <a class="govuk-button govuk-!-margin-top-4"
          data-module="govuk-button"
          href="/notification-settings-edit-group">
          Add custom notification settings
        </a>


        <details class="govuk-details govuk-!-margin-top-4">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with this table
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              <strong>Custom thresholds set</strong> means you will receive notifications when a conjunction event
              involving any satellite selected for that group meets <strong>all</strong> selected thresholds.
            </p>
            <p class="govuk-body">
              <strong>Notifications disabled </strong> means we will not send any notifications about conjunction events for satellites in this group.
            </p>
            <p class="govuk-body">
              <strong>Do not notify for conjunctions with</strong> lets you stop notifications when satellites in this group are in a conjunction with a specific object. This can be useful when you are running tests with that object.
            </p>
             <p class="govuk-body">
            </p> You can change or delete each of the custom settings listed in the table by selecting 'edit' or 'delete'.
          </div>
        </details>

      </div>
    </div>
  </main>
</div>

{% endblock %}
