{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Evolution of collision probability
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Events</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-probaility-evolution">Evolution of conjunction probability</a>
    </li>
      </ol>
      </div>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">AAA0001: Visualisations of Event</h1>

        <div class="govuk-accordion" data-module="govuk-accordion" id="visualisations">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading" id="accordion-heading-1">
                <span class="govuk-accordion__section-button" id="accordion-visualisations">
                  Evolution of collision probability
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
             <div style="background-color:#f3f2f1">
             <p class="govuk-body-secondary"><p style=color:#505a5f>The changing probability of a conjunction event leading up to the time of closest approach (TCA). Data from the UKSA and SpaceTrack is shown </p>
            <img src="/public/images/chart-6.png" alt="PoC Chart">
             </div>
             </div>

            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading" id="accordion-heading-1">
                  <span class="govuk-accordion__section-button" id="accordion-visualisations">
                    SpaceTrack evolution miss distance
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
               <div style="background-color:#f3f2f1">
               <p class="govuk-body-secondary"><p style=color:#505a5f>The changing probability of a conjunction event leading up to the time of closest approach (TCA). Data from the UKSA and SpaceTrack is shown </p>
              <img src="/public/images/chart-7.png" alt="PoC Chart">
               </div>
               </div>

              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading" id="accordion-heading-1">
                    <span class="govuk-accordion__section-button" id="accordion-visualisations">
                      UKSA evolution miss distance
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                 <div style="background-color:#f3f2f1">
                 <p class="govuk-body-secondary"><p style=color:#505a5f>The changing probability of a conjunction event leading up to the time of closest approach (TCA). Data from the UKSA and SpaceTrack is shown </p>
                <img src="/public/images/chart-7.png" alt="PoC Chart">
                 </div>
                 </div>

                </div>

            </div>



            </div>
            </div>
          </main>
</div>


{% endblock %}
