{% extends "layout.html" %}

{% block pageTitle %}
Setup menu
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
        You have completed account set up. You can now access the site.
        </h3>
        <form class="form" action="/operator-homepage" method="post">
        <button class="govuk-button" data-module="govuk-button">
              View upcoming conjunction events
          </button>
            </form>
      </div>
    </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Set up your account
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 3 sections.</p>


    <ul class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          Confirm your account details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-initial-account-information">Account details</a>
            </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-information">COMPLETED</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          Choose your notification settings
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-initial-threshold-settings" aria-describedby="event-thresholds">
                Event notification thresholds settings
              </a>
            </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-information">COMPLETED</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="operator-initial-notification-settings" aria-describedby="notification-settings">
                Notification settings
              </a>
            </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-information">COMPLETED</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
         Review terms and conditions and data privacy notice
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-terms-service" aria-describedby="terms-of-service">
                Terms and Conditions
              </a>
            </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-information">COMPLETED</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="operator-data-privacy" aria-describedby="data-privacy">
                Data privacy notice
              </a>
            </span>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="contact-information">COMPLETED</strong>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>

{% endblock %}
