{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-admin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator2-profile-x">Organisation information</a>
    </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">[Organisation name]</h1>

      <h2 class="govuk-heading-l">Contact details</h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Organisation admin</th>
            <td class="govuk-table__cell">Name</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td class="govuk-table__cell">email@email.com</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Phone number</th>
            <td class="govuk-table__cell">XXXXX XXXXXX</td>
          </tr>
        
        </tbody>
      </table>
      <p></p>
      <h2 class="govuk-heading-l">Operator Information</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of UK-licensed satellites</th>
            <td class="govuk-table__cell">X</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of reigistered users</th>
            <td class="govuk-table__cell">X</td>
          </tr>
        </tbody>
      </table>
      <p></p>
      <h2 class="govuk-heading-l">Registered satellites</h2>
      <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">Common name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">NORAD ID</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">International designator</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">Country</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">Launch site</th>
            <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 17%">Launch date</th>
            <th scope="col" class="govuk-table__header" span="1" style="width: 5%"></th>

          </tr>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">[name]</td>
          <td class="govuk-table__cell">[NORAD ID]</td>
          <td class="govuk-table__cell">[IntDes]</td>
          <td class="govuk-table__cell">[country]</td>
          <td class="govuk-table__cell">[launch site]</td>
          <td class="govuk-table__cell">[date]</td>
          <td class="govuk-table__cell"><a href="superadmin-edit-existing-satellite">Edit</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">[name]</td>
          <td class="govuk-table__cell">[NORAD ID]</td>
          <td class="govuk-table__cell">[IntDes]</td>
          <td class="govuk-table__cell">[country]</td>
          <td class="govuk-table__cell">[launch site]</td>
          <td class="govuk-table__cell">[date]</td>
          <td class="govuk-table__cell"><a href="superadmin-edit-existing-satellite">Edit</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">[name]</td>
          <td class="govuk-table__cell">[NORAD ID]</td>
          <td class="govuk-table__cell">[IntDes]</td>
          <td class="govuk-table__cell">[country]</td>
          <td class="govuk-table__cell">[launch site]</td>>
          <td class="govuk-table__cell">[date]</td>
          <td class="govuk-table__cell"><a href="superadmin-edit-existing-satellite">Edit</td>


        </tr>
      </tbody>

      
    </table>

    <div class="govuk-button-group">

      <form class="form" action="/superadmin-add-new-satellite" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add new satellite
              </button>
                </form>
              </button>
              </div>
              <p></p>

  <h2 class="govuk-heading-l">Registered users</h2>

        <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 19%">Name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 19%">Account type</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 19%">Email</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 19%">Phone number</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 19%">Date created</th>
              <th scope="col" class="govuk-table__header" span="1" style="width: 5%"></th>

            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Filip Novak</td>
              <td class="govuk-table__cell">Administrator</td>
              <td class="govuk-table__cell">example@cca.co.uk</td>
              <td class="govuk-table__cell">12345 123456</td>
              <td class="govuk-table__cell">22/09/2021</td>
              <td class="govuk-table__cell"><a href="superadmin-edit-existing-user">Edit</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Big Greg</td>
              <td class="govuk-table__cell">Operator</td>
              <td class="govuk-table__cell">example@cca.co.uk</td>
              <td class="govuk-table__cell">12346 789322</td>
              <td class="govuk-table__cell">22/09/2021</td>
              <td class="govuk-table__cell"><a href="superadmin-edit-existing-user">Edit</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Thomas</td>
              <td class="govuk-table__cell">User</td>
              <td class="govuk-table__cell">example@cca.co.uk</td>
              <td class="govuk-table__cell">12346 789322</td>
              <td class="govuk-table__cell">22/09/2021</td>
              <td class="govuk-table__cell"><a href="superadmin-edit-existing-user">Edit</td>

            </tr>

          </tbody>
        </table>

        <div class="govuk-button-group">

          <form class="form" action="/superadmin-invite-new-member" method="post">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add new user
                  </button>
                    </form>
        </div>
<form class="form" action="/operator-admin-account" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Return to account page
      </button>
</form>

</div>
</div>
  </main>
</div>


{% endblock %}
