{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
    </li>
  </ol>
</div>
    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Upcoming conjunction events</h1>
        <p class="govuk-body">Forecast conjunction events affecting your satellites, which are listed as the primary object:</p>
        <! main table listing all conjunction warnings involving satellites owned by this operator>
        <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 6%";>Event ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Primary object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary object</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 9%";>Radial miss distance (m)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 13%";>Probability of collision (Space-Track CDM, %)</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of collision (UKSA, %)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" data-sort-value="1"> <b>
                <a href="warning-1.html" class="govuk-link--no-visited-state" >AAA0001</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">04/02/21 11:51</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell govuk-body-s">Discoverer 5</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">360</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">352</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1538234">0.1538</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="933822">0.0933</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="2"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0002</a></b>
              </td>
              <td class="govuk-table__cell govuk-body-s">10/02/21 04:19</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Starlink-1861</td>
                <td class="govuk-table__cell govuk-body-s">Lemur 2 </td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">418</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">125</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1038291" >0.1038</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="502054">0.0502</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
                <a href="#" class="govuk-link--no-visited-state">AAA0003</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">12/02/21 19:00</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell govuk-body-s">CMS-01</td>

              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">652</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">427</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="532134">0.0532</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort0value="399283">0.0399</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"data-sort-value="4"><b>
                <a href="#" class="govuk-link--no-visited-state">AAA0004</a></b>
              </td>
              <td class="govuk-table__cell govuk-body-s">14/02/21 03:49</td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Starlink-1317</a></td>
              <td class="govuk-table__cell govuk-body-s">Spacebee-52</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">852</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">242</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="328438">0.0328</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="196849">0.0196</td>
            </tr>
          </tbody>
      </table>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          This table shows upcoming conjunction events involving your satellites.
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>event ID</b> to view more information.</li>
            <li>Each event ID or row represents <b>one conjunction event</b> including all related CDMs and UKSA analysis.</li>
            <li>Your satellite will always be listed as the <b>primary object</b>.</li>
          </ul>
        </div>
      </details>

      <h2 class="govuk-heading-m">Registered satellites</h2>
       <p><a href="/operator-satellite-list" class="govuk-link--no-visited-state">View satellites</a> attached to your registration number.</p>
        <h2 class="govuk-heading-m">Settings</h2>
        <p>View your <a href="operator-notification-settings.html" class="govuk-link--no-visited-state">account settings</a> to modify your <b>event notification</b> settings.</p>
        <p></p>
      </div>
      </div>
  </main>
</div>

<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
