{% extends "layout.html" %}

{% block pageTitle %}
Starlink-1947
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-list">Registered satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-4">Starlink-1947</a>
      </li>
    </ol>
  </div>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Starlink-1947</h1>

  <h2 class="govuk-heading-l">Upcoming conjunction events</h2>
    <p>Starlink-1947 does not currently have any conjunction events.</p>
    <a href="/public/downloads/Starlink1947_event_history.xlsx" download >Download event history for Starlink-1947</a>
    <p></p>
        <h2 class="govuk-heading-l">Satellite Information</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Common name</th>
              <td class="govuk-table__cell">Starlink-1947</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">NORAD ID</th>
              <td class="govuk-table__cell">46797</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">International designator</th>
              <td class="govuk-table__cell">2020-074BL</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Object type</th>
              <td class="govuk-table__cell">Payload</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Active / inactive</th>
              <td class="govuk-table__cell">Active</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mass (kg)</th>
              <td class="govuk-table__cell">250</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">UK licensed</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launching state</th>
              <td class="govuk-table__cell">UK</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launch year</th>
              <td class="govuk-table__cell">2020</td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Licence Information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Operator/Owner</th>
                    <td class="govuk-table__cell"><a href="/operator2-profile-x">Starlink operator</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Licence issued under Outer Space Act</th>
                    <td class="govuk-table__cell">01/01/01</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Accepted onto UK register of Space Objects</th>
                    <td class="govuk-table__cell">Yes - 01/01/01</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">General function</th>
                    <td class="govuk-table__cell">function</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Compliance and monitoring
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p> For further information regarding compliance and monitoring of this spacecraft, visit www...</p>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"></th>
                    <th  class="govuk-table__header">Most recent submission</th>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Annual Health Check</th>
                    <td class="govuk-table__cell">03/05/2020</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Third-party liability insurance policy</th>
                    <td class="govuk-table__cell">03/05/2020</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Reported planned change to activity to UKSA</th>
                    <td class="govuk-table__cell">N/A</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
              </div>
  </main>
</div>


{% endblock %}
