{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="login.html" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Satellite Catalogue</h1>
        <p class="govuk-body">All satellites registered to your account are listed in the table below:</p>
          <p></p>
          <table class="govuk-table">
            <caption class="govuk-table__caption">Your satellites</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Common name</th>
                <th scope="col" class="govuk-table__header">International designator</th>
                <th scope="col" class="govuk-table__header">UK licensed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/satellite-1">Starlink-1862</a></td>
                <td class="govuk-table__cell">2020-088AD</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/satellite-2">Starlink-1317</a></td>
                <td class="govuk-table__cell">2020-019F</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/satellite-3">Starlink-1929</a></td>
                <td class="govuk-table__cell">2020-074BB</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/satellite-4">Starlink-1862</a></td>
                <td class="govuk-table__cell">2020-074BL</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/satellite-5">Starlink-1861</a></td>
                <td class="govuk-table__cell">2020-088AC</td>
                <td class="govuk-table__cell">Yes</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Your alerts</h2>
        <a href="operator-homepage.html" class="govuk-link--no-visited-state">View alert homepage</a>
        <p>
          </p>
        <h2 class="govuk-heading-m">Notification settings</h2>
        <a href="notifications" class="govuk-link--no-visited-state">Change your notification settings</a>
        <p></p>
        <h2 class="govuk-heading-m">Contact an Orbital Analyst</h2>
        <a href="communication" class="govuk-link--no-visited-state">View your communications history</a>
        <p></p>
      </div>


  </main>
</div>


{% endblock %}
