{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-list">Registered satellites</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Registered satellites</h1>
        <p class="govuk-body-l">All UK-licensed satellites registered to your account are listed in the table below:</p>
          <p></p>
          <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Common name</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">NORAD ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">International designator</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Upcoming known conjunction events</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Number of events in the last year</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
                <td class="govuk-table__cell">47149</td>
                <td class="govuk-table__cell">2020-088AD</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-2">Starlink-1317</a></td>
                <td class="govuk-table__cell">45365</td>
                <td class="govuk-table__cell">2020-12AG</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">5</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-3">Starlink-1929</a></td>
                <td class="govuk-table__cell">46788</td>
                <td class="govuk-table__cell">2020-33TG</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">8</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-4">Starlink-1947</a></td>
                <td class="govuk-table__cell">46797</td>
                <td class="govuk-table__cell">2020-045FF</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">15</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-5">Starlink-1861</a></td>
                <td class="govuk-table__cell">47149</td>
                <td class="govuk-table__cell">2020-088D</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">12</td>
              </tr>
            </tbody>
          </table>
          <p>   </p>
          <p class="govuk-body-l"> Download <a href="/public/downloads/space_data.xlsx" download >your registered satellites data</a> (.csv file)</p>
      </div>
      </div>
  </main>
</div>


{% endblock %}
