{% extends "layout.html" %}

{% block pageTitle %}
Conjunction event analysis process and data sources
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Events</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-conjunction-analysis">Conjunction event analysis process and data sources</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Conjunction event analysis process and data sources</h1>

    </div>
        <div class="govuk-grid-column-one-quarter">

          <h3 class="govuk-heading-s">Contents</h3>

            <ul class="moj-side-navigation__list">

              <li class="moj-side-navigation__item">
                <a href="#conjunction-event-analysis">UKSA conjunction event analysis process</a>
              </li>



              <li class="moj-side-navigation__item">
                <a href="#space-track-sources">Space-Track data sources</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="#uksa-analysis-sources">UKSA orbital analysis data sources</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="#sensor-data">UK sensor data sources</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="#ephemeris-data">Ephemeris data</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="#data-storage">Data storage</a>
              </li>





        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">


              <h1 class="govuk-heading-l" id="conjunction-event-analysis">UKSA conjunction event analysis process</h1>

<p>A conjunction event occurs when two objects in space make a close approach. Monitor my satellites provides data on conjunction events identified by the 18th Space Control Squadron (18SpCS) and distributed via Space-Track (space-track.org) and additional event analysis from the UKSA.
</p>
<p>Additional analysis is currently provided by UKSA Orbital Analysts on events that UKSA analysis determines breach a probability of collision of ≥ 10-3. In the future, the UKSA may review this PoC threshold. Analysis of events in GEO (geosynchronous equatorial orbit) may move to be based on miss-distance in the near future.
</p>
<p>All updates to an event are included in the event page within ‘event history’ on this interface.</p>
<p>UKSA orbital analysis ingests Conjunction Data Messages (CDMs), refines them and adds extra analysis using additional data and tools available to the UKSA. Analysts use well-established, validated and tested methods and tools. The Foster 2D 1992 method is currently used to calculate the probability of a collision.</p>
<p>There are three components of the analytical process:</p>

<p>
  <ul class="govuk-list govuk-list--bullet">
<li>Conjunction assessments from suitably qualified and experienced persons (UKSA Orbital Analysts).</li>
<li>The use of additional data from the United States Space Surveillance Network (SSN), UKSA procured commercial sensor observations, Met Office Space Weather data, and additional object physical parameters.</li>
<li>Use of capable data processing tools.</li></ul>
</p>
<p>The reported parameters of analysis are: :</p>
<p>
  <ul class="govuk-list govuk-list--bullet">
<li>Time of Closest Apporach (TCA)</li>
<li>Probability of Collision (POC)</li>
<li>Miss-distances</li>
<li>Time of analysis update</li>
<li>Altitude, longitude and latitude at TCA</li>
<li>Estimated number of fragments generated if collision occurs</li>
<li>Relative velocity at TCA</li>
<li>Object information</li>
<li>Event history</li>
<li>Visualisations of the evolution of the probability of collision</li></ul>
</p>
<p>Data sources for the UKSA conjunction analysis are listed in the section below.
</p>

  <h1 class="govuk-heading-l" id="space-track-sources">Space-Track data sources</h1>

                <p>Space-Track (space-track.org) is the source of all object data shown in Monitor my satellites’ event page. If the data for your satellite is inaccurate, you must contact Space-Track.
</p>
<p>Monitor my satellites ingests all CDMs from Space-Track that affect UK satellites (irrelevant of the metrics and probabilities). It is likely that several conjunction data messages (CDMs) from Space-Track will be generated for a single event. However, you can edit your notification thresholds to ensure you only receive notifications about events with probabilities, miss distances and time to events that you are interested in.</p>

<p>Monitor my satellites retrieves CDMs from Space-Track every 8 hours.</p>
<p>To find out more about Space-Track CDMs and their conjunction analysis, visit www.space-track.org.</p>
              <p>
<h1 class="govuk-heading-l" id="uksa-analyst-sources">UKSA orbital analysis data sources</h1>
<p>The UKSA orbital analyst team will use a wider range of sources than just Space-Track for their orbital analysis. These include:
</p>
<p>
  <ul class="govuk-list govuk-list--bullet">
<li>
US SATCAT (United States’ satellite catalogue), ESA DISCOS (the European Space Agency’s database and information system characterising objects in space),UCS (Union of Concerned Scientists’ database) and other available data sources for object information.</li>
<li>TLE (two line element set) and SP Ephemeris data from Space-Track, ephemeris data from Space-Track or directly from operators when available.</li>
<li>Observation data on objects from either SSN observations, procured  UK sensor data, or other data sources.</li>
<li>CDMs, UK sensor data and orbital analysts for event parameters.</li></ul>
</p>

<h1 class="govuk-heading-l" id="sensor-data">UK sensor data</h1>
<p>Sensor data is taken from both national Her Majesty's Government (HMG) sensors and commercial sensor providers.</p>
<p>At LEO (Low Earth orbit), both optical and radar sensor data is available from the SSN, the Science and Technology Facilities Council (STFC), LeoLabs, NORSS (Northern Space and Security), Fylingdales and Natural Environment Research Council (NERC).
</p>
<p>At MEO (Medium Earth orbit), HEO (Higher Earth orbit), GTO (geostationary transfer orbit) and GEO (geosynchronous equatorial orbit), optical sensor data is available from the SSN, STFC, Numerica or NERC.</p>
<p>Sensors are available for event tasking on secondary objects.</p>

<h1 class="govuk-heading-l" id="ephemeris-data">Sharing your Ephemeris with the UKSA</h1>
<p>In order for us to provide the most up-to-date and accurate analysis, you will be able to send your ephemeris data to the UKSA orbital analyst team for event analysis. However, this functionality is currently in development and not yet live. </p>
<p>Ephemeris must be submitted via the event page in an CCSDS OEM file format ideally with covariance and spanning beyond the TCA of a conjunction. The UKSA orbital analyst team will then use your ephemeris data in their analyses for all relevant events. The file size should not exceed 20 MB. If you give your permission, the UKSA analysts can also access the ephemeris files you share with Space-Track. </p>
<h1 class="govuk-heading-l" id="data-storage">Data storage</h1>
<p>Ephemeris files will be stored for 30 days, unless a relevant event involving the object occurs. </p>
<p>Event information including all parameters, analysis and event history will be stored indefinitely.</p>
<p> User information will be stored indefinitely, or until users request that it is deleted.</p>

<h3 class="govuk-heading-s">These pages will be reviewed every 3 months and updated to align with current processes.</h3>


              </div>
            <div class="govuk-grid-row">

            </div>

  </main>
</div>


{% endblock %}
