{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Contact analyst
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-communication-warning-1">Contact analyst</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Contact a UKSA analyst regarding AAA0001
    </h1>

    <div class="govuk-grid-column-full">

      <ul class="govuk-list">
          <li> UKSA analysts are available Monday to Sunday, 9am to 5pm (except public holidays).</li>
          <li>We aim to respond within 1 working day.</li>
        </ul>
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
          Insert message
        </label>
      </h1>

      <div id="more-detail-hint" class="govuk-hint">
        Insert your message below. Only include details regarding this event.
        UKSA analysts <b> can </b> advise on:
        <ul>
          <li>How they made the calculations</li>
          <li>Who to contact in cases of emergency</li>
          <li>If further analysis of an event is possible</li>
        </ul>
        UKSA analysts <b> cannot </b> advise on:
        <ul>
          <li>How to manoevure your satellite</li>
        </ul>
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <form class="form" action="/confirmation" method="post">

    <button class="govuk-button" data-module="govuk-button">
      Send
    </button>

    </div>

  </main>
{% endblock %}
