{% extends "layout.html" %}

{% block pageTitle %}
Invite successfully sent
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-account-information">Account details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Account type changed </a>
      </li>
        </ol>
        </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Account type changed
      </h1>
      <div class="govuk-panel__body">
        You have changed your account type to [new account type]
      </div>
    </div>

<form class="form" action="/operator-admin-account-information" method="post">
    <button class="govuk-button" data-module="govuk-button">
      Return to account details
    </button>
    </form>

    </div>
    </div>

  </main>
  </div>
{% endblock %}
