{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-list">Registered satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-4">Starlink-1947</a>
      </li>
    </ol>
  </div>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Starlink-1947</h1>

  <h2 class="govuk-heading-l">Upcoming conjunction events</h2>
    <p>Starlink-1947 does not currently have any conjunction events.</p>
    <a href="/public/downloads/space_data.xlsx" download >Download event history for Starlink-1947</a>
    <p></p>
        <h2 class="govuk-heading-l">Satellite Information</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Common name</th>
              <td class="govuk-table__cell">Starlink-1947</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">NORAD ID</th>
              <td class="govuk-table__cell">46797</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">International designator</th>
              <td class="govuk-table__cell">2020-074BL</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Object type</th>
              <td class="govuk-table__cell">Payload</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Active / inactive</th>
              <td class="govuk-table__cell">Active</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mass (kg)</th>
              <td class="govuk-table__cell">250</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">UK licensed</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launching state</th>
              <td class="govuk-table__cell">UK</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launch year</th>
              <td class="govuk-table__cell">2020</td>
            </tr>
          </tbody>
        </table>
        
              </div>
  </main>
</div>


{% endblock %}
