{% extends "layout.html" %}

{% block pageTitle %}
Event AAA0001
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-homepage">Events</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
      </li>
    </ol>
    <h1 class="govuk-heading-xl">Event AAA0001</h1>
  </div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
        <a href="#event summary">Event summary</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-1">Visualisations of event</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2">Object data</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-3">Additional event data</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-4">Event history</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-5">Data validity</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-7">Further information</a>
      </li>
      </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" id="event summary">Event summary</h2>
      <table class="govuk-table"style="width:100%">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s" "></th>
            <th scope="row" class="govuk-table__header govuk-body-s" ">UKSA</th>
            <th scope="row" class="govuk-table__header govuk-body-s" >Space-Track CDM</th>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s">CDM ID</th>
            <td class="govuk-table__cell govuk-body-s">34677867989</td>
            <td class="govuk-table__cell govuk-body-s">34975478796</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s">Data validity (%)</th>
            <td class="govuk-table__cell govuk-body-s">0.0933</td>
            <td class="govuk-table__cell govuk-body-s">0.1538</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s">Time of closest approach (UTC)</th>
            <td class="govuk-table__cell govuk-body-s">04/02/2021 11:51:05.03 </td>
            <td class="govuk-table__cell govuk-body-s">04/02/2021 11:51:07.03 </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s">Total miss distance (m)</th>
            <td class="govuk-table__cell govuk-body-s">360 </td>
            <td class="govuk-table__cell govuk-body-s">362 </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">Mean radial miss distance (m)</th>
            <td class="govuk-table__cell govuk-body-s">352</td>
            <td class="govuk-table__cell govuk-body-s">352</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">In-track miss distance (m)</th>
            <td class="govuk-table__cell govuk-body-s">208</td>
            <td class="govuk-table__cell  govuk-body-s">208</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">Cross-track miss distance (m)</th>
            <td class="govuk-table__cell govuk-body-s">105</td>
            <td class="govuk-table__cell  govuk-body-s">105</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-body-s">Data updated (UTC)</th>
            <td class="govuk-table__cell govuk-body-s">04/02/21 08:19.00</td>
            <td class="govuk-table__cell  govuk-body-s">04/02/21 20:19.00 </td>
          </tr>
        </tbody>
      </table>


        <div class="govuk-accordion" data-module="govuk-accordion" id="visualisations">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading" id="accordion-heading-1">
                <span class="govuk-accordion__section-button" id="accordion-visualisations">
                  Evolution of collision probability
                </span>
              </h2>
            </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                 <div style="background-color:#f3f2f1">
                 <p class="govuk-body-secondary"><p style=color:#505a5f>The changing probability of a conjunction event leading up to the time of closest approach (TCA). Data from the UKSA and SpaceTrack is shown </p>

                <img src="/public/images/chart-PoC.png" alt="PoC Chart">
                 </div>

                </div>
                </div>

                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading" id="accordion-heading-1">
                      <span class="govuk-accordion__section-button" id="accordion-visualisations">
                        Evolution of miss distance
                      </span>
                    </h2>
                  </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <div style="background-color:#f3f2f1">
                         <p class="govuk-body-secondary"><p style=color:#505a5f>The changing expected miss distance leading up to the time of closest approach (TCA). All available data is shown. </p>

                        <img src="/public/images/chart-MD.png" alt="MD Chart">
                         </div>
                       </div>

                </div>
                </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading" id="accordion-heading-2">
              <span class="govuk-accordion__section-button" id="accordion-visualisations">
                Object data</span>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p> Space-Track is the main source of object data. Contact Space-Track if your satellite data is incorrect.</p>


<h3 class="govuk-heading-m" id="General_information">General information</h3>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%""></th>
                <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Common name</th>
          <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
          <td class="govuk-table__cell">DISCOVERER 5</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">NORAD ID</th>
          <td class="govuk-table__cell">47149</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">International designator</th>
          <td class="govuk-table__cell">2020-088AD</td>
          <td class="govuk-table__cell">1959-005A</td>
        </tr>
      </tbody>
      </table>

<h3 class="govuk-heading-m" id="License_information">License information</h3>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 40%""></th>
                  <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                  <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Licensed by</th>
            <td class="govuk-table__cell">UK</td>
            <td class="govuk-table__cell">US</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Launching state</th>
            <td class="govuk-table__cell">UK</td>
            <td class="govuk-table__cell">US</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Launch date</th>
            <td class="govuk-table__cell">2020</td>
            <td class="govuk-table__cell">1965</td>
          </tr>
        </tbody>
        </table>

  <h3 class="govuk-heading-m" id="Orbital_information">Orbital information</h3>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%""></th>
                <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
        </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1">Apogee</th>
            <td class="govuk-table__cell">45</td>
            <td class="govuk-table__cell">45</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1">Perigee</th>
            <td class="govuk-table__cell">179</td>
            <td class="govuk-table__cell">179</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1">Inclincation</th>
            <td class="govuk-table__cell">37</td>
            <td class="govuk-table__cell">37</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1">Period (hours)</th>
            <td class="govuk-table__cell">38</td>
            <td class="govuk-table__cell">38</td>
          </tr>
        </tbody>
      </table>

<h3 class="govuk-heading-m" id="Additional_object_data">Additional object data</h3>

      <p> ESA DISCOS provides additional object data where available. Contact ESA DISCOS if your satellite data is incorrect.</p>
      <p> ESA DISCOS data was last updated on: 03/02/21 04:23 UTC</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__header" style="width: 40%""></td>
                  <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                  <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Shape</th>
                <td class="govuk-table__cell">Hex Cyl</td>
                <td class="govuk-table__cell">Hex Cyl</td>
              </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mass (kg)</th>
            <td class="govuk-table__cell">7.2</td>
            <td class="govuk-table__cell">6.8</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Average cross section (m<sup>2</sup>)</th>
            <td class="govuk-table__cell">9.65297789475738</td>
            <td class="govuk-table__cell">7.18464732930534</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Maximum cross section (m<sup>2</sup>)</th>
            <td class="govuk-table__cell">11.1239467900337</td>
            <td class="govuk-table__cell">8.9978414212322</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Minimum cross section (m<sup>2</sup>)</th>
            <td class="govuk-table__cell">3.43595578951476</td>
            <td class="govuk-table__cell">2.01948383848483</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Height (m)</th>
            <td class="govuk-table__cell">4.6</td>
            <td class="govuk-table__cell">5.0</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Width (m)</th>
            <td class="govuk-table__cell">null</td>
            <td class="govuk-table__cell">null</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Depth (m)</th>
            <td class="govuk-table__cell">null</td>
            <td class="govuk-table__cell">null</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Span (m)</th>
            <td class="govuk-table__cell">4.6</td>
            <td class="govuk-table__cell">7.1</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Diameter (m)</th>
            <td class="govuk-table__cell">2.3</td>
            <td class="govuk-table__cell">3.1</td>
          </tr>
          </tbody>
      </table>
      </div>
      </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading" id="accordion-heading-3">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Additional event data
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <table class="govuk-table" style="width: 100%">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 55%">Altitude (above ground level)</th>
                  <td class="govuk-table__cell">230 km</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width: 55%">Latitude</th>
                  <td class="govuk-table__cell">15°N</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header " style="width: 55%">Longitude (+/-)</th>
                  <td class="govuk-table__cell">30°E</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Relative velocity</th>
                  <td class="govuk-table__cell">28.48 km/s</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Estimated combined mass of objects</th>
                  <td class="govuk-table__cell">490 kg</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Estimated number of fragments if collision occurs</th>
                  <td class="govuk-table__cell">10,000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading" id="accordion-heading-4">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Event history
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p> This table shows a history of updates released for this event.</p>
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Data source</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of update (UTC)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Probability of collision (%)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Mean radial miss distance (m)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of closest approach (UTC)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 08:19</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1538234">0.1538</td>
                  <td class="govuk-table__cell govuk-body-s">37</td>
                  <td class="govuk-table__cell govuk-body-s">15</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.05</td>
                  </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">03/02/21 14:10</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1639218">0.1639</td>
                  <td class="govuk-table__cell govuk-body-s">40</td>
                  <td class="govuk-table__cell govuk-body-s">12</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">UKSA</td>
                  <td class="govuk-table__cell govuk-body-s">02/02/21 12:00</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="961032">0.0961</td>
                  <td class="govuk-table__cell govuk-body-s">40</td>
                  <td class="govuk-table__cell govuk-body-s">30</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.08</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">01/02/21 03:49</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1700132">0.1700</td>
                  <td class="govuk-table__cell govuk-body-s">42</td>
                  <td class="govuk-table__cell govuk-body-s">18</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.15</td>
                </tr>
              </tbody>
          </table>
          </div>

          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p> This table shows a history of updates released for this event.</p>
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Data source</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of update (UTC)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Probability of collision (%)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Mean radial miss distance (m)</th>
                  <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of closest approach (UTC)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 08:19</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1538234">0.1538</td>
                  <td class="govuk-table__cell govuk-body-s">37</td>
                  <td class="govuk-table__cell govuk-body-s">15</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.05</td>
                  </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">03/02/21 14:10</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1639218">0.1639</td>
                  <td class="govuk-table__cell govuk-body-s">40</td>
                  <td class="govuk-table__cell govuk-body-s">12</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">UKSA</td>
                  <td class="govuk-table__cell govuk-body-s">02/02/21 12:00</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="961032">0.0961</td>
                  <td class="govuk-table__cell govuk-body-s">40</td>
                  <td class="govuk-table__cell govuk-body-s">30</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.08</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s">Space-Track CDM</td>
                  <td class="govuk-table__cell govuk-body-s">01/02/21 03:49</td>
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="1700132">0.1700</td>
                  <td class="govuk-table__cell govuk-body-s">42</td>
                  <td class="govuk-table__cell govuk-body-s">18</td>
                  <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.15</td>
                </tr>
              </tbody>
          </table>
          </div>

        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading" id="accordion-heading-5">
              <span class="govuk-accordion__section-button" id="accordion-visualisations">
                Data validity</span>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <h3 class="govuk-heading-m" id="probability_of_collision_calculations">Probability of collision calculations</h3>
                  <table class="govuk-table" style="width: 100%">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 55%">Space-Track CDM</th>
                        <td class="govuk-table__cell">Foster-1992 method</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 55%">UKSA analysis</th>
                        <td class="govuk-table__cell">Alfano-2005 method</td>
                      </tr>
                      </tbody>
                      </table>
                      <p> For more information on the analysis carried out by the UKSA, see the 'Conjunction analysis process' section at the bottom of the page.</p>
                  </div>

                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <h3 class="govuk-heading-m" id="data_sources">Data sources</h3>
                    <p>The data sources used to generate the event information are listed here for both UKSA and Space-Track calculations.</p>



                        <table class="govuk-table" style="width:100%">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header" style="width:8%"></th>
                              <th scope="col" class="govuk-table__header" style="width:32%"></th>
                              <th scope="row" class="govuk-table__header govuk-body-s" style="width:30%">UKSA</th>
                              <th scope="row" class="govuk-table__header govuk-body-s" style="width:30%">Space-Track CDM</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header govuk-body-s" rowspan="4">Primary object</th>
                              <td class="govuk-table__header govuk-body-s">Data source</td>
                              <td class="govuk-table__cell govuk-body-s">Ephemeris</td>
                              <td class="govuk-table__cell govuk-body-s">SP ephemeris</td>

                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Data received</td>
                              <td class="govuk-table__cell govuk-body-s">03/02/21 04:23</td>
                              <td class="govuk-table__cell govuk-body-s">03/02/21 07:56</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Number of observations</td>
                              <td class="govuk-table__cell govuk-body-s">N/A</td>
                              <td class="govuk-table__cell govuk-body-s">167</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Timespan of observations</td>
                              <td class="govuk-table__cell govuk-body-s">N/A</td>
                              <td class="govuk-table__cell govuk-body-s">65 hours</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header govuk-body-s" rowspan="4">Secondary object</th>
                              <td class="govuk-table__header govuk-body-s">Data source</td>
                              <td class="govuk-table__cell govuk-body-s">Space-Track TLE</td>
                              <td class="govuk-table__cell govuk-body-s">Space-Track TLE</td>

                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Data received</td>
                              <td class="govuk-table__cell govuk-body-s">03/02/21 07:56</td>
                              <td class="govuk-table__cell govuk-body-s">03/02/21 07:56</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Number of observations</td>
                              <td class="govuk-table__cell govuk-body-s">18</td>
                              <td class="govuk-table__cell govuk-body-s">18</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__header govuk-body-s">Timespan of observations</td>
                              <td class="govuk-table__cell govuk-body-s">48 hours</td>
                              <td class="govuk-table__cell govuk-body-s">48 hours</td>
                            </tr>


                          </tbody>
                        </table>
                    </div>

          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading" id="accordion-heading-7">
                <span class="govuk-accordion__section-button" id="accordion-visualisations">
                  Further Information</span>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p>To understand more about how this data was generated by the UKSA, see:
                    <a href="/operator-definitions" class="govuk-link--no-visited-state">Conjunction event analysis information</a>
                    <p><a href="/operator-definitions" class="govuk-link--no-visited-state">Help with the information on this page</a></p>
                    </div>
            </div>
          </div>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Return to upcoming conjunction events page
          </button>
        </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}
