{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
    </li>
    </ol>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Upcoming conjunction events</h1>
        <p class="govuk-body">Forecast conjunction events affecting your satellites</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Event ID</th>
              <th scope="col" class="govuk-table__header app-custom-class">Time of event (UTC)</th>
              <th scope="col" class="govuk-table__header app-custom-class">Primary object</th>
              <th scope="col" class="govuk-table__header app-custom-class">Miss distance</th>
              <th scope="col" class="govuk-table__header app-custom-class">PofC (USA)</th>
              <th scope="col" class="govuk-table__header app-custom-class">PofC (UKSA)</th>
              <th scope="col" class="govuk-table__header app-custom-class">Last updated (UTC)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-1.html" class="govuk-link--no-visited-state">AAA0001</a>
              </td>
              <td class="govuk-table__cell">04/02/21 11:51</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell">37 m</td>
              <td class="govuk-table__cell">52%</td>
              <td class="govuk-table__cell">38%</td>
              <td class="govuk-table__cell">04/02/21 08:19</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-2.html" class="govuk-link--no-visited-state">AAA0002</a>
              </td>
              <td class="govuk-table__cell">10/02/21 04:19</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-5">Starlink-1861</td>
              <td class="govuk-table__cell">87 m</td>
              <td class="govuk-table__cell">8%</td>
              <td class="govuk-table__cell">5%</td>
              <td class="govuk-table__cell">03/02/21 14:30</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-3.html" class="govuk-link--no-visited-state">AAA0003</a>
              </td>
              <td class="govuk-table__cell">12/02/21 19:00</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell">152 m</td>
              <td class="govuk-table__cell">6%</td>
              <td class="govuk-table__cell">7%</td>
              <td class="govuk-table__cell">04/02/21 12:02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-4.html" class="govuk-link--no-visited-state">AAA0004</a>
              </td>
              <td class="govuk-table__cell">14/02/21 03:49</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-2">Starlink-1317</a></td>
              <td class="govuk-table__cell">851 m</td>
              <td class="govuk-table__cell">2%</td>
              <td class="govuk-table__cell">1%</td>
              <td class="govuk-table__cell">03/02/21 07:16</td>

            </tr>
          </tbody>
      </table>
        <h2 class="govuk-heading-m">Notification settings</h2>
        <a href="operator-notifications.html" class="govuk-link--no-visited-state">Change your notification settings</a>
        <p></p>
        <h2 class="govuk-heading-m">My satellites</h2>
        <a href="/operator-satellite-list" class="govuk-link--no-visited-state">View satellites attached to your registration number</a>
      </div>
      </div>
  </main>
</div>


{% endblock %}
