{% extends "layout.html" %}

{% block pageTitle %}
Definitions
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Events</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-definitions">Definitions</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Definitions</h1>

    </div>
        <div class="govuk-grid-column-one-quarter">

          <h3 class="govuk-heading-s">Contents</h3>

            <ul class="moj-side-navigation__list">

              <li class="moj-side-navigation__item">
                <a href="#event-parameters">Event parameters</a>
              </li>


              <li class="moj-side-navigation__item">
                <a href="#datasources">Data sources</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="#object-info">Object information</a>
              </li>





        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">


              <h1 class="govuk-heading-l" id="event-parameters">Event parameters</h1>

<p><b>Primary and secondary objects: </b>The primary and secondary object distinction is taken from Space Track conjunction data messages (CDMs). This means that the primary object will not always be your own satellite.</p>
<p><b>Probability of collision: </b>The probability of a collision as calculated by Space-Track or the UKSA. The method of calculation is shown in each event page under the ‘Probability of collision calculations’ accordion.</p>
<p><b>Time of closest approach (TCA): </b>The time, in UTC, that the distance between two objects is predicted to be the smallest.</p>
<p><b>Miss distance: </b>The Consultative Committee for Space Data Systems (CCSDS) describes the miss distance as "the norm of the relative position vector. It indicates how close the two objects are at the time of the predicted encounter."</p>
<p>Monitor my satellites uses the RTN coordinate framework to describe miss distances. Radial is the unit vector in the radial direction pointed outward from the center of the central body.
Transverse or in-track is the unit vector perpendicular to the radial vector in the direction of the spacecraft velocity.
Normal or cross-track is the unit vector normal to the satellite’s inertial orbit plane (in the direction of the satellite’s angular momentum) that completes the right-hand coordinate frame.
 </p><p>Total miss distance is the exact distance between the two objects in 3D space. It is the combination of the vectors of radial, in-track and cross-track distance.</p>
<p><b>Event history: </b>The event history includes all updates to an event over time. This will include all CDMs and UKSA data. </p>

                <h1 class="govuk-heading-l" id="datasources">Data sources</h1>

          <p><b>Ephemeris: </b>Ephemerides are cartesian vectors providing position and velocity, and optionally accelerations. More information about ephemerides and .oem files can be found at the CCSDS recommended standard for orbit data messages.</p>
          <p><b>TLE (two line elements): </b>A two-line element set is a data format encoding a list of orbital elements of an Earth-orbiting object for a given point in time, the epoch.</p>
            <p><b>Data recieved: </b>The timestamp in UTC of when the data source was received.</p>
            <p><b>Observations: </b>The number and timespan of observations of the objects are shown to reflect the reliability of the data.</p>

                  <h1 class="govuk-heading-l" id="object-info">Object information</h1>
                  <p>All object information within Monitor my satellites is sourced from Space-Track’s satellite catalogue. UKSA orbital analysis is supplemented with wider data sources listed in ‘Conjunction event analysis process and sources’. Any fields that are ‘pending’ are yet to be connected to a source.</p>
                  <p><b>NORAD ID: </b>An object in space’s catalogue number, assigned by the United States’ Space Command. Unknown objects are given an ID in the 80,000s.</p>
                  <p><b>Object type: </b>This can be payload, rocket body, or unknown.</p>
                  <p><b>Manoeuvrability: </b>This is based upon data that operators provide to Space-Track. Note that this information may be out-of-date or inaccurate.</p>

                  <h3 class="govuk-heading-s">Further definitions can be found in the Terms of Service.</h3>

              </div>
            <div class="govuk-grid-row">

            </div>

  </main>
</div>


{% endblock %}
