{% extends "layout.html" %}

{% block pageTitle %}
Organisation user accounts
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">[Name of organisation] user accounts</h1>

        <p class="govuk-body-m">There are currently <b>X</b> active users registered with [Name of organisation]</p>

          <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 23%">Account type</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 23%">Email</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 23%">Phone number</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 23%">Date created</th>
                <th scope="col" class="govuk-table__header" span="1" style="width: 8%"></th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Administrator</td>
                <td class="govuk-table__cell">example@cca.co.uk</td>
                <td class="govuk-table__cell">12345 123456</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell"><a href="operator-admin-edit-existing-user">Edit</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Operator</td>
                <td class="govuk-table__cell">example@cca.co.uk</td>
                <td class="govuk-table__cell">12346 789322</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell"><a href="operator-admin-edit-existing-user">Edit</td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">User</td>
                <td class="govuk-table__cell">example@cca.co.uk</td>
                <td class="govuk-table__cell">12346 789322</td>
                <td class="govuk-table__cell">22/09/2021</td>
                <td class="govuk-table__cell"><a href="operator-admin-edit-existing-user">Edit</td>

              </tr>

            </tbody>
          </table>

          <p> You will be able to add users to your organisation and amend user details once you have completed account set up.</p>

          <form class="form" action="/operator-admin-initial-setup" method="post">
                <button class="govuk-button" data-module="govuk-button">
                  Confirm user accounts
                </button>
          </form>

      </div>
      </div>
  </main>
</div>


{% endblock %}
