{% extends "layout.html" %}

{% block pageTitle %}
Settings
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-list">Registered satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-1">Starlink-1862</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/operator-satellite-1">Edit notification thresholds for Starlink-1862</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Edit Starlink-1862 event notification thresholds</h1>

        <fieldset class="govuk-fieldset">

         <table class="govuk-table" style="width:100%">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th scope="col" class="govuk-table__header" style="width:40%">Notification criteria</th>
               <th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
             </tr>
           </thead>
           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Probability of collision is above:</th>
               <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "0.1">
                   <div class="govuk-input__suffix" aria-hidden="true">%</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Total miss distance is below:</th>
               <td class="govuk-table__cell"> <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div>
                 </div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Mean radial miss distance is below:</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                   <div class="govuk-input__suffix" aria-hidden="true">m</div></td>
             </tr>
             <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Time to event is below:</th>
               <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "72">
                   <div class="govuk-input__suffix" aria-hidden="true">hours</div></td>
             </tr>
           </tbody>
         </table>

            <a href="/operator-homepage" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Save and continue
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>
  </div>


</div>
  </main>
</div>


{% endblock %}
