{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Evolution of collision probability
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Events</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-probaility-evolution">Evolution of conjunction probability</a>
    </li>
      </ol>
      </div>



  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">AAA0001: Visualisations of Event</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
              Contents
            </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#PoC">
          Evolution collision probability
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#SpaceTrack-MD">
          SpaceTrack evolution miss distance
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#UKSA-MD">
          UKSA evolution miss distance
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="PoC">
      <h2 class="govuk-heading-l">Evolution collision probability</h2>
      <p class="govuk-body-secondary"><p style=color:#505a5f>The changing probability of a conjunction event leading up to the time of closest approach (TCA). Data from the UKSA and SpaceTrack is shown </p>
     <img src="/public/images/chart-6.png" alt="PoC Chart">
      </div>


    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="SpaceTrack-MD">
      <h2 class="govuk-heading-l">SpaceTrack evolution of miss distance</h2>
      <p class="govuk-body-secondary"><p style=color:#505a5f>The changing expected miss distance leading up to the time of closest approach (TCA). All available data is shown. </p>
     <img src="/public/images/chart-7.png" alt="MD Chart">
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="UKSA-MD">
      <h2 class="govuk-heading-l">UKSA evolution of miss distance</h2>
      <p class="govuk-body-secondary"><p style=color:#505a5f>The changing expected miss distance leading up to the time of closest approach (TCA). All available data is shown. </p>
     <img src="/public/images/chart-7.png" alt="MD Chart">
    </div>


  </div>

            </div>
            </div>
          </main>
</div>


{% endblock %}
