{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-notification-settings">Account settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage-settings">Event status settings</a>
    </li>
      </ol>
      </div>
      <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="form" action="/operator-homepage" method="post">

        <h1 class="govuk-heading-xl">Event status settings</h1>
        <form class="form" action="/operator-homepage" method="post">
        <p> An event status is listed as <strong class="govuk-tag govuk-tag--red">High</strong> or <strong class="govuk-tag govuk-tag--yellow">Med</strong> if <b> any of your specified thresholds </b> are met.
          <p> Leave criteria you do not wish to be considered blank.
        <table class="govuk-table" style="width:100%">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Notification criteria</th>
              <th scope="col" class="govuk-table__header" style="width:20%">Threshold</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Probability of collision is above:</th>
              <td class="govuk-table__cell">  <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "0.1">
                  <div class="govuk-input__suffix" aria-hidden="true">%</div>
                </div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total miss distance is below:</th>
              <td class="govuk-table__cell"> <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                  <div class="govuk-input__suffix" aria-hidden="true">m</div>
                </div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Radial miss distance is below:</th>
              <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "200">
                  <div class="govuk-input__suffix" aria-hidden="true">m</div></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Time to event is below</th>
              <td class="govuk-table__cell"><div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false" value = "72">
                  <div class="govuk-input__suffix" aria-hidden="true">hours</div></td>
            </tr>
          </tbody>
        </table>
        <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h2 class="govuk-fieldset__heading">
                        Use data sources:
                      </h2>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="data-source-1" name="data-source" type="radio" value="Space-Track and UKSpOC" checked=checked>
                        <label class="govuk-label govuk-radios__label" for="data-source">
                          Space-Track and/or UKSA
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="data-source-2" name="data-source" type="radio" value="UKSpOC only">
                        <label class="govuk-label govuk-radios__label" for="data-source-2">
                          UKSA only
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="data-source-3" name="data-source" type="radio" value="Space-Track only">
                        <label class="govuk-label govuk-radios__label" for="data-source-3">
                          Space-Track only
                        </label>
                      </div>
                    </div>
                  </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
            </form>



</div>

    <div>

      </div>

  </main>
</div>


{% endblock %}
