{% extends "layout.html" %}

{% block pageTitle %}
Invite successfully sent
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-user-accounts">Organisation user accounts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-invite-new-member">Invite a new user</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-admin-invite-success">Invite successfully sent</a>
      </li>
        </ol>
        </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Invite successfully sent
      </h1>
      <div class="govuk-panel__body">
        An invite has been sent to [email address]. They will now be invited to access Monitor your satellites and set up their account.
      </div>

    </div>

<form class="form" action="/operator-admin-user-accounts" method="post">
    <button class="govuk-button" data-module="govuk-button">
      Return to organisation user accounts
    </button>
    </form>

    </div>
    </div>

  </main>
  </div>
{% endblock %}
