{% extends "layout.html" %}

{% block pageTitle %}
Change your phone number
{% endblock %}

{% block content %}
<a href="operator-admin-account-information" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Change your phone number</h1>

    <p class="govuk-body">Your current phone number is <span class="govuk-!-font-weight-bold">07123 456789</span></p>

      <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      <b>Enter new phone number here:</b>
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

<form class="form" action="/operator-admin-phone-number-changed" method="post">
<div class="govuk-button-group">
<button class="govuk-button" data-module="govuk-button">
  Save
</button>
</form>

</div>
</div>

  </main>
{% endblock %}
