{% extends "layout.html" %}

{% block pageTitle %}
Account settings
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Your Monitor my Satellites account</h1>

        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Your account details:
          </h1>
        </legend>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation</dt>
                <dd class="govuk-summary-list__value">Satellite company</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">User type</dt>
                <dd class="govuk-summary-list__value">Standard user</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email address</dt>
                <dd class="govuk-summary-list__value">example.operator@satellite-company.co.uk</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone number</dt>
                <dd class="govuk-summary-list__value">07123 456789</dd>
              </div>
            </dl>

            <p class="govuk-body-m">Contact your organisation administrator if any of these details are incorrect.</p>

            <a href="/operator-initial-setup" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Save and continue
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>
          </fieldset>


  </div>


</div>
  </main>
</div>


{% endblock %}
