{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator--send-ephemeris">Upload your ephemeris data</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
    Upload your ephemeris data for event AAA0001
    </h1>
    <form class="form" action="/ephemeris-confirmation" method="post">

    <p> If you would like updated analysis on this event using your ephemeris data, attach a file below. This data will not be shared outside of the UKSA.</p>
    <p> </p>
    <p> Upload a CCFDS .oem file. The file must not exceed 20MB.
    <div class="govuk-form-group">
      <label class="govuk-label" for="file-upload-1">
        <b>Upload .oem file:</b>
      </label>
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <button class="govuk-button" data-module="govuk-button">
      Send
    </button>

    </div>

  </main>
{% endblock %}
