{% extends "layout.html" %}

{% block pageTitle %}
Account
{% endblock %}

{% block content %}


    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Account settings</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/operator-account-information" class="govuk-link--no-visited-state">User information</a></li>

        <li><a href="/operator-notification-settings-view" class="govuk-link--no-visited-state">Notification settings</a></li>

        <li><a href="/operator-threshold-settings-view" class="govuk-link--no-visited-state">Threshold settings</a></li>

        <li><a href="/operator-notation-settings-view" class="govuk-link--no-visited-state">Notation settings</a></li>

      </ul>



        <p></p>
      </div>
      </div>
  </main>
</div>

<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
