{% extends "layout.html" %}

{% block pageTitle %}
Setup menu
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        You must review and complete all sections of account set up before you can access the service.
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <form class="form" action="/operator-homepage" method="post">
      Set up your account
    </h1>
  <form class="form" action="/operator-initial-setup" method="post">

    <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 4 sections.</p>


    <ul class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
         Review the legal information
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-terms-service" aria-describedby="terms-of-service">
                Terms and Conditions
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="operator-data-privacy" aria-describedby="data-privacy">
                Data privacy notice
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          Review your account details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-admin-initial-confirm-account-info">Account details</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          Choose your account settings
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-initial-threshold-settings" aria-describedby="event-thresholds">
                Event notification thresholds settings
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="operator-initial-notification-settings" aria-describedby="notification-settings">
                Notification settings
              </a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          Review your organisation's details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/operator-admin-confirm-organisation-details">Organisation information</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="operator-admin-view-user-accounts">Organisation user accounts</a>
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="terms">Not started</strong>
          </li>
        </ul>
      </li>


    </ul>
  </div>
</div>

{% endblock %}
