{% extends "layout.html" %}

{% block pageTitle %}
Email address changed
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-account">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-editable-account-information">Your account details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="operator-change-your-email-address">Change your email address</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Email address changed</a>
      </li>
        </ol>
        </div>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Email address changed
      </h1>
      <div class="govuk-panel__body">
        Your email address has been changed to [new email address]
      </div>
    </div>

<form class="form" action="/operator-editable-account-information" method="post">
    <button class="govuk-button" data-module="govuk-button">
      Return to account details
    </button>
    </form>

    </div>
    </div>

  </main>
  </div>
{% endblock %}
