{% extends "layout.html" %}

{% block pageTitle %}
UK organisations
{% endblock %}

{% block content %}


<h2 class="govuk-heading-xl">UK organisations</h2>
<p>This table contains information on all UK-licensed organisations.</p>
            <p class="govuk-body"><div class="moj-search">
              <form action="#" method="post">
              <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                  Find an organisation:
                </label>
      
                <input class="govuk-input moj-search__input " id="search" name="search" type="search" placeholder="Search by organisation name" aria-describedby="search-hint">
              </div>
      
              <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
                Search
              </button>
              </form>
              </div>
              <br>
            <p class="govuk-body"> <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
              <col>
                <colgroup span="3"></colgroup>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                      
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b></b></td>
                        <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Conjunction events</b></td>
                        <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="2"><b>Re-entry events</b></td>
                        <td scope="colgroup" class="govuk-table__cell govuk-body-s" colspan="1"><b>Monitoring flags</b></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Organisation</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Number of UK-licensed satellites</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Upcoming conjunction events</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Conjunction events past month</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Upcoming re-entry events</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Re-entry events past year</th>
                        <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Monitoring flags past month</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s"><a href="/organisations/avanti">Avanti</a></td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">3</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">13</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">34</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                        <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">4</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s"><a href="#">SES</a></td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">27</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">6</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">17</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">3</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s"><a href="#">Inmarsat</a></td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">18</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">42</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">33</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
                          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">7</td>
                        </tr>
                    </tbody>
                    </col>
                  </table>
                  <p>Download this table [<a href="#">JSON</a>][<a href="#">CSV</a>]</p>

                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Help with this table
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      This table compares the number and type of flag by operator.
                      <p>
                      </ul>
                    </div>
                  </details>     
                
                  <h2 class="govuk-heading-l">Event and organisation data</h2>
                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Conjunction events by organisation
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                        <p class="govuk-body">Conjunction events and their probability of collision for events relating to an organisation.</p>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            Filter by organisation
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">All organisations</option>
                            <option value="updated" selected>OneWeb</option>
                            <option value="views">AAC Clyde Space</option>
                            <option value="comments">SSTL</option>
                          </select>
                        </div>
                        <img src="/public/images/allorgconjunctions.PNG" alt="HYLAS 1" width="80%">
                        <br>
                        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                          <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Type</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Events</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b><1e-5</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b><1e-3 and >1e-5</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>>1e-3</b></th>
                          </tr>
                          </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">All</td>
                            <td class="govuk-table__cell govuk-body-s" >25640</td>
                            <td class="govuk-table__cell govuk-body-s" >12820</td>
                            <td class="govuk-table__cell govuk-body-s">10320</td>
                            <td class="govuk-table__cell govuk-body-s">2500</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Open Cosmos</td>
                            <td class="govuk-table__cell govuk-body-s" >4088</td>
                            <td class="govuk-table__cell govuk-body-s" >2044</td>
                            <td class="govuk-table__cell govuk-body-s">1572</td>
                            <td class="govuk-table__cell govuk-body-s">472</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">OneWeb</td>
                            <td class="govuk-table__cell govuk-body-s" >3300</td>
                            <td class="govuk-table__cell govuk-body-s" >1650</td>
                            <td class="govuk-table__cell govuk-body-s">1309</td>
                            <td class="govuk-table__cell govuk-body-s">341</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Inmarsat</td>
                            <td class="govuk-table__cell govuk-body-s" >3300</td>
                            <td class="govuk-table__cell govuk-body-s" >1650</td>
                            <td class="govuk-table__cell govuk-body-s">1309</td>
                            <td class="govuk-table__cell govuk-body-s">341</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Clyde Space</td>
                            <td class="govuk-table__cell govuk-body-s" >3300</td>
                            <td class="govuk-table__cell govuk-body-s" >1650</td>
                            <td class="govuk-table__cell govuk-body-s">1309</td>
                            <td class="govuk-table__cell govuk-body-s">341</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>Download this table [JSON] [CSV]</p>
                      <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with this table
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        This table shows the total number and probability of upcoming events.
                      </div>
                      </details>
                      </div>
                    </div>
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Re-entry events by organisation
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content">
                        <p class="govuk-body">Re-entry events and alerts relating to an organisation.</p>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            Filter by organisation
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">All organisations</option>
                            <option value="updated" selected>OneWeb</option>
                            <option value="views">AAC Clyde Space</option>
                            <option value="comments">SSTL</option>
                            <option value="comments">Inmarsat</option>
                            <option value="comments">Open Cosmos</option>
                          </select>
                        </div>
                        <img src="/public/images/reentryevents.PNG" alt="HYLAS 1" width="80%">
                        <br>
                        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                          <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Organisation</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Total re-entry events</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Re-entry alerts</b></th>
                          </tr>
                          </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">All</td>
                            <td class="govuk-table__cell govuk-body-s" >7</td>
                            <td class="govuk-table__cell govuk-body-s" >3</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Open Cosmos</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                            <td class="govuk-table__cell govuk-body-s" >0</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">OneWeb</td>
                            <td class="govuk-table__cell govuk-body-s" >3</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Inmarsat</td>
                            <td class="govuk-table__cell govuk-body-s" >2</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Clyde Space</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>Download this table [JSON] [CSV]</p>
                      <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with this table
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        This table shows the total number and probability of upcoming events.
                      </div>
                      </details>
                      </div>
                    </div>
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Monitoring flags by organisation
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                        <p class="govuk-body">Monitoring flags by type and organisation over past year.</p>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="sort">
                            Filter by organisation
                          </label>
                          <select class="govuk-select" id="sort" name="sort">
                            <option value="published">All organisations</option>
                            <option value="updated" selected>OneWeb</option>
                            <option value="views">AAC Clyde Space</option>
                            <option value="comments">SSTL</option>
                            <option value="comments">Inmarsat</option>
                            <option value="comments">Open Cosmos</option>
                          </select>
                        </div>
                        <br>
                        <img src="/public/images/flagtypebyorg.PNG" alt="HYLAS 1" width="80%">
                        <br>
                        <br>
                        <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%">
                          <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Organisation</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Manoeuvre as planned</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Manoeuvre not as planned</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Unexpected position change</b></th>
                              <th scope="colgroup" class="govuk-table__cell govuk-body-s"><b>Missing data</b></th>
                          </tr>
                          </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">All</td>
                            <td class="govuk-table__cell govuk-body-s" >16</td>
                            <td class="govuk-table__cell govuk-body-s" >5</td>
                            <td class="govuk-table__cell govuk-body-s" >9</td>
                            <td class="govuk-table__cell govuk-body-s" >4</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Open Cosmos</td>
                            <td class="govuk-table__cell govuk-body-s" >5</td>
                            <td class="govuk-table__cell govuk-body-s" >2</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                            <td class="govuk-table__cell govuk-body-s" >0</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">OneWeb</td>
                            <td class="govuk-table__cell govuk-body-s" >3</td>
                            <td class="govuk-table__cell govuk-body-s" >2</td>
                            <td class="govuk-table__cell govuk-body-s" >3</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>  
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Inmarsat</td>
                            <td class="govuk-table__cell govuk-body-s" >2</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                            <td class="govuk-table__cell govuk-body-s" >4</td>
                            <td class="govuk-table__cell govuk-body-s" >2</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-body-s">Clyde Space</td>
                            <td class="govuk-table__cell govuk-body-s" >6</td>
                            <td class="govuk-table__cell govuk-body-s" >0</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                            <td class="govuk-table__cell govuk-body-s" >1</td>
                          </tr>
                        </tbody>
                      </table>
                      <p>Download this table [JSON] [CSV]</p>
                      <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Help with this table
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        This table shows the number of flags and type of flag.
                      </div>
                      </details>
                      </div>
                    </div>
                  </div>
{% endblock %}