{% extends "layout.html" %}

{% block pageTitle %}
password
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="login">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Space surveillance & tracking login</h1>

      <form class="form" action="/impending-alerts" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="account-number">
                Enter your password
                </label>
              </h1>

              <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
{% extends "layout.html" %}
