{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-satellite-x">Satellite</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">[Satellite name]</h1>

  <h2 class="govuk-heading-l">Upcoming conjunction events</h2>
  <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 6%">Event ID</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 13%">Time of event (UTC)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">Total miss distance (m)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">Radial miss distance (m)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">USA Probability of collision (%)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 10%">UKSA Probability of collision (%)</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 12%">Last updated (UTC)</th>
      </tr>
    </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="regulator-warning-1.html" class="govuk-link--no-visited-state">AAA0001</a>
      </td>
      <td class="govuk-table__cell">04/02/21 11:51</td>
      <td class="govuk-table__cell">37</td>
      <td class="govuk-table__cell">15</td>
      <td class="govuk-table__cell">52</td>
      <td class="govuk-table__cell">38</td>
      <td class="govuk-table__cell">04/02/21 08:19</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="regulator-warning-3.html" class="govuk-link--no-visited-state">AAA0003</a>
      </td>
      <td class="govuk-table__cell">12/02/21 19:00</td>
      <td class="govuk-table__cell">152</td>
      <td class="govuk-table__cell">42</td>
      <td class="govuk-table__cell">6</td>
      <td class="govuk-table__cell">7</td>
      <td class="govuk-table__cell">04/02/21 12:02</td>
    </tr>
    </tbody>
    </table>
<a href="/public/downloads/space_data.xlsx" download >Download event history for [satellite name]</a>
<p></p>
        <h2 class="govuk-heading-l">Satellite Information</h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                <td class="govuk-table__cell">[name]</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">NORAD ID</th>
                <td class="govuk-table__cell">[ID]</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">International designator</th>
                <td class="govuk-table__cell">[intdes]</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Object type</th>
                <td class="govuk-table__cell">Payload</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Active / inactive</th>
                <td class="govuk-table__cell">Active</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disposed or decayed</th>
                <td class="govuk-table__cell">N/A</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">XXX</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location of launch</th>
                <td class="govuk-table__cell">UK</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Launch date</th>
                <td class="govuk-table__cell">dd/mm/yy</td>
              </tr>
            </tbody>
          </table>
          <p></p>
          <h3 class="govuk-heading-m">Licence Information</h3>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Operator/Owner</th>
                <td class="govuk-table__cell"><a href="/operator2-profile-x">[name of operator]</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Licence issued under Outer Space Act</th>
                <td class="govuk-table__cell">[date]</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Accepted onto UK register of Space Objects</th>
                <td class="govuk-table__cell">Yes - [date]</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">General function</th>
                <td class="govuk-table__cell">[insert function]</td>
              </tr>
            </tbody>
          </table>
          <p> </p>
          <h2 class="govuk-heading-l">Location data</h2>
              <p>This table shows the most recent location data for [satellite].</p>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" span="1" style="width: 10%">TIME</th>
                    <th scope="col" class="govuk-table__header" span="1" style="width: 16%">DATE</th>
                    <th scope="col" class="govuk-table__header" span="1" style="width: 10%">ORBIT</th>
                    <th scope="col" class="govuk-table__header" span="1" style="width: 16%">INCLINATION</th>
                    <th scope="col" class="govuk-table__header" span="1" style="width: 16%">APOGEE</th>
                    <th scope="col" class="govuk-table__header" span="1" style="width: 16%">PERIGEE</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:14</td>
                    <td scope="row" class="govuk-table__cell">11/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">111.11</td>
                    <td scope="row" class="govuk-table__cell">1459</td>
                    <td scope="row" class="govuk-table__cell">1096</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:17</td>
                    <td scope="row" class="govuk-table__cell">10/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">111.81</td>
                    <td scope="row" class="govuk-table__cell">1463</td>
                    <td scope="row" class="govuk-table__cell">1101</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">09:20</td>
                    <td scope="row" class="govuk-table__cell">09/01/2021</td>
                    <td scope="row" class="govuk-table__cell">LEO</td>
                    <td scope="row" class="govuk-table__cell">112.01</td>
                    <td scope="row" class="govuk-table__cell">1455</td>
                    <td scope="row" class="govuk-table__cell">1099</td>
                  </tr>
                </tbody>
              </table>
                <a href="/public/downloads/space_data.xlsx" download >Download location data for [satellite]</a>
                <p> </p>
  </main>
  </div>


{% endblock %}
