{% extends "layout.html" %}

{% block pageTitle %}
Starlink-1862
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-satellite-1">Starlink-1862</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Starlink-1862</h1>

      <h2 class="govuk-heading-l">Satellite Information</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
            <td class="govuk-table__cell">Starlink-1862</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">NORAD ID</th>
            <td class="govuk-table__cell">47149</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">International designator</th>
            <td class="govuk-table__cell">2020-088AD</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Object type</th>
            <td class="govuk-table__cell">Payload</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Size (m)</th>
            <td class="govuk-table__cell">2 x 2 x 2</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mass (kg)</th>
            <td class="govuk-table__cell">250</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Operator</th>
            <td class="govuk-table__cell">SpaceX</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" >Active / inactive</th>
            <td class="govuk-table__cell">Likely active</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Source of active / inactive data</th>
            <td class="govuk-table__cell">DBPedia</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" >Manoeuvrability</th>
            <td class="govuk-table__cell">Likely manoeuvrable</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Source of manoeuvrability data</th>
            <td class="govuk-table__cell">DBPedia</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" >Disposed or decayed</th>
            <td class="govuk-table__cell">N/A</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">License information</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Licensed by</th>
            <td class="govuk-table__cell">UK</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Launching state</th>
            <td class="govuk-table__cell">UK</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="text-indent: 40px">Launch date</th>
            <td class="govuk-table__cell">2020</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Orbital information</th>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="text-indent: 40px">Apogee</th>
            <td class="govuk-table__cell">45</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="text-indent: 40px">Perigee</th>
            <td class="govuk-table__cell">179</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="text-indent: 40px">Inclincation</th>
            <td class="govuk-table__cell">37</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="text-indent: 40px">Period (hours)</th>
            <td class="govuk-table__cell">38</td>
          </tr>
        </tbody>
      </table>



          <p> </p>
          <h2 class="govuk-heading-l">Conjunction events</h2>
          <h3 class="govuk-heading-m">History of conjunction events</h3>
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 6%";>Event ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Date of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (Space-Track CDM, %)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (UKSA, %)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA6854</a>
                  </td>
                  <td class="govuk-table__cell">05/01/20</td>
                  <td class="govuk-table__cell">SPACEBEE-52</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">765 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">3.05</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">7.89</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA4723</a>
                  </td>
                  <td class="govuk-table__cell">17/03/20</td>
                  <td class="govuk-table__cell">Debris-1234</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">436 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4.56</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">9.59</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA5832</a>
                  </td>
                  <td class="govuk-table__cell">25/04/20</td>
                  <td class="govuk-table__cell">ONEWEB-0050</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">134 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4.21</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6.71</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA4375</a>
                  </td>
                  <td class="govuk-table__cell">01/07/20</td>
                  <td class="govuk-table__cell">HYLAS 4</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">865 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1.34</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.65</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA0683</a>
                  </td>
                  <td class="govuk-table__cell">13/09/20</td>
                  <td class="govuk-table__cell">Debris-4321</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">365 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.78</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.87</td>
                </tr>

              </tbody>
            </table>

          <p> </p>
          <h3 class="govuk-heading-m">Upcoming conjunction events</h3>
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 6%";>Event ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (Space-Track CDM, %)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (UKSA, %)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="regulator-warning-1.html" class="govuk-link--no-visited-state">AAA0001</a>
                  </td>
                  <td class="govuk-table__cell">04/02/21 11:51</td>
                  <td class="govuk-table__cell">Discoverer 5</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">129</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.1538</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.0933</td>
              </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link--no-visited-state">AAA0003</a>
              </td>
              <td class="govuk-table__cell">12/02/21 19:00</td>
              <td class="govuk-table__cell">Lemur 2</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">418</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.0103</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.0502</td>
            </tr>
            </tbody>
            </table>
        <p><a href="/public/downloads/space_data.xlsx" download >Download event history for Starlink-1862</a></p>
        <p></p>


  </main>
  </div>


{% endblock %}
