{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/ert-homepage">Home</a>
    </li>
    </ol>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">UK Satellite list</h1>
        <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a satellite
          </label>
          <span id="search-hint" class="govuk-hint moj-search__hint ">
            You can search by name, NORAD ID, international designator, operator or active conjunction alerts.
          </span>
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
        </div>
        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>
      <nav class="moj-pagination" id="pagination-label">

<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="moj-pagination__list">
<li class="moj-pagination__item moj-pagination__item--active">1</li>
<li class="moj-pagination__item"><a class="moj-pagination__link" href="/regulator-homepage-2">2</a></li>
<li class="moj-pagination__item"><a class="moj-pagination__link" href="/regulator-homepage-3">3</a></li>
<li class="moj-pagination__item  moj-pagination__item--next">
  <a class="moj-pagination__link" href="/regulator-homepage-2">Next<span class="govuk-visually-hidden"> set of pages</span></a>
</li>
</ul>
<p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>30</b> results</p>
</nav>
        <! main table for conjunction warnings>
        <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 10%";>Satellite name</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 4%";>NORAD ID</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 14%";>International designator</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 20%";>Operator</th>
              <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="ascending" span="1" style="width: 15%";>Active conjunction alerts</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-1">STARLINK-1862</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">47149</td>
              <td class="govuk-table__cell govuk-body-s ">2020-088AD</td>
              <td class="govuk-table__cell govuk-body-s ">SPACEX</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-5">STARLINK-1861</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">47148</td>
              <td class="govuk-table__cell govuk-body-s ">2020-088AC</td>
              <td class="govuk-table__cell govuk-body-s ">SPACEX</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-2">STARLINK-1317</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">45365</td>
              <td class="govuk-table__cell govuk-body-s ">2020-019F</td>
              <td class="govuk-table__cell govuk-body-s ">SPACEX</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-2">SPACEBEE-52</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">47425</td>
              <td class="govuk-table__cell govuk-body-s ">2021-006N	</td>
              <td class="govuk-table__cell govuk-body-s ">Swarm Technologies</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-2">SPACEBEE-10</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">46305</td>
              <td class="govuk-table__cell govuk-body-s ">2020-061AK</td>
              <td class="govuk-table__cell govuk-body-s ">Swarm Technologies</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-2">SPACEBEE-11</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">46307</td>
              <td class="govuk-table__cell govuk-body-s ">2020-061AM</td>
              <td class="govuk-table__cell govuk-body-s ">Swarm Technologies</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-2">SPACEBEE-12</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">46309</td>
              <td class="govuk-table__cell govuk-body-s ">2020-061AP</td>
              <td class="govuk-table__cell govuk-body-s ">Swarm Technologies</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-8">ONEWEB-0050</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">45453</td>
              <td class="govuk-table__cell govuk-body-s ">2020-020AF</td>
              <td class="govuk-table__cell govuk-body-s ">OneWeb Ltd.</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-8">ONEWEB-0064</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">45433</td>
              <td class="govuk-table__cell govuk-body-s ">2020-020K</td>
              <td class="govuk-table__cell govuk-body-s ">OneWeb Ltd.</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><a href="/ert-satellite-8">ONEWEB-0120</a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">47266</td>
              <td class="govuk-table__cell govuk-body-s ">2020-100J	</td>
              <td class="govuk-table__cell govuk-body-s ">OneWeb Ltd.</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
            </tr>
          </tbody>
      </table>
      </div>
      </div>
  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
