{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Covariance visualisation
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="regulator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="regulator-satellite-1">Starlink-1862</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="regulator-warning-1">Event AAA0001</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="regulator-warning-1-covariance">Covariance visualisation</a>
      </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AAA0001: Covariance visualisation</h1>
            <p></p>
            <p>  </p>
              <img src="/public/images/CV-warning-1.PNG" alt="A graph showing the covariance">
            </div>
          </main>
</div>


{% endblock %}
