{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="regulator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="regulator-warning-1">Event AAA0001</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Event AAA0001</h1>
              <p> </p>
              <h2 class="govuk-heading-l">Event Summary</h2>
              <table class="govuk-table"style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 55%"> </th>
                    <th scope="row" class="govuk-table__header" style="width: 25%"> </th>
                    <th scope="row" class="govuk-table__header govuk-table__header--numeric" style="width: 20%">Error ±</th>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 55%">Probability of collision (Space-Track CDM, %)</th>
                    <td class="govuk-table__cell" style="width: 25%">0.1538234</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" style="width: 20%">0.02</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Probability of collision (UKSA, %)</th>
                    <td class="govuk-table__cell">0.0933822</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.01</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Time of closest approach (UTC)</th>
                    <td class="govuk-table__cell">04/02/2021 11:51:05.03 </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total miss distance</th>
                    <td class="govuk-table__cell">129 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">12 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="text-indent: 40px">Radial miss distance</th>
                    <td class="govuk-table__cell">352 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">46 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="text-indent: 40px">In-track miss distance</th>
                    <td class="govuk-table__cell">208 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">19 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="text-indent: 40px">Cross-track miss distance</th>
                    <td class="govuk-table__cell">105 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">21 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Data updated (UTC)</th>
                    <td class="govuk-table__cell">04/02/21 08:19.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                  </tr>
                </tbody>
              </table>

              <p></p>


              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Visualisations of event
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="warning-1-probability-evolution.html">Evolution of collision probability</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-miss-distance-evolution.html">Evolution of miss distance predictions</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-error-ellipsoid.html">Evolution of conjunction error ellipsoids</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-map-analysis.html">Predicted location of conjunction event</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-covariance.html">Covariance visualisation</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Additional event data
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Altitude</th>
                          <td class="govuk-table__cell">230 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Latitude</th>
                          <td class="govuk-table__cell">320 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Longitude</th>
                          <td class="govuk-table__cell">280 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Impact velocity</th>
                          <td class="govuk-table__cell">28 km/s</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Estimated combined mass of objects</th>
                          <td class="govuk-table__cell">490 kg</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Estimated number of fragments if collision occurs</th>
                          <td class="govuk-table__cell">10,000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Event history
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p> This table shows a history of updates released for this event.</p>
                    <table class="govuk-table" data-module="moj-sortable-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 15%">Time of update (UTC)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 9%">Probability of collision % (Space-Track CDM)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 9%">Probability of collision % (UKSA)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 9%">Total miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 9%">Radial miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending" span="1" style="width: 15%">Time of event (UTC)</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">04/02/21 08:19</td>
                          <td class="govuk-table__cell">0.1538234</td>
                          <td class="govuk-table__cell">0.0933822</td>
                          <td class="govuk-table__cell">37 m</td>
                          <td class="govuk-table__cell">15 m</td>
                          <td class="govuk-table__cell">04/02/21 11:51.05</td>
                          </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">03/02/21 14:10</td>
                          <td class="govuk-table__cell">0.1639218</td>
                          <td class="govuk-table__cell">0.0950231</td>
                          <td class="govuk-table__cell">40 m</td>
                          <td class="govuk-table__cell">12 m</td>
                          <td class="govuk-table__cell">04/02/21 11:51.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">02/02/21 12:00</td>
                          <td class="govuk-table__cell">0.1710025</td>
                          <td class="govuk-table__cell">0.0961032</td>
                          <td class="govuk-table__cell">40 m</td>
                          <td class="govuk-table__cell">30 m</td>
                          <td class="govuk-table__cell">04/02/21 11:51.08</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">01/02/21 03:49</td>
                          <td class="govuk-table__cell">0.1700132</td>
                          <td class="govuk-table__cell">0.0980012</td>
                          <td class="govuk-table__cell">42 m</td>
                          <td class="govuk-table__cell">18 m</td>
                          <td class="govuk-table__cell">04/02/21 11:51.15</td>
                        </tr>
                      </tbody>
                  </table>
                  <p><a href="/public/downloads/space_data.xlsx" download >Download event history</a></p>
                  </div>
                </div>
                </div>
                <p></p>

                <h2 class="govuk-heading-l">Object Data</h2>
                  <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 40%""> </th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                        </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Common name</th>
                        <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</td>
                        <td class="govuk-table__cell">DISCOVERER 5</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">NORAD ID</th>
                        <td class="govuk-table__cell">47149</td>
                        <td class="govuk-table__cell">18</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">International designator</th>
                        <td class="govuk-table__cell">2020-088AD</td>
                        <td class="govuk-table__cell">1959-005A</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Object type</th>
                        <td class="govuk-table__cell">Payload</td>
                        <td class="govuk-table__cell">Payload</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Activity</th>
                        <td class="govuk-table__cell">Active</td>
                        <td class="govuk-table__cell">Unknown</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Manoeuvrability</th>
                        <td class="govuk-table__cell">Manoeuvrable</td>
                        <td class="govuk-table__cell">Unknown</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">UK licensed</th>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Operator (if known)</th>
                        <td class="govuk-table__cell">SPACEX</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/warning-1-contact-operator">SPACEY</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Launching State</th>
                        <td class="govuk-table__cell">UK</td>
                        <td class="govuk-table__cell">USA</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Launch year</th>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">1959</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Object data sources
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <p> UKSA data outputs are based on:</p>
                        <table class="govuk-table" style="width: 100%">
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%""> </th>
                                <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                                <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                              </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Data Source</th>
                              <td class="govuk-table__cell">Ephemeris</td>
                              <td class="govuk-table__cell">Space-Track TLE</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Data received</th>
                              <td class="govuk-table__cell">03/02/21 04:23</td>
                              <td class="govuk-table__cell">03/02/21 07:56</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Data reliability</th>
                              <td class="govuk-table__cell">N/A</td>
                              <td class="govuk-table__cell">167 observations</td>
                            </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Further explanation of object data
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <table class="govuk-table" style="width: 100%">
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%">Data source: Ephemeris</th>
                                <td class="govuk-table__cell" style="width: 60%">This data is provided by the operator directly.</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%">Define term: Activity</th>
                                <td class="govuk-table__cell" style="width: 60%">The object will be classed as active or inactive depending on whether the satellite is known to be currently actively managed by an operator. This may be also be classed as unknown.</td>
                              </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Define term: Manoeuvrability</th>
                              <td class="govuk-table__cell">Whether the object is able to be manoeuvred.This field will show manoeuvrable, not manoeuvrable or unknown.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>
                    <p><a href="/public/downloads/space_data.xlsx" download >Download all event and object data for AAA0001</a></p>


                  <h2 class="govuk-heading-l">Contact an orbital analyst or operator about this event</h2>
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="/operator-communication-warning-1">Contact an orbital analyst</a> at the UKSA for advice
                    </li>
                    <li>
                      <a class="govuk-link" href="/warning-1-contact-operator">Contact the operator</a> of the secondary object
                    </li>
                  </ul>

                  <p></p>
                <h2 class="govuk-heading-l">How this data was calculated</h2>
                  <p class="govuk-body">To understand more about how this data was generated by the UKSA, see:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link" href="#">Data sources</a></li>
                    <li><a class="govuk-link" href="#">Analytical tools</a></li>
                    <li><a class="govuk-link" href="#">Explanation</a></li>
                  </ul>

          </div>
        </main>
</div>


{% endblock %}
