{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/regulator-satellite-1">Starlink-1862</a>
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Starlink-1862</h1>

      <h2 class="govuk-heading-l">Satellite Information</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                <td class="govuk-table__cell">Starlink-1862</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">NORAD ID</th>
                <td class="govuk-table__cell">47149</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">International designator</th>
                <td class="govuk-table__cell">2020-088AD</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Object type</th>
                <td class="govuk-table__cell">Payload</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Active / inactive</th>
                <td class="govuk-table__cell">Active</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Manoeuvrability</th>
                <td class="govuk-table__cell">Manoeuvrable</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Disposed or decayed</th>
                <td class="govuk-table__cell">N/A</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">250</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Location of launch</th>
                <td class="govuk-table__cell">UK</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Launch date</th>
                <td class="govuk-table__cell">2020</td>
              </tr>
            </tbody>
          </table>
          <p></p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Licence Information
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Operator/Owner</th>
                      <td class="govuk-table__cell"><a href="/operator2-profile-SPACEX">Starlink operator</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Licence issued under Outer Space Act</th>
                      <td class="govuk-table__cell">01/01/20</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Accepted onto UK register of Space Objects</th>
                      <td class="govuk-table__cell">01/01/20</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">General function</th>
                      <td class="govuk-table__cell">Research</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Compliance and monitoring
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p> For further information regarding compliance and monitoring of this spacecraft, visit www...</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header"></th>
                      <th  class="govuk-table__header">Most recent submission</th>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Annual Health Check</th>
                      <td class="govuk-table__cell">03/05/2020</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Third-party liability insurance policy</th>
                      <td class="govuk-table__cell">03/05/2020</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Reported planned change to activity to UKSA</th>
                      <td class="govuk-table__cell">N/A</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Location data
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p>This table shows the most recent location data for Starlink-1862.</p>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" span="1" style="width: 20%">Date</th>
                      <th scope="col" class="govuk-table__header" span="1" style="width: 15%">Orbit</th>
                      <th scope="col" class="govuk-table__header" span="1" style="width: 15%">Inclination</th>
                      <th scope="col" class="govuk-table__header" span="1" style="width: 15%">Apogee</th>
                      <th scope="col" class="govuk-table__header" span="1" style="width: 15%">Perigee</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">11/01/2021 11:40</td>
                      <td scope="row" class="govuk-table__cell">LEO</td>
                      <td scope="row" class="govuk-table__cell">111.11</td>
                      <td scope="row" class="govuk-table__cell">1459</td>
                      <td scope="row" class="govuk-table__cell">1096</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">10/01/2021 11:37</td>
                      <td scope="row" class="govuk-table__cell">LEO</td>
                      <td scope="row" class="govuk-table__cell">111.81</td>
                      <td scope="row" class="govuk-table__cell">1463</td>
                      <td scope="row" class="govuk-table__cell">1101</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell">09/01/2021 11:18</td>
                      <td scope="row" class="govuk-table__cell">LEO</td>
                      <td scope="row" class="govuk-table__cell">112.01</td>
                      <td scope="row" class="govuk-table__cell">1455</td>
                      <td scope="row" class="govuk-table__cell">1099</td>
                    </tr>
                  </tbody>
                </table>
                  <p>Download <a href="/public/downloads/space_data.xlsx" download >location data for Starlink-1862 (.csv)</a></p>
                  <p>View <a href="#">location data analysis graph for Starlink-1862</a></p>
              </div>
            </div>
          </div>

          <p> </p>
          <h2 class="govuk-heading-l">Conjunction events</h2>
          <h3 class="govuk-heading-m">History of conjunction events</h3>
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 6%";>Event ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Date of event</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (Space-Track CDM, %)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (UKSA, %)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA6854</a>
                  </td>
                  <td class="govuk-table__cell">05/01/2020</td>
                  <td class="govuk-table__cell">SPACEBEE-52</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">765 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">3.05</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">7.89</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA4723</a>
                  </td>
                  <td class="govuk-table__cell">17/03/2020</td>
                  <td class="govuk-table__cell">Debris-1234</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">436 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4.56</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">9.59</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA5832</a>
                  </td>
                  <td class="govuk-table__cell">25/04/2020</td>
                  <td class="govuk-table__cell">ONEWEB-0050</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">134 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4.21</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">6.71</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA4375</a>
                  </td>
                  <td class="govuk-table__cell">01/07/2020</td>
                  <td class="govuk-table__cell">HYLAS 4</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">865 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">1.34</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.65</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link--no-visited-state">AAA0683</a>
                  </td>
                  <td class="govuk-table__cell">13/09/2020</td>
                  <td class="govuk-table__cell">Debris-4321</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">365 m</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.78</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2.87</td>
                </tr>

              </tbody>
            </table>

          <p> </p>
          <h3 class="govuk-heading-m">Upcoming conjunction events</h3>
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 6%";>Event ID</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 14%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (Space-Track CDM)</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" span="1" style="width: 11%";>Probability of collision (UKSA)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="regulator-warning-1.html" class="govuk-link--no-visited-state">AAA0001</a>
                  </td>
                  <td class="govuk-table__cell">04/02/21 11:51</td>
                  <td class="govuk-table__cell">Discoverer 5</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">129</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0.1538</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.0933</td>
              </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="#" class="govuk-link--no-visited-state">AAA0003</a>
              </td>
              <td class="govuk-table__cell">12/02/21 19:00</td>
              <td class="govuk-table__cell">Lemur 2</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">418</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.0103</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.0502</td>
            </tr>
            </tbody>
            </table>
        <p><a href="/public/downloads/space_data.xlsx" download >Download event history for Starlink-1862</a></p>
        <p></p>


  </main>
  </div>


{% endblock %}
