{% extends "layout.html" %}

{% block pageTitle %}
UKSA Homepage
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/regulator-homepage">Home</a>
    </li>
    </ol>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Monitoring UK Satellites</h1>

      <h2 class="govuk-heading-l">UK satellite list</h2>
        <div class="moj-search">
        <form action="#" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a satellite
          </label>
          <span id="search-hint" class="govuk-hint moj-search__hint ">
            You can search by exception reports (yes/no), satellite, operator, monthly report, number of upcoming conjunction events, inclination, apogee or perigee.
          </span>
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
        </div>
        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
        </form>
        </div>
      <nav class="moj-pagination" id="pagination-label">
        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
        <ul class="moj-pagination__list">
          <li class="moj-pagination__item moj-pagination__item--active">1</li>
          <li class="moj-pagination__item"><a class="moj-pagination__link">2</a></li>
          <li class="moj-pagination__item"><a class="moj-pagination__link">3</a></li>
          <li class="moj-pagination__item  moj-pagination__item--next"><a class="moj-pagination__link">Next<span class="govuk-visually-hidden"> set of pages</span></a></li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>30</b> results</p>
      </nav>
        <! main table for conjunction warnings>
      <p></p>

        <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 5%";>Exception report</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 15%";>Satellite</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 15%";>Operator</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 15%";>Monthly report</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 5%";>Upcoming conjunction events</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 8%";>Inclination (°)</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 8%";>Apogee (km)</th>
              <th scope="col" class="govuk-table__header" aria-sort="none" span="1" style="width: 8%";>Perigee (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--red">Yes</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="/regulator-satellite-1"><b>STARLINK-1862</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="/regulator-operator2-profile-SPACEX">SPACEX</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0002</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>STARLINK-1861</b></td>
              <td class="govuk-table__cell govuk-body-s"><a href="/regulator-operator2-profile-SPACEX">SPACEX</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0012</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--red">Yes</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>STARLINK-1317</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="/regulator-operator2-profile-SPACEX">SPACEX</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0016</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>SPACEBEE-52</b></a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#">Swarm Tech.</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0007</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>STARLINK-1947</b></a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="/regulator-operator2-profile-SPACEX">SPACEX</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0009</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">0</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>SPACEBEE-11</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="#">Swarm Tech.</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0023</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">3</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>STARLINK-1929</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="/regulator-operator2-profile-SPACEX">SPACEX</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0025</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>ONEWEB-0050</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="#">OneWeb Ltd.</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0016</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">1</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>ONEWEB-0064</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="#">OneWeb Ltd.</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0018</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>ONEWEB-0120</b></a></td>
              <td class="govuk-table__cell govuk-body-s "><a href="#">OneWeb Ltd.</a></td>
              <td class="govuk-table__cell govuk-body-s"><a href="#"><b>21-MAR-0022</b></a></td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">2</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">95.6</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">872</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">150</td>
            </tr>
          </tbody>
      </table>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with this table
          </span>
        </summary>
        <div class="govuk-details__text">
          This table shows all UK-licensed satellites.
          <p> </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Select the <b>satellite name</b> to view more information about the satellite, licence information, location data and conjunction events.</li>
            <li>Select the <b>satellite operator</b> to view their contact details and registered satellites.</li>
            <li>Highlighted rows indicate satellites with <b>exception reports</b>.</li>
          </ul>
        </div>
      </details>

      <p> </p>

      <h3 class="govuk-heading-m">Register a new UK satellite</h3>
      <p>Add a <a href="/regulator-add-satellite">new UK-licensed satellite</a> to this UKSA register by uploading the satellite information.</p>
      <p></p>
      <h3 class="govuk-heading-m">Settings</h3>
      <p> View your <a href="regulator-settings">account settings</a> to modify your event status thresholds and your event notification settings.</p>
      </div>
      </div>
  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
