{% extends "layout.html" %}

{% block pageTitle %}
Roadmap
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l" id="now">Monitor Space Hazards roadmap</h2>
    <p>The Monitor Space Hazards roadmap shows what we’re working on currently and what we will be working on in future.</p>
    <p>This roadmap is a guide and not exhaustive, with some things subject to change with dependencies outside of our control affecting timelines.</p> 
    <p><b>Updated: June 2024</b></p>
    <br>
    <h2 class="govuk-heading-m" id="event summary">Now</h2>
    <br>
<ul class="govuk-list govuk-list--bullet">
  <li>Renaming and launching Monitor Space Hazards as part of NSpOC warning and protection services, updating DNS and all interfaces/channels to reflect new naming and provide links and access to information from the Met Office Space Weather Operations Centre (MOSWOC)  </li>
  <li>Design and development of the Track Re-entry Events service, enabling montoring for re-entries using Trajectory and Impact Prediction (TIP) messages and enhanced re-entry alert service with Orbital Analyst reports on high interest objects</li>
  <li>Develop a conjunction alert service that provides information and alerts on high risk conjunction events to approved government users</li>
</ul>
<br>
<h2 class="govuk-heading-m" id="next">Next</h2>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>Develop our Monitor UK Satellite Activity service MVP to support the CAA in its satellite orbital licence monitoring and regulatory work, tracking satellite position changes and manoeuvres</li>
<li>Iterations and further enhancements on the re-entry alert service to include additional areas of interest and added functionality for government users</li>
<li>Undertake an alpha into digitising fragmentation alerts for users</li>
</ul>
<br>
<h2 class="govuk-heading-m" id="later">Further out</h2>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>Enhancement of Monitor UK Satellite Activity service to integrate with CAA UK licensed satellites database and provide evaluation of manoeuvre flags</li>
<li>Provide event and performance information by organisation for data analysis </li>
<li>Provide additional monitoring and performance information on space environment statistics page to reflect new services and additional metrics around debris vs debris CDMs </li>
<li>Progressive enhancement of user interface enabling filtering for conjunctions and re-entries, including hiding 0% PoC events and alerts for GEO operators </li>
<li>Incorporate UK CDMs and ephemeris data</li>
<li>Provide a Contacting Other Operators feature to enable timely communications around conjunctions between operators</li>
<li>Conduct a discovery into options for academic and public facing interfaces</li>
</ul>
 <br>         
                </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}