{% extends "layout.html" %}

{% block pageTitle %}
Roadmap
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">

      </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
        <a href="#now">What we are working on now</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#next">What we will work on next</a>
      </li>
        <li class="moj-side-navigation__item">
          <a href="#later">What we will work on later</a>
      </li>
      </li>
      </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l" id="now">Monitor Space Hazards roadmap</h2>
    <p>The Monitor Space Hazards roadmap shows what we’re working on currently and what we will be working on in future.</p>
    <p>This roadmap is a guide and not exhaustive, with some things subject to change with dependencies outside of our control affecting timelines.</p> 
    <br>
    <h2 class="govuk-heading-m" id="event summary">Now</h2>
    <br>
<ul class="govuk-list govuk-list--bullet">
  <li>Renaming and launching Monitor Space Hazards as part of NSpOC warning and protection services, updating DNS and all interfaces/channels to reflect new naming and provide links and access to information from the Met Office Space Weather Operations Centre (MOSWOC).  </li>
  <li>Design and development of the Track Re-entry Events service, enabling montoring for re-entries using Trajectory and Impact Prediction (TIP) messages and enhanced re-entry alert service with Orbital Analyst reports on high interest objects.</li>
  <li>Develop a conjunction alert service that provides information and alerts on high risk conjunction events to approved government users</li>
</ul>
<br>
<h2 class="govuk-heading-m" id="next">What we will work on next</h2>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>Develop our Monitor UK Satellite Activity service MVP to support the CAA in its satellite orbital licence monitoring and regulatory work, tracking satellite position changes and manoeuvres.</li>
<li>Iterations and further enhancements on the re-entry alert service to include additional areas of interest and added functionality for government users.</li>
<li>Provide events and UI filtering for conjunctions and re-entries</li>
<li>Increase further the number and type of statistics provided</li>
<li>Provide more detailed event information by organisation</li>
<li>Hide 0% Probability of Collision events</li>
<li>Provide alerts based on miss distance for GEO operators</li>
</ul>
<br>
<h2 class="govuk-heading-m" id="later">What we will work on later</h2>
<br>
<ul class="govuk-list govuk-list--bullet">
<li>Provide a ‘Contacting other operators’ feature</li>
<li>Add a Space Environment Statistics page, supported by debris vs debris CDMs, fragmentation alerts and additional object tracking</li>
<li>Incorporate UK CDMs and Ephemeris data</li>
<li>Conduct a discovery into options for academic and public facing interfaces</li>
</ul>
 <br>         
                </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}