{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="impending-alerts" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Current location of Satellite 2</h2>
        <p class="govuk-body">Satellite 2 is currently located somewhere fun!</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">My satellites</h2>
        <p class="govuk-body">Satellites attached to your registration number:</p>
        <ul class="govuk-list">
          <li>
          <a href="#" class="govuk-link--no-visited-state">Satellite 1</a>
          </li>
        <li>
          <a href="/satellite2" class="govuk-link govuk-link--no-visited-state">Satellite 2</a>
          </li>
        <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Satellite 3</a>
          </li>
          <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Satellite 4</a>
        </li>
        <li>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Satellite 5</a>
        </li>
      </div>

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">History of Satellite 2 location</h2>

        <p>This table illustrates the changing location of Satellite 2 with time.</p>
        <table class="govuk-table">
          <caption class="govuk-table__caption">Location history</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Time</th>
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Orbit</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Coordinates</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">09:14</th>
              <th scope="row" class="govuk-table__header">03/12/2020</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">LEO</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">?</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">09:17</th>
              <th scope="row" class="govuk-table__header">02/12/2020</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">LEO</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">?</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">09:20</th>
              <th scope="row" class="govuk-table__header">01/12/2020</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">LEO</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">?</td>
            </tr>
          </tbody>
        </table>
      </div>


    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Current risk of debris collision</h2>

      <p>The risk of current debris collision is (x).</p>


    </div>
  </div>
</main>
</div>
{% endblock %}
