{% extends "layout.html" %}

{% block pageTitle %}
Page not found
{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page access denied</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
          If you clicked on or pasted the web address, check that you have access to view this organisation's satellites.
      </p>
      <p class="govuk-body">
          If you think you should be able to access this page, contact monitormysatellites@ukspaceagency.co.uk.
      </p>
    </div>
  </div>
</main>
</div>

{% endblock %}
