{% extends "layout.html" %}

{% block pageTitle %}
  Monitor Space Hazards
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

     
      <h1 class="govuk-heading-xl">
        Monitor Space Hazards
      </h1>

      <h2 class="govuk-heading-m">
  National Space Operations Centre Warning and Protection Services
</h2>

<p>National Space Operations Centre (NSpOC) warning and protection services support UK and international partners to manage space related threats, risks and hazards.</p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Track conjunction events</li>
        <li>Track re-entry events</li>
        <li>Track UK satellite positions</li>
        <li>View and download satellite history</li>
        <li>Explore key statistics for UK space hazards</li>
      </ul>

      <p>If you are a registered user, you can sign in by entering your email address and password on the next page.</p>

      <p>If you are not a registered user, but would like to use this service, contact monitorspacehazards@ukspaceagency.gov.uk.</p>


      <a href="/login" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

  </div>
{% endblock %}
