{% extends "layout.html" %}

{% block pageTitle %}
Manage incident banner
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/superadmin-account">Account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Manage incident banner</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Are you sure you want to remove the incident banner for [Name of incident banner]?
        </h2>
        <p class="govuk-body"> The banner will no longer be visible to users of the service, unless you manually choose to display it again.</p>
        <div class="govuk-button-group">
      <form class="form" action="/superadmin-incident-banner-removed" method="post">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button">
          Remove incident banner
        </button>
        </form>

      <form class="form" action="/superadmin-remove-incident-banner" method="post">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
      </form>
      </div>
      </div>

    <h1 class="govuk-heading-xl">Manage incident banner</h1>

    <p class="gem-c-lead-paragraph">In the case of an incident, the Monitor your satellites service will remain live, but there will be a banner at the top of each page warning users that the information presented on Monitor your satellites may not be accurate.
  </p>

<h2 class="govuk-heading-l">Incident banner displayed:</h2>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
Important
</h2>
</div>
<div class="govuk-notification-banner__content" >
  <h3 class="govuk-notification-banner__heading">
    [Message dependent on incident banner selected]
  </h3>
    <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">monitoryoursatellites@ukspaceagency.gov.uk</a> for more information</p>
  </div>
</div>
          <div class="govuk-button-group">

            <form class="form" action="/superadmin-remove-incident-banner-confirmation" method="post">
              <button class="govuk-button" data-module="govuk-button">
            Remove incident banner
            </button>
                      </form>

          <form class="form" action="/superadmin-account" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to account page
          </button>

          </div>

    </div>
</div>
  </main>
  </div>
{% endblock %}
