{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/operator-homepage">Home</a>
    </li>
    </ol>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Upcoming conjunction events</h1>
        <p class="govuk-body">Forecast conjunction events affecting your satellites:</p>
        <table class="govuk-table" data-module=moj-sortable-table>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Event ID</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Time of event (UTC)</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Primary object</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Total miss distance (m)</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">USA PofC) (%)</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">UKSA PofC (%)</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Last updated (UTC)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-1.html" class="govuk-link--no-visited-state">AAA0001</a>
              </td>
              <td class="govuk-table__cell">04/02/21 11:51</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell">37</td>
              <td class="govuk-table__cell">52</td>
              <td class="govuk-table__cell">38</td>
              <td class="govuk-table__cell">04/02/21 08:19</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-2.html" class="govuk-link--no-visited-state">AAA0002</a>
              </td>
              <td class="govuk-table__cell">10/02/21 04:19</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-5">Starlink-1861</td>
              <td class="govuk-table__cell">87</td>
              <td class="govuk-table__cell">8</td>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">03/02/21 14:30</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-3.html" class="govuk-link--no-visited-state">AAA0003</a>
              </td>
              <td class="govuk-table__cell">12/02/21 19:00</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</a></td>
              <td class="govuk-table__cell">152</td>
              <td class="govuk-table__cell">6</td>
              <td class="govuk-table__cell">7</td>
              <td class="govuk-table__cell">04/02/21 12:02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="warning-4.html" class="govuk-link--no-visited-state">AAA0004</a>
              </td>
              <td class="govuk-table__cell">14/02/21 03:49</td>
              <td class="govuk-table__cell"><a href="/operator-satellite-2">Starlink-1317</a></td>
              <td class="govuk-table__cell">851</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">03/02/21 07:16</td>

            </tr>
          </tbody>
      </table>
      <h2 class="govuk-heading-m">My satellites</h2>
       <p><a href="/operator-satellite-list" class="govuk-link--no-visited-state">View satellites</a> attached to your registration number</p>
        <h2 class="govuk-heading-m">Notification settings</h2>
        <p>Change your <a href="operator-notifications.html" class="govuk-link--no-visited-state">notification settings</a></p>        <p></p>

      </div>
      </div>
  </main>
</div>
<script src="<sst-alpha>/<application>.js"></script>
<script>
window.MOJFrontend.initAll()
</script>

{% endblock %}
