{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/test-operator-homepage">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/test-operator-satellite-list">Satellite Catalogue</a>
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Satellite Catalogue</h1>
        <p class="govuk-body-l">All satellites registered to your account are listed in the table below:</p>
          <p></p>
          <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Common name</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">NORAD ID</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">UK licensed</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Upcoming conjunction events</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending" span="1" style="width: 20%">Frequency of events in previous year</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-1">CRNFD-001</a></td>
                <td class="govuk-table__cell">92221</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-2">CRNFD-002</a></td>
                <td class="govuk-table__cell">92222</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">5</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-3">CRNFD-003</a></td>
                <td class="govuk-table__cell">92223</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">8</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-4">CRNFD-004</a></td>
                <td class="govuk-table__cell">92224</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">15</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-5">CRNFD-005</a></td>
                <td class="govuk-table__cell">92225</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">12</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-5">CRNFD-006</a></td>
                <td class="govuk-table__cell">92226</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">12</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-5">CRNFD-007</a></td>
                <td class="govuk-table__cell">92227</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">12</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/operator-satellite-5">CRNFD-008</a></td>
                <td class="govuk-table__cell">92229</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">12</td>
              </tr>
            </tbody>
          </table>
      </div>
  </main>
</div>


{% endblock %}
