{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-covariance">Covariance</a>
    </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AAA0001: Covariance visualisation of event</h1>
            <p></p>
            <p>  </p>
              <img src="/public/images/covariance-visualisation.PNG" alt="covariance">
            </div>
          </main>
</div>


{% endblock %}
