{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Evolution of miss distance predictions
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-miss-distance-evolution">Evolution of miss distance predictions</a>
    </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">AAA0001: Evolution of miss distance predictions</h1>
            <p></p>
            <p> This graph shows the changing predictions of miss distance occuring over time.</p>
            <p> Note, the red line represents the expected time of conjunction event.</p>
      <h2 class="govuk-heading-m"> Data from the UKSA:</h2>
              <img src="/public/images/miss-distance-graph.PNG" alt="Miss-distance-evolution">

      <h2 class="govuk-heading-m"> Data from Space-Track:</h2>
              <img src="/public/images/miss-distance-graph-US.PNG" alt="Miss-distance-evolution-US">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This data is OFFICIAL. Do not share outside the UKSA or your organisation.
        </strong>
      </div>
    </div>
  </main>
</div>


{% endblock %}
