{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AAA0001</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Alert AAA0001</h1>
    </div>
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-grid-row">

        <nav class="moj-side-navigation" aria-label="Side navigation">
          <h4 class="moj-side-navigation__title">Page contents</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#event summary">Event summary</a>
            </li>
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#data_sources">Data sources</a>
            </li>
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#object_data">Object data</a>
            </li>
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#download_data">Download data</a>
            </li>
          </ul>
          <h4 class="moj-side-navigation__title">View further information on how this data was calculated</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#event summary">Data sources</a>
            </li>
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#event summary">Analytical tools</a>
            </li>
            <li class="moj-side-navigation__item">
              <a class="moj-sub-navigation__link" href="#event summary">Definitions and explanations</a>
            </li>
            </ul>
          <h4 class="moj-side-navigation__title">Contact someone about this event</h4>
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Contact a UKSA orbital analyst
              </button>    </li>
              <li class="moj-side-navigation__item">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Send ephemeris data to UKSA
                </button>    </li>
            <li class="moj-side-navigation__item">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Contact the operator of the secondary object</button>    </li>
            </ul>

        </nav>


        </div>
      </div>
      <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-l" id="event summary">Event summary</h1>
              <table class="govuk-table"style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 50%"> </th>
                    <th scope="row" class="govuk-table__header" style="width: 35%"> </th>
                    <th scope="row" class="govuk-table__header govuk-table__header--numeric govuk-body-s" style="width: 15%">Error ±</th>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s" style="width: 55%">Probability of collision (SpaceTrack CDM, %)</th>
                    <td class="govuk-table__cell govuk-body-s" style="width: 25%">0.1538234</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="width: 20%">0.02</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s">Probability of collision (UKSA, %)</th>
                    <td class="govuk-table__cell govuk-body-s">0.0933822</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">0.01</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s">Time of closest approach (UTC)</th>
                    <td class="govuk-table__cell govuk-body-s">04/02/2021 11:51:05.03 </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">-</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s">Total miss distance</th>
                    <td class="govuk-table__cell govuk-body-s">129 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">12 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">Radial miss distance</th>
                    <td class="govuk-table__cell govuk-body-s">352 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">46 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">In-track miss distance</th>
                    <td class="govuk-table__cell govuk-body-s">208 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">19 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s" style="text-indent: 40px">Cross-track miss distance</th>
                    <td class="govuk-table__cell govuk-body-s">105 m</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">21 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-body-s">Data updated (UTC)</th>
                    <td class="govuk-table__cell govuk-body-s">04/02/21 08:19.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">-</td>
                  </tr>
                </tbody>
              </table>
              <div class="govuk-accordion" data-module="govuk-accordion" id="visualisations of event">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-visualisations">
                        Visualisations of event
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link" href="warning-1-covariance.html">Covariance visualisation</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-probability-evolution.html"><a class="govuk-link" href="warning-1-map-analysis.html">Predicted location of conjunction event</a></a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-probability-evolution.html">Evolution of collision probability</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-miss-distance-evolution.html">Evolution of miss distance predictions</a>
                      </li>
                      <li>
                        <a class="govuk-link" href="warning-1-error-ellipsoid.html">Evolution of conjunction error ellipsoids</a>
                      </li>

                    </ul>
                  </div>
                </div>


                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Additional event data
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Altitude</th>
                          <td class="govuk-table__cell">230 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Latitude</th>
                          <td class="govuk-table__cell">320 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Longitude</th>
                          <td class="govuk-table__cell">280 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Impact velocity</th>
                          <td class="govuk-table__cell">28 km/s</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Estimated combined mass of objects</th>
                          <td class="govuk-table__cell">490 kg</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Estimated number of fragments if collision occurs</th>
                          <td class="govuk-table__cell">10,000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Event history
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p> This table shows a history of updates released for this alert.</p>
                    <table class="govuk-table" data-module="moj-sortable-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of update (UTC)</th>
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Probability of collision % (SpaceTrack CDM)</th>
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Probability of collision % (UKSA)</th>
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Total miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 9%">Radial miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class govuk-body-s" aria-sort="ascending" span="1" style="width: 15%">Time of event (UTC)</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s">04/02/21 08:19</td>
                          <td class="govuk-table__cell govuk-body-s">0.1538234</td>
                          <td class="govuk-table__cell govuk-body-s">0.0933822</td>
                          <td class="govuk-table__cell govuk-body-s">37 m</td>
                          <td class="govuk-table__cell govuk-body-s">15 m</td>
                          <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.05</td>
                          </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s">03/02/21 14:10</td>
                          <td class="govuk-table__cell govuk-body-s">0.1639218</td>
                          <td class="govuk-table__cell govuk-body-s">0.0950231</td>
                          <td class="govuk-table__cell govuk-body-s">40 m</td>
                          <td class="govuk-table__cell govuk-body-s">12 m</td>
                          <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.00</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s">02/02/21 12:00</td>
                          <td class="govuk-table__cell govuk-body-s">0.1710025</td>
                          <td class="govuk-table__cell govuk-body-s">0.0961032</td>
                          <td class="govuk-table__cell govuk-body-s">40 m</td>
                          <td class="govuk-table__cell govuk-body-s">30 m</td>
                          <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.08</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-body-s">01/02/21 03:49</td>
                          <td class="govuk-table__cell govuk-body-s">0.1700132</td>
                          <td class="govuk-table__cell govuk-body-s">0.0980012</td>
                          <td class="govuk-table__cell govuk-body-s">42 m</td>
                          <td class="govuk-table__cell govuk-body-s">18 m</td>
                          <td class="govuk-table__cell govuk-body-s">04/02/21 11:51.15</td>
                        </tr>
                      </tbody>
                  </table>
                  <p><a href="/public/downloads/space_data.xlsx" download >Download event history</a></p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Probability of collision calculations
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Spacetrack CDM</th>
                          <td class="govuk-table__cell">Alfano-2005 method</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">UKSA analysis</th>
                          <td class="govuk-table__cell">Foster-1992 method</td>
                        </tr>
                        </tbody>
                        </table>
                        <p> For more information on the analysis carried out by the UKSA, please see the 'How this data was calculated' section at the bottom of the page.</p>
                  </div>
                </div>
                </div>
                <p></p>
                <h1 class="govuk-heading-l" id="data_sources">Data sources</h1>


                <table class="govuk-table" style="width: 100%">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 40%""> </th>
                        <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                        <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                      </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Data Source - UKSA</th>
                      <td class="govuk-table__cell">Ephemeris</td>
                      <td class="govuk-table__cell">Spacetrack TLE</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Data Source - Spacetrack</th>
                      <td class="govuk-table__cell">TLE</td>
                      <td class="govuk-table__cell">TLE</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Data received</th>
                      <td class="govuk-table__cell">03/02/21 04:23</td>
                      <td class="govuk-table__cell">03/02/21 07:56</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Data reliability</th>
                      <td class="govuk-table__cell">N/A</td>
                      <td class="govuk-table__cell">167 observations</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Object manoeuvrability source</th>
                      <td class="govuk-table__cell">Spacetrack</td>
                      <td class="govuk-table__cell">Spacetrack</td>
                    </tr>
                    </tbody>
                  </table>

                <h1 class="govuk-heading-l" id="object_data">Object data</h1>
                <table class="govuk-table" style="width: 100%">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 40%""> </th>
                        <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                        <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                      </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Common name</th>
                      <td class="govuk-table__cell"><a href="/operator-satellite-1">Starlink-1862</td>
                      <td class="govuk-table__cell">DISCOVERER 5</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">NORAD ID</th>
                      <td class="govuk-table__cell">47149</td>
                      <td class="govuk-table__cell">18</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">International designator</th>
                      <td class="govuk-table__cell">2020-088AD</td>
                      <td class="govuk-table__cell">1959-005A</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Object type</th>
                      <td class="govuk-table__cell">Payload</td>
                      <td class="govuk-table__cell">Payload</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Activity</th>
                      <td class="govuk-table__cell">Active</td>
                      <td class="govuk-table__cell">Unknown</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Manoeuvrability</th>
                      <td class="govuk-table__cell">Manoeuvrable</td>
                      <td class="govuk-table__cell">Unknown</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">UK licensed</th>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">No</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Operator (if known)</th>
                      <td class="govuk-table__cell">SPACEX</td>
                      <td class="govuk-table__cell"><a class="govuk-link" href="/warning-1-contact-operator">SPACEY</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Launching State</th>
                      <td class="govuk-table__cell">UK</td>
                      <td class="govuk-table__cell">USA</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Launch year</th>
                      <td class="govuk-table__cell">2020</td>
                      <td class="govuk-table__cell">1959</td>
                    </tr>
                  </tbody>
                </table>


                  <h1 class="govuk-heading-l" id="download_data">Download data</h1>

                  <p><a href="/public/downloads/space_data.xlsx" download >Download event data for AAA0001 (csv file)</a></p>


                  <p></p>

            </div>
            <div class="govuk-grid-row">

            </div>

  </main>
</div>


{% endblock %}
