{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AAA0001</a>
    </li>
    </ol>
</div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Alert AAA0001</h1>
              <p> </p>
              <h2 class="govuk-heading-l">Event Summary</h2>
              <table class="govuk-table"style="width:100%">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 55%">Probability of collision (USA)</th>
                    <td class="govuk-table__cell ">22%</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Probability of collision (UKSA)</th>
                    <td class="govuk-table__cell">18%</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Estimated time of conjunction event (UTC)</th>
                    <td class="govuk-table__cell">04/02/2021 11:51 </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total miss distance</th>
                    <td class="govuk-table__cell">37 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Radial miss distance</th>
                    <td class="govuk-table__cell">15 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">In-track miss distance</th>
                    <td class="govuk-table__cell">20 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Cross-track miss distance</th>
                    <td class="govuk-table__cell">10 m</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Data last updated (UTC)</th>
                    <td class="govuk-table__cell">04/02/21 08:19</td>
                  </tr>
                </tbody>
              </table>
              <p></p>

              <h3 class="govuk-heading-m">Data visualisations of event</h3>
              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="warning-1-probability-evolution.html">Evolution of collision probability</a>
                </li>
                <li>
                  <a class="govuk-link" href="warning-1-miss-distance-evolution.html">Evolution of miss distance predictions</a>
                </li>
                <li>
                  <a class="govuk-link" href="warning-1-error-ellipsoid.html">Evolution of conjunction error ellipsoids</a>
                </li>
                <li>
                  <a class="govuk-link" href="warning-1-map-analysis.html">Predicted location of conjunction event</a>
                </li>
                <li>
                  <a class="govuk-link" href="warning-1-covariance.html">Covariance visualisation</a>
                </li>
              </ul>

              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Additional event data
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 55%">Close approach point</th>
                          <td class="govuk-table__cell">230 km</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Impact velocity</th>
                          <td class="govuk-table__cell">28 km/s</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Mass of objects</th>
                          <td class="govuk-table__cell">490 kg</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Estimated number of fragments</th>
                          <td class="govuk-table__cell">10,000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Event history
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p> This table shows a history of updates released for this alert.</p>
                    <table class="govuk-table" data-module="moj-sortable-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Time of update (UTC)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Probability of collision (USA)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Probability of collision (UKSA)</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Total miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Radial miss distance</th>
                          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Time of event (UTC)</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">04/02/21 08:19</td>
                          <td class="govuk-table__cell">18%</td>
                          <td class="govuk-table__cell">22%</td>
                          <td class="govuk-table__cell">37 m</td>
                          <td class="govuk-table__cell">15 m</td>
                          <td class="govuk-table__cell">04/02/21 11:51</td>
                          </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">03/02/21 14:10</td>
                          <td class="govuk-table__cell">23%</td>
                          <td class="govuk-table__cell">27%</td>
                          <td class="govuk-table__cell">40 m</td>
                          <td class="govuk-table__cell">12 m</td>
                          <td class="govuk-table__cell">04/02/21 11:58</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">02/02/21 12:00</td>
                          <td class="govuk-table__cell">22%</td>
                          <td class="govuk-table__cell">18%</td>
                          <td class="govuk-table__cell">40 m</td>
                          <td class="govuk-table__cell">30 m</td>
                          <td class="govuk-table__cell">04/02/21 11:55</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">01/02/21 03:49</td>
                          <td class="govuk-table__cell">33%</td>
                          <td class="govuk-table__cell">31%</td>
                          <td class="govuk-table__cell">42 m</td>
                          <td class="govuk-table__cell">18 m</td>
                          <td class="govuk-table__cell">04/02/21 12:13</td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
                </div>
                <p></p>

                <h2 class="govuk-heading-l">Object Data</h2>
                  <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 40%"">Object</th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                        </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Common name</th>
                        <td class="govuk-table__cell">Starlink-1862</td>
                        <td class="govuk-table__cell">DISCOVERER 5</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">NORAD ID</th>
                        <td class="govuk-table__cell">47149</td>
                        <td class="govuk-table__cell">18</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">International designator</th>
                        <td class="govuk-table__cell">2020-088AD</td>
                        <td class="govuk-table__cell">1959-005A</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Object type</th>
                        <td class="govuk-table__cell">Payload</td>
                        <td class="govuk-table__cell">Payload</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Active/ Inactive</th>
                        <td class="govuk-table__cell">Active</td>
                        <td class="govuk-table__cell">Inactive</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Manoeuvrable</th>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">Yes</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">UK licensed</th>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell">No</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Operator</th>
                        <td class="govuk-table__cell">SPACEX</td>
                        <td class="govuk-table__cell">SPACEY</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Launching State</th>
                        <td class="govuk-table__cell">UK</td>
                        <td class="govuk-table__cell">USA</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Launch year</th>
                        <td class="govuk-table__cell">2020</td>
                        <td class="govuk-table__cell">1959</td>
                      </tr>
                    </tbody>
                  </table>

                  <h3 class="govuk-heading-m">Object data sources</h3>
                  <table class="govuk-table" style="width: 100%">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 40%"">Object</th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Primary Object</th>
                          <th scope="row" class="govuk-table__header" style="width: 30%">Secondary Object</th>
                        </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Source</th>
                        <td class="govuk-table__cell">Ephemeris</td>
                        <td class="govuk-table__cell">SpaceTrack</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Data received</th>
                        <td class="govuk-table__cell">03/02/21 04:23</td>
                        <td class="govuk-table__cell">03/02/21 07:56</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Data reliability</th>
                        <td class="govuk-table__cell">N/A</td>
                        <td class="govuk-table__cell">167 observations</td>
                      </tr>
                      </tbody>
                    </table>

                  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Further explanation of object data
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <table class="govuk-table" style="width: 100%">
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%">Data source: Ephemeris</th>
                                <td class="govuk-table__cell" style="width: 60%">This data is provided by the operator directly.</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%">Define term: Active/ Inactive</th>
                                <td class="govuk-table__cell" style="width: 60%">Whether the satellite is known to be currently actively managed by an operator. This may be unknown.</td>
                              </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Define term: Manoeuvrable</th>
                              <td class="govuk-table__cell">Whether the object is able to be manoeuvred.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>

                  <h2 class="govuk-heading-l">Contact an orbital analyst or operator about this event</h2>
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link" href="/operator-communication-warning-1">Contact an orbital analyst</a> at the UKSA for advice
                    </li>
                    <li>
                      <a class="govuk-link" href="/warning-1-contact-operator">Contact the operator</a> of the secondary object
                    </li>
                  </ul>

          </div>
        </main>
</div>


{% endblock %}
