{% extends "layout.html" %}

{% block pageTitle %}
AAA0001 Evolution of error ellipsoids
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Event AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="error-ellipsoid-analysis">Evolution of error ellipsoids</a>
    </li>
      </ol>
      </div>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">AAA0001: Evolution of error ellipsoids</h1>
            <p></p>
              <p> This plot shows the expected miss distance for each of the event CDMs from oldest to newest. The plot turns a 3D miss distance into a 2D plot with the radial miss distance (altitude separation) on the y axis and the along track and normal miss distance combined onto the x-axis. The expected 1
σ uncertainties at the TCA are then shown as an oval around the measured miss distance – there is a 60% chance that the actual miss distance lies within
that oval.</p>
                  <img src="/public/images/chart-1.png" alt="Conjunction Data message">

                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      This data is OFFICIAL-SENSITIVE. Do not share outside the UKSA or your organisation.
                    </strong>
                  </div>
          </div>
  </main>
</div>


{% endblock %}
