{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-2">Alert AAA0002</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-2-error-ellipsoid">Evolution of error ellipsoids</a>
    </li>
      </ol>
      </div>  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AAA0002: Evolution of error ellipsoids</h1>
            <p></p>
              <p> Each error ellipsoid shows the uncertainity of an objects position in time.</p>
                  <img src="/public/images/chart-1.png" alt="Conjunction Data message">

          </div>
        </main>
</div>


{% endblock %}
