{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1">Alert AAA0001</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-1-miss-distance-evolution">Evolution of miss distance predictions</a>
    </li>
      </ol>
      </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">AAA0001: Evolution of miss distance prediction</h1>
            <p></p>
            <p> This graph shows the changing predictions of miss distance occuring over time.
            Data from UKSA is shown. </p>
            <p> Note, the red line represents the expected time of conjunction event.</p>
              <img src="/public/images/miss-distance-graph.png" alt="User icon">
            </div>
          </main>
</div>


{% endblock %}
