{% extends "layout.html" %}

{% block pageTitle %}
My satellite environment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="operator-homepage">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-4">Alert AA00-0004</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="warning-4-history">Alert AA00-0004 history</a>
    </li>
      </ol>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">Alert AA00-0004 history</h1>
            <p></p>
            <p> This table shows a history of updates released for this alert.
              </p>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-custom-class">Time of update</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Probability of collision (USA)</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Probability of collision (UKSA)</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Predicted time of conjunction event</th>

                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">4th Feb 2021 at 08:19 UTC</td>
                  <td class="govuk-table__cell">52%</td>
                  <td class="govuk-table__cell">38%</td>
                  <td class="govuk-table__cell">4th Feb 2021 at 11:51 UTC</td>

                  </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">3rd Feb 2021 at 14:10 UTC</td>
                  <td class="govuk-table__cell">54%</td>
                  <td class="govuk-table__cell">35%</td>
                  <td class="govuk-table__cell">4th Feb 2021 at 11:58 UTC</td>

                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">2nd Feb 2021 12:00 UTC</td>
                  <td class="govuk-table__cell">51%</td>
                  <td class="govuk-table__cell">34%</td>
                  <td class="govuk-table__cell">4th Feb 2021 at 11:55 UTC</td>

                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">1st Feb 2021 at 03:49 UTC</td>
                  <td class="govuk-table__cell">55%</td>
                  <td class="govuk-table__cell">31%</td>
                  <td class="govuk-table__cell">4th Feb 2021 at 12:13 UTC</td>

                </tr>
              </tbody>
          </table>
            <a href="/public/downloads/space_data.xlsx" download >Download alert history for AA00-0004</a>

        </div>
  </main>
</div>


{% endblock %}
