{% extends "layout.html" %}

{% block pageTitle %}
Flag 37237-004
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/compliance/list-satellites">UK licensed satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/operator/satellite-1">HYLAS 1</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/compliance/37237-001">Flag 37237-004</a>
      </li>
    </ol>
  </div>
    <h1 class="govuk-heading-xl">Monitoring flag 37237-004</h1>
  </div>


  <div class="govuk-grid-row">

      </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
        <a href="#event summary">Flag summary</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-1">Evolution of satellite position</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2a">UKSA criteria thresholds exceeded</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2a">Object data</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-3">Operator contact information</a>
      </li>
      </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l" id="event summary">Flag summary</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Flagged object</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Hylas 1</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Operator</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">Avanti</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre start date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">16/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre end date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">18/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">TLE count (in the month prior to manoeuvre end date)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">31</td>
        </tr>
      </tbody>
    </table></p>
    <h1 class="govuk-heading-s">Manoeuvre position information</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Position prior to manoeuvre</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Change in position</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Position after manoeuvre</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Inc (°)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">2.8</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 0.2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">3.0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apogee (km)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">35476</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 225</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">35701</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Perigee (km)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">35466</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">+ 225</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">35691</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Longitude (°)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">139.6 E</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 20 E</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">159.6 E</td>
        </tr>
      </tbody>
    </table></p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with this summary
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>This flag has been uploaded by UKSA's orbital analysis team as they have identified and verified an object change that exceeds tolerance thresholds for one or more of UKSA's reporting criteria.</p>
      </div>
    </details>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Contact a UKSA orbital analyst
    </button>
    <br>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Evolution of satellite position
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p>This chart show the positions of HYLAS 1 during this flagged manoeuvre.</p>
            <img src="/public/images/HYLAS-1.PNG" alt="HYLAS 1" width="100%">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with this chart
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Altitude or longitude can be turned on or off by selecting the series in the legend below the chart.</p>
                <p>You can reveal more details about a specific data point by moving your mouse over it or tapping on the data point on touch-enabled screens.</p>
              </div>
            </details>
        </div>
      </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                UKSA criteria thresholds exceeded
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"> 
            <p>For this manoeuvre, the flagged criteria were <b>semi-major-axis change</b> and <b>fixed longitude.</b></p> 
              <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Reporting criteria</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Criteria threshold(s) exceeded?</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Current thresholds for HYLAS 1</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">TLE age</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">7 days</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Fixed semi-major-axis change</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Semi-major-axis change</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">2 km</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Semi-major-axis change rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Fixed inclination</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Inclination change</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Fixed longitude</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Longitude drift rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
              </tbody>
            </table></p>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with table
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>This table shows the reporting criteria that were flagged to UKSA for verification. These flags have been confirmed and show that a manoeuvre has been completed that exceeds the current thresholds for HYLAS 1.</p>
              </div>
            </details>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Request a threshold change
            </button>
            <br>
          </div>
        </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Object data
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">
                <p>Space-Track is the main source of object data.</p>
                <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                    <td class="govuk-table__cell">HYLAS 1</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">NORAD ID</th>
                    <td class="govuk-table__cell">37237</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">International designator</th>
                    <td class="govuk-table__cell">2010-065A</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Object type</th>
                    <td class="govuk-table__cell">Payload</td>
              </tbody>
            </table>
    
            <h2 class="govuk-heading-s">License information</h2>   
    
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Country</th>
                  <td class="govuk-table__cell">UK</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launching site</th>
                  <td class="govuk-table__cell">FRGUI</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launch date</th>
                  <td class="govuk-table__cell">2010</td>
            </tbody>
          </table>
    
          <h2 class="govuk-heading-s">Additional object data</h2> 
          <p>ESA DISCOS provides additional object data where available. Contact ESA DISCOS if your satellite data is incorrect.</p>
          <p>ESA DISCOS data was last updated on: 07/02/2024 02:48:48 UTC</p>
    
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Shape</th>
                <td class="govuk-table__cell">Box + 2 Pan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">2570</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Average cross section (m²)</th>
                <td class="govuk-table__cell">18.77</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Maximum cross section (m²)</th>
                <td class="govuk-table__cell">30.17</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Minimum cross section (m²)</th>
                <td class="govuk-table__cell">6.76</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Height (m)</th>
                <td class="govuk-table__cell">4.2</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Width (m)</th>
                <td class="govuk-table__cell">2.6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Depth (m)</th>
                <td class="govuk-table__cell">2.6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Diameter</th>
                <td class="govuk-table__cell"></td>
          </tbody>
        </table></p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Operator contact information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Licensee
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Avanti
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Primary contact
                  </dt>
                  <dd class="govuk-summary-list__value">
                    John Doe
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Telephone number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    +44(0)7912277788
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email contacts
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">john.doe@avantiplc.com</p>
                  </dd>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
          <a href="/compliance/satellite-hylas1" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Return to HYLAS 1 satellite page</a>

        </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}