{% extends "layout.html" %}

{% block pageTitle %}
Event 327237-005
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/compliance/satellite-page">HYLAS 1</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/compliance/MAN001">Event 327237-001</a>
      </li>
    </ol>
    <h1 class="govuk-heading-xl">Monitoring flag event 327237-005</h1>
  </div>


  <div class="govuk-grid-row">

      </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h3 class="govuk-heading-s">Contents</h3>
    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
        <a href="#event summary">Event summary</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-1">Position data</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2">Manoeuvre date information</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2a">UKSA criteria thresholds exceeded</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-2a">Object data</a>
      </li>
      <li class="moj-side-navigation__item">
        <a href="#accordion-heading-3">Further information</a>
      </li>
      </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l" id="event summary">Event summary</h2>
    <br>
    <p><b>Flagged object:</b> Hylas 1</p>
    <p>UKSA's orbital analysis team are reporting on a manoeuvre by Hylas 1 that exceeds current tolerance values for its reporting criteria. Between the 16th and 18th of January 2024 it raised its orbit by approximately 225 km.</p>
    <p>This section shows the positions of Hylas 1 during this manoeuvre and the dates during which the manoeuvre occured.</p>
    <h1 class="govuk-heading-s">Manoeuvre date information</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre start date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">16/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Manoeuvre end date</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">18/01/24</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">TLE count (in the month prior to manoeuvre end date)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">31</td>
        </tr>
      </tbody>
    </table></p>
    <h1 class="govuk-heading-s">Manoeuvre position information</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Position prior to manoeuvre</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Change in position</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Position after manoeuvre</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Inc (°)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">2.8</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 0.2</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">3.0</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apogee (km)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">35476</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 225</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">35701</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Perigee (km)</th>
        <td class="govuk-table__cell govuk-table__cell--numeric">35466</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">+ 225</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">35691</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Longitude (°)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric">139.6 E</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">+ 20 E</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">159.6 E</td>
        </tr>
      </tbody>
    </table></p>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Contact a UKSA orbital analyst
    </button>
    <br>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Evolution of satellite position
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">
            <p>This chart show the positions of HYLAS 1 during a manoeuvre that triggered a UKSA monitoring flag.</p>
            <img src="/public/images/HYLAS-1.PNG" alt="HYLAS 1" width="100%">
        </div>
      </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                UKSA criteria thresholds exceeded
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
            <p>This table shows the reporting criteria that were flagged to UKSA for verification. These flags have been confirmed and show that a manoeuvre has been completed that exceeds the current thresholds for HYLAS 1.</p>  
            <p>For this event, the flagged criteria are <b>semi-major-axis change</b> and <b>fixed longitude.</b></p> 
              <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Reporting criteria</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Criteria threshold(s) exceeded?</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"">Current thresholds for HYLAS 1</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">TLE age</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">7 days</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Fixed semi-major-axis change</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Semi-major-axis change</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">2 km</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Semi-major-axis change rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Fixed inclination</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Inclination change</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Fixed longitude</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Longitude drift rate</th>
                      <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
              </tbody>
            </table></p>
          </div>
        </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Object data
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">
                <p>Space-Track is the main source of object data.</p>
                <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                    <td class="govuk-table__cell">HYLAS 1</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">NORAD ID</th>
                    <td class="govuk-table__cell">37237</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">International designator</th>
                    <td class="govuk-table__cell">2010-065A</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Object type</th>
                    <td class="govuk-table__cell">Payload</td>
              </tbody>
            </table>
    
            <h2 class="govuk-heading-s">License information</h2>   
    
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Country</th>
                  <td class="govuk-table__cell">UK</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launching site</th>
                  <td class="govuk-table__cell">FRGUI</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Launch date</th>
                  <td class="govuk-table__cell">2010</td>
            </tbody>
          </table>
    
          <h2 class="govuk-heading-s">Additional object data</h2> 
          <p>ESA DISCOS provides additional object data where available. Contact ESA DISCOS if your satellite data is incorrect.</p>
          <p>ESA DISCOS data was last updated on: 07/02/2024 02:48:48 UTC</p>
    
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Shape</th>
                <td class="govuk-table__cell">Box + 2 Pan</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mass (kg)</th>
                <td class="govuk-table__cell">2570</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Average cross section (m²)</th>
                <td class="govuk-table__cell">18.77</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Maximum cross section (m²)</th>
                <td class="govuk-table__cell">30.17</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Minimum cross section (m²)</th>
                <td class="govuk-table__cell">6.76</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Height (m)</th>
                <td class="govuk-table__cell">4.2</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Width (m)</th>
                <td class="govuk-table__cell">2.6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Depth (m)</th>
                <td class="govuk-table__cell">2.6</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Diameter</th>
                <td class="govuk-table__cell"></td>
          </tbody>
        </table></p>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Futher information
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
              <p class="govuk-body">This table provides detail on the operator of the satellite and contact information for that operator.</p>
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Licensee
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Avanti
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Primary contact
                  </dt>
                  <dd class="govuk-summary-list__value">
                    John Doe
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Telephone number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    +44(0)7912277788
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Email contacts
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">john.doe@avantiplc.com</p>
                  </dd>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
          <a href="/compliance/satellite-hylas1" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
            Return to HYLAS 1 satellite page</a>

        </div>
        </div>


    </div>
  </main>
</div>


{% endblock %}