{% extends "layout.html" %}

{% block pageTitle %}
HYLAS 1
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/compliance/satellite-list">UK-licensed satellites</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/satellites/compliance/satellite-hylas1">HYLAS 1</a>
      </li>
    </ol>
  </div>
  <br>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        This satellite has triggered a UKSA monitoring flag in the past month.
      </p>
    </div>
  </div>
  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">HYLAS 1</h1>
</div>

<div class="govuk-grid-column-one-quarter">

  <h3 class="govuk-heading-s">Contents</h3>

    <ul class="moj-side-navigation__list">
      <li class="moj-side-navigation__item">
      <li class="moj-side-navigation__item">
        <a href="#satellite information">Satellite information</a>
      </li>
    <li class="moj-side-navigation__item">
      <a href="#latest position information">Monitoring information</a>
    </li>
      <li class="moj-side-navigation__item">
        <a href="#conjunction events">Conjunction events</a>
      </li>


    </ul>

</div>


  <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l" id="satellite information">Satellite information</h2>


          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Common name</th>
                <td class="govuk-table__cell">HYLAS 1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">NORAD ID</th>
                <td class="govuk-table__cell">37237</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">International designator</th>
                <td class="govuk-table__cell">2010-065A</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Object type</th>
                <td class="govuk-table__cell">Payload</td>
          </tbody>
        </table>

        <h2 class="govuk-heading-s">License information</h2>   

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Country</th>
              <td class="govuk-table__cell">UK</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launching site</th>
              <td class="govuk-table__cell">FRGUI</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Launch date</th>
              <td class="govuk-table__cell">2010</td>
        </tbody>
      </table>

      <h2 class="govuk-heading-s">Additional object data</h2> 
      <p>ESA DISCOS provides additional object data where available. Contact ESA DISCOS if your satellite data is incorrect.</p>
      <p>ESA DISCOS data was last updated on: 07/02/2024 02:48:48 UTC</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" span="1" style="width: 50%">Shape</th>
            <td class="govuk-table__cell">Box + 2 Pan</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mass (kg)</th>
            <td class="govuk-table__cell">2570</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Average cross section (m²)</th>
            <td class="govuk-table__cell">18.77</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Maximum cross section (m²)</th>
            <td class="govuk-table__cell">30.17</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Minimum cross section (m²)</th>
            <td class="govuk-table__cell">6.76</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Height (m)</th>
            <td class="govuk-table__cell">4.2</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Width (m)</th>
            <td class="govuk-table__cell">2.6</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Depth (m)</th>
            <td class="govuk-table__cell">2.6</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Diameter</th>
            <td class="govuk-table__cell"></td>
      </tbody>
    </table>
    <br>
    <h2 class="govuk-heading-l" id="latest position information">Monitoring information</h2>  

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Position history
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p>The position of Hylas 1 at the start of every month.</p>
          <p class="govuk-body"><table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
            <col>
            <thead class="govuk-table__head">
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s" colspan="4"><b>Recorded position at the start of every month</b></td>
            </tr>
        
            
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Date</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Inc (°)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Apogee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Perigee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Longitude (°)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">01/02/24</td>
                <td class="govuk-table__cell govuk-body-s">3.0</td>
                <td class="govuk-table__cell govuk-body-s">35701</td>
                <td class="govuk-table__cell govuk-body-s">35691</td>
                <td class="govuk-table__cell govuk-body-s">159.6E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">01/01/24</td>
                <td class="govuk-table__cell govuk-body-s">2.7</td>
                <td class="govuk-table__cell govuk-body-s">35476</td>
                <td class="govuk-table__cell govuk-body-s">35466</td>
                <td class="govuk-table__cell govuk-body-s">139.6 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">01/12/23</td>
                <td class="govuk-table__cell govuk-body-s">2.5</td>
                <td class="govuk-table__cell govuk-body-s">34900</td>
                <td class="govuk-table__cell govuk-body-s">34890</td>
                <td class="govuk-table__cell govuk-body-s">145 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">01/11/23</td>
                <td class="govuk-table__cell govuk-body-s">2.5</td>
                <td class="govuk-table__cell govuk-body-s">34900</td>
                <td class="govuk-table__cell govuk-body-s">34890</td>
                <td class="govuk-table__cell govuk-body-s">145 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">01/10/23</td>
                <td class="govuk-table__cell govuk-body-s">2.5</td>
                <td class="govuk-table__cell govuk-body-s">34900</td>
                <td class="govuk-table__cell govuk-body-s">34890</td>
                <td class="govuk-table__cell govuk-body-s">145 E</td>
              </tr>
            </tbody>
          </table></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with this table
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>This table records the position of Hylas 1 over time, tracking positional changes that are within allowed thresholds, such as allowed GEO drift and orbit raising.</p>
            </div>
          </details>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Monitoring flag history
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p>Since reporting began on 12/02/24, there have been <b>4</b> flags related to Hylas 1 exceeding set UKSA tolerance thresholds.</p>
            <p class="govuk-body"><table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
            <col>
            <thead class="govuk-table__head">
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s" colspan="2"><b>Reason for flag</b></td>
            </tr>
        
            
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 7%";>Monitoring flag ID</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 7%";>Flag date</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 7%";>TLE age threshold exceeded</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 7%";>Position change</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/37237-001"><b>37237-004</b></a> </b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">16/01/24</td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/37237-001"><b>37237-003</b></a> </b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">02/01/24</td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-002</b></a></b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">11/12/23</td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-001</b></a></b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">15/06/23</td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--grey">No</strong></td>
                <td class="govuk-table__cell govuk-body-s"><strong class="govuk-tag govuk-tag--blue">Yes</strong></td>
              </tr>
            </tbody>
          </table></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with this table
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>This table shows the reasons for each UKSA monitoring flag. A flag will occur due to an object exceeding the thresholds of 1 or more of 8 set criteria, associated with either TLE age or satellite position.</p>
              <p>More information about each manoeuvre can be accessed by clicking on the monitoring flag event ID.</p>
            </div>
          </details>
          <h2 class="govuk-heading-s" id="satellite information">Flagged manoeuvre history</h2>
          <p>Of these <b>4</b> monitoring flags, <b>3</b> have been caused by manoeuvres which exceeded set UKSA tolerance thresholds.</p>
          <p class="govuk-body"><table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
            <col>
            <thead class="govuk-table__head">
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s" colspan="4"><b>Position after manoeuvre</b></td>
            </tr>
        
            
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Monitoring flag event ID</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Manoeuvre start date</th>
               <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Manoeuvre end date</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Inc (°)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Apogee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Perigee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Longitude (°)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/37237-001"><b>37237-004</b></a> </b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">16/01/24</td>
                <td class="govuk-table__cell govuk-body-s">18/01/24</td>
                <td class="govuk-table__cell govuk-body-s">3.0</td>
                <td class="govuk-table__cell govuk-body-s">35701</td>
                <td class="govuk-table__cell govuk-body-s">35691</td>
                <td class="govuk-table__cell govuk-body-s">159.6 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-002</b></a></b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">11/12/23</td>
                <td class="govuk-table__cell govuk-body-s">12/12/23</td>
                <td class="govuk-table__cell govuk-body-s">2.7</td>
                <td class="govuk-table__cell govuk-body-s">35476</td>
                <td class="govuk-table__cell govuk-body-s">35466</td>
                <td class="govuk-table__cell govuk-body-s">139.6 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-001</b></a></b><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">15/06/23</td>
                <td class="govuk-table__cell govuk-body-s">18/10/23</td>
                <td class="govuk-table__cell govuk-body-s">2.5</td>
                <td class="govuk-table__cell govuk-body-s">34900</td>
                <td class="govuk-table__cell govuk-body-s">34890</td>
                <td class="govuk-table__cell govuk-body-s">145 E</td>
              </tr>
            </tbody>
          </table></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with this table
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>This table shows the position of Hylas 1 after every flagged manoeuvre and the dates over which that manoeuvre occured.</p>
              <p>More information about each manoeuvre can be accessed by clicking on the monitoring flag event ID.</p>
            </div>
          </details>
          <h2 class="govuk-heading-s" id="satellite information">Position change from flagged manoeuvres</h2>
          <br>
          <table class="govuk-table eff-table--sticky eff-table--padding-right-on-last-cell" style="width:100%" data-module=moj-sortable-table>
            <col>
            <thead class="govuk-table__head">
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s"></td>
              <td class="govuk-table__cell govuk-body-s" colspan="4"><b>Position change from manoeuvre</b></td>
            </tr>
        
            
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Monitoring flag event ID</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Manoeuvre start date</th>
               <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Manoeuvre end date</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Inc (°)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Apogee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Perigee (km)</th>
                <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Longitude (°)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/37237-001"><b>37237-004</b></a><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">16/01/24</td>
                <td class="govuk-table__cell govuk-body-s">18/01/24</td>
                <td class="govuk-table__cell govuk-body-s">+ 0.3</td>
                <td class="govuk-table__cell govuk-body-s">+ 225</td>
                <td class="govuk-table__cell govuk-body-s">+ 225</td>
                <td class="govuk-table__cell govuk-body-s">+ 20 E</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-002</b></a><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">11/12/23</td>
                <td class="govuk-table__cell govuk-body-s">12/12/23</td>
                <td class="govuk-table__cell govuk-body-s">+ 0.2</td>
                <td class="govuk-table__cell govuk-body-s">- 576</td>
                <td class="govuk-table__cell govuk-body-s">- 576</td>
                <td class="govuk-table__cell govuk-body-s">+ 5.4 W</td>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s"><a href="#"><b>37237-001</b></a><br/>
                </td>
                <td class="govuk-table__cell govuk-body-s">15/10/23</td>
                <td class="govuk-table__cell govuk-body-s">18/10/23</td>
                <td class="govuk-table__cell govuk-body-s">+ 0.3</td>
                <td class="govuk-table__cell govuk-body-s">+ 390</td>
                <td class="govuk-table__cell govuk-body-s">+ 400</td>
                <td class="govuk-table__cell govuk-body-s">+ 5 E</td>
              </tr>
            </tbody>
          </table></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with this table
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>This table shows the position of Hylas 1 after every flagged manoeuvre and the dates over which that manoeuvre occured.</p>
              <p>More information about each manoeuvre can be accessed by clicking on the monitoring flag event ID.</p>
            </div>
          </details>
        </div>
      </div>
      </div>
      <br>

      <h2 class="govuk-heading-l" id="conjunction events">Conjunction events</h2>  

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Upcoming conjunction events
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
        
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s"></td>
                  <td class="govuk-table__cell govuk-body-s" colspan="2"><b>Miss distance (m)</b></td>
                  <td class="govuk-table__cell govuk-body-s" colspan="2"><b>Probability of collision</b></td>
                </tr>
        
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>Event ID</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 22%";>Time of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Total</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Mean radial</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 18%";>Space-Track CDM</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 15%";>UKSA</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
                      <a href="/events/operator/event-summary-7" class="govuk-link--no-visited-state" >plan-plans-plan</a> </b><br/>
                    </td>
                    <td class="govuk-table__cell govuk-body-s">15/02/24 01:53</td>
                    <td class="govuk-table__cell govuk-body-s">ROCKET BODY 2</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">360</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">352</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1538234">1.538e-7</td>
                    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="933822">9.333e-6</td>
                  </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" data-sort-value="1"> <b>
                    <a href="/events/operator/event-summary-5" class="govuk-link--no-visited-state" >asdf-asdas-asdf</a> </b>
                  </td>
                  <td class="govuk-table__cell govuk-body-s">18/02/24 11:51</td>
                  <td class="govuk-table__cell govuk-body-s">Discoverer 5</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">360</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">352</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1538234">1.538e-3</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="933822">9.33e-4</td>
                </tr>
                    <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
                    <a href="/events/operator/event-summary-6" class="govuk-link--no-visited-state">bads-basdw-ascs</a> </b>
                  </td>
                  <td class="govuk-table__cell govuk-body-s">23/02/24 19:00</td>
                  <td class="govuk-table__cell govuk-body-s">CMS-01</td>
        
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">652</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">427</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="532134">5.32e-4</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort0value="399283">3.99e-4</td>
                </tr>
                  </tbody>
            </table></p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Previous conjunction events
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 6%";>Event ID</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 14%";>Time of closest approach (UTC)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Primary object</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 12%";>Secondary object</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 9%";>Total miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 9%";>Mean radial miss distance (m)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 13%";>Probability of collision (Space-Track CDM, %)</th>
                  <th scope="col" class="govuk-table__header govuk-body-s" aria-sort="none" span="1" style="width: 10%";>Probability of collision (UKSA, %)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" data-sort-value="1"> <b>
                    <a href="/events/operator/event-summary-5" class="govuk-link--no-visited-state" >AAA0001</a> </b>
                  </td>
                  <td class="govuk-table__cell govuk-body-s">04/02/24 11:51</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1">HYLAS 1</a></td>
                  <td class="govuk-table__cell govuk-body-s">Discoverer 5</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">360</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">352</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="1538234">0.1538</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="933822">0.0933</td>
                </tr>
                    <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
                    <a href="/events/operator/event-summary-6" class="govuk-link--no-visited-state">AAA0002</a> </b>
                  </td>
                  <td class="govuk-table__cell govuk-body-s">01/02/24 19:00</td>
                  <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1">HYLAS 1</a></td>
                  <td class="govuk-table__cell govuk-body-s">CMS-01</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">652</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">427</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="532134">0.0532</td>
                  <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort0value="399283">0.0399</td>
                </tr>
                <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
                <a href="/events/operator/event-summary-6" class="govuk-link--no-visited-state">AAA0003</a> </b>
              </td>
              <td class="govuk-table__cell govuk-body-s">22/01/24 19:00</td>
              <td class="govuk-table__cell govuk-body-s"><a href="/satellites/operator/satellite-1">HYLAS 1</a></td>
              <td class="govuk-table__cell govuk-body-s">ops 8790</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">21875</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">15656.3</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="532134">0.00003</td>
              <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort0value="399283">0.00007</td>
            </tr>
            <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-body-s" data-sort-value="3"> <b>
            <a href="/events/operator/event-summary-6" class="govuk-link--no-visited-state">AAA0004</a> </b>
          </td>
          <td class="govuk-table__cell govuk-body-s">27/12/23 19:00</td>
          <td class="govuk-table__cell govuk-body-s"><a href="/satellites/compliance/satellite-hylas1">HYLAS 1</a></td>
          <td class="govuk-table__cell govuk-body-s">INTELSAT 2-F2</td>
          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">27895</td>
          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">23605.8</td>
          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort-value="532134">0.00035</td>
          <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric" data-sort0value="399283">0.00064</td>
                </tr>
              </tbody>
            </table></p>
          </div>
        </div>
        </div>


<a href="/satellites/compliance/satellite-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Return to all satellites</a>


</main>
</div>
{% endblock %}