{% extends "layout.html" %}

{% block pageTitle %}
Compliance
{% endblock %}

{% block content %}


  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Track compliance of UK satellites</h1>

        <p class="govuk-body-m">Select which UK licensed operators you would like to view satellite compliance data for:</p>

          <table class="govuk-table" style="width:100%" data-module=moj-sortable-table>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/compliance/homepage">All other operators (change in position)</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/compliance/homepage-option2">All other operators option 2 (ongoing separate table)</a></td>
              </tr>
              <tr class="govuk-table__row">
              </tr>
                <td class="govuk-table__cell"><a href="/compliance/homepage-option3">All other operators option 3 (ongoing imbeded in table)</a></td>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="/compliance/homepage-option4">All other operators option 4 (One single operator)</a></td>
              </tr>
              <td class="govuk-table__cell"><a href="/compliance/homepageoneweb">OneWeb</a></td>
            </tr>
              </tr>
            </tbody>
          </table>


          <p>   </p>
      </div>
      </div>
  </main>
</div>


{% endblock %}