{% extends "layout.html" %}

{% block pageTitle %}
Event AAA0001
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/account/approver/account">Account</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/approver-ts-and-cs">Terms and Conditions</a>
    </li>
    </ol>
</div>
<br>
        <h1 class="govuk-heading-xl">Terms and Conditions</h1>

    </div>
    <p>By using Monitor my satellites you have agreed to the Terms and Conditions of the site.</p>

    <form class="form" action="#" method="post">


              <button class="govuk-button" data-module="govuk-button">
                    Download Terms and Conditions
                </button>
                  </form>
              </div>
            <div class="govuk-grid-row">



  </main>
</div>


{% endblock %}
